<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3><i class="icon icon-group icon-on-left"></i><%=MetacatUI.appModel.get("accessPolicyName")%></h3>
</div>
<div class="modal-body">
  <div class="public-toggle-container">Public/private toggle will go here</div>

  <p>Give others access to view, edit, and share this <%=(resourceType || "resource")%></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>ORCID</th>
        <th>Access</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="access-rules-container">
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <a class="btn cancel" href="#" data-dismiss="modal">Cancel</a>
  <a class="btn btn-primary save" href="#">Save</a>
</div>
