<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4><i class="icon icon-group icon-on-left"></i><%=MetacatUI.appModel.get("accessPolicyName")%></h4>
</div>
<div class="modal-body">
  <p class="subtle">Give others access to view, edit, and share this <%=(resourceType || "resource")%></p>

  <h5>Public view</h5>
  <p class="subtle">
    When your <%=(resourceType || "resource")%> is private, only people you
    approve can see the published content.
  </p>
  <div class="public-toggle-container"></div>

  <h5>Permissions</h5>
  <p class="subtle">
    Allow specific users or groups to view or edit this <%=(resourceType || "resource")%>, or change these permissions.
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>ORCID</th>
        <th>Access <i class="icon icon-on-right icon-info-sign popover-this access-icon"></i></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="access-rules-container">
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <a class="btn cancel" href="#" data-dismiss="modal" title="Your changes will be ignored and reset">Cancel</a>
  <a class="btn btn-primary save" href="#" title="Save these changes">Save</a>
</div>
