<%
if(classes === undefined){
	var classes = "";
}
if(containerClasses === undefined){
	var containerClasses = "";
}
if(msg === undefined){
	var msg = "";
}
if(includeEmail === undefined){
	if((classes.indexOf("warning") > -1) || (classes.indexOf("error") > -1))
		var includeEmail = true;
	else
		var includeEmail = false;
}
var email = "";
var emailAddress = MetacatUI.appModel.get("emailContact");
if (typeof emailOptions !== "undefined" && emailOptions) {
	emailOptions = "?" + emailOptions.trim()
} else {
	emailOptions = ""
}
var emailStr = "mailto:" + emailAddress + emailOptions;

%>

<div class="alert-container <%=containerClasses%>">
	<div class="alert <%=classes%>">
	<%=msg%>
	<%=email%>
	<% if(includeEmail && emailAddress){ %>
		<span class='webmaster-email'>
			<i class='icon-envelope-alt icon icon-on-left'></i>
			Need help? Email us at 
			<a href="<%=emailStr%>"><%=emailAddress%></a>
		</span>
	<% } %>
	<% if(typeof remove !== "undefined" && remove){ %>
			<a href="#" class="close" data-dismiss="alert">&times;</a>
	<% } %>
	</div>
</div>
