<div data-id="<%=containerId%>" class="annotation-viewer-container">
	<span class="annotation tag <% if (annotation.reject) { print(' warning') } %>"><%=annotation.concept.label%></span>
	<% if (annotation.reject) { %> 
		<p class="warning">This annotation has been flagged as incorrect.</p>
	<%	}
	%>
	<div>
		<% if (annotation.concept.synonyms) { %> 
		<p>
			<strong>Synonyms: </strong>
			<% 
			_.each(annotation.concept.synonyms, function(synonym) {
				print(synonym, "<br/>");
			});
			%>
		</p>
		<% } %>
		<p>
			<strong>Definition: </strong>
			<%=annotation.concept.desc%>
		</p>
		<p class="concept subtle">Concept URI: <a href="<%=annotation.concept.value%>" target="_blank"><%=annotation.concept.value%></a></p>
	</div> 
	<!-- <div>
		<span>from the ontology</span>
	</div> -->
	<div class="container">
		<p class="subtle">
			<%
				var creator = annotation.name || annotation.user;
			%>
			Added by <a href="<%= MetacatUI.root %>/profile/<%=annotation.user%>"><%=creator%></a>
			<span class="subtle smaller tag-date"><%=created.toDateString()%></span>
		</p>
		<p>
			<% if(updated && annotation.reject){ %>	
				<span class="subtle smaller tag-date warning">Flagged as incorrect on
				<%=updated.toDateString()%>
				</span>
			<% } %>
		</p>
	</div>
</div>