<div clas="annotation-popover-context">
    <%= context %> <a href="<%= propertyURI %>"><%= propertyLabel %></a> <a href="<%= valueURI %>"><%= valueLabel %></a>
</div>
<div class="annotation-popover-definition">
    <% if (propertyDefinition === null) { %>
        No extra information could be found for <a href="<%= propertyURI %>"><%= propertyLabel %></a>.
    <% } else {%>
        <a href="<%= propertyURI %>"><%= propertyLabel %></a> is defined as "<%= propertyDefinition %>" in the <a href="<%= propertyOntology %>"><%= propertyOntology %></a> ontology.
    <% } %>
</div>
<div class="annotation-popover-findmore">
    Find more datasets annotated with the term <a href="<%= propertyURI %>"><%= propertyURI %></a>.
</div>
<div class="annotation-popover-definition">
    <% if (valueDefinition === null) { %>
        No extra information could be found for <a href="<%= valueURI %>"><%= valueLabel %></a>.
    <% } else {%>
        <a href="<%= valueURI %>"><%= valueLabel %></a> is defined as "<%= valueDefinition %>" in the <a href="<%= valueOntology %>"><%= valueOntology %> </a> ontology.
    <% } %>
</div>
<div class="annotation-popover-findmore">
    Find more datasets annotated with the term <a href="<%= valueURI %>"><%= valueURI %></a>.
</div>