<%
const originHTML = origin ? `<span class="author">${origin}. </span>` : '';
const pubHTML = year_of_publishing ? `<time class="pubdate" datetime="${year_of_publishing}">${year_of_publishing}. </time>` : '';
const dataID = pid ? ` data-id="${pid}"` : '';

let titleHTML = title || '';
if (title) {
  if (view_url) {
    titleHTML = `<span class="title"${dataID}}><a href="${view_url}">${title}</a>. </span>`;
  } else {
    titleHTML = `<span class="title"${dataID}}>${title}. </span>`;
  }
}

const journalHTML = journal ? `<span class="publisher">${journal}. </span>` : '';

let seriesIdHTML = seriesId || '';
if (seriesId) {
  const idSep = pid ? ', version: ' : '.';
  if (seriesId_url) {
    seriesIdHTML = `<span class="seriesId"><a href="${seriesId_url}">${seriesId}</a>${idSep}</span>`;
  } else {
    seriesIdHTML = `<span class="seriesId">${seriesId}${idSep}</span>`;
  }
}

let pidHTML = pid || '';
if (pid) {
  if (pid_url) {
    pidHTML = `<span class="pid"><a href="${pid_url}">${pid}</a>.</span>`;
  } else {
    pidHTML = `<span class="pid">${pid}.</span>`;
  }
}

const idHTML = seriesIdHTML || pidHTML ? `<span class="id">${seriesIdHTML}${pidHTML}</span>` : '';
%>
<%= originHTML + pubHTML + titleHTML + journalHTML + idHTML %>