  <thead id="data-package-table-head">
    <!-- icon column -->
    <th id="data-package-table-icon"></th>
    <!-- Files column -->
    <th id="data-package-table-files">Files</th>
    <!-- Size column -->
    <th id="data-package-table-size">Size</th>
    <!-- Type column -->
    <th id="data-package-table-type">Type</th>
    <!-- Share column -->
    <% if( MetacatUI.appModel.get("allowAccessPolicyChanges") ){ %>
      <th id="data-package-table-share">Share</th>
    <% } %>
    <!-- Guide or Status column -->
    <th id="data-package-table-guide-status">Status</th>
    <!-- Button column -->
    <th id="data-package-table-button"><!--i class="icon-large icon-pencil"></i--></th>
  </thead>
  <tbody id="data-package-table-body"><%=loading%></tbody>
