<tr class="file-header data-package-item" data-id="<%= id %>">

  <% 
    var indentFile = 10;
  %>
  <!-- file cell -->
  <td style="padding-left:<%=indentFile %>px;" >
    <a class="d1package-expand control" style="display: none;">
      <i class="icon icon-caret-right"></i>
    </a>
    <a class="d1package-collapse control">
      <i class="icon icon-caret-down"></i>
    </a>
    <span class="fileTitle tooltip-this" data-title="<%= titleTooltip %>">
      <%= title %>
    </span>

  </td>

  <!-- file cell -->
  <td>

  </td>

  <!-- type cell -->
  <td>

  </td>

  <!-- metrics cell -->
  <td>

  </td>

  <!-- actions cell -->
  <td class="file-actions">
    <!-- display links for nested data package headers in actions view-->
    <!-- disabled for regular datasets -->
    <% if (!disablePackageUrl && packageUrl !== undefined && packageUrl) { %>
        <span class="action" data-id="<%= id %>">
            <a href="<%= packageUrl %>" target="_" class="btn btn-rounded action viewAction" title="View this package">
                <i class="icon icon-large icon-external-link"></i>
            </a>
        </span>
    <% } %>

    <% if (!disablePackageDownloads) { %>
      <span class="action downloadAction" data-id="<%= id %>"></span>
    <% } %>
  </td>

</tr>