<tr class="file-header data-package-item" data-id="<%= id %>">

  <!-- file cell -->
  <td style="padding-left:30px;" >
    <a class="d1package-expand control" style="display: none;">
      <i class="icon icon-caret-right"></i>
    </a>
    <a class="d1package-collapse control">
      <i class="icon icon-caret-down"></i>
    </a>
    <span>
      <%=title%>
    </span>

  </td>

  <!-- file cell -->
  <td>

  </td>

  <!-- type cell -->
  <td>

  </td>

  <!-- metrics cell -->
  <td>

  </td>

  <!-- actions cell -->
  <td class="file-actions">
    <% if (!disablePackageDownloads) { %>
      <a class="btn btn-rounded action downloadAction" href="<%= downloadUrl %>" data-id="<%= id %>"><i class="icon icon-large icon-cloud-download"></i></a>
    <% } %>
  </td>

</tr>