<!-- Icon & Files column -->
<% if (isFolder) { %>
	<td data-level="parent-<%=nodeLevel %>">
<% } else { %>
	<td data-level="child-<%=nodeLevel %>">
<% } %>
	<span>
		<% if (icon !== "undefined") { 
			indentFile = (nodeLevel) * 15;
			%>
				<% if (isFolder) { %>
					<a class="expand-control control" data-level="parent-<%=nodeLevel %>" style="padding-left:<%=indentFile %>px;display:none"><i class="icon icon-caret-right"></i></a>
					<a class="collapse-control control" data-level="parent-<%=nodeLevel %>" style="padding-left:<%=indentFile %>px"><i class="icon icon-caret-down"></i></a>
					<i class="<%= icon %>"></i>
				<% } else { 
					indentFile += 15;
					%>
					<i class="<%= icon %>" style="padding-left:<%=indentFile %>px"></i>
				<% } %>

		<% } else { %>
			<% var indentFile = (nodeLevel + 1) * 40; %>
			<i class="icon-file" style="padding-left:<%=indentFile %>px"></i>
		<% } %>
	</span>
	<span>
		<% if (typeof title != "undefined" && title && title.length) { %>
			<%= title %>
		<% } else if ( typeof fileName != "undefined" && fileName) { %>
			<%= fileName %>
		<% } else { %>
			<%= id %>
		<% } %>
	</span>
</td>

<!-- Size column -->
<% if ( typeof sizeStr != "undefined" && sizeStr ) { %>
    <td class="size"><%= sizeStr %></td>

<% } else {%>
    <td class="size"><%= size %></td>
<% } %>

<!-- Type column -->
<% if (fileType) { %>
    <td class="type"><%= fileType %></td>
<% } else { %>
	<td class="type"></td>
<% } %>

<% if (memberRowMetrics !== undefined && memberRowMetrics > 0) { %>
	<td class="metrics-count downloads" data-id="<%= id %>">
		<span class="packageTable-resultItem badge ">
			<i class='catalog-metric-icon <%= metricIcon %>'></i> <%= memberRowMetrics %> 
		</span>	
	</td>
<% } else { %>
	<td class="metrics-count downloads" data-id="<%= id %>">
		
	</td>
<% } %>

<td class="file-actions">
	<% if (isMetadata !== undefined && !isMetadata && moreInfoLink !== undefined) { %>
		<a class="btn btn-rounded action preview" href="<%= moreInfoLink %>" data-id="<%= id %>"><i class="icon icon-large icon-info"></i></a>
	<% } %>

	<% if (downloadUrl !== undefined ) { %>
		<a class="btn btn-rounded action downloadAction" href="<%= downloadUrl %>" data-id="<%= id %>"><i class="icon icon-large icon-cloud-download"></i></a>
	<% } %>
</td>
