<% 
 if(!title) var title = "Files in this dataset";
 if(nested) var classes = "nested";
 if(!colspan) var colspan = 7;  
%>

<table class="download-contents table-striped table-condensed table <%=classes%>">
	<thead>
		<% if(nested && metadata){ %>
			<tr class="table-header title">
				<th colspan="<%=colspan%>" class="table-header">
					<a href="<%= MetacatUI.root %>/view/<%=encodeURIComponent(metadata.get('id'))%>"><strong><%=metadata.get("title")%></strong></a>
				</th>
			</tr>
		<% } %>
		<tr class="table-header">
			<th colspan="<%=colspan%>" class="table-header"> 
				<%=title%>
			</th>
		</tr>
		<tr>
			<th><i class="icon icon-folder-open"></i></th>
			<th class="id wrap-contents more-info-header" colspan="2">Name</th>
			<th class="formatId wrap-contents">File type</th>
			<th>Size</th>
      <% if( MetacatUI.appModel.get("displayDatasetMetrics") ){ %>
			     <th></th>
      <% } %>
			<th class="download-container"></th>
		</tr>
	</thead>	
</table>