<article class="editor-view">
	<header id="editor-header">
	    <div id="breadcrumb-container"></div>
		<div id="citation-container" class="citation-container"></div>
		<div id="data-source-container" class="data-source"></div>
		<div id="controls-container" class="controls"></div>
		<div class="access-policy-view-container"></div>
		<div class="clear"></div>
	</header>
    <section id="editor-body">
      <div id="data-package-container"></div>
		<div id="metadata-container"><%=loading%></div>
    </section>
    <section id="editor-footer" class="editor-controls hidden">
      <div class="editor-save-controls">
			     <a class="btn btn-primary save" id="save-editor"><%=submitButtonText%></a>
      </div>
    </section>
</article>
