<%
   if( typeof supported == "undefined"){
        var supported = true;
   }

   if( !supported ){
        var attributes = ' disabled="disabled" data-trigger="hover" data-placement="top" ',
            title = "This metadata format is not editable.",
            classes = " tooltip-this";
   }
   else{
        var attributes = ' href="' + MetacatUI.root + "/submit/" + identifier + '" ',
            title = "",
            classes = "";
   }
%>

<a id="editMetadata" class="share-feature btn btn-primary <%=classes%>" <%=attributes%> title="<%=title%>">
       Edit <i class="icon-pencil icon-white icon-large"></i>
</a>
