<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <i class="icon icon-on-left </i> <b></b>
        <button
          type="button"
          class="close"
          data-dismiss="modal">
          &times;
        </button>
      </div>
  
      <div class="modal-body">
        <div
          class="entity-container">
        </div>
      </div>
  
      <div class="modal-footer">
        <a class="btn" >
        </a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
  