<div class="center">Powered by Metacat (MetacatUI v<%=MetacatUI.metacatUIVersion%>)</div>
 <div class="row-fluid">
    <div class="span2">
      <h2>Getting Started</h2>
      <ul class="helpitems">
        <li><a href="<%= MetacatUI.root %>/about/sharing-your-data">Sharing Your Data</a></li>
        <li><a href="<%= MetacatUI.root %>/about/understanding-metadata">Understanding Metadata</a></li>
      </ul>
    </div>
    <div class="span2">
      <h2>Help</h2>
      <ul class="helpitems">
        <li>Email us: <a href="mailto:<%=MetacatUI.appModel.get('emailContact')%>"><%=MetacatUI.appModel.get("emailContact")%></a></li>
      </ul>
    </div>
  <div class="span8 logos">
  		      <a href="http://nceas.ucsb.edu" target="_blank"><img alt="NCEAS" class="nceas" src="<%= MetacatUI.root %>/img/logo-nceas-white.png?v=<%=MetacatUI.metacatUIVersion%>"></a>
  		      <a href="http://knb.ecoinformatics.org/software/metacat/" target="_blank"><img alt="Metacat" class="metacat" src="<%= MetacatUI.root %>/img/metacat_logo.png?v=<%=MetacatUI.metacatUIVersion%>"></a>
 		      <a href="http://dataone.org" target="_blank"><img alt="DataONE" class="dataone" src="<%= MetacatUI.root %>/img/dataone-logo-white.png?v=<%=MetacatUI.metacatUIVersion%"></a>
  </div>
</div>
