<% var searchModel = data; %>

<article class="documentation container">
<h2>Search Tips</h2>
<section>
	<h3>General</h3>
	<ul>
		<li>Searching for multiple words at the same time will look for matches with that exact phrase - 
		e.g. <code>marine mammal</code> will only return matches mentioning <code>marine mammal</code> - 
		<code>marine</code> and <code>mammal</code> will return results that mention both of the independent words <code>marine</code> and <code>mammal</code>.</li>
		<li>Search filters are looking for matches in the science metadata for each data set. 
		Any text or metadata contained in the data files (e.g. .csv table, .zip folder) will not be searched.</li>
	</ul>
</section>
<section>
	<h3>Filter types</h3>
	
	<% if(searchModel.filterIsAvailable("attribute")){ %>
		<h4><i class="icon icon-table"></i><%=searchModel.fieldLabels["attribute"]%></h4>
		<p>Searches the attribute names (e.g. column headers) of data tables</p>
		<h5>Examples</h5>: <code>salinity</code>, <code>lifestage</code>
	<% } %>
	
	<% if(searchModel.filterIsAvailable("resourceMap")){ %>
		<h4><img src="<%= MetacatUI.root %>/img/data-table.png" class="icon" />Data files (<%=searchModel.fieldLabels["resourceMap"]%>)</h4>
		<p>If this filter is checked, only search results that include data files will be returned. 
		If it is unchecked, some search results may be metadata files only.</p>
	<% } %>
	
	<% if(searchModel.filterIsAvailable("dataSource")){ %>
		<h4><i class="icon icon-group"></i><%=searchModel.fieldLabels["dataSource"]%></h4>
		<p>Select one or more DataONE Member Nodes to exclude your search to only data from those Member Nodes. 
		Each search result originated from only one Member Node, and its logo will be displayed in the search result listing.</p>
	<% } %>
	
	<% if(searchModel.filterIsAvailable("creator")){ %>
		<h4><i class="icon icon-user"></i><%=searchModel.fieldLabels["creator"]%></h4>
		<p>Searches the person name(s) or entity (organization, group, etc.) name(s) that are listed as creators of a dataset. 
		The username of the user who uploaded a data set is not taken into account (use the "Anything" filter instead).</p>
		<h5>Examples:</h5> <code>Smith</code>, <code>John Smith</code>
	<% } %>
	
	<% if(searchModel.filterIsAvailable("pubYear") || searchModel.filterIsAvailable("dataYear")){ %>
		<h4><i class="icon icon-calendar"></i>Year</h4>
		<p>Use the slider or type in a year number and limit your search to data that was collected and/or published between that year range. You can filter results by year in two ways:</p>
		<ul>
			<li><h5>Year(s) of data coverage</h5>: Year that data was collected</li>
			<li><h5>Year of publication</h5>: Year that data was published. If the data creator did not provide a publish date, then the year the data was uploaded is used instead.</li>
		</ul>
	<% } %>
	
	<% if(searchModel.filterIsAvailable("id")){ %>
		<h4><i class="icon icon-bullseye"></i><%=searchModel.fieldLabels["id"]%></h4>
		<p>An advanced filter to use when searching for a dataset by part or all of its ID or DOI (Digital Object Identifier).
		<a href="<%= MetacatUI.root %>/about/assigning-dois">What is a DOI?</a></p>
		<h5>Examples</h5>: <code>lter</code>, <code>doi:10.5063/F1HH6H0R</code>
	<% } %>
	
	<% if(searchModel.filterIsAvailable("taxon")){ %>
		<h4><i class="icon icon-sitemap"></i><%=searchModel.fieldLabels["taxon"]%></h4>
		<p>Searches all taxonomic ranks that were provided by the data set creator for a full or partial match.</p> 
		<h5>Examples</h5>: <code>Dreissena polymorpha</code>, <code>Mollusca</code>
	<% } %>
	
	<% if(searchModel.filterIsAvailable("spatial")){ %>
		<h4><i class="icon icon-globe"></i><%=searchModel.fieldLabels["spatial"]%></h4>
		<p>Searches the geographic site or study area description. 
		The location may be a place name or a detailed description of the study site.</p> 
		<h5>Examples</h5>: <code>Hudson River</code>, <code>freshwater</code>
	<% } %>
</section>
</article>