<!-- This default is exactly what should be returned from the registry script -->
<!-- customize in your them as needed to point to the correct identity management system -->
<div id ="ldapAccountTools">
	<div class="row">
		<div class="span6 text-left">
			<p>Don't have an account yet?</p>
		</div>
		<div class="span6 text-left">
			<a id="createAccount" href="<%= ldapwebServiceUrl %>">
				<i class="icon-user"></i>
				Create a new account
			</a>
		</div>
	</div>
	
	<div class="row">
		<div class="span6 text-left">
			<p>Forgot your username?</p>
		</div>
		<div class="span6 text-left">							
			<a id="lookupAccount" href="<%= ldapwebServiceUrl %>&stage=lookupname">
				<i class="icon-user"></i>
				Lookup your account
			</a>
		</div>
	</div>
	
	<div class="row">
		<div class="span6 text-left">
			<p>Account settings</p>
		</div>
		<div class="span6 text-left">							
			<a id="changePassword" href="<%= ldapwebServiceUrl %>&stage=changepass">
				<i class="icon-key"></i>
				Change your password
			</a>
		</div>
	</div>
	
	<div class="row">
		<div class="span6 text-left">
			<p>Forgot your password?</p>
		</div>
		<div class="span6 text-left">							
			<a id="resetPassword" href="<%= ldapwebServiceUrl %>&stage=resetpass">
				<i class="icon-key"></i>
				Reset your password
			</a>
		</div>
	</div>
	
</div>