<div class="container alert alert-info row">
  <h3>Sign In not working?</h3>
  <p>We use <a href="https://dataone.org">DataONE</a> and <a href="https://orcid.org">ORCID</a> services for
  sign in, which uses third-party cookies (created by DataONE). Some browsers have started to block
  third-party cookies by default. To enable third-party cookies, change the settings in your browser:</p>

  <h4>Safari</h4>
  <p>In preferences, uncheck "Prevent cross-site tracking." This can be re-enabled once you leave this site.
  <img src="<%= MetacatUI.root %>/img/help/thirdpartycookies.png" />


</div>
