<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#markdown-edit-<%=cid%>" data-toggle="tab"><i class="icon-edit"></i> Edit</a></li>
    <li id="markdown-preview-link"><a href="#markdown-preview-<%=cid%>" data-toggle="tab"><i class="icon-eye-open"></i> Preview</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="markdown-edit-<%=cid%>">
      <div class="markdown-editor">
        <textarea rows="50" type="text" class="markdown markdown-textarea" placeholder="<%=markdownPlaceholder%>" data-category="markdown"><%=markdown%></textarea>
      </div>
    </div>
    <div class="tab-pane row-fluid" id="markdown-preview-<%=cid%>">
      <%=previewPlaceholder%>
    </div>
  </div>
</div>