<article class="quality-report-view">
  <% if (typeof objectIdentifier === 'undefined') { %>
    <div class="panel panel-default">
      <div id="report-alert-container"></div>
      <div id="breadcrumb-container"></div>
      <div class="heading"></div>
      <div class="body"></div>
    </div>
  <% } %>

  <div id="mdqResult">
    <% if (typeof groupedResults !== 'undefined') { %>

    <header class="page-header">
      <div id="report-alert-container"></div>
      <div id="breadcrumb-container"></div>
      <h1>Metadata Assessment Report</h1>
      <h3><cite id="mdqCitation"></cite></h3>
    </header>

    <div class="mdq">
      <div id="mdqSummary">
        <p>
          After running your metadata against our standard set of metadata, data, and congruency checks,
          we have found the following potential issues.
          Please assist us in improving the discoverability and reusability of your research data by addressing the issues below.
        </p>
      </div>

      <div id="mdqDonut" class="format-charts-data"></div>

      <div id="mdqTypeSummary">
        <div id="suites">
          <p>
            <strong>Assessment suite: </strong>
            <select id="suiteId" name="suiteId">
              <%
              var zipped = _.zip(suiteIdList, suiteLabels);
              _.each(zipped, function(pair) {
                  var id = pair[0];
                  var label = pair[1];
              %>
              <option <% if (id == suiteId) { print("selected='selected'") } %> value="<%= id %>"><%= label %></option>
              <%
              });
              %>
            </select>
          </p>
        </div>

        <%
        var types = _.keys(groupedByType);
        _.each(types, function(type) {
          var results = groupedByType[type];
          var total = results.length;
          var success = 0;
          _.each(results, function(result) {
            if (result.get("status") == "SUCCESS") {
              success++;
            }
          });
          var width = (success/total) * 100;
          width = width.toFixed(0);
        %>
          <span class="strong" style="text-transform: capitalize;"><%=type%></span>: <%=width%>% complete
          <div class="progress">
            <div class="progress-bar progress-bar-success"
              role="progressbar"
              aria-valuenow="<%=success%>"
              aria-valuemin="0" aria-valuemax="<%=total%>"
              style="width: <%=width%>%;"></div>
          </div>
        <% }); %>
      </div>

      <div class="clear"></div>

      <ul class="list-group">
        <li class="list-group-item success row-fluid collapsed" data-toggle="collapse" data-target=".list-group-item.pass">
          <h4>
            <i class="icon icon-caret-right"></i>
            <i class="icon icon-caret-down"></i>
            <%=greenText%>
          </h4>
        </li>

        <li class="list-group-item warning collapsed" data-toggle="collapse" data-target=".list-group-item.warn.check">
          <h4>
            <i class="icon icon-caret-right"></i>
            <i class="icon icon-caret-down"></i>
            <%=orangeText%>
          </h4>
        </li>

        <li class="list-group-item danger collapsed" data-toggle="collapse" data-target=".list-group-item.fail">
          <h4>
            <i class="icon icon-caret-right"></i>
            <i class="icon icon-caret-down"></i>
            <%=redText%>
          </h4>
        </li>

        <li class="list-group-item info collapsed" data-toggle="collapse" data-target=".list-group-item.info-check">
          <h4>
            <i class="icon icon-caret-right"></i>
            <i class="icon icon-caret-down"></i>
            <%=blueText%>
          </h4>
        </li>

        <!-- The list items will be added by the view -->
      </ul>
    </div>

    <% } %>
  </div>
</article>