<div class="metrics-container btn-toolbar"></div>

<div class="controls btn-toolbar">
  <a class="btn copy" data-clipboard-text="<%=citation%>"><i class="icon icon-copy"></i> Copy Citation</a>
  
  <% if ( !hideReportCitationButton ){ %>
    <a class="btn report-citation" ><i class="icon icon-plus"></i> Report Citation</a>
  <% } %>

  <% if (showWholetale){ %>
    <div class="analyze dropdown">
      <a class="btn tooltip-this"
       type="button"
       data-toggle="dropdown"
       data-placement="top"
       data-trigger="hover"
       data-delay="700"
       data-container="body"
       data-title="Choose an analysis environment to interactively explore this dataset online using Whole Tale.">
          <i class="icon-bar-chart"></i>
          <span class="analyze-text">Analyze</span>
          <span class="caret"></span>
        </a>
        <ul class="analyze dropdown-menu"></ul>
       </div>
  <% } %>

	<% if (displayQualtyReport){ %>
		<a href="<%= MetacatUI.root %>/quality/<%=encodeURIComponent(model.id)%>" class="btn"><i class="icon icon-dashboard"></i> Assessment report</a>
	<% } %>

	<span id="owner-controls-container" class="controls"></span>

</div>

<div class="clear"></div>
