<% if(metricName != 'undefined') {
        var metrics = ['Citations', 'Downloads', 'Views'];
        var metricIndex = metrics.indexOf(metricName);
        var prevMetricName = metrics[((metricIndex + metrics.length - 1) % metrics.length)];
        var nextMetricName = metrics[((metricIndex + metrics.length + 1) % metrics.length)];
}
%>

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
        <div class="left-header-section">
            <%=metricValue%>
            <i class='icon <%=metricIcon%>'></i>
            <%=metricName%>
        </div>
        <div class="right-header-section">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
    </div>
    <div class="modal-body">
      Basic Metric Text ..!
    </div>
    
    <div class="modal-footer" >
      <div class="left-modal-footer" style="float:left">
          <i class='icon icon-chevron-left'></i>
          <%=prevMetricName%>
      </div>
      <div class="right-modal-footer" style="float:right">
          <%=nextMetricName%>
          <i class='icon icon-chevron-right'></i>
      </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog --> 