<article id="portal-view">
  <section class="row-fluid" id="portal-section" data-section="portal">
    <div id="portal-header-container"></div>
    <div id="portal-nav-tabs" class="tabbable">
      <ul class="nav nav-tabs">
      	<li role="presentation" class="active" data-section="portal-main" ><a href data-target="#portal-main" data-section="portal-main" class="section-link">Data</a></li>
      	<li role="presentation" data-section="portal-metrics"><a href data-section="portal-metrics" data-target="#portal-metrics" class="section-link">Metrics</a></li>
        <li role="presentation" data-section="portal-people"><a data-section="portal-people" data-target="#portal-people" class="section-link">People</a></li>
      </ul>
    </div>

    <div class="portal-tabs tab-content">

      <div class="tab-pane active" data-target="portal-main" id="portal-main">
        <div id="portal-search-container">
          <div id="portal-s earch-results" class="span12"></div>
        </div>
        <div id="portal-description-container"></div><br>
        <div id="portal-personnel-container" class="members-container">
          <div id="members-list-container" class="container-fluid"></div>
        </div>
      </div>

      <div class="tab-pane" data-target="portal-metrics" id="portal-metrics">
        <div id="portal-stats-container"></div>
      </div>

      <div class="tab-pane" data-target="portal-people" id="portal-people">
        <div id="portal-personnel-container-all">
          <div id="members-list-container-all" class="container-fluid"></div>
        </div><br>
        <div id="portal-acknowledgments-container" class="members-container"></div>
      </div>

      <div id="portal-logos-container" class="logo-container"></div>
    </div>
  </section>
</article>
