<article id="project-view">
  <section class="row-fluid" id="project-section" data-section="project">
    <div id="project-header-container"></div>
    <div id="project-nav-tabs" class="tabbable">
      <ul class="nav nav-tabs">
      	<li role="presentation" class="active" data-section="project-main" ><a href data-target="#project-main" data-section="project-main" class="section-link">Data</a></li>
      	<li role="presentation" data-section="project-metrics"><a href data-section="project-metrics" data-target="#project-metrics" class="section-link">Metrics</a></li>
        <li role="presentation" data-section="project-people"><a data-section="project-people" data-target="#project-people" class="section-link">People</a></li>
      </ul>
    </div>

    <div class="project-tabs tab-content">

      <div class="tab-pane active" data-target="project-main" id="project-main">
        <div id="project-search-container">
          <div id="project-search-results" class="span12"></div>
        </div>
        <div id="project-description-container"></div><br>
        <div id="project-personnel-container" class="members-container">
          <div id="members-list-container" class="container-fluid"></div>
        </div>
      </div>

      <div class="tab-pane" data-target="project-metrics" id="project-metrics">
        <div id="project-stats-container"></div>
      </div>

      <div class="tab-pane" data-target="project-people" id="project-people">
        <div id="project-personnel-container-all">
          <div id="members-list-container-all" class="container-fluid"></div>
        </div><br>
        <div id="project-acknowledgments-container" class="members-container"></div>
      </div>

      <div id="project-logos-container" class="logo-container"></div>
    </div>
  </section>
</article>
