<!-- Modal -->
<div id="selectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="selectModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="false">×</button>
    <!-- <h3 id="provEntityTitle">title ></h3> -->
    <h3 id="selectModalLabel"><%- title %></h3>
  </div>
  <div class="modal-body">
    <!-- label for selection box, i.e. "Select a single source", "Select one or more derivations", etc. -->
    <label for="select-prov-entity"><%- selectLabel %></label>
    <select id="select-prov-entity" size="<%= displayRows %>" <%= selectMode %>>
      <% _.each(members, function(member) { %>
        <option
          value="<%- member.pid %>"
          <%= member.editable === false ? 'disabled' : '' %>
          title="<%= member.editable === false ? 'Only programs with no run or one unambiguous run can be edited here.' : '' %>"
        ><%- member.fileName || member.pid %></option>
      <% }); %>
    </select>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" id="selectDone">Done</button>
  </div>
</div>
