<!-- TODO: Add an Insert from CSV tab -->
<!-- <ul class="nav nav-tabs">
  <li class="active">
    <a href="#insert-table-inputs-<%=cid%>" data-toggle="tab">
      Create table
    </a>
  </li>
  <li>
    <a href="#insert-table-csv-<%=cid%>" data-toggle="tab">
      Insert from CSV
    </a>
  </li>
</ul> -->
<!-- <div class="tab-content"> -->
  <!-- <div class="tab-pane active" id="insert-table-inputs-<%=cid%>"> -->
    <section class="spreadsheet">
      <table class="table table-bordered"
             id="table-main">
             <thead class="spreadsheet__table--headers table-headers">
             </thead>
             <tbody class="spreadsheet__table--body table-body">
             </tbody>
      </table>
    </section>
    <section class="spreadsheet-controls">
      <button class="btn btn-danger btn-small"
              id="reset">
              Clear & reset table
      </button>
    </section>
  <!-- </div>
  <div class="tab-pane" id="insert-table-csv-<%=cid%>">
    <textarea class="table-text"></textarea>
  </div>
</div> -->
