<div class="desktop">
  <%=ulTemplate%>
</div>
<div class="mobile">
  <div class="top-level-items dropdown">
    <a class="dropdown-toggle ellipsis" data-toggle="dropdown" href="#">Table of Contents</a><i class="icon-caret-down"></i>
    <div class="dropdown-menu">
      <%=ulTemplate%>
    </div>
  </div>
  <i class="icon-caret-right mobile-toc-divider hidden"></i>
  <div class ="second-level-items dropdown hidden">
    <a class="dropdown-toggle ellipsis" data-toggle="dropdown" href="#"></a><i class="icon-caret-down"></i>
    <div class="dropdown-menu"></div>
  </div>
</div>
