<article id="Tools">
	<div class="container">
		<div class="row-fluid">
			<div class="text-left">
				<h2>
					<i class="icon icon-cog"></i> <a name="tools">Tools</a>
				</h2>
				<p class="lead">Over the years, many tools have been developed
					to facilitate effective data management, archiving content, and
					retrieving data for synthetic analysis projects.</p>
			</div>
		</div>
	
		<hr/>
		<div class="row-fluid">
			<div class="text-left">
				<h3>
					<i class="icon icon-table"></i> <a name="morpho">Morpho</a>
				</h3>
				<p class="lead">Data management for earth, environmental and ecological scientists.</p>
        <img class="pull-right" style="height: auto;width: 150px; margin: 10px 40px 10px 20px" alt="Morpho image" src="<%= MetacatUI.root %>/img/morpho-image.png">
				<p><a href="http://knb.ecoinformatics.org">Morpho</a> allows researchers to create metadata, (i.e. describe
					their data in a standardized format), and create a catalog of data
					& metadata upon which to query, edit and view data collections. In
					addition, it also provides the means to access network servers -
					like the KNB - in order to query, view and retrieve all relevant,
					public ecological data! 
					<ul class="plain-list indent">
						<li>Create and Edit EML metadata</li>
						<li>Search for existing data packages</li>
						<li>View and download data packages</li>
						<li>Verify and Edit your data</li>
						<li>Specify Access Control rules for your data</li>
						<li>Share and publish your data via the KNB</li>
					</ul>
				</p>
			</div>
		</div>

		<hr/>
		<div class="row-fluid">
			<div class="text-left">
				<h3>
					<i class="icon icon-cloud-upload"></i> <a name="metacat">Metacat</a>
				</h3>
				<p class="lead">A flexible metadata database.</p>
        		<img class="pull-left" style="height: auto;width: 100px; margin: 10px 20px 0px 0px" alt="Metacat image" src="<%= MetacatUI.root %>/img/metacat-logo-256px.png">
				<p>As a repository for data and metadata (documentation
					about data) it helps scientists find, understand and effectively
					use data sets they manage or that have been created by others.
					Thousands of data sets are currently documented in a standardized
					way and stored in Metacat systems around the world, providing the scientific
					community with a broad range of science data that - because the data
					are well and consistently described - can be easily searched,
					compared, merged, or used in other ways.
				</p>
				
				<p>	
					<a href="http://knb.ecoinformatics.org/knb/docs/">More about Metacat <i class="icon-circle-arrow-right"></i></a>
				</p>

			</div>
		</div>
		
		<div class="clear"></div>
		
		<hr/>
		<div class="row-fluid">
			<div class="text-left">
				<h3>
					<i class="icon icon-file-text"></i> <a name="eml">EML - Ecological Metadata Language</a>
				</h3>
				<p class="lead">A metadata standard developed for the earth, environmental and ecological sciences.</p>
				<p>It is based on prior work done by the Ecological Society of America and associated efforts. 
					EML is implemented as a series of XML document types that can by used in a modular and extensible manner to document scientific research data.
				</p>

			</div>
		</div>


	</div>
</article>
