:root{
  --deprecated: #D62828;
  --neutral: #EEEAD2;
  --neutral-dark: #003049;
  --info-light: #e4edd9;
  --info-dark: #684500;
  --primary-brand: #FCBF49;
  --primary-brand-on-dark: #FCBF49;
  --primary-brand-dark: #684500;
  --secondary-brand: #2a9989;
}
/**
Color pallete:
https://coolors.co/003049-2a9989-fcbf49-eae2b7-d62828
*/

body{
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
}
a, a:visited, a:active{
  color: var(--secondary-brand);
}
#main{
  float: right;
  width: 80%;
}
nav{
  width: 20%;
  background-color: var(--neutral-dark);
  margin-top: 0px;
  padding-top: 20px;
  border: 0px;
}
nav h2{
  font-size: 1em;
}
nav h3 {
    color: var(--neutral);
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 0px;
}
nav ul a, nav ul a:visited, nav ul a:active, nav h3, nav a{
  font-family: inherit;
  color: var(--neutral);
}
.category-heading ~ li:not(.category-heading) {
    margin-left: 10px;
}
.category-heading {
  color: var(--neutral);
  margin-top: 20px;
  font-weight: bold;
}
.category-heading[data-category='Deprecated']{
  color: var(--deprecated);
  font-style: italic;
}
.important{
  color: var(--deprecated);
}
h1, h2, h3, h4{
  color: var(--neutral-dark);
}
h1{
  font-family: inherit;
  font-size: 2em;
  letter-spacing: normal;
  border-bottom: 1px solid #DDD;
  padding-bottom: 20px;
}
h2, h3.subsection-title{
  font-weight: normal;
}
header{
  padding: 0px;
}
.class-description{
  font-size: 1em;
  line-height: inherit;
  padding: 20px;
  margin: 20px 0px;
  background-color: var(--primary-brand);
  color: var(--primary-brand-dark);
}
.description + h5 {
    font-weight: bold;
    font-size: 1em;
    display: inline;
    margin-right: 20px;
}
.description + h5 + ul{
  list-style: none;
    display: inline;
    padding: 0px;
}
.description + h5 + ul li{
  list-style: none;
  display: inline;
}
.name{
  padding: 10px 20px;
background-color: var(--neutral-dark);
border-bottom: 1px solid var(--neutral);
}
h4.name {
    color: var(--neutral);
}
.name .type-signature a{
  color: var(--primary-brand-on-dark);
}
pre{
  background-color: #eee;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
table{
  width: 100%;
}
thead th{
  color: #fff;
  background-color: #272727;
  border-color: #000000;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  padding: .75rem;
}
.props thead th,
.params thead th {
    background-color: var(--neutral);
    color: var(--neutral-dark);
    border: 0px;
    border-image-width: 0px;
    border-bottom: 1px solid var(--neutral);
}
table td{
  padding: .75rem;
  vertical-align: top;
}
td.name{
  background-color: var(--neutral);
}
.class-screenshot h3{
  text-align: center;
}
.class-screenshot img{
  margin: auto;
  display: flex;
  max-width: 600px;
}
section{
  background-color: transparent;
}
