<article id="About">
  <div class="container">
    <div class="row-fluid">
      <div class="text-left">
        <h2>
          <a name="about-the-knb"></a>
          <i class="icon icon-leaf"></i>
          About the KNB
        </h2>
        <p class="lead">
          The Knowledge Network for Biocomplexity (KNB) is an international
          repository intended to facilitate ecological and environmental
          research.
        </p>
        <img class="pull-right" style="height: 150px;width: 150px; margin: 10px 40px 10px 20px" alt="Data underlies metadata" src="<%= MetacatUI.root %>/js/themes/knb/img/data-metadata-graphic.png?v=<%=MetacatUI.metacatUIVersion%>">
		<h3>Powered by rich, detailed metadata.</h3>
        <p>
          For scientists, the KNB is an efficient way to share, discover, access and
          interpret complex ecological data. Due to rich contextual
          information provided with KNB data, scientists are able to integrate and 
          analyze data with
          less effort. The data originate from a highly-distributed set of
          field stations, laboratories, research sites, and individual
          researchers. The foundation of the KNB is the rich, detailed metadata
          provided by researchers that collect data, which promotes both
          automated and manual integration of data into new projects.
        </p>
        
        <h3>Open-source software.</h3>
        <h5><a href="<%= MetacatUI.root %>/api">Learn about the KNB Developer Tools and API</a></h5>
        <p>
          As part of the KNB effort, data management software is developed in a
          free and open source manner, so other groups can build upon the tools.
          The KNB is powered by the Metacat data management system, and is
          optimized for handling data sets described using the Ecological 
          Metadata Language, but can store any XML-based metadata document.
          <a href="<%= MetacatUI.root %>/tools">Learn more about the software behind KNB <i class="icon icon-double-angle-right"></i></a>
        </p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="text-left">
        <h3>Easily share your research and get more exposure with the DataONE network.</h3>
          <p>
            As a long-term repository, the KNB allows you to preserve your data
            for future generations of scientists. However, you can share
            your data with your colleagues today, and get a permanent
            identifier for all files in your data set. The KNB supports <a
            href="<%= MetacatUI.root %>/about/dois">Digital Object Identifiers</a> (DOIs),
            so your data sets can be confidently referenced in any publication.
            And as a <a href="http://dataone.org">DataONE</a> Member Node, the
            KNB will securely replicate your data to other servers, maintaining
            all of the privacy controls you set. This means
            that your data are secure in the event that the KNB servers
            themselves experience any catastrophic failure.
            <a href="https://www.dataone.org/benefits-becoming-member-node" target="_blank">What are the benefits of KNB being a DataONE Member Node? <i class="icon icon-double-angle-right"></i></a>
          </p>
      </div>
    </div>
    <hr/>
    <div class="row-fluid">
      <div class="text-left">
        <h2>
          <a name="getting-started"></a>
          <i class="icon icon-cog"></i>
          Getting Started
        </h2>
        <h3>
          <a name="sharing-your-data"></a>
          Storing and Sharing Your Research
        </h3>
		<p>Submitting your data to the KNB is easy. Here are two ways to get started:</p>
        <div class="row-fluid">
          <figure class="thumbnail span5">
          	<a href="<%= MetacatUI.root %>/submit">
          		<img src="<%= MetacatUI.root %>/img/about-editor.png" alt="KNB Online Data Registry Form"/>
          	</a>
          	<figcaption class="caption">
          	    <h3>On the web</h3>
          		<p>Upload your data on the KNB website using a <a href="<%= MetacatUI.root %>/submit">simple online form</a>.</p>
          		<p><a href="<%= MetacatUI.root %>/submit" class="btn btn-primary">Upload now</a></p>
          	</figcaption>
          </figure>
          <figure class="thumbnail span5">
          	<a href="<%= MetacatUI.root %>/tools/morpho">
          		<img src="<%= MetacatUI.root %>/img/about-morpho.png" alt="Morpho Desktop Application"/>
          	</a>
          	<figcaption class="caption">
          		<h3>On your desktop</h3>
          		<p>Download the <a href="<%= MetacatUI.root %>/tools/morpho">Morpho desktop application</a>, which features a "wizard"-style step-by-step process to describe and package up your data.</p>
          		<p><a href="<%= MetacatUI.root %>/tools/morpho" class="btn btn-primary">Download Morpho</a></p>
          	</figcaption>
          </figure>
          <div class="clear"></div>
          <p>
	          If your project involves large numbers of
	          files (hundreds to thousands), you may want to automate the creation
	          of your metadata. This is certainly possible, and has been done in
	          programs like Matlab, R, etc. Send a note to <a
	          href="mailto:knb-help@nceas.ucsb.edu">KNB Help</a>, and we can point
          	  you to some examples of scripted metadata creation.
          </p>
        </div>
        <a id="file-format"></a>
        <h3>Use any file format.</h3>
        <figure>
        	<img src="<%= MetacatUI.root %>/img/about-fileformats.png" alt="File formats" />
        	<figcaption class="footnote">Credit: Blugraphic.com</figcaption>
        </figure>
        <p>
          While the KNB supports the upload of any data file format, sharing data can
          be greatly enhanced if you use ubiquitous, easy-to-read formats. For
          instance, while Microsoft Excel files are commonplace, it's better to
          export these spreadsheets to Comma Separated Values (CSV) text files,
          which can be read on any computer without having Microsoft products
          installed.
        </p>
        <p>        
          To prepare for upload, it's good to have
          your files in order. You might want to take a look at some <a
          href="http://www.dataone.org/best-practices">best practices</a> for
          <a href="http://dx.doi.org/10.1890/0012-9623-90.2.205">managing your
          data files</a>. For a given project, perhaps you have 6 data files,
          and one document that describes the methods that you used to collect
          or analyze your data. Collect these files into a single directory,
          and name them with short but descriptive names. Try to avoid spaces in
          your file names, but rather use dashes "-" or underscores "_". 
        </p>
        <p>
          For image files, use common formats like PNG, JPEG, TIFF, etc. Most
          all browsers can handle these. If you use specialized software to
          create your data, try to save you data in well-known formats. For
          instance, GIS data can be exported to ESRI shapefiles, and data
          created in Matlab or other matrix-based programs can be exported as
          <a href="http://www.unidata.ucar.edu/software/netcdf/">NetCDF</a> (an
          open binary format).
        </p>
        <h3>
          <a name="search-tips"></a>
          Search for Data
        </h3>
        <p>
        	Search for data <a href="<%= MetacatUI.root %>/data">here</a> and get helpful search tips on our <a href="<%= MetacatUI.root %>/help">help page</a>.
        </p>
        <h2>
          <a name="dois" id="dois"></a>
          Publish data with a DOI for long-term stable access.
        </h2>
      	<div class="row-fluid">
	        <figure class="thumbnail span5">
	        	<img src="<%= MetacatUI.root %>/img/about-doi.png" alt="DOI Example" />
				<figcaption class="caption">
					Publish your data with a DOI and it will display on the metadata page for your dataset.
				</figcaption>
	        </figure>
	        <div class="span7"></div>
	    </div>
        <p>
          Assign your data set a <a href="http://www.doi.org/driven_by_doi/DOI_Marketing_Brochure.pdf" 
          target="_blank">Digital Object Identifier (DOI)</a> and allow
          others to cite your data with the DOI to find the 
          current location(s) for the data. 
        </p>
        <p>  
          Because web addresses can change over time, it is important that
          your data set not be tied to a specific address on 
          the internet. DOIs
          allow an identifier to be created that can be resolved to the
          multiple locations that a data set might exist, and then
          client tools can decide which of those copies is the most
          efficient to access.
        </p>
        <h3>How to assign a DOI to your data</h3>
        <p>
          To assign a DOI using the KNB requires that you have the
          proper permissions on the data set.  Simply log in to the KNB
          web interface with your username and password, and then search
          for your data set by clicking on "My Packages" from the user menu.
          If you are the owner or have been granted management permissions, 
          you will see a 'Publish' button, which both makes the data set 
          publicly accessible and assigns a DOI to that particular version of the data
          set.  The DOI is registered with <a
          href="http://www.datacite.org">DataCite</a> using the <a
          href="http://ezid.cdlib.org/">EZID</a> service, and will be
          discoverable through multiple data citation networks,
          including <a href="http://dataone.org">DataONE</a> and others.
        </p>
        <p>
        	<a href="http://www.doi.org/driven_by_doi/DOI_Marketing_Brochure.pdf" target="_blank">
        		Learn more about DOIs <i class="icon icon-double-angle-right"></i>
        	</a>
        </p>
      </div>
    </div>
    <hr/>
    <div class="row-fluid">
    	<h2>
            <a name="using-the-knb"></a>
            <i class="icon icon-quote-left"></i>
            Licensing and Data Distribution
        </h2>
        <p>
            As a tool dedicated to helping researchers
            increase collaboration and the pace of science, this repository
            needs certain rights to copy, store, and redistribute data.
            By uploading data, metadata, and any other content to
            this repository, you warrant that you have the rights to
            the content and are authorized to do so under copyright
            or any other right that might pertain to the content.
            <a
            href="http://www.bitlaw.com/copyright/database.html">Data
            and facts themselves are not covered under copyright</a>
            in the US and most countries, since facts in and of
            themselves are not eligible for copyright. That said,
            some associated metadata and some particular compilations
            of data could potentially be covered by copyright in
            some jurisdictions. Thus, by uploading content, you
            grant this repository and UCSB all rights needed to copy, store,
            redistribute, and share data, metadata, and any other
            content under the access control rules that you specify.
            By marking content as publicly available, you grant this 
            repository, UCSB, and any other users the right to copy the
            content and redistribute it to the public without restriction
            under the terms of <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC-BY</a>.
        </p>
    </div>
    <hr/>
    <div class="row-fluid">
    	<h2>
          <a name="understanding-metadata"></a>
          <i class="icon icon-file-text"></i>
          Understanding metadata
        </h2>
        <p>
          Metadata are ultimately "data about data" - the
          contextual information needed to interpret a set of raw data
          observations. They provide meaning to data, and are critical when it
          comes to sharing, integrating, and analyzing data. Too often people
          collect data for projects and leave them undocumented for years or
          decades. These data, while potential of very high value, can become 
          useless over time due to data entropy.
        </p>
        <p>
          There are a number of resources available that help in understanding
          metadata. A notable reference book is "Ecological Data: Design,
          Management and Processing", edited by William Michener and James Brunt
          <a href="http://books.google.com/books?isbn=1444311395">(ISBN
          1-444-31139-5)</a>. This book has an excellent section on metadata,
          and the idea of data entropy over the course of a scientist's career.
          Likewise, researchers at the National Center for Ecological Analysis
          and Synthesis <a href="http://nceas.ucsb.edu">(NCEAS)</a> wrote an <a
          href="http://dx.doi.org/10.1890/0012-9623(2005)86[158:MTVOED]2.0.CO;2"
          >excellent primer</a> on understanding and using EML, entitled
          "Maximizing the value of ecological data with structured metadata: an
          introduction to Ecological Metadata Language (EML) and principles for
          metadata creation".
        </p>
        <p>
          The two resources above should help in understanding metadata, and
          making the generation of high quality metadata a part of your
          scientific workflow. For more information, contact <a
          href="mailto:knb-help@nceas.ucsb.edu">KNB Help</a>, and we can
          further help you or your lab in effectively managing data and
          metadata.
        </p>
   </div>
  </div>
</article>
