<section class="row">
  <img alt="Yellow Flower" src="<%= MetacatUI.root %>/js/themes/knb/img/humanimpacts.png" style="width: 100%; height: 100%">
  <div class="accordion">
    <div class="accordion-heading">
      <h2>
        <a class="accordion-toggle dark">
		  Cumulative human impacts data (2008 and 2013)
          <span class="citation">
			      Halpern B, et al. 2015. 
          </span>
        </a>
      </h2>
    </div>
    <div class="accordion-body">
      <div class="accordion-inner">
        <p>
          Data used to calculate 2008 and 2013 cumulative human impacts in: <a href="http://www.nature.com/ncomms/2015/150714/ncomms8615/full/ncomms8615.html" target="_blank">Halpern et al. 2015</a>. Spatial and temporal changes in cumulative human impacts on the world's ocean. Seven data packages are available for this project: (1) supplementary data (habitat data and other files); (2) raw stressor data (2008 and 2013); (3) stressor data rescaled by one time period (2008 and 2013, scaled from 0-1); (4) stressor data rescaled by two time periods (2008 and 2013, scaled from 0-1); (5) pressure and cumulative impacts data (2013, all pressures); (6) pressure and cumulative impacts data (2008 and 2013, subset of pressures updated for both time periods); (7) change in pressures and cumulative impact (2008 to 2013). 
        </p>
        <p>
        	<a class="btn btn-primary " href="https://knb.ecoinformatics.org/view/doi:10.5063/F19Z92TW">View data set<i class="icon icon-double-angle-right"></i></a>
        </p>          
      </div>
    </div>
  </div>
</section>
<section class="row">
  <img alt="Lake Baikal" src="<%= MetacatUI.root %>/js/themes/knb/img/featured_baikal.jpg" style="width: 100%; height: 100%">
  <div class="accordion">
    <div class="accordion-heading">
      <h2>
        <a class="accordion-toggle">
           Lake Baikal Plankton Dynamics, 60-year data set.
           <span class="citation">
		         Izmest'eva, L. 2006.
           </span>
        </a>
      </h2>
    </div>
    <div class="accordion-body">
      <div class="accordion-inner">
        <p>
          This data set was collected at roughly 7-10 day intervals
          approximately 1 km offshore from Bolshie Koty on Lake Baikal. Depths
          span 0 - 250 m with regularity and frequently deeper. Zooplankton and
          phytoplankton are identified to species and lifestage where
          applicable. Temperature and Secchi depth are available for full time
          series, chlorophyll a and primary productivity are available since
          1979. The data set has been under the direction of Mikhail Kozhov,
          Olga Kozhova and Lyubov Izmest'eva since roughly 1945. Data uploaded
          in 2008 correspond to analyses and descriptions in Hampton et al.
          2008 (In press) Sixty Years of Environmental Change in the World's
          Largest Freshwater Lake - Lake Baikal, Siberia. Global Change Biology.
        </p>
		<p>
			<a class="btn btn-primary " href="<%= MetacatUI.root %>/view/doi%3A10.5063%2FAA%2Fnceas.290.8">View data<i class="icon icon-double-angle-right"></i></a>
		</p>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <img alt="Yellow Flower" src="<%= MetacatUI.root %>/js/themes/knb/img/featured_flower_yellow.jpg" style="width: 100%; height: 100%">
  <div class="accordion">
    <div class="accordion-heading">
      <h2>
        <a class="accordion-toggle">
          Divergent responses to spring and winter warming drive community level flowering trends.
          <span class="citation">
			      Cook, B. 2012.
          </span>
        </a>
      </h2>
    </div>
    <div class="accordion-body">
      <div class="accordion-inner">
        <p>
          Data for "Cook BI, Wolkovich EM, Parmesan C. 2012. Divergent
          responses to spring and winter warming drive community level
          flowering trends. PNAS 109(23): 9000-9005." Data corresponds to
          supplemental information provided at:
          www.pnas.org/lookup/suppl/doi:10.
          1073/pnas.1118364109/-/DCSupplemental. Data presented here are
          regression coefficients (along with standard errors of the
          coefficients) calculated by using linear least-squares regressions.
          There are two data sets presented here--one corresponding to the first
          flowering dates at Chinnor, United Kingdom and the second one
          corresponds to the first flowering dates at Washington DC.
        </p>
		<p>
	        <a class="btn btn-primary " href="<%= MetacatUI.root %>/view/nceas.997.2">View data<i class="icon icon-double-angle-right"></i></a>
		</p>
      </div>
    </div>
  </div>
</section>
<section class="row">
   <img alt="Coral" src="<%= MetacatUI.root %>/js/themes/knb/img/featured_coral.jpg" style="width: 100%; height: 100%" />
  <div class="accordion">
    <div class="accordion-heading">
      <h2>
        <a class="accordion-toggle">
          USVI Coral Reef: Decadal-scale changes in community structure from 1987 to 2011.
          <span class="citation">
			      CSU Northridge and Edmunds, P. 2013.
          </span>
        </a>
      </h2>
    </div>
    <div class="accordion-body">
      <div class="accordion-inner">
        <p>
          These time series data sample percent cover of Scleractinian corals
          by genus measured from photo quadrats. Percent cover is given for
          each quadrat, each site, each year from 1987 to 2011. Counts of
          juvenile corals conducted in situ and small colonies less than 4 cm
          diameter are pooled from all sites. Supplementary data include in
          situ seawater temperature daily mean from 1989 to 2011. These data
          were used to create the figures in Edmunds, P.J., 2013, Decadal-scale
          changes in the community structure of coral reefs in St. John, US
          Virgin Islands, Marine ecology Progress Series.
        </p>
		<p>
        	<a class="btn btn-primary " href="<%= MetacatUI.root %>/view/doi%3A10.5063%2FAA%2Fknb-csun-usvi.10700">View data<i class="icon icon-double-angle-right"></i></a>
        </p>
      </div>
    </div>
  </div>
</section>