
<div id="FooterHeading" class="row-fluid center">
  <h3 class="heading"><span>The</span> Knowledge Network <span>for</span> Biocomplexity</h3>
  <h4 class="subheading"><span>knb</span></h4>
</div>

<div class="center">
  <div class="row-fluid center" id="FooterContent">
    <div class="span2 help-items">
      <h2><i class="icon-cogs"></i>Getting Started</h2>
      <ul class="helpitems">
        <li><a href="<%= MetacatUI.root %>/about#sharing-your-data" >Sharing Your Data</a></li>
        <li><a href="<%= MetacatUI.root %>/about#understanding-metadata" >Understanding Metadata</a></li>
        <li><a href="<%= MetacatUI.root %>/tools" >Downloading Tools</a></li>
      </ul>
    </div>
    <div class="span2 help-items">
      <h2><i class="icon-file-alt"></i>Help</h2>
      <ul class="helpitems">
      	<li><a href="<%= MetacatUI.root %>/help">Search Tips</a></li>
        <li><a href="<%= MetacatUI.root %>/tools#morpho" >Morpho User Guide</a></li>
        <li><a href="<%= MetacatUI.root %>/tools#eml" >Ecological Metadata Language</a></li>
        <li><a href="http://mule1.dataone.org/ArchitectureDocs-current" target="_blank">DataONE API</a></li>
      </ul>
    </div>
    <div class="span4 logos">
    	<div class="span3 knb">
    		<a href="<%= MetacatUI.root %>/"><p class="logo pagination-centered center">knb</p></a>
    	</div>
    	<div class="span4 dataone">
    		<a href="http://dataone.org" target="_blank"><img alt="DataONE" src="<%= MetacatUI.root %>/img/dataone-logo-white.png?v=<%=MetacatUI.metacatUIVersion%>"></a>
    	</div>
    	<div class="span4 nceas">
    		 <a href="http://nceas.ucsb.edu" target="_blank"><img alt="NCEAS" src="<%= MetacatUI.root %>/img/logo-nceas-white.png?v=<%=MetacatUI.metacatUIVersion%>"></a>
    	</div>
    </div>
    <div class="span2 help-items">
    	<h2><i class="icon-envelope-sign"></i>Contact</h2>
      	<ul class="helpitems">
        	<li><i class="icon-envelope-alt"></i><a href="mailto:knb-help@nceas.ucsb.edu">knb-help@nceas.ucsb.edu</a></li>
        	<li><i class="icon-comment"></i><a href="http://slack.nceas.ucsb.edu">slack.nceas.ucsb.edu #knb</a></li>
        	<li><i class="icon-twitter"></i><a href="http://twitter.com/nceas" target="_blank">@nceas</a></li>
      	</ul>
    </div>
  </div>
  <div class="row-fluid">
  	<div class="span12 acknowledgements">
  	    <p class="pagination-centered disclaimer">National Science Foundation Knowledge and Distributed Intelligence Program</p>
        <p class="disclaimer">
          This material is based upon work supported by the National Science Foundation
          under Grant No. DEB99-80154. Any opinions, findings and conclusions or
          recommendations expressed in this material are those of the author(s) and
          do not necessarily reflect the views of the National Science Foundation (NSF).
        </p>
  	</div>
  </div>
