<div class="container">
  <div class="row-fluid">
    <div class="span4 pagination-centered">
      <img src="<%= MetacatUI.root %>/js/themes/knb/img/cloud-gray-blue.png">
      <h4>Diverse environmental data.</h4>
      <p>
        Scientists store thousands of open environmental and ecological
        data sets in the KNB. Plus, the KNB is a DataONE Member Node, so
        your data can be securely copied across the network for long term
        preservation.
      </p>
      <a href="<%= MetacatUI.root %>/about" class="btn btn-info">Learn more</a>
    </div>
    <div class="span4 pagination-centered">            
      <img src="<%= MetacatUI.root %>/js/themes/knb/img/circles-up-down-arrows.png">
      <h4 >Store and confidently share.</h4>
      <p>
        You can easily upload your data to the KNB repository online, or
        use desktop software to describe, manage, and share your data.
        Store up to 5GB of data for free. The KNB also supports DOIs to
        permanently publish your data sets.
      </p>
      <a href="<%= MetacatUI.root %>/submit" class="btn btn-info">Share your data</a>
    </div>
    <div class="span4 pagination-centered">
      <img src="<%= MetacatUI.root %>/js/themes/knb/img/square-mag-glass.png">
      <h4>Find critical data.</h4>
      <p>
        Super fast searching of research collections in the KNB lets you
        find data for your next project, and connect with potential
        collaborators. Look for data based on interest, place, time, or
        people.
      </p>
      <a href="<%= MetacatUI.root %>/data" class="btn btn-info">Search for data</a>
    </div>
  </div>
</div>
