<div class="navbar" >
  <div class="navbar-inner">
      <ul class="nav">
	    <li><a class="brand" href="<%= MetacatUI.root || "/" %>">knb</a></li>
        <li><a href="<%= MetacatUI.root %>/about">About</a></li>
        <li class="dropdown">
        	<a class="dropdown-toggle" data-toggle="dropdown">Data</a>
        	<ul class="dropdown-menu">
        		<li class="dropdown-header"> Data </li>
        		<li><a href="<%= MetacatUI.root %>/data" class="show-new-search">Search</a></li>
        		<li><a href="<%= MetacatUI.root %>/profile">Summary</a></li>
        	</ul>
        </li>
        <li><a href="<%= MetacatUI.root %>/submit" class="show-new-editor">Submit</a></li>
        <li><a href="<%= MetacatUI.root %>/tools">Tools</a></li>
        <li class="input input-append">
        	<form id="direct-search" action="#">
	        	<label class="tooltip-this" data-title="Go directly to a dataset by pasting its full DOI or ID here.">Jump to:</label>
	        	<input type="text" name="direct-search" value="" placeholder="DOI or ID" class="jump-width-input direct-search subtle" form="direct-search"/>
	        	<button class="btn direct-search" form="direct-search">Go</button>
	        </form>
        </li>
        <li class="minimal-nav hidden">
          <a href="<%=MetacatUI.appModel.get('baseUrl')%>">Hosted by the <span class="brand">knb</span></a>
        </li>
        <% if (loggedIn) { %>
        	<li class="dropdown minimal-nav">
				<a href="#" class="dropdown-toggle user" data-toggle="dropdown">
					<i class="icon-user icon icon-on-left"></i><%=(firstName || formattedName)%><b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li class="dropdown-header"><%=formattedName%></li>
					<li><a href="<%= MetacatUI.root %>/submit" class="show-new-editor">Upload data</a></li>
					<% if(MetacatUI.appModel.get("userProfiles")){ %><li><a href="<%= MetacatUI.root %>/profile/<%=username%>">My profile</a></li> <% } %>
					<li><a href="<%= MetacatUI.root %>/data/my-data">My data sets</a></li>
					<li class="divider"></li>
					<li><a href="<%= MetacatUI.root %>/signout">Sign out</a></li>
				</ul>
			</li>
        <% } else { %>
        		<li id="SignIn" class="minimal-nav"><a href="<%= MetacatUI.root %>/signin">Sign In</a></li>
       <%  } %>

      </ul>
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->
