<h4 class="query-builder-title">
  <div>
    </span><span class="exclude-input">Include</span> datasets with <span class="operator-input">all</span> of the following metadata
  </div>
</h4>
<div class="buttons-container">
  <button type="button" class="btn btn-info add-rule" id="<%=addRuleButtonID%>">
    <i class="icon icon-on-left icon-plus"></i>Add a Rule
  </button>
  <button type="button" class="btn btn-info add-rule-group" id="<%=addRuleGroupButtonID%>">
    <i class="icon icon-on-left icon-plus"></i>Add a Rule Group
  </button>
</div>
<div class="rules-container">
</div>