<section class="catalog-search-inner">
  <div class="filter-groups-container"></div>
  <div class="search-results-panel-container">
    <div class="map-toggle-container">
      <a class="toggle-map">
        <i class="icon icon-double-angle-left"></i>
        Show Map
      </a>
    </div>
    <div class="title-container"></div>
    <div class="pager-container"></div>
    <div class="sorter-container"></div>
    <div class="search-results-container"></div>
  </div>
  <div class="map-panel-container">
    <div class="map-toggle-container">
      <a class="toggle-map">
        Hide Map
        <i class="icon icon-double-angle-right"></i>
      </a>
      <label class="toggle-map-filter">Limit my search to the map area</label>
      <input
        type="checkbox"
        name="map"
        checked="true"
        class="toggle-map-filter" />
    </div>
    <div class="map-container"></div>
  </div>
</section>
