/** Icons **/
.btn > i{
	margin-left: 5px;
}
.result-row .icons.provenance i{
	font-size: 1.5em;
}

/****************************************** 
** Provenance flow-charts ***
******************************************/
.prov-chart{
    width: 60px;
    padding-left: 20px;
    padding-right: 20px;
   	margin-top: 67px;
   	display: inline-block;
   	vertical-align: top;
   	position: relative;
}
.prov-chart.sources{
   	margin-right: 15px;
   	padding-right: 10px;
	border-right-width: 1px;
   	border-right-style: solid;
}
.prov-chart.derivations{
   	margin-left: 10px;
   	padding-left: 16px;
	border-left-width: 1px;
   	border-left-style: solid;	
}
.prov-chart .node{
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #FFF;
	width: 25px;
	padding: 15px;
	font-size: 25px;
	margin-bottom: 10px;
	color: #666;
	position: absolute;
	z-index: 2;
}
.prov-chart .connecter{
	border-top-width: 1px;
	border-top-style: solid;
	position: absolute;
	top: 0px;
	height: 10px;
	width: 15px;
	left: 0px;
}
.prov-chart.derivations .connecter{
	width: 11px;
	left: -11px;
	top: 50%;
}
.prov-chart.sources .connecter{
	left: 45px; /* fallback */
	left: calc(100% - 15px);
}
.prov-chart .prov-pointer{
	width: 15px;
	height: 15px;
	position: absolute;
	top: 50%; /* fallback */
	top: calc(50% - 7px);
}
.prov-chart.sources .prov-pointer{
	right: -15px;
}
.prov-chart.derivations .prov-pointer{
	left: 0px;
}
.prov-chart > .title{
	font-size: 1em;
	width: 90px;
	line-height: 1em;
	top: -70px;
	position: absolute;
}
.prov-chart.derivations > .title{
	left: 0px;
}
.prov-chart .metadata.node i{
	margin-left: 5px;
}
article.hasProv{ /*The metadata gets narrowed when there are prov charts next to it*/
	width: 660px; /* IE fallback */
	width: calc(100% - 210px - 40px - 6px); /* 100% - prov-chart width - padding - borders*/
	display: inline-block;
}
.prov-chart .popover{
	min-width: 300px;
}

/****************************************** 
** The Metadata and MetadataIndex View **
******************************************/	
#metadata-index-details .Other .text,
#metadata-index-details .Other .attributeDescription,
#metadata-index-details .Other .checksum,
#metadata-index-details .Other .dataUrl,
#metadata-index-details .Other .fileID,
#metadata-index-details .Other .size,
#metadata-index-details .Other .resourceMap,
#metadata-index-details .Other .presentationCat,
#metadata-index-details .Other .checksumAlgorithm,
#metadata-index-details .Other .author,
#metadata-index-details .Other .authorGivenName,
#metadata-index-details .Other .authorGivenNameSort,
#metadata-index-details .Other .authorSurName,	
#metadata-index-details .Other .authorSurNameSort,
#metadata-index-details .Other .authorLastName,
#metadata-index-details .Other .replicaVerifiedDate,
#metadata-index-details .Other .sku,
#metadata-index-details .Other .identifier,
#metadata-index-details .Other [class*=" geohash_"],
#metadata-index-details .Other [class^="geohash_"]
{
	display: none;
}
#metadata-index-details .entityDetails .size{
	display: inherit;
}
	
/****************************************** 
* The Data Details box in the Metadata View
********************************************/
.entityDetails.hasProv{
	display: inline-block;
	width: 62%;
}
.entityDetails > h4 > *{
	float: left;
	margin-bottom: 20px;
}
.entityDetails > h4 > i{
	font-size: 1.5em;
}
.entityDetails > h4 > .title{
	width: 80%;
	width: calc(100% - 175px);
	margin-left: 20px;
	word-wrap: break-word;
}
.entityDetails > h4 > .btn{
	float: right;
}
.entityDetails > .control-group{
	clear: both;
}

/****************************************** 
* Citations and Citation Popovers
********************************************/
.popover .citation .id{
	display: block;
	margin-top: 10px;
	word-wrap: break-word;
	word-break: break-all;
}
.popover .citation-container.multiple .citation{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
}
.popover .citation-container a{
	margin-top: 10px;
	display: block;
}
.popover .citation-container a > i{
	margin-left: 5px;
}