
/* Import font families */
@import url(http://fonts.googleapis.com/css?family=Lato);
/* Lato weights:
Ultra-Light 100
Ultra-Light 100 Italic
Book 300
Book 300 Italic
Normal 400
Normal 400 Italic
Bold 700
Bold 700 Italic
Ultra-Bold 900
Ultra-Bold 900 Italic
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* Open Sans weights:
Book 300 
Book 300 Italic
Normal 400
Normal 400 Italic
Semi-Bold 600
Semi-Bold 600 Italic
Bold 700
Bold 700 Italic
Extra-Bold 800
Extra-Bold 800 Italic
*/
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);
/* Gentium Book Basic weights:
Normal 400
Normal 400 Italic
Bold 700
Bold 700 Italic
*/

/* Body CSS
-------------------------------------------------- */
    /* Padding below the footer and lighter body text */
    body {
      color: #A1A1A1;
      background-color: #FDFDFD;
      font-family: Lato, "Helvetica Nueue", Helvetica, "sans serif";
    }

    article, aside, figure, footer, header, hgroup, menu, nav, section { 
      display:block; 
      
    }
    
    body > section, footer {
      min-height: 400px;
      margin: none;
    }
    
    body > header {
      height: 95px;
      margin-bottom: 35px;
      
    }
    
    body > article {
      min-height: 800px;
      margin: none;
      font-weight: 300;
      font-size: 110%;
      line-height: 1.5;
      
    }
    
    footer {
      position: relative;
      bottom: 0px;
      padding-top: 30px;
      padding-bottom: 30px;
      color: #FDFDFD;
      background-color: #3F3F3F;
    }
    
    #Header {
      position: relative;
      top: 0px;
      z-index: 50;
      background-color: #FDFDFD;
      overflow: hidden;
      opacity: 1.0;
    }
    
    footer#Footer div:first-child {
      max-width: 650px;
    }
    
    footer#Footer h3 {
      font: 800 30px/30px "Open Sans";
      text-align: center;
      padding: 0px 0px 20px 0px;
      margin-bottom: -25px;
      border-bottom: 1px solid #FDFDFD;
      
    }

    footer#Footer h3 > span {
      font: 400 30px/30px "Gentium Book Basic";
      font-style: italic;
    }
    
    footer#Footer h4 {
      vertical-align: baseline;
      padding: 0;
      text-align: center;
    }
    
    footer#Footer h4 > span {
      font: 400 30px/30px "Gentium Book Basic";
      font-style: italic;
      text-transform: uppercase;
      background-color: #3F3F3F;
      padding: 0px 15px 0px 15px;
    }
    
    .btn, .btn-primary, .btn-large, .btn-small, .btn-mini {
      font-weight: 300;
      background-image: none;
      background-repeat: none;
    }
    
    .btn-primary {
      background-color: #992222;
      color: #FFFFFF;
      
    }
    .btn:hover {
      background-color: #882222;
      color: #FDFDFD;
      background-image: none;
      background-repeat: none;
      
    }
    
    #search_btn.btn {
      background-color: #992222;
      color: #FFFFFF;
      
    }
    
    #search_btn.btn:hover {
      background-color: #882222;
      color: #FFFFFF;
      
    }
    
    #Slides {
      position: relative;
      top: 0px;
      z-index: 50;
    }
    
    #Features {
      position: relative;
      background-color: #899CA6;
      padding-top: 20px;
      color: #FDFDFD;
    }

    section#Features h4 {
      font-size: 160%;
      font-weight: 300;
    }

    section#Features p {
      font-size: 110%;
      font-weight: 300;
      line-height: 1.75;
      margin-bottom: 30px;
    }
    
    section#Features button {
      background-color: #6C94A4;
      color: #FFFFFF;
      border: none;
      text-shadow: none;
      box-shadow: none;
    }

    section#Features button:hover {
      background-color: #5C7F8C;
    
    }    
    #FeaturedData {
      position: relative;
      background-color: #B0A691;
      padding-top: 20px;
      color: #FDFDFD;      
    }
    
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
    
    .center {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
    
    .navbar {
      position: absolute;
      top: 20px;
      border: none;
      z-index: 100;
      min-height: 55px;
    
    }

    .navbar-inner {
      position: relative;
      border: none;
      z-index: 140;
    }
    
    .navbar .brand {
      font-size: 48px;
      font-weight: 300;
      font-family: "Lato";
      color: #992222;
      letter-spacing: -3px;
      margin: 7px 5px 7px 5px;
      float: left;
      
    }
  
    .navbar .nav > li > * {
      margin: 7px 5px 7px 5px;
    }

    .navbar .nav > li > a {
      color: #555555;
      font-size: 18px;
      font-family: "Lato";
      font-weight: 400;
      text-transform: uppercase;
    }

    .navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover {
      color: #555555;
      font-weight: 400;
      background-color: #E5E5E5;
      text-decoration: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      /*background-color: transparent;*/
    }
    
    .navbar .nav > .active > a,
    .navbar .nav > .active > a:hover,
    .navbar .nav > .active > a:focus {
      color: #555555;
      font-weight: 400;
      text-decoration: none;
      background-color: #E5E5E5;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
         -moz-box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
              box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

    /* Offset the search div for proper vertical alignment */
    .navbar .input-append {
      margin: 5px 0px 0px 0px;
      z-index: 150;
    }

    #SignIn {
      float: right;
    }

    /* CAROUSEL CSS
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      width: 100%;
      margin-bottom: 0px;
      max-height: 400px;
      
    }


    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 230;
    }
        
    .carousel .active .left {
      left:0;
      opacity:0;
      z-index:240;
    }
    
    .carousel .next {
      left:0;
      opacity:1;
      z-index:241;
    }
    
    .carousel .item {
      background-color: #FDFDFD; /* Fallback to solid color if the gradient fails */
      background-image: -webkit-gradient(
       linear,
       left bottom,
       left top,
       color-stop(0.9, #FFFFFF),
       color-stop(0.3, #FDFDFD)
      );
      z-index: 185;
      -webkit-transition: opacity 4s; 
      -moz-transition: opacity 4s; 
      -ms-transition: opacity 4s; 
      -o-transition: opacity 4s; 
      transition: opacity 4s;
      max-height: 400px;
      overflow: hidden;
    }
    
    div.item > img {
      height: auto;
    }
    
    .carousel-caption {
      background: rgba(0,0,0,0.3);
      position: absolute;
      top: 30%;
      bottom: 40%;
      max-width: 50%;
      z-index: 200;
      padding: 10px 10px 10px 10px;
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
      
  }
    .carousel-caption h1 {
      margin: 0px;
      line-height: 1.25;
      font-family: Lato;
      font-weight: 400;
      font-size: 36px;
      color: #FDFDFD;
    }
    .carousel-caption .lead {
      margin: 0;
      line-height: 1;
      font-family: Lato;
      font-weight: 300;
      font-size: 24px;
      color: #FDFDFD;
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

  /* MAIN BODY CSS
  -------------------------------------------------- */
  /* Main body containing sidebar and content */
    .main-body-padded {
      padding-top: 90px;
    }

  /* SIDEBAR CSS
  -------------------------------------------------- */
    #sidebar {
      min-height: 400px;
    }
    
    .sidebar-subhead {
      color: #666666;
      font-weight: bold;
      text-transform:uppercase;
      padding: 5px 0 10px 0;
    }
    
    .sidebar-item {
      color: #666666;
      font-weight: bold;
      padding: 5px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      line-height: 25px;
    }
    
    .sidebar-item-selected {
      background-color: #AAAAAA;
      color: #fff;
      padding-top: 3px;
      padding-bottom: 3px;
    }

/* RESULT CSS
-------------------------------------------------- */
    .result-header {
      font-weight: bold;
      border-bottom: thin solid;
    }
    
    .result-header-count {
      font-style: italic;
    }
    
    .result-row {
      display: inline-block;
        border-bottom: thin solid;
        padding: 5px;
    }
    
    .result-row:hover { 
    background-color: #eee;
  }

    .result-author {
      font-weight: bold;
    }
    
    .pagination {
      margin: auto;
    }

/* FOOTER CSS
-------------------------------------------------- */

  .footer .brand {
      /* padding: 14px 20px 16px; Increase vertical padding to match navbar links */
      margin-left: 20px;
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }


/* RESPONSIVE CSS
-------------------------------------------------- */
    
    @media (max-width: 979px) {

      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 100%;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    /*
    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }
    */