
/****************************************** 
** General Styling ***
******************************************/
.center{
	text-align: center;
}
.subtle{
	color: #999;
}

/****************************************** 
** General Structure ***
******************************************/
html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
article > .container,
article.container {
	padding: 2%;
	width: 96%;
}
#Content{
	width: 90%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.mapMode #Content{
	width: 100%;
   	margin: 0px;
   	padding-bottom: 0px;
}
#Footer{
	background-color: #FFFFFF;
	height: 3em;        /** Keeps the footer down **/
	position: absolute; /** Keeps the footer down **/
	bottom: 0px;        /** Keeps the footer down **/
}
.mapMode #Footer{
	position: relative;
	height: auto;
}
.annotator-wrapper{
	/** Keeps the footer down **/
	min-height: 100%;
}

/****************************************** 
** Navigation ***
******************************************/
.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb>li>a{
	font-weight: normal;
}
.breadcrumb>li>a.active{
	color: #555;
}
.breadcrumb .back{
	margin-right: 20px;
	display: inline;
	border-right: 1px solid #999;
	padding-right: 20px;
}
.nav-tabs li i{
	margin-right: 5px;
}

/****************************************** 
** Titles ***
******************************************/
h3{
	font-size: 1.5em;
}

/****************************************** 
** Icons ***
******************************************/
.btn > i{
	margin-left: 5px;
}
.result-row .info-icons .icons.resource-map{
	width: 20px;
	height: 1em;
}
.result-row .info-icons .icons.download .icon{
	font-size: 1.2em;
}
.result-row .icons.provenance i{
	font-size: 1.5em;
}
.provenance-statement-container i{
	font-size: 1.2em;
}
.icon-on-right{
	margin-left: 5px;
}
.icon-on-left{
	margin-right: 5px;
}
.filter-contain img.icon{
	float: left;
	height: 20px;
}

/****************************************** 
** Results and Result Rows ***
******************************************/
.result-row{
	padding: 5px;
	 cursor: pointer;
	 width: 95%;
	 width: calc(100% - 10px);
}
.result-row .route-to-metadata{
	cursor: pointer;
}
.result-row .icons .icon{
	font-size: 1.1em;
}
#results.loading .notification{
  margin-top: 20px;
}
.result-row .info-icons{
	margin-top: 10px;
}
.result-row .info-icons img.icon{
	height: 1em;
}
.result-row .info-icons .icons.download .tooltip{
	width: 120px;
}
.result-row > .logo {
  width: 50px;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
}
.result-row > .logo.ORNLDAAC,
.result-row > .logo.CDL,
.result-row > .logo.ONEShare,
.result-row > .logo.CLOEBIRD,
.result-row > .logo.EDACGSTORE,
.result-row > .logo.GLEON{
	width: 90px;
}
.result-row > .logo.KNB{
	width: 30px;
}
.result-row > .logo.IARC,
.result-row > .logo.LTER{
	width: 40px;
}
.result-row .smaller{
	font-size: .9em;
}
.result-row .label{
	margin-right: 3px;
}
/****************************************** 
** Provenance flow-charts ***
******************************************/
.prov-chart{
    width: 60px;
    padding-left: 20px;
    padding-right: 20px;
   	margin-top: 67px;
   	display: inline-block;
   	vertical-align: top;
   	position: relative;
}
.prov-chart.sources{
   	margin-right: 15px;
   	padding-right: 10px;
	border-right-width: 1px;
   	border-right-style: solid;
}
.prov-chart.derivations{
   	margin-left: 10px;
   	padding-left: 16px;
	border-left-width: 1px;
   	border-left-style: solid;	
}
.prov-chart .node{
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #FFF;
	width: 25px;
	height: 25px;
	padding: 15px;
	font-size: 25px;
	margin-bottom: 10px;
	color: #666;
	position: absolute;
	z-index: 2;
	cursor: pointer;
}
.prov-chart .node:focus{
	outline: none;
}
.prov-chart .node.active,
#Metadata.active,
.entitydetails.active{
	box-shadow: 0 0 5px rgb(50, 161, 19),0 0 12px rgb(0, 255, 213);
}
.prov-chart .node.previous{
	border-width: 3px;
}
.prov-chart .connecter{
	border-top-width: 1px;
	border-top-style: solid;
	position: absolute;
	top: 0px;
	height: 10px;
	width: 15px;
	left: 0px;
}
.prov-chart.expand-collapse .collapsed{
	display: none;
}
.prov-chart.expand-collapse .expand-control,
.prov-chart.expand-collapse .collapse-control{
	font-size: .9em;
	position: absolute;
	top: 100%;
	top: calc(100% + 30px);
	left: 10px;
	width: 90px;
	cursor: pointer;
}
.prov-chart.expand-collapse .control .icon{
	margin-left: 5px;
	font-size: 1.5em;
	vertical-align: sub;
}
.prov-chart.derivations .connecter{
	width: 11px;
	left: -11px;
	top: 50%;
}
.prov-chart.sources .connecter{
	left: 45px; /* fallback */
	left: calc(100% - 15px);
}
.prov-chart .prov-pointer{
	width: 15px;
	height: 15px;
	position: absolute;
	top: 50%; /* fallback */
	top: calc(50% - 7px);
}
.prov-chart.sources .prov-pointer{
	right: -15px;
}
.prov-chart.derivations .prov-pointer{
	left: 0px;
}
.prov-chart > .title{
	font-size: 1em;
	width: 90px;
	line-height: 1em;
	top: -70px;
	position: absolute;
}
.prov-chart.derivations > .title{
	left: 0px;
	text-align: center;
}
.prov-chart .node > i{
	vertical-align: text-top;
}
.prov-chart .metadata.node i{
	margin-left: 5px;
}
.provenance-statement a{
	/*Keep the icons and links right by each other */
	display: inline;
	word-break: break-word; 
}
.provenance-statement .currently-viewing{
	font-weight: bold;	
}
.prov-chart .image.node{
	background-size: cover;
	background-position: 50% 50%;
}

/********* The Prov Chart colors *******/		
.prov-chart .node.uniqueNode1,
.entitydetails.uniqueNode1{
	border-color: #FF0000;
}
.prov-chart .node.uniqueNode1 .icon,
.provenance-statement .node-link.uniqueNode1 .icon{
	color: #FF0000;
}
.prov-chart .node.uniqueNode2,
.entitydetails.uniqueNode2{
	border-color: #878700;
}
.prov-chart .node.uniqueNode2 .icon,
.provenance-statement .node-link.uniqueNode2 .icon{
	color: #878700;
}
.prov-chart .node.uniqueNode3,
.entitydetails.uniqueNode3{
	border-color: #00EAFF;
}
.prov-chart .node.uniqueNode3 .icon,
.provenance-statement .node-link.uniqueNode3 .icon{
	color: #00EAFF;
}
.prov-chart .node.uniqueNode4,
.entitydetails.uniqueNode4{
	border-color: #AA00FF;
}
.prov-chart .node.uniqueNode4 .icon,
.provenance-statement .node-link.uniqueNode4 .icon{
	color: #AA00FF;
}
.prov-chart .node.uniqueNode5,
.entitydetails.uniqueNode5{
	border-color: #FF7F00;
}
.prov-chart .node.uniqueNode5 .icon,
.provenance-statement .node-link.uniqueNode5 .icon{
	color: #FF7F00;
}
.prov-chart .node.uniqueNode6,
.entitydetails.uniqueNode6{
	border-color: #BFFF00;
}
.prov-chart .node.uniqueNode6 .icon,
.provenance-statement .node-link.uniqueNode6 .icon{
	color: #BFFF00;
}
.prov-chart .node.uniqueNode7,
.entitydetails.uniqueNode7{
	border-color: #0095FF;
}
.prov-chart .node.uniqueNode7 .icon,
.provenance-statement .node-link.uniqueNode7 .icon{
	color: #0095FF;
}
.prov-chart .node.uniqueNode8,
.entitydetails.uniqueNode8{
	border-color: #FF00AA;
}
.prov-chart .node.uniqueNode8 .icon,
.provenance-statement .node-link.uniqueNode8 .icon{
	color: #FF00AA;
}
.prov-chart .node.uniqueNode9,
.entitydetails.uniqueNode9{
	border-color: #FFD400;
}
.prov-chart .node.uniqueNode9 .icon,
.provenance-statement .node-link.uniqueNode9 .icon{
	color: #FFD400;
}
.prov-chart .node.uniqueNode10,
.entitydetails.uniqueNode10{
	border-color: #6AFF00;
}
.prov-chart .node.uniqueNode10 .icon,
.provenance-statement .node-link.uniqueNode10 .icon{
	color: #6AFF00;
}
.prov-chart .node.uniqueNode11,
.entitydetails.uniqueNode11{
	border-color: #0040FF;
}
.prov-chart .node.uniqueNode11 .icon,
.provenance-statement .node-link.uniqueNode11 .icon{
	color: #0040FF;
}
.prov-chart .node.uniqueNode12,
.entitydetails.uniqueNode12{
	border-color:#EDB9B9;
}
.prov-chart .node.uniqueNode12 .icon,
.provenance-statement .node-link.uniqueNode12 .icon{
	color: #EDB9B9;
}
.prov-chart .node.uniqueNode13,
.entitydetails.uniqueNode13{
	border-color: #B9D7ED;
}
.prov-chart .node.uniqueNode13 .icon,
.provenance-statement .node-link.uniqueNode13 .icon{
	color: #B9D7ED;
}
.prov-chart .node.uniqueNode14,
.entitydetails.uniqueNode14{
	border-color:#E7E9B9;
}
.prov-chart .node.uniqueNode14 .icon,
.provenance-statement .node-link.uniqueNode14 .icon{
	color: #E7E9B9;
}
.prov-chart .node.uniqueNode15,
.entitydetails.uniqueNode15{
	border-color: #DCB9ED;	
}
.prov-chart .node.uniqueNode15 .icon,
.provenance-statement .node-link.uniqueNode15 .icon{
	color: #DCB9ED;
}
.prov-chart .node.uniqueNode16{
	border-color:#B9EDE0;
} 
.prov-chart .node.uniqueNode16 .icon,
.provenance-statement .node-link.uniqueNode16 .icon{
	color: #B9EDE0;
}
.prov-chart .node.uniqueNode17,
.entitydetails.uniqueNode17{
	border-color:#8F2323;
} 
.prov-chart .node.uniqueNode17 .icon,
.provenance-statement .node-link.uniqueNode17 .icon{
	color: #8F2323;
}
.prov-chart .node.uniqueNode18,
.entitydetails.uniqueNode18{
	border-color:#23628F;
} 
.prov-chart .node.uniqueNode18 .icon,
.provenance-statement .node-link.uniqueNode18 .icon{
	color: #23628F;
}
.prov-chart .node.uniqueNode19,
.entitydetails.uniqueNode19{
	border-color:#8F6A23;
} 
.prov-chart .node.uniqueNode19 .icon,
.provenance-statement .node-link.uniqueNode19 .icon{
	color: #8F6A23;
}
.prov-chart .node.uniqueNode20,
.entitydetails.uniqueNode20{
	border-color:#6B238F;
} 
.prov-chart .node.uniqueNode20 .icon,
.provenance-statement .node-link.uniqueNode20 .icon{
	color: #6B238F;
}
.prov-chart .node.uniqueNode21,
.entitydetails.uniqueNode21{
	border-color:#4F8F23;
} 
.prov-chart .node.uniqueNode21 .icon,
.provenance-statement .node-link.uniqueNode21 .icon{
	color: #4F8F23;
}
.prov-chart .node.uniqueNode22,
.entitydetails.uniqueNode22{
	border-color:#000000;
} 
.prov-chart .node.uniqueNode22 .icon,
.provenance-statement .node-link.uniqueNode22 .icon{
	color: #000000;
}
.prov-chart .node.uniqueNode23,
.entitydetails.uniqueNode23{
	border-color:#737373;
} 
.prov-chart .node.uniqueNode23 .icon,
.provenance-statement .node-link.uniqueNode23 .icon{
	color: #737373;
}		
/*The context sections gets narrowed when there is one prov chart next to it*/
.hasProvLeft,
.hasProvRight,
.entitydetails.hasProvLeft,
.entitydetails.hasProvRight{ 
	width: 75%; /* IE fallback */
	width: calc(100% - 106px - 43px); /* 100% - prov-chart width - (padding + borders)*/
	display: inline-block;
}
article.hasProvLeft table.download-contents .name,
article.hasProvRight table.download-contents .name{
	min-width: 100px;
	max-width: 350px;
}
article.hasProvLeft.hasProvRight table.download-contents .name{
	min-width: 100px;
	max-width: 250px;
}

/*The metadata gets narrowed even more when there are two prov charts next to it*/
.hasProvLeft.hasProvRight,
.entitydetails.hasProvLeft.hasProvRight{
	width: 60%; /* IE fallback */
	width: calc(100% - 210px - 40px - 6px); /* 100% - prov-chart width - (padding + borders)*/
}

/* Prov chart popovers */
.prov-chart .popover{
	min-width: 300px;
}
.prov-chart .popover-content{
	padding: 0px;
}
.popover-content .provenance-statement.list-group{
	margin: 10px;
}
.popover-content .well.header{
	margin-bottom: 0px;
	border-radius: 0px;
  	padding-bottom: 0px;
	padding-top: 0px;
}
.prov-chart .popover-content .header > .name{
	font-size: 1.2em;
}
.prov-chart .popover-content .header > .subtle{
	margin-bottom: 0px;
}
.prov-chart .popover .citation{
	font-size: 1em;
	line-height: 1.7em;
}
.prov-chart .popover .btn{
	display: block;
	margin-bottom: 10px;
}
.prov-chart .popover-title{
	font-size: 1em;
}
.prov-chart .popover-title i{
	font-size: 1.2em;
} 
.prov-chart .popover .thumbnail{
	margin-bottom: 20px;
	height: auto;
	width: 100%;
	padding: 0px;
}
.prov-chart .popover h7{
	font-style: italic;
	margin-bottom: 10px;
	display: block;
	color: #888;
}
.popover-content > div > h6 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: .9em;
}
.popover-content > div > .name {
  margin-top: 0px;
  font-size: 1em;
}

/****************************************** 
** Collapsable Lists (ExpandCollapseView) **
******************************************/	
.expand-collapse .collapsed{
	display: none;
}
.expand-collapse .control{
	margin-right: 2px;
	border-bottom: 1px dotted #999;
}
.expand-collapse .control,
.expand-collapse .expanded{
	display: inline-block;
}	
.expand-collapse .control.collapse{
	overflow: visible;
	margin-left: 5px;
	display: inline;
}
.provenance-statement .expand-collapse{
	display: block;
}
.expand-collapse .control.hidden{
	display: none;
}
.expand-collapse .spacer{
	margin-right: 10px;
}
.expand-collapse.list-group-item a > .icon{
	margin-right: 0px;
}

/****************************************** 
** The Metadata and MetadataIndex View **
******************************************/	
#metadata-index-details .Other .text,
#metadata-index-details .Other .attributeDescription,
#metadata-index-details .Other .checksum,
#metadata-index-details .Other .dataUrl,
#metadata-index-details .Other .fileID,
#metadata-index-details .Other .size,
#metadata-index-details .Other .resourceMap,
#metadata-index-details .Other .presentationCat,
#metadata-index-details .Other .checksumAlgorithm,
#metadata-index-details .Other .author,
#metadata-index-details .Other .authorGivenName,
#metadata-index-details .Other .authorGivenNameSort,
#metadata-index-details .Other .authorSurName,	
#metadata-index-details .Other .authorSurNameSort,
#metadata-index-details .Other .authorLastName,
#metadata-index-details .Other .replicaVerifiedDate,
#metadata-index-details .Other .sku,
#metadata-index-details .Other .identifier,
#metadata-index-details .Other [class*=" prov_"],
#metadata-index-details .Other [class*=" geohash_"],
#metadata-index-details .Other [class^="geohash_"]
{
	display: none;
}
#metadata-index-details .entitydetails .size{
	display: inherit;
}

#Metadata  > .citation,
#Metadata  > form > .citation{
	font-size: 1.8em;
	line-height: 1.7em;
	margin-bottom: 40px;
	border: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	padding: 0px;
	background-color: transparent;
	display: block;
	font-weight: lighter;
	width: 83%;
	float: left;
}
.attributeList > .row-fluid > .span2 {
  min-width: 130px;
}
.attributeList > .tab-content{
	width: calc(82% - 130px);
}
/*Taxonomic range*/
.taxonomicCoverage .control-group{
   	margin-bottom: 20px;
    width: auto;
}
.taxonomicCoverage > .control-group{
    margin-left: 180px;
}
.taxonomicCoverage .control-label{
    width: auto;
    padding: 0px 10px;
}    
.taxonomicCoverage .controls > .control-group:nth-child(2n){
    margin-left: 107px;
}    
.taxonomicCoverage .control-label{
   color: #999;
}    
.taxonomicCoverage .controls {
	margin-left: 0px;
}
/**----------------------------------------**/
.citation ~ .logo{
  width: 15%;
  display: inline-block;
  float: right;
  margin-bottom: 10px;
}
.citation ~ .logo.KNB{
	max-width: 90px;
}

/****************************************** 
* The Data Details box in the Metadata View
********************************************/
.entitydetails{
    	border-width: 1px;
    	border-style: solid;
    	border-radius: 4px;
    	-moz-border-radius: 4px;
    	-webkit-border-radius: 4px;
    	margin-bottom: 20px;
    	padding: 20px;
    	width: 85%;
    	width: calc(100% - 40px);
}
.entitydetails > h4 > *{
	float: left;
	margin-bottom: 20px;
}
.entitydetails > h4 > i{
	font-size: 1.5em;
}
.entitydetails > h4 > .title{
	width: 80%;
	width: calc(100% - 175px);
	margin-left: 20px;
	word-wrap: break-word;
}
.entitydetails > h4 > .btn{
	float: right;
}
.entitydetails > .control-group{
	clear: both;
}
.entitydetails a.download{
	margin-left: 180px;
	margin-bottom: 20px;
}
.form-horizontal .entitydetails > label{
	text-align: left;
	font-weight: bold;
	width: 98%;
	width: calc(100% - 5px);
	background-color: #CCCCCC;
	padding: 5px;
	color: white;
	margin-bottom: 20px;	
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-left: -5px;
	margin-top: -5px;
	padding-left: 10px;
}
#Metadata .form-horizontal .controls.entitydetails{
	margin-left: 0px;
}
/** Images, Maps, and other visuals **/
.thumbnail{
	height: auto;
	width: 350px;
	padding: 20px;
	margin-bottom: 20px;
}
.entitydetails .thumbnail{
	margin-left: 180px;
	margin-top: 40px;
}
.thumbnail  img{
	min-width: 100%;
	height: auto;
}
.thumbnail.map{
	width: auto;
}
img[src*="gstatic.com/"].georegion-map, 
img[src*="googleapis.com/"].georegion-map{
	max-width: 100%;
}

/****************************************** 
* Download / Resource Map contents table
********************************************/
    
#downloadContents .controls-well{
	overflow-x: scroll;
}
table.download-contents {
	width: 100%;
	margin-bottom: 0px;
}
.download-contents td{
	overflow-wrap: break-word;
	vertical-align: middle; /*Oh tables, good for one thing...*/
}
.download-contents th{
	font-weight: normal;
}
.download-contents i{
	font-size: 1.5em;
}
.download-contents .btn i{
	font-size: 1em;
	margin-left: 5px;
}
.download-contents a[href="#tools/eml"]{
	color: inherit;
}
.download .btn i{
	margin-left: 5px;
}
.download-contents .format-type{
	text-align: left;
}   
.download-contents .file-type i {
  color: #999;
  margin-left: 5px;
} 
.download-contents .ellipsis{
	display: block;
	max-width: 250px;
}
table.download-contents .name{
	min-width: 325px;
}
table.download-contents .btn-container,
table.download-contents .btn-container .btn{
	width: 105px;
} 
/* The footer / expand-collapse control */
.table tfoot th{ 
	text-align: center; 
}
tfoot .control{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	cursor: pointer;	
}
tfoot .control i{
	margin-left: 5px;
}
/**----------------------------------------**/

/****************************************** 
* Citations and Citation Popovers
********************************************/
.popover .citation .id{
	word-wrap: break-word;
	word-break: break-all;
}
.popover .citation-container.multiple .citation{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
}
.popover .citation-container a{
	margin-top: 10px;
	display: block;
}
.popover .citation-container a > i{
	margin-left: 5px;
}
.citation .label{
	display: inline;
	font-weight: bolder;
	text-shadow: none;	
}
#results .popover{
	min-width: 300px;
	max-width: 300px;
	font-size: .9em;
	line-height: 1.3em;
}
.popover cite{ 
	display: block;
	margin-bottom: 20px; 
}
.citation .id{
	color: #888;
	font-size: .9em;
}
.result-row .citation{
	font-weight: light;
}
.route-to-metadata{
	cursor: pointer;
}

/****************************************** 
** User Profile ***
******************************************/
#user-profile{
	padding-top: 20px;
}
.list-only #sidebar{
	display: none;
}
.list-only #results-container{
	width: 100%;
	overflow-y: visible;
	overflow-x: visible;
}
textarea.token{
	width: 100%;
	margin-top: 20px;
}

/****************************************** 
** Panels ***
******************************************/
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
  border-color: #ddd;
}
.panel-default>.panel-heading {
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-body {
  padding: 15px;
}
.panel>.list-group, .panel>.panel-collapse>.list-group {
  margin-bottom: 0;
}
.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}
.panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.panel>.list-group .list-group-item.active{
	border-left-width: 5px;
}
.list-group-item > .list-group {
  padding-left: 20px;
  margin-bottom: 0px;
}
.list-group-item > .list-group > .list-group-item:last-child{
	border-bottom-width: 0px;
}
.list-group-item a > .icon{
	margin-right: 5px;
}

.list-identity-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-identity-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.panel>.list-identity .list-identity-item.active{
	border-left-width: 5px;
}
.list-identity-item > .list-identity {
  padding-left: 20px;
  margin-bottom: 0px;
}
.list-identity-item > .list-identity > .list-identity-item:last-child{
	border-bottom-width: 0px;
}
.list-identity-item a > .icon{
	margin-right: 5px;
}
/****************************************** 
** Searching and Map ***
******************************************/
#map-container{
	display: none;
}
.mapMode #map-container{
	position: relative;
	display: block;
}
.map-toggle-container{
  background-color: #333333;
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 37%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(37%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.7) 37%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.7) 37%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.7) 37%,rgba(0,0,0,0.7) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.7) 37%,rgba(0,0,0,0.7) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */

  padding: 5px;
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 95%;
  width: calc(100% - 10px);
  height: auto;
}
#results-view .map-toggle-container{
	position: relative;
	display: block;
	width: 100%;
}
.mapMode #results-view .map-toggle-container{
	display: none;
}
.map-toggle-container > a{
  font-size: 1em;
  line-height: 1.3em;
  color: white;
  font-weight: normal;
}
.map-toggle-container > a:hover{
	color: white;
	font-weight: bold;
}
.map-toggle-container > a > .icon{
	margin-left: 5px;
	margin-right: 5px;
}
/****************************************** 
** Filters ***
******************************************/
.filter-contain{
	border-bottom: 1px dashed #CCC;
	padding: 10px 0px 5px 0px;
	width: 100%;
}
.filter-contain > label{
   	font-size: .9em;
   	font-weight: bold;
   	color: #666;
}
#includes-files label,
#includes-files label.ui-state-active{
  	float: left;
    margin-bottom: 8px;
    margin-right: 5px;
}    
#filter-year label#data-year-label,
#filter-year label#pub-year-label{
 	margin: 0px 5px 5px 0px;
 	float: left;
}
/** Filter icons **/
.filter-contain > label > .icon{
	color: #888;
	font-size: 17px;
	float: left;
	margin: 0px;
	margin-right: 5px;
}  
.filter-contain .icon.more-info{
   	font-size: 14px;
   	line-height: 23px;
   	top: 5px;
   	float: left;
}   
#filter-year > i,
#includes-files > i{
  	margin-top: 0px;
}  
.filter-contain > i.icon-sitemap{
  	font-size: 18px;
}  
.filter-contain > i.icon-map-marker{
  	font-size: 22px;
}
label.ui-state-active i.icon-check-empty, label.ui-state-default i.icon-check {
  display: none;
}
.current-filters.active {
  background-color: inherit;
  border-color: inherit;
  display: inline-block;
  float: none;
}
/** For "My Packages" filter **/
.keyword-search-link,
.current-filters > li.keyword-search-link {
	display: none;
}
.keyword-search-link.active,
.current-filters > li.keyword-search-link.active{
	border-color: inherit;
	display: inline-block;
	width: auto;
}