
/* Body CSS
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */
    body {
      color: #A1A1A1;
      background-color: #FDFDFD;
    }

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */
    
    .center {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
    
    .navbar {
      position: absolute;
      top: 20px;
      min-width: 940px;
      float: right;
      border: none;
      z-index: 9;
    
    }

    .navbar-inner {
      position: relative;
      border: none;
      z-index: 10;
    }
    .navbar .brand {
      font-size: 48px;
      font-weight: 300;
      font-family: "Lato";
      color: #992222;
      letter-spacing: -3px;
      
    }
	
    .navbar .nav > li > * {
      margin: 10px 10px 10px 10px;
    }

    .navbar .nav > li > a {
      color: #555555;
      font-size: 18px;
      font-family: "Lato";
      font-weight: 400;
      text-transform: uppercase;
    }

    .navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover {
      color: #555555;
      font-weight: 400;
      background-color: #E5E5E5;
      text-decoration: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      /*background-color: transparent;*/
    }
    
    .navbar .nav > .active > a,
    .navbar .nav > .active > a:hover,
    .navbar .nav > .active > a:focus {
      color: #555555;
      font-weight: 400;
      text-decoration: none;
      background-color: #E5E5E5;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
         -moz-box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
              box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

    /* Offset the search div for proper vertical alignment */
    .navbar .form-search {
      margin: 10px 0px 0px 0px;
    }


    /* CAROUSEL CSS
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      position: relative;
      top: 0px;
      margin-bottom: 30px;
      height: 50%;
      
    }

    .carousel .container {
      position: relative;
      min-height: 400px;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }
        
    .carousel .active.left {left:0;opacity:0;z-index:2;}
    
    .carousel .next {left:0;opacity:1;z-index:1;}
    
    .carousel .item {
      min-height: 400px;
      background-color: #615145; /* Fallback to solid color if the gradient fails */
      background-image: -webkit-gradient(
	     linear,
	     left bottom,
	     left top,
	     color-stop(0.9, #8F7D70),
	     color-stop(0.3, #615145)
      );
    }
    
    .carousel .item {
       -webkit-transition: opacity 3s; 
       -moz-transition: opacity 3s; 
       -ms-transition: opacity 3s; 
       -o-transition: opacity 3s; 
       transition: opacity 3s;}
    
    .carousel img {
      position: absolute;
      top: 0px;
      /*
      min-width: 100%;
      min-height: 100%;
      */
    }

    .carousel .static {
      position: absolute;
      top: 125px;
      left: 175px;
      min-width: 0%;
    }
    
    .carousel-caption {
      background: rgba(0,0,0,0.3);
      position: relative  ;
      top: 150px;
      max-width: 400px;
      padding: 10px 10px 10px 10px;
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
      
	}
    .carousel-caption h1 {
      margin: 0;
      line-height: 1.25;
      font-family: Lato;
      font-weight: 400;
      font-size: 36px;
      color: #FDFDFD;
    }
    .carousel-caption .lead {
      margin: 0;
      line-height: 1;
      font-family: Lato;
      font-weight: 300;
      font-size: 24px;
      color: #FDFDFD;
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
    .carousel-logo {
      margin-top: 150px;
	}

	/* MAIN BODY CSS
	-------------------------------------------------- */
	/* Main body containing sidebar and content */
    .main-body-padded {
      padding-top: 90px;
    }

	/* SIDEBAR CSS
	-------------------------------------------------- */
    #sidebar {
    	min-height: 400px;
    }
    
    .sidebar-subhead {
      color: #666666;
      font-weight: bold;
      text-transform:uppercase;
      padding: 5px 0 10px 0;
    }
    
    .sidebar-item {
      color: #666666;
      font-weight: bold;
      padding: 5px;
      border-radius: 5px;
  	  -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      line-height: 25px;
    }
    
    .sidebar-item-selected {
      background-color: #AAAAAA;
      color: #fff;
      padding-top: 3px;
      padding-bottom: 3px;
    }

	/* RESULT CSS
	-------------------------------------------------- */
    .result-header {
    	font-weight: bold;
    	border-bottom: thin solid;
    }
    
    .result-header-count {
    	font-style: italic;
    }
    
    .result-row {
    	display: inline-block;
        border-bottom: thin solid;
        padding: 5px;
    }
    
    .result-row:hover { 
		background-color: #eee;
	}

    .result-author {
    	font-weight: bold;
    }
    
    .pagination {
    	margin: auto;
    }

	/* FOOTER CSS
	-------------------------------------------------- */
    .footer {
      padding-top: 30px;
      padding-bottom: 30px;
      margin-top: 30px;
      color: #5a5a5a;
      background-color: black;
    }

	.footer .brand {
      /* padding: 14px 20px 16px; Increase vertical padding to match navbar links */
      margin-left: 20px;
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }


    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }
    