/** Icons **/
.btn > i{
	margin-left: 5px;
}

/** Provenance flow-charts ***/
.prov-chart{
    width: 60px;
    padding-left: 20px;
    padding-right: 20px;
   	margin-top: 67px;
   	display: inline-block;
   	vertical-align: top;
   	position: relative;
}
.prov-chart.sources{
   	margin-right: 15px;
   	padding-right: 10px;
	border-right-width: 1px;
   	border-right-style: solid;
}
.prov-chart.derivations{
   	margin-left: 15px;
   	padding-left: 10px;
	border-left-width: 1px;
   	border-left-style: solid;	
}
.prov-chart .node{
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #FFF;
	width: 25px;
	padding: 15px;
	font-size: 25px;
	margin-bottom: 10px;
	color: #666;
	position: absolute;
	z-index: 2;
}
aside.prov-chart.derivation .node{
	float: right;
}
.prov-chart .connecter{
	border-top-width: 1px;
	border-top-style: solid;
	position: absolute;
	top: 0px;
	height: 10px;
	width: 15px;
	left: 0px;
}
.prov-chart.sources .connecter{
	left: 45px; /* fallback */
	left: calc(100% - 15px);
}
.prov-chart .prov-pointer{
	width: 15px;
	height: 15px;
	position: absolute;
	top: 50%; /* fallback */
	top: calc(50% - 7px);
}
.prov-chart.sources .prov-pointer{
	right: -15px;
}
.prov-chart.derivations .prov-pointer{
	left: -15px;
}
.prov-chart h3{
	font-size: 1em;
	width: 90px;
	line-height: 1em;
	top: -70px;
	position: absolute;
}
.prov-chart .metadata.node i{
	margin-left: 5px;
}
aside + #Metadata{ /*The metadata gets narrowed when there are prov charts next to it*/
	width: 660px; /* IE fallback */
	width: calc(100% - 210px - 40px - 6px); /* 100% - prov-chart width - padding - borders*/
	display: inline-block;
}

/** The Metadata and MetadataIndex View **/
	
	#metadata-index-details .text,
	#metadata-index-details .attributeDescription,
	#metadata-index-details .checksum,
	#metadata-index-details .dataUrl,
	#metadata-index-details .fileID,
	#metadata-index-details .size,
	#metadata-index-details .resourceMap,
	#metadata-index-details .presentationCat,
	#metadata-index-details .checksumAlgorithm,
	#metadata-index-details .author,
	#metadata-index-details .authorGivenName,
	#metadata-index-details .authorGivenNameSort,
	#metadata-index-details .authorSurName,	
	#metadata-index-details .authorSurNameSort,
	#metadata-index-details .authorLastName,
	#metadata-index-details .replicaVerifiedDate,
	#metadata-index-details .sku,
	#metadata-index-details .identifier,
	#metadata-index-details [class*=" geohash_"],
	#metadata-index-details [class^="geohash_"]
	{
		display: none;
	}
	#metadata-index-details .entityDetails .size{
		display: inherit;
	}
	
	/** The Data Details box in the Metadata View**/
	.entityDetails > h4 > *{
		float: left;
		margin-bottom: 20px;
	}
	.entityDetails > h4 > i{
		font-size: 1.5em;
	}
	.entityDetails > h4 > .title{
		width: 80%;
		width: calc(100% - 200px);
		margin-left: 20px;
		word-wrap: break-word;
	}
	.entityDetails > h4 > .btn{
		float: right;
	}
	.entityDetails > .control-group{
		clear: both;
	}
