<div class="span10 offset1">
	<img src="<%= MetacatUI.root %>/img/logo-nceas-white.png" class="span1" />
  	<img src="<%= MetacatUI.root %>/img/metacat_logo.png" class="span1"/>
  	<div class="span7">
  			<p>You are on a site hosted by <a href="http://www.nceas.ucsb.edu/" target="_blank">NCEAS</a> and powered by <a href="http://knb.ecoinformatics.org/software/metacat/" target="_blank">Metacat</a>.</p>
  		  	<p>Metacat is free and open-source. <a href="http://knb.ecoinformatics.org/software/metacat/" target="_blank">Learn more.</a></p>
  	</div>
</div>