.PortalView #Content {
  padding: 0;
  margin: 0;
}

.PortalView #Content .portal-view {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: min-content 1fr;
  gap: 0 1.5rem;
  grid-auto-flow: row;
  grid-template-areas: "header links" "sections sections" "logos logos";
  width: 100%;
  height: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* On smaller screens... */

@media only screen and (max-width: 768px) {
  .PortalView #Content .portal-view {
    grid-template-columns: 100%;
  }
}

.map-view {
  min-height: 93vh;
}

#portal-header-container {
  grid-area: header;
  margin: 0;
  padding: 0 0 0 1.75rem;
  display: flex;
  height: 3rem;
}

/* #portal-sections:after {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  z-index: 999;
  width: 100vw;
  box-sizing: border-box;
  height: 1px;
  background-color: inherit;
  box-shadow: 0px 18px 40px 1px rgba(0, 0, 0, 0.9);
} */

.section-links-container {
  grid-area: links;
  align-self: center;
  margin-right: 0.8rem;
}

#portal-sections {
  grid-area: sections;
  position: relative;
  overflow: hidden;
}

#portal-header-container>.row {
  margin-left: 0;
  position: relative;
  width: auto;
}

.portal-view .portal-title {
  color: var(--portal-col-text-nav-highlight);
  font-size: 1rem;
  font-weight: 400;
}

.portal-view .portal-logo {
  height: 3rem;
  margin-right: -3.25rem;
  opacity: .25;
  z-index: 1;
}

.portal-view .portal-description {
  align-self: center;
  font-size: .75rem;
  margin: 0;
  margin-left: 0.75rem;
  position: relative;
}


.portal-view .portal-description::before {
  /* font awesome info icon */
  font-family: FontAwesome;
  content: "\f05a";
  display: flex;
  font-size: 1rem;
  cursor: help;
  color: var(--portal-col-text-nav);
}

.portal-view .portal-description:hover::before {
  opacity: 0.8;
}

.portal-view .portal-description p {
  font-size: .8rem;
  font-weight: 500;
  position: absolute;
  margin: 0;
  top: -.25rem;
  left: 1.5rem;
  width: max-content;
  background-color: var(--portal-col-tooltip-background, var(--portal-col-bkg-active__deprecate, white));
  z-index: 10;
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  /* hide the description until the info icon is hovered */
  display: none;
}
.portal-view .portal-description:hover > p {
  display: block;
}

@media only screen and (max-width: 768px) {
  .portal-view .portal-description p {
    right: 100%;
    bottom: -1.5rem;
    top: unset;
    left: unset;
  }
}


/* Title & logo on smaller screens... */
@media only screen and (max-width: 768px) {

  .Portal.Editor #editor-header, .PortalView #portal-header-container .row {
    flex-direction: row;
  }

  .PortalView #portal-header-container .row .portal-logo {
    max-width: 2.8rem;
    margin: 0.5rem;
  }
  .PortalView #portal-header-container .portal-title {
    font-size: 1.5rem;
    flex: 1;
    margin: 0 0.5;
    white-space: unset;
  }
}

/* TODO */

.edit-portal-link-container {
  display: none;
}

/* portal section links ("tabs") */

#portal-section-tabs {
  justify-content: flex-end;
}

#portal-section-tabs .section-link-container {
  background: transparent;
  font-size: 0.85rem;
  font-weight: 400;
  flex-grow: unset;
}

.portal-view #portal-section-tabs .section-link-container.active {
  background: transparent;
  font-weight: 600;
}

.portal-view #portal-section-tabs .section-link-container .portal-section-link {
  background: transparent;
  color: var(--portal-col-text-nav);
}

.portal-view #portal-section-tabs .section-link-container.active .portal-section-link {
  color: var(--portal-col-text-nav-highlight, var(--portal-secondary-color));
  background: transparent;
}

#portal-section-tabs .section-link-container.active:hover, #portal-section-tabs .section-link-container:hover {
  background: transparent;
}

.portal-view #portal-section-tabs .section-link-container .portal-section-link:hover {
  background: transparent;
  color: var(--portal-col-text-nav-hover, var(--portal-secondary-color)) !important;
}

.portal-logos-view {
  margin: 0.2rem 0;
  border: none;
  grid-area: logos;
  padding: 3.5rem 0 3.5rem 0;
  margin: 0;
}

.portal-logos-view .img-logo {
  margin: 0;
  max-height: 5rem;
  min-height: 3rem;
}

.portal-logos-view .span12 {
  display: flex;
  align-content: center;
}

.portal-logos-view .row-fluid .span4 {
  width: auto;
}

.portal-view .logo-row {
  margin: 0;
  justify-content: space-around;
}

.logo-row a {
  margin: 0 auto;
}

footer {
  height: min-content;
}