<h2>Dates</h2>
<div class="row-fluid">
	<div class="span6">
		<h5>Begin</h5>
	</div>
	<div class="span6">
		<h5>End <span class="help-inline subtle">(leave blank if your data set is open-ended)</span></h5>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<div class="row-fluid">
			<div class="span6">
				<label class="control-label">Date</label>
				<div class="controls">
					<input type="date" class="span12 temporal-coverage" data-category="beginDate" value="<%=beginDate%>">
				</div>
			</div>
			<div class="span6">
				<label class="control-label">Time</label>
				<div class="controls">
					<input type="time" class="span12 temporal-coverage" data-category="beginTime" value="<%=beginTime%>">
				</div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="row-fluid">
			<div class="span6">
				<label class="control-label">Date</label>
				<div class="controls">
					<input type="date" class="span12 temporal-coverage" data-category="endDate" value="<%=endDate%>">
				</div>
			</div>
			<div class="span6">
				<label class="control-label">Time</label>
				<div class="controls">
					<input type="time" class="span12 temporal-coverage" data-category="endTime" value="<%=endTime%>">
				</div>
			</div>
		</div>
	</div>
</div>
