<h2>Dates</h2>
<div class="row-fluid dates-container">	
	<div class="span6">
		<h5>Begin</h5>
		 <div class="control-group">
		 	<div class="span6">
			    <label class="control-label" for="inputEmail">Date</label>
			    <div class="controls">
			      <input type="date" class="temporal-coverage" data-category="beginDate" value="<%=beginDate%>">
			    </div>
		 	</div>
		 	<div class="span6">
			    <label class="control-label" for="inputEmail">Time</label>
			    <div class="controls">
			      <input type="time" class="temporal-coverage" data-category="beginTime" value="<%=beginTime%>">
			    </div>
			</div>
		 </div>
  	</div>
	<div class="span6">
		<h5>End <span class="help-inline subtle">(leave blank if your data set is open-ended)</span></h5>
		 <div class="control-group">
		 	<div class="span6">
			    <label class="control-label" for="inputEmail">Date</label>
			    <div class="controls">
			      <input type="date" class="temporal-coverage" data-category="endDate" value="<%=endDate%>">
			    </div>
		 	</div>
		 	<div class="span6">
			    <label class="control-label" for="inputEmail">Time</label>
			    <div class="controls">
			      <input type="time" class="temporal-coverage" data-category="endTime" value="<%=endTime%>">
			    </div>
			</div>
		 </div>
	</div>
</div>
