<h4 class="title">
     <%=title%>
</h4>
<div>
    	
   	<div class="attribute-name basic-text-container" data-category="attributeName">
		<h5>Attribute Name <span class="required-icon">*</span></h5>
		<p class="subtle">The attribute name is the official name of the attribute.
		 It is usually found in the header of a data table.</p>
             <p class="notification"></p>
		<div class="text-container">
			<input type="text" data-category="attributeName" class="basic-text input" 
			placeholder="The name as it appears in the data" value="<%=attributeName%>" >
		</div>
	</div>
	
	<div class="attribute-label basic-text-container" data-category="attributeLabel">
		<h5>Attribute Label</h5>
		<p class="subtle">A descriptive label that is used to display
             the name of an attribute.</p>
             <p class="notification"></p>
		<div class="text-container">
			<input type="text" data-category="attributeLabel" class="basic-text input" 
			placeholder="A short, descriptive label" value="<%=attributeLabel[0]%>" >
		</div>
	</div>
	
	<div class="row-fluid">
		<h5>Definition</h5>
		<p class="subtle">Explain the contents of the attribute fully so
             that a data user could interpret the attribute accurately.</p>
             <p class="notification"></p>
		<div class="text-container">
			<textarea data-category="attributeDefinition" placeholder="Attribute definition" class="input"><%=attributeDefinition%></textarea>
		</div>
	</div>
	
	<div class="measurement-scale-container"></div>
    	
</div>