<div class="row-fluid">
	<h5>Category</h5>
	<label class="radio">
		  <input type="radio" name="measurementScale" data-category="measurementScale" 
		  value="nominal" class="category"
		  />
		  Unordered (statistically nominal) - unordered categories or text 
		  <span class="subtle"> e.g. male, female </span>
	</label>
	<label class="radio">
		  <input type="radio" name="measurementScale" data-category="measurementScale" 
		  value="ordinal" class="category" 
		  />
		  Ordered (statistically ordinal) - ordered categories
		  <span class="subtle"> e.g. low, high </span>
	</label>
	<label class="radio">
		  <input type="radio" name="measurementScale" data-category="measurementScale" 
		  value="interval" class="category" 
		  />
		  Relative (statistically interval) - Values from a scale with equidistant points
		  <span class="subtle"> e.g. 12.2 degrees Celsius </span>
	</label>
	<label class="radio">
		  <input type="radio" name="measurementScale" data-category="measurementScale" 
		  value="ratio" class="category" 
		  />
		  Absolute (statistically ratio) - Measurement scale with a meaningful zero point
		  <span class="subtle"> e.g. 273 Kelvin </span>
	</label>
	<label class="radio">
		  <input type="radio" name="measurementScale" data-category="measurementScale" 
		  value="datetime" class="category" 
		  />
		  Date-Time - Date or time values from the Gregorian calendar
		  <span class="subtle"> e.g. 2002-10-22 </span>
	</label>
</div>

<div class="row-fluid nominal-options options well hidden">
	<h5>Text Pattern Definition <span class="subtle">e.g. US telephone numbers in the format (999) 888-7777</span></h5>
	<div class="text-container">
		<input type="text" data-category="definition" class="basic-text input textDomain" 
		placeholder="The kinds of text patterns allowed for this attribute" value="" >
	</div>
</div>

<div class="row-fluid ordinal-options options well hidden">
	<h5>Text Pattern Definition <span class="subtle">e.g. US telephone numbers in the format (999) 888-7777</span></h5>
	<div class="text-container">
		<input type="text" data-category="definition" class="basic-text input textDomain" 
		placeholder="The kinds of text patterns allowed for this attribute" value="" >
	</div>
</div>

<div class="row-fluid interval-options options well hidden">
	<h5>Standard Unit</h5>
	<p class="subtle">The name of a standard unit used to make this measurement</p>
	<div class="units-container"></div>
</div>

<div class="row-fluid ratio-options options well hidden">
	<h5>Standard Unit</h5>
	<p class="subtle">The name of a standard unit used to make this measurement</p>
	<div class="units-container"></div>
</div>

<div class="row-fluid datetime-options options well hidden">
	<h5>Date-Time</h5>
</div>