<article class="row-fluid">
	<nav class="span2 metadata-toc side-nav">
	<ul class="side-nav-items">
		<li class="overview side-nav-item">
			<a href="#" data-section="overview" class="active">Overview</a>
		</li>
		<li class="people side-nav-item">
			<a href="#" data-section="people">People</a>
		</li>
		<li class="dates side-nav-item">
			<a href="#" data-section="dates">Dates</a>
		</li>
		<li class="locations side-nav-item">
			<a href="#" data-section="locations">Locations</a>
		</li>
		<li class="taxa side-nav-item">
			<a href="#" data-sections="taxa">Taxa</a>
		</li>
		<li class="methods side-nav-item">
			<a href="#" data-sections="methods">Methods</a>
		</li>
		<!-- <li class="project side-nav-item">
			<a href="#" data-section="project">Project</a>
		</li>
		<li class="sharing side-nav-item">
			<a href="#" data-section="sharing">Sharing</a>
		</li> -->
	</ul>
	</nav>
	<section class="span10 metadata-container edit">
		<section class="section overview">
		</section>
		
		<section class="section people">
		</section>
		
		<section class="section dates">
		</section>
		
		<section class="section locations">
		</section>
		
		<section class="section taxa">
		</section>
		
		<section class="section methods">
		</section>
		<!-- 
		<section class="section project">
		</section>
		
		<section class="section sharing">
		</section>
		 -->
	</section>
</article>
<div class="clear"></div>