<div class="modal hide fade"  id="copy-person-menu">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Copy this person to...</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
		<label class="checkbox" data-role="creator">
			<input type="checkbox"  name="creator" value="creator" />
			<span class=" text">Creators</span>
		</label>
		<label class="checkbox" data-role="contact">
			<input type="checkbox"  name="contact" value="contact" />
			<span class=" text">Contacts</span>
		</label>
		<label class="checkbox" data-role="metadataProvider">
			<input type="checkbox"  name="Metadata Provider" value="metadataProvider" />
			<span class=" text">Metadata Providers</span>
		</label>
		<label class="checkbox" data-role="publisher">
			<input type="checkbox"  name="publisher" value="publisher" />
			<span class=" text">Publisher</span>
		</label>
		<label class="checkbox" data-role="principalInvestigator">
			<input type="checkbox"  name="principal Investigator" value="principalInvestigator" />
			<span class=" text">Principal Investigators</span>
		</label>
		<label class="checkbox" data-role="collaboratingPrincipalInvestigator">
			<input type="checkbox"  name="collaborating principal Investigator" value="collaboratingPrincipalInvestigator" />
			<span class=" text">Collaborating Principal Investigators</span>
		</label>
		<label class="checkbox" data-role="coPrincipalInvestigator">
			<input type="checkbox"  name="co principal Investigator" value="coPrincipalInvestigator" />
			<span class=" text">Co-Principal Investigators</span>
		</label>
		<label class="checkbox" data-role="custodianSteward">
			<input type="checkbox"  name="custodian/steward" value="custodianSteward" />
			<span class=" text">Custodians/Stewards</span>
		</label>
		<label class="checkbox" data-role="user">
			<input type="checkbox"  name="User" value="user" />
			<span class=" text">Users</span>
		</label>
	</div>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Cancel</a>
    <a class="btn btn-primary" id="copy-party-save" data-dismiss="modal">OK</a>
  </div>
</div>