<div class="span4">
	<div class="row-fluid">
		<input type="text" value="<%=givenName%>" class="span6 tooltip-this" data-attribute="givenName" placeholder="First name" />
		<input type="text" value="<%=surName%>" class="span6 tooltip-this" data-attribute="surName" placeholder="Last name"/>
	</div>
	<div class="row-fluid">
		<input type="text" value="<%=orgName%>" class="span12 tooltip-this" data-attribute="organizationName" placeholder="Organization name"/>
	</div>
	<div class="row-fluid">
		<input type="text" value="<%=posName%>" class="span12 tooltip-this" data-attribute="positionName" placeholder="Position name" />
	</div>
</div>
<div class="span4">
	<div class="row-fluid">
		<input type="email" value="<%=email%>" class="span12 tooltip-this" data-attribute="email" placeholder="Email" />
	</div>
	<div class="row-fluid">
		<input type="url" value="<%=website%>" class="span12 tooltip-this" data-attribute="onlineUrl" placeholder="Website" />
	</div>
	<div class="row-fluid">
		<input type="tel" value="<%=phone%>" class="span12 tooltip-this" data-attribute="phone" placeholder="Phone" />
	</div>
	<div class="row-fluid">
		<input type="tel" value="<%=fax%>" class="span12 tooltip-this" data-attribute="fax" placeholder="Fax" />
	</div>
</div>
<div class="span4">
	<div class="row-fluid">
		<input type="text" value="<%=addressOne%>" class="span12 tooltip-this" data-attribute="deliveryPoint" placeholder="Street address" />
	</div>
	<div class="row-fluid">
		<input type="text" value="<%=addressTwo%>" class="span12 tooltip-this" data-attribute="deliveryPoint" placeholder="Address line 2" />
	</div>
	<div class="row-fluid">
		<input type="text" value="<%=city%>" class="span6 tooltip-this" data-attribute="city" placeholder="City" />
		<input type="text" value="<%=adminArea%>" class="span6 tooltip-this" data-attribute="administrativeArea" placeholder="State or province" />
	</div>
	<div class="row-fluid">
		<input type="text" value="<%=postalCode%>" class="span6 tooltip-this" data-attribute="postalCode" placeholder="Postal code" />
		<input type="text" value="<%=country%>" class="span6 tooltip-this" data-attribute="country" placeholder="Country" />
	</div>
</div>