<h2>Overview</h2>
<div class="abstract">
	<h5>Abstract</h5>
</div>

<div class="keywords">
	<div class="row-fluid">
		<h5 class="span10">Keywords</h5>
		<h5 class="span2">Keyword Thesaurus</h5>
	</div>
</div>

<div class="altids">
	<h5>Alternate Identifiers</h5>
</div>

<div class="usage">
	<h5>Usage Rights</h5>
	<div class="row-fluid">
		<label class="checkbox tooltip-this"
			data-placement="top" data-trigger="hover"
			data-title="By dedicating this work to the public domain, you waive your interest in your work and place the work as completely as possible in the public domain so others may freely use the work without restriction under copyright or database law. Attribution for your work is still expected according to norms in your research field.">
			<input type="radio" value="Public Domain (CC-0)" />
			<span class="span6 text">Creative Commons Public Domain</span>
			<a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank"><img src="img/cc-zero.png" /></a>
		</label>
		<label class="checkbox tooltip-this"
			data-placement="top" data-trigger="hover"
			data-title="By licensing this work, you let others copy, distribute, display, and perform your copyrighted work, and derivative works based upon it, but only if they give you appropriate credit.">
			<input type="radio" value="Attribution (CC-BY)" />
			<span class="span6 text">Creative Commons Attribution</span>
			<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank"><img src="img/cc-by.png" /></a>
		</label>
	</div>
</div>

<div>
	<h5>Funding</h5>
	<p class="subtle">Enter an award number or search for an NSF award by keyword.</p>
	<div class="funding"></div>
</div>
