<table class="table table-striped root-taxonomic-classification">
    <thead>
        <tr>
            <th>
            	Rank <i class="required-icon hidden" data-category="taxonCoverage"></i>
            	<p class="subtle">The level in the taxonomic hierarchy</p>
            </th>
            <th>
            	Value <i class="required-icon hidden" data-category="taxonCoverage"></i>
            	<p class="subtle">The scientific name for this rank</p>
            </th>
        </tr>
    </thead>
</table>