/* Tablets and large screens ----------- */
@media only screen and (min-width : 768px){
	#Navbar {
      position: absolute;
      top: 0px;
      left: 50%;
      margin: 0px 0px 0px -380px;
      z-index: 1;
      float: none;
    }

    #Header {
	    height: 95px;
	    background-color: transparent;
	    background-image: none;
	    overflow: hidden;
	    opacity: 1.0;
  	}
}

/* Smartphones (Smaller screens) ----------- */
@media only screen and (max-width : 970px) {
/************** Footer ****************/
	#Content{
		padding-bottom: 785px; /* Keeps footer down */
		margin-top: 0px;
	}

	footer#Footer {
		height: 785px;
	}

	/* footer div.help-items, */
	footer #FooterContent {
    justify-content: center;
	}

	footer#Footer .logos{
		margin-top: 20px;
    min-width: 100%;
    order: 1;
		flex-wrap: wrap;
	}
	footer#Footer .logos,
	footer#Footer .help-items{
		margin: 20px 10px;
	}

	footer .logos .logo{
		margin-bottom: 0px;
		margin-top: 0px;
	}

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
	/************** General Structure ****************/
	#Header{
		display: none;
	}
	#Navbar .navbar-inner{
		border-bottom: 2px solid #992222;
	}

}
