:root {
  /* COLOURS */
  /* grey 900 */
  --portal-col-bkg: #111827;
  /* grey 600 */
  --portal-col-bkg-active: #374151;
  /* grey 700 */
  --portal-col-buttons: #4B5563F2;
  /* grey 400 */
  --portal-col-text-subtle: #9CA3AF;
  /* grey 50 */
  --portal-col-text: #F9FAFB;
  /* teal */
  --portal-col-highlight: #269fb9;
  /* SHADOWS */
  --map-shadow-md: 0 1px 9px -1px rgba(0, 0, 0, 0.2), 0 1px 2px 0px rgba(0, 0, 0, 0.5);
}

body, .portal-view, .Portal #Content, .PortalView #Content {
  color: var(--portal-col-text);
  background-color: var(--portal-col-bkg);
}

.portal-view, .portal-view .portal-section-content, .portal-view h2, .portal-view h3, .portal-view h4, .portal-view h5, .portal-view h6 {
  color: var(--portal-col-text);
}

.portal-view h2 {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.01em;
  margin: 1.2rem 0 1.4rem;
  line-height: 1.2;
}

.portal-display-image .portal-display-text, .portal-editor .portal-display-text {
  background-color: rgb(19 27 44 / 78%);
}

.Portal.Editor #Navbar, .PortalView #Navbar, .Portal.Editor .navbar-inner, .PortalView .navbar-inner, .Portal .d1_nav, .PortalView .d1_nav {
  color: var(--portal-col-text);
  background-color: var(--portal-col-bkg-active);
}

.navbar-inner .nav>li>a, #nav-trigger, .header .nav li a, .Portal.Editor #Navbar .brand::before, .PortalView #Navbar .brand::before {
  color: var(--portal-col-text);
}

.navbar-inner .nav>li>a:hover {
  color: var(--portal-col-highlight)
}

#Navbar .nav .dropdown-toggle .caret {
  border-top-color: var(--portal-col-text);
}

.Portal.Editor #Navbar #logo::after, .PortalView #Navbar #logo::after {
  color: var(--portal-col-text-subtle);
}

/* sign in button */
.header .nav li a.btn.login {
  border-color: transparent;
  color: var(--portal-col-text-subtle);
}
.header .nav li a.btn.login > .icon {
  opacity: 0.7;
}

footer, #Footer {
  color: var(--portal-col-text);
  background-color: var(--portal-col-bkg);
  border: none;
}

footer .footnote, footer .adc-contact .contact-title {
  color: var(--portal-col-text);
  opacity: 0.7;
}

a {
  color: var(--portal-col-highlight)
}

.thumbnail {
  border: none;
  padding: 0;
  margin: 1rem 0;
}

.table-hover tbody tr:hover>td, .table-hover tbody tr:hover>th {
  background-color: var(--portal-col-bkg-active);
}

.table td, .table th {
  border-color: var(--portal-col-bkg-active);
}

.portal-section-content thead tr {
  background-color: var(--portal-primary-color-transparent);
  color: var(--portal-col-text)
}

.portal-section-content thead th {
  background-color: var(--portal-primary-color-transparent);
  color: var(--portal-col-text)
}

/* Table of contents in portal markdown section */

.portal-editor .toc-ul, .portal-view .toc-ul {
  background-color: var(--portal-col-bkg-active);
  border-radius: 0.5rem;
  opacity: 0.85;
  margin-left: 0.8rem;
  margin-right: 1rem;
  box-shadow: 0px 1px 15px -1px rgba(32, 23, 23, 0.9);
}

.portal-view .toc li.active>a, .portal-editor .toc li.active>a, .portal-view .toc-ul li>a:hover, .portal-editor .toc-ul li>a:hover {
  border-radius: 0.5rem;
  box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.5);
}