:root {
  /* COLOURS */
  --portal-blue-1: #ECF8FC;
  --portal-blue-2: #CCF0FC;
  --portal-blue-3: #99E1FA;
  --portal-blue-4: #14c8ff;
  --portal-blue-5: #00A9E4;
  --portal-blue-6: #0087B5;
  --portal-blue-7: #136682;

  --portal-grey-1: #F8F9FA;
  --portal-grey-2: #F1F3F4;
  --portal-grey-3: #E8EAED;
  --portal-grey-4: #BDC1C6;
  --portal-grey-5: #80868B;
  --portal-grey-6: #5F6368;
  --portal-grey-7: #3C4043;
  --portal-grey-8: #202124;

  --portal-col-buttons-bkg: white;
  --portal-col-buttons-bkg-hover: var(--portal-blue-2);
  --portal-col-buttons-bkg-highlight: var(--portal-blue-5);
  --portal-col-buttons-bkg-muted: var(--portal-grey-1);
  --portal-col-buttons-bkg-white-content-contrast: var(--portal-grey-5);
  --portal-col-buttons-text: var(--portal-blue-6);
  --portal-col-buttons-text-highlight: white;
  --portal-col-buttons-icon: var(--portal-blue-6);
  --portal-col-buttons-icon-highlight: var(--portal-blue-2);
  --portal-col-buttons-icon-muted: var(--portal-grey-6);
  --portal-col-utility-buttons: var(--portal-grey-6);

  --portal-col-bkg: #111827;
  --portal-col-bkg-lighter: #1F2937;
  --portal-col-bkg-active: #374151;
  --portal-col-buttons: #4B5563F2;
  --portal-col-text-subtle: #9CA3AF;
  --portal-col-text: #F9FAFB;
  --portal-col-highlight: #269fb9;
  --portal-col-highlight-subtle: #0c4e66;

  --portal-col-text-body: var(--portal-grey-3);
  --portal-col-text-highlight: var(--portal-blue-4);
  --portal-col-text-title: var(--portal-blue-6);
  --portal-col-text-label: var(--portal-grey-4);
  --portal-col-text-detail: var(--portal-grey-5);
  --portal-col-text-muted: var(--portal-grey-3);

  /* SHADOWS */
  --map-shadow-md: 0 1px 9px -1px rgba(0, 0, 0, 0.2), 0 1px 2px 0px rgba(0, 0, 0, 0.5);
  /* Colors used in the 'loading-metrics.html' template, on Metrics page */
  --m-chart-bkg: var(--portal-col-bkg-lighter);
  --m-chart-lines: var(--portal-col-bkg-active);
  --m-chart-bubble-bkg: var(--portal-col-highlight-subtle);
}

.subtle {
  color: var(--portal-col-text-subtle);
}

.portal-view, .Portal #Content, .PortalView #Content {
  color: var(--portal-col-text);
  background-color: var(--portal-col-bkg-lighter);
}

body, #portal-sections {
  background-color: var(--portal-col-bkg);
}

#portal-sections{
  box-shadow: inset 0 7px 9px -7px rgb(0 0 0 / 40%);
}

.portal-view, .portal-view .portal-section-content, .portal-view h2, .portal-view h3, .portal-view h4, .portal-view h5, .portal-view h6 {
  color: var(--portal-col-text);
}

.portal-view h2 {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.01em;
  margin: 1.2rem 0 1.4rem;
  line-height: 1.2;
}

.portal-display-image .portal-display-text, .portal-editor .portal-display-text, .portal-section .portal-display-text {
  background-color: rgb(28 39 64 / 82%);
}

.Portal.Editor #Navbar, .PortalView #Navbar, .Portal.Editor .navbar-inner, .PortalView .navbar-inner, .Portal .d1_nav, .PortalView .d1_nav {
  color: var(--portal-col-text);
  background-color: var(--portal-col-bkg-active);
}

.navbar-inner .nav>li>a, #nav-trigger, .header .nav li a, .Portal.Editor #Navbar .brand::before, .PortalView #Navbar .brand::before {
  color: var(--portal-col-text);
}

.navbar-inner .nav>li>a:hover {
  color: var(--portal-col-highlight)
}

#Navbar .nav .dropdown-toggle .caret {
  border-top-color: var(--portal-col-text);
}

.Portal.Editor #Navbar #logo::after, .PortalView #Navbar #logo::after {
  color: var(--portal-col-text-subtle);
}

.portal-view .portal-description {
  color: var(--portal-col-text)
}

/* sign in button */

.header .nav li a.btn.login {
  border-color: transparent;
  color: var(--portal-col-text-subtle);
}

.header .nav li a.btn.login>.icon {
  opacity: 0.7;
}

.navbar .login-container .login.btn {
  color: var(--portal-col-text-subtle);
}

footer, #Footer {
  color: var(--portal-col-text);
  background-color: var(--portal-col-bkg);
  border: none;
}

footer .footnote, footer .adc-contact .contact-title {
  color: var(--portal-col-text);
  opacity: 0.7;
}

a {
  color: var(--portal-col-highlight)
}

.thumbnail {
  border: none;
  padding: 0;
  margin: 1rem 0;
}

.table-hover tbody tr:hover>td, .table-hover tbody tr:hover>th {
  background-color: var(--portal-col-bkg-active);
}

.table td, .table th {
  border-color: var(--portal-col-bkg-active);
}

.portal-section-content thead tr {
  background-color: var(--portal-primary-color-transparent);
  color: var(--portal-col-text)
}

.portal-section-content thead th {
  background-color: var(--portal-primary-color-transparent);
  color: var(--portal-col-text)
}

/* Table of contents in portal markdown section */

.portal-editor .toc-ul, .portal-view .toc-ul {
  background-color: var(--portal-col-bkg-active);
  border-radius: 0.5rem;
  opacity: 0.85;
  margin-left: 0.8rem;
  margin-right: 1rem;
  box-shadow: 0px 1px 15px -1px rgba(32, 23, 23, 0.9);
}

.portal-view .toc li.active>a, .portal-editor .toc li.active>a, .portal-view .toc-ul li>a:hover, .portal-editor .toc-ul li>a:hover {
  border-radius: 0.5rem;
  box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.5);
}

/* Metrics page */

.stripe, .profile .charts-container {
  background-color: transparent;
}

.profile .charts-container .stripe:nth-child(even) {
  background-image: none;
}

.profile .stripe {
  border-top: 1px solid var(--portal-col-bkg-active);
}

/* info alerts in the portal */

.alert-info {
  background-color: var(--portal-col-highlight-subtle);
  border-color: var(--portal-col-highlight-subtle);
  text-shadow: none;
}

/* SVG charts */

.donut-title-text, svg .title, svg .tick text, .donut-arc-count, .portal-view .donut-title-count.data, .portal-view .donut-title-count.metadata, .portal-view .donut-title-text, .portal-view .donut-title-text {
  color: var(--portal-col-text-subtle);
  fill: var(--portal-col-text-subtle);
}

.tick line {
  stroke: var(--portal-col-bkg-lighter);
}

#metric-modal .metric-chart rect.no-data, .views-metrics .metric-chart rect.no-data, .downloads-metrics .metric-chart rect.no-data {
  fill: var(--portal-col-bkg-lighter);
}

#metric-modal .metric-chart text.no-data, .views-metrics .metric-chart text.no-data, .downloads-metrics .metric-chart text.no-data {
  fill: var(--portal-col-text);
}

.empty-citation-list {
  background-color: var(--portal-col-bkg-lighter);
}

.no-activity h3, .no-activity h4, .no-activity h5, .no-activity h6, .no-activity p, .no-activity .summary-container p, .no-activity a, .no-activity .message, .no-activity svg .title, .no-activity svg .bar-label, .profile .no-activity .packages p {
  color: var(--portal-col-text-subtle);
  stroke: var(--portal-col-text-subtle);
  fill: var(--portal-col-text-subtle);
}

.donut.no-activity>g .donut-arc, .donut.data.no-activity>g .donut-arc, .donut.metadata.no-activity>g .donut-arc, .donut.no-activity .donut-title-count, .donut.no-activity .donut-title-text {
  fill: var(--portal-col-buttons)
}

#metric-modal .metric-chart rect.pane, .views-metrics .metric-chart rect.pane, .downloads-metrics .metric-chart rect.pane {
  fill: var(--portal-col-bkg-lighter);
}

.portal-view #metric-modal .metric-chart .bar, .portal-view .views-metrics .metric-chart .bar, .portal-view .downloads-metrics .metric-chart .bar, .portal-view #metric-modal .metric-chart .scale_button:hover rect, .portal-view #metric-modal .metric-chart .bar, .portal-view #metric-modal .metric-chart .bar_context, .portal-view .views-metrics .metric-chart .scale_button:hover rect, .portal-view .views-metrics .metric-chart .bar, .portal-view .views-metrics .metric-chart .bar_context, .portal-view .downloads-metrics .metric-chart .scale_button:hover rect, .portal-view .downloads-metrics .metric-chart .bar, .portal-view .downloads-metrics .metric-chart .bar_context {
  filter: brightness(1.2);
}

#metric-modal .metric-chart text, .views-metrics .metric-chart text, .downloads-metrics .metric-chart text {
  fill: var(--portal-col-text-subtle)
}

#metric-modal .metric-chart .y.axis line, .views-metrics .metric-chart .y.axis line, .downloads-metrics .metric-chart .y.axis line {
  fill: var(--portal-col-text-subtle)
}

#metric-modal .metric-chart .scale_button rect, .views-metrics .metric-chart .scale_button rect, .downloads-metrics .metric-chart .scale_button rect {
  fill: var(--portal-col-bkg-active)
}

/* members page */

.portal-view #Members .row-fluid:nth-child(odd) {
  background-color: var(--portal-col-bkg-lighter)
}

/* data page */

#results-view {
  background-color: var(--portal-col-bkg);
}

.result-row:nth-child(odd) {
  background-color: var(--portal-col-bkg-lighter);
}

.result-row {
  border-top: 1px solid var(--portal-col-bkg-active);
}

.pagination ul>li>a, .pagination ul>li>span {
  border: 1px solid var(--portal-col-bkg-active);
  background-color: var(--portal-col-bkg);
}

select, .uneditable-input, input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=tel], input[type=color], input[type=search], textarea {
  border: 1px solid var(--portal-col-bkg-active);
  background-color: var(--portal-col-bkg-lighter);
  color: var(--portal-col-text)
}

.filter-groups .filter .btn:not(.btn-filter-editor) {
  border-color: var(--portal-col-bkg-active);
  color: var(--portal-col-text-subtle);
  background-color: var(--portal-col-bkg-active);
}

.filter-group-link a, .nav-tabs .filter-group-link a, .nav-tabs .filter-group-link.active a {
  background-color: var(--portal-col-bkg);
}

.nav-tabs .filter-group-link.active a {
  background-color: var(--portal-col-bkg-lighter);
}

.nav-tabs .filter-group-link a:hover, .filter-group-link a, .nav-tabs .filter-group-link a, .nav-tabs .filter-group-link.active a {
  border-color: var(--portal-col-bkg-lighter);
}

.filter-group-link, .nav>li>a:focus, .nav>li>a:hover {
  background-color: var(--portal-col-bkg-lighter);
}

.filter-group-links, .nav-tabs {
  border-color: var(--portal-col-bkg-lighter);
}

.well {
  color: var(--portal-col-text-subtle);
}

.catalog-metrics .badge {
  background-color: var(--portal-col-bkg-active);
  color: var(--portal-col-text-subtle)
}

/* Various elements in the portal view that need to be a little bit lighter */

.portal-section-view a, .portal-view .quick-stats-count {
  filter: brightness(1.25);
}

.donut {
  filter: brightness(1.2);
}

.Portal.Editor #Navbar .brand, .PortalView #Navbar .brand {
  filter: brightness(1.6);
}

.citations-metrics-list > .metric-table.table.table-striped.table-condensed td {
  background-color: var(--portal-col-bkg)
}

/* nav in dataone theme */

.PortalView .d1_nav__minimal-nav .d1_menu-item__top-item-name, .Portal .d1_nav__minimal-nav .d1_menu-item__top-item-name, .PortalView .d1_menu-item__icon, .Portal .d1_menu-item__icon, .PortalView .d1_menu-item__dropdown-icon, .Portal .d1_menu-item__dropdown-icon {
  filter: brightness(1.6);
}

/* loading */
.notification.loading p, .notification.loading .icon, .stripe .notification.loading i {
  color: var(--portal-col-text-subtle)
}

/* data page search results */

#results-container {
  background-color: var(--portal-col-bkg);
}
.map-toggle-container {
  background-color: var(--portal-col-bkg-lighter);
}