/* Tablets and large screens ----------- */
@media only screen and (min-width : 768px){
    
    #Header {
	    overflow: hidden;
	    opacity: 0.8;   
  	}
  	
  	.mapMode #Header{
  		opacity: 1;
  	}
  	
  	#Content{
  		max-width: 1024px;
  	}
  	.DataCatalog #Content{
  		max-width: 100%;
  	}
  	footer .logos{
	    width: 570px;
	    margin-left: auto;
	    margin-right: auto;
  	}
  	
  	/*Dropdown menus - only appear on non-mobile*/
	.nav .dropdown-toggle .caret{
		margin-top: 14px;
		border-top-color: #1F254F;
	}
  	.nav .dropdown-menu{
  	    box-shadow: none;
   		border: 0px;
    	background-color: transparent;
  	}  	
  	.nav .dropdown-menu li{
  		width: 100%;
    	display: block;
    	float: none;
    }
  	.nav .dropdown-menu li a{
  		background-color: #1F254F;
  		color: #FFF;
  		font-weight: lighter;
  		font-family: "AllerLight";
  		font-size: 1em;
  		border-bottom: 1px solid #CCC;
    	text-align: left;
    	padding: .75em;
  	}
  	.nav .dropdown-menu li a:hover,
  	.nav .dropdown-menu li a:focus{
  		background-color: #19B36A;
  		background-image: none;	
  		color: #FFF;
  	}
  	.nav .dropdown-menu li:first-child a{
  		border-top-left-radius: 4px;
		-moz-border-top-left-radius: 4px;
		-webkit-border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		-moz-border-top-right-radius: 4px;
		-webkit-border-top-right-radius: 4px;
  	}
  	.nav .dropdown-menu li:last-child a{
		border-bottom-left-radius: 4px;
		-moz-border-bottom-left-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		-moz-border-bottom-right-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		
		border-bottom: 0px;
  	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
	/************** General Structure ****************/
	#Header{
		display: none;
	}
	#Navbar .navbar-inner{
		border-bottom: 2px solid #992222;
	}
	#Content{
		padding-bottom: 785px; /* Keeps footer down */
		margin-top: 0px;
	}
	
	/************** Footer ****************/
	#Footer{
		height: 775px; /* Keeps footer down */
	}
	footer div.help-items,
	footer .logos{
		width: 100%;
		min-width: 100%;
		margin-top: 20px;
	}
	footer .logos .logo{
		margin-bottom: 0px;
		margin-top: 0px;
	}
}

@media only screen and (max-width : 768px){ 	
  	footer .show-in-map-mode a {
  		margin-left: 25%;
  	}
  	
  	 #nav-trigger{
  		display: block;
  	}
  	
  	/* Take nav out of mobile-style */
	nav{
		float: right;
		width: auto;
		display: block;
	}
	.nav li a{
		text-align: left;
	}
}