

#loading-app{
	display: none;
}
#branding > div.col.span_8{
	width: 56%;
}
#branding{
	width: 100%;
}
#top{
	overflow: hidden;
}

#navbar{
	list-style: none;
}

#navbar li{
	width: auto;
	display: inline-block;
	padding: 7px;
	background-color: #0062CC;
}
#navbar li a{
	color: #FFF;
}

#Footer{
	max-width: 800px;
	margin: 100px auto 0px auto;
}

#Footer ul.menu li{
	text-align: left;
}

#Footer .menu li{
	width: 108px;
}

#Footer .block-menu-block h2{
	font-weight: bold;
}
#Footer .last.block .footer > *{
	float:left;
}
#Footer .last.block .footer > p{
	width: 375px;
}
#Footer .last.block .footer > p > a{
	margin-left: 20px;
}
input[type="text"],
input[type="password"]{
	height: 30px;
}

/* Portal editor
-------------------------------------------------- */

/* Theme specific colours for the add section 'button' images */

.port-editor-section svg .theme-primary-fill{
	fill: #166194
}
.port-editor-section svg .theme-secondary-fill{
	fill: #67b8e5
}
.port-editor-section svg .theme-accent-fill{
	fill: #f8e276
},

/* OTHER NAVIGATION
-------------------------------------------------- */
.breadcrumb > .search{ /*Hide the "Search" breadcrumb link and its divider */
	display: none;
}

/* METADATA VIEW SERVICE */
	.metadata-index {
		padding: 2%;
		width: 96%;
	}

	.controls-well img{
		max-width: 90%;
		max-height: 900px;
		margin: 0 auto;
		display: block;
	}

	th.id,
	td.id{
		overflow-wrap: break-word;
	}
	td.format-type{
		text-transform: lowercase;
	}

	.fancybox.btn{
		margin-left: 180px;
	}


/* FORM/INPUT CUSTOMIZATIONS
-------------------------------------------------- */
	.depth {
  display: block;
  border: 1px solid silver;
  background: linear-gradient(#eee, #fff);
  transition: all 0.3s ease-out;
  padding: 5px;
  color: #555;
}

.depth:focus {
  outline: none;
  background-position: 0 -1.7em;
}

.controls-well {
	    padding: 4px;
	    backgorund-color: #FFFFFF; /*IE 8 fallback */
	    background: rgba(255, 255, 255, 0.3);
	}
	.control-label {
		cursor: default;
	}

	select{
    	width: auto;
    	font-size: 14px;
    	line-height: 14px;
    }

/* SHARE/UPLOAD, AND LOGIN FEATURES
* Choose to hide these features
* -----------------------------------------------------*/
.share-feature{
	/* display: none; */
}
#ldap-login .control-group select {
    min-width: 220px;
}

/* EDITOR
* --------------------------------------------------- */
.data-package-item.message-row button {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}


/* NOTIFICATION AREA CSS
 * -------------------------------------------------- */
  /*.notification {
    position: relative;
    margin: 50px auto;
    font-size: 40px;
  }*/

  .notification i{
  	font-size: 40px;
  	margin-left: 43%;
  }

  .notification p{
  	font-size: 20px;
  	width: 350px;
  	margin: 20px auto;
  	display: block;
  }
    .filter-contain .notification i{
  	color: #999;
  	font-size: .5em;
  }
  .filter-contain .notification p{
		font-size: .3em;
		line-height: 3em;
		text-align: center;
		width: auto;
		color: #999;
		margin: 0;
  }

  .root-taxonomic-classification-container .notification{
  	padding-left: 68px;
  	position: absolute;
  	margin-top: -26px;
  }

  /*Filter checkboxes */
      .filter-contain .checkbox-list{
    	margin-left: 36px;
    }
    ul.checkbox-list{
    	list-style: none;
    }
    .checkbox-list > li > input{
    	float: left;
    	margin-right: 10px;
    }
    .checkbox-list > li > input{
    	float: left;
    }
    .checkbox-list label{
    	font-size: .9em;
    }
    .checkbox-list .more-link{
  		font-weight: normal;
  		font-size: .9em;
  	}


/* Registry CSS
-------------------------------------------------- */


    label.inline {
    	width: 40%;
    }

    /* Larger modal for guide content */
    .modal.large {
    	width: 80%;
    	margin-left: -40%;
    }

	/* Inherit for these registry labels */
	.label {
	  display: inherit;
	  padding: inherit;
	  font: inherit;
	  line-height: inherit;
	  color: inherit;
	  white-space: inherit;
	  vertical-align: inherit;
	  background-color: inherit;
	  -webkit-border-radius: inherit;
	     -moz-border-radius: inherit;
	          border-radius: inherit;
	}

/* Combobox styles, overlay text input on select
<!-- example here -->
<div class="select-editable">
  <select onchange="this.nextElementSibling.value=this.value">
    <option value=""></option>
    <option value="sample">sample</option>
  </select>
  <input type="text" name="keyword" value=""/>
</div>
-------------------------------------------------- */
	.select-editable {
		position: relative;
		height: 45px;
	}
	.select-editable select {
		position:absolute;
		top: 0px;
		left: 0px;
		width: 220px;
		height: 29px;
	}
	.select-editable input {
		position:absolute;
		top: 0px;
		left: 0px;
		width: 193px;
		padding: 1px;
		padding-left: 5px;
		height: 25px;
	}
	.select-editable select:focus,
	.select-editable input:focus {
		outline:none;
	}

	.minimize > i,
	.result-header-count .minimize{
		display: none;
	}

	.mapMode .minimize > i{
		display: block;
    	font-size: 20px;
    	margin-top: 5px;
    	float: right;
    }

    .mapMode .minimize{
    	display: block;
    }

    .mapMode .minimize > i.icon-check-minus{
    	font-size: 17px;
    }

    .mapMode #sidebar .minimize > i{
    	float: right;
    	margin-right: 10px;
    }

    .mapMode #content .minimize{
    	position: fixed;
    	right: 25px;
    	z-index: 1;
    }

     .mapMode #sidebar.collapsed .minimize > i.minimize,
     .mapMode #sidebar .minimize > i.maximize,
     .mapMode #content.collapsed .minimize > i.minimize,
     .mapMode #content .minimize > i.maximize{
    	display: none;
    }

     .mapMode #sidebar.collapsed .minimize > i.maximize,
     .mapMode #sidebar .minimize > i.minimize,
     .mapMode #content.collapsed .minimize > i.maximize,
     .mapMode #content .minimize > i.minimize{
    	display: block;
    }


	.accordion-heading .accordion-toggle{
		display: inline;
	}

	#collapseSpatial table input[type="TEXT"]{
		width: 140px;
	}






/*-------------- DOCUMENTATION CSS -----------------------------*/
/* ---------------------------------------------------- */

/* BANNER/HEADER CSS
---------------------------------------------------- */
#metacatDocs > .banner{
	width: 100%;
	height: 100px;
	background-color: #000000; /*IE 8 fallback */
	background: rgba(0,0,0, 0.7);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#metacatDocs > .banner > img{
	float: left;
	width: auto;
	margin: 20px 10px;
	max-height: 100%;
	height: 60px;
}

#metacatDocs > .banner > .title{
	font-size: 18px;
	color: #FFFFFF;
	float: left;
	margin: 38px 10px;
}

/* RELATED/NAVIGATION CSS
---------------------------------------------------- */
#metacatDocs > .related{
	width: 100%;
	position: relative;
	top: -80px;
	left: -20px;
}

#metacatDocs .related > h3{
	display: none;
}

 #metacatDocs .related > ul {
	list-style: none;
	float: right;
}

#metacatDocs .related > ul > li.right > a{
	color: #FFFFFF;
	font-size: 30px;
	text-decoration: none;
	text-transform: uppercase;
}

#metacatDocs .related > ul > li.right{
	margin-right: 20px;
	float:left;
}


#metacatDocs .related > ul > li > a:hover,
#metacatDocs .related > ul > li > a:focus{
      color: #FFFFFF;
      text-decoration: none;
      opacity: 0.7;
}

#metacatDocs .related > ul input[type="submit"]{	/*"Go" button on navigation search bar */
	position: relative;
	left: -10px;
	top: -3px;
	height: 33px;
	border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-left: 1px solid #CCCCCC;
	font-size: 16px;
}

#metacatDocs .related > ul input[type="submit"]:hover{	/*"Go" button on navigation search bar */
	background-color: #1C6E84;
	color: #FFFFFF;
	cursor: pointer;
}

#metacatDocs .related > ul > li > span#searchbox{
	display: block;
	margin-right: 0px;
}

#metacatDocs .related > ul > li > span#searchbox > form{
	display: inline;
	vertical-align: top;
}


#metacatDocs .related .breadcrumb{
	float: left;
	clear: none;
	background: none;
}

#metacatDocs .related .breadcrumb,
#metacatDocs .related .breadcrumb > a{
	color: #FFFFFF;
}

#metacatDocs .related .breadcrumb.first{
	clear: left;
}

#metacatDocs .footerNav > .related li.right{


}

#metacatDocs .footerNav > .related li.breadcrumb:last-child{
	margin-right: 20px;
}





/* DOCUMENT / MAIN CONTENT AREA
------------------------------------------------------*/
#metacatDocs > .document{
	margin: 20px auto;
	padding: 20px 2%;
	width: 96%;
}

/* Permalink icons */
#metacatDocs > .document .headerlink{
	display: none;
	margin-left: 10px;
}

#metacatDocs > .document h1:hover > .headerlink,
#metacatDocs > .document h2:hover > .headerlink,
#metacatDocs > .document h3:hover > .headerlink{
	display: inline;
	color: #1C6E84;
}


/* SIDEBAR
---------------------------------------------------- */
#metacatDocs .sidebar{
	float: right;
	margin: 20px 0px 30px 20px;
	background-color: #FFFFFF; /*IE 8 fallback */
	background: rgba(255,255,255, 0.5);
	border-radius: 20px;
	padding: 20px;
	max-width:60%;
}

#metacatDocs .sidebar .sidebar-title{
	font-size: 24px;
	margin-top: 0;
}

#metacatDocs .sidebar img{
	margin: 0;
}

/* FOOTER
---------------------------------------------------- */
#metacatDocs > .footer{
	color: #fdfdfd;
	bottom: 0;
	width: 96%;
	margin: 50px auto 0 auto;
	background-color: #FFFFFF; /*IE 8 fallback */
	background: rgba(0,0,0, 0.7);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;

}

#metacatDocs > .footer > .small-print{
	width: 550px;
	display: block;
	float: none;
	clear: both;
	margin: 20px auto 0 auto;
	color: #CCCCCC;
	font-size: 14px;
}

#metacatDocs > .footer > .footerNav{
	width: 100%;
	display: block;
	height: 40px;
	margin-bottom: 10px;
}


/* TABLES
 -----------------------------------------------*/
 #metacatDocs table,
 #metacatDocs tr,
 #metacatDocs th,
 #metacatDocs td,
 #metacatDocs thead,
 #metacatDocs tbody{
    	border: 0px;
    	border-collapse: collapse;
    	padding: 8px;
    }

#metacatDocs table{
		background-color: #FFFFFF; /*IE 8 fallback */
    	background: rgba(255,255,255, 0.8);
    	margin: 40px auto;

    }

#metacatDocs thead,
#metacatDocs th{
    	background-color: #555555;
    	color: #FFFFFF;
    	font-size: 16px;
    	line-height: 20px;
    }

#metacatDocs td{
    	font-size: 16px;
    	line-height: 20px;
    }

#metacatDocs tr.row-odd{
		background-color: #BAD6E6; /*IE8 fallback*/
    	background: rgba(103, 184, 229, 0.2);
    }


/* HIGHLIGHTING
 -----------------------------------------------*/
 #metacatDocs .highlight{
 	padding-left: 10px;
 	padding-right: 10px;
 	word-wrap: break-word;
 	color: #FFFFFF;
 	background: none;
 	clear: right;
 }

#metacatDocs .highlight-python{
 	word-wrap: break-word;
 	color: #FFFFFF;
 	clear: right;
 }

 pre{
	 padding: 10px;
	 background-color: #1C6E84; /*IE 8 fallback*/
	background: rgba(22,97,148,0.7);
	color: #FFFFFF;
	font-size: 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 20px auto;
 }


 /* MISC
 -----------------------------------------------*/
 .align-center{
 	margin-left: auto;
 	margin-right: auto;
 }

 .figure{
 	max-width: 80%;
 	background-color: #FFFFFF;
 	padding: 10px;
 	display: block;
 	border: 1px solid #666666;
 	margin: 20px auto;
 }

 .figure > img{
 	max-width: 90%;
 	margin: 10px auto;
 	display: block;
 }

 .figure > .caption{
	 margin-bottom: 0px;
	text-align: center;
	color: #666;
	padding-top: 10px;
 }


#metacatDocs .topic{
	background-color: #FFFFFF; /*iE 8 fallback */
 	background: rgba(255,255,255,0.5);
 	padding: 20px;
 	border-radius: 20px;
 	-webkit-border-radius: 20px;
 	-moz-border-radius: 20px;
 }

 #metacatDocs .topic > ul{
 	margin-left: 20px;
 }

 #metacatDocs .topic-title{
 	font-size: 24px;
	margin-top: 0;
 }

#metacatDocs  #license pre{
 	width: 700px;
 	margin: 0 auto;
 }

 #installing-the-registry .sidebar{
 	max-width: 100%;
 }

    dt{
   		font-size: 18px;
   		line-height: 24px;
   }

   #metacatDocs input {
		-webkit-appearance: none;
		background-color: white;
		border-radius: 4px;
		height: 25px;
		width: 200px;
		box-shadow: none;
		border: 0;
    }

    #metacatDocs input[type="submit"]{
    	width: auto;
    }

    #metacatDocs h3 {
		font-size: 24px;
		line-height: 40px;
	}

	#metacatDocs h2{
		font-size: 27px;
		line-height: 40px;
	}

	#metacatDocs h1{
		font-size: 32px;
		line-height: 40px;
	}

	#metacatDocs h1 > a,
	#metacatDocs h2 > a,
	#metacatDocs h3 > a,
	#metacatDocs h4 > a{
		color: #333333;
	}

	#metacatDocs ul ul{
		margin-left:20px;
	}

	#metacatDocs .note{
		 margin-left: 20px;
		 color: #555555;
	}

	#metacatDocs blockquote p{
		font-size: inherit;
		font-weight: inherit;
	}

 	#metacatDocs #contents{
 		background: rgba(255, 255, 255, 0.5);
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		margin: 20px auto;
		clear: both;
		padding: 10px 10px 10px 40px;
 	}

/*
==================================================================
Imported from NCEAS website - nceas_adaptive.css
==================================================================
*/
 	html {
	background: #fff;
}
body {
	margin: 0px;
	padding: 0px;
}
#branding {
	width: 100%;
}
#page {
	box-shadow: 0px 0px 0px black !important;
}
#top input {
	float: right;
	clear: right;
	cursor: pointer;
	display: block;
	width: 210px;
	margin: 0px;
	padding: 5px;
	border-radius: 15px;
}
#top input[type=search] {
	float: right;
	clear: right;
	cursor: pointer;
	display: block;
	width: 210px;
	margin: 0px;
	padding: 5px;
}
#top {
	background: url(../img/headerBG.png);
	width: 100%;
	height: 129px;
	margin: 0px;
	padding: 0px;
	box-shadow: 0px 0px 5px black;
	max-height: 129px;
	position: relative;
	z-index: 5;
}
#top form {
	margin: 0px;
}
#main-content {
	margin: 0;
}
#main-content .block-inner {
	margin: 0;
}
#promo-content h2 {
	font-size: 1.5em;
}
.bodyHead {
	width: 100%;
	margin: 0px auto;
	padding: 0px;
}
.bodyHead img.logo {
	line-height: 0px;
	display: block;
	float: left;
}
.subscribe {
	font-family: Verdana, Helvetica, sans-serif;
	float: right;
	font-size: 12px;
	line-height: 17px;
}
.subscribe img {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 4px;
}
#nceas-menu #menu-bar {
	background: none;
}
#nceas-menu #menu-bar ul.menu {
	margin: 0px;
	padding: 0px;
	clear: both;
	white-space: nowrap;
}
#nceas-menu #menu-bar ul.menu li {
	list-style-type: none;
	display: inline-block;
	margin-right: 1%;
}
#nceas-menu #menu-bar ul.menu li:last-child {
	margin-right: 0px;
}
#nceas-menu #menu-bar ul.menu li a {
	display: block;
	text-align: center;
	padding: 6px 15px;
	height: 35px;
	background-image: url(/files/images/blueBox.png);
	box-shadow: inset 0 5px 7px -6px black;
	background-repeat: repeat-x;
	background-position: center center;
	text-decoration: none;
	color: #fff;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.2em;
	position: relative;
	z-index: 0;
}
/**
#nceas-menu #menu-bar ul li:nth-child(1) {
	width: 10.2%;
}
#nceas-menu #menu-bar ul li:nth-child(2) {
	width: 13.5%;
}
#nceas-menu #menu-bar ul li:nth-child(3) {
	width: 11.7%;
}
#nceas-menu #menu-bar ul li:nth-child(4) {
	width: 14.1%;
}
#nceas-menu #menu-bar ul li:nth-child(5) {
	width: 12.1%;
}
#nceas-menu #menu-bar ul li:nth-child(6) {
	width: 18.3%;
}
#nceas-menu #menu-bar ul li:nth-child(7) {
	width: 14%;
}
*/
#nceas-menu #menu-bar ul.menu li a:hover, #nceas-menu #menu-bar ul.menu li a.active {
	background-image: url(/files/images/greenBox.png);
	background-repeat: no-repeat;
}

#block-search-form .form-wrapper, #block-search-form .form-actions {
	display: none;
}

#nceas-header .block-inner {
	background: none;
}
.bodyContent ul {
	list-style: none;
	margin: 0px;
}
.mainContent {
	float: left;
	border-right: #aab090 1px solid;
}
.caption {
	position: absolute;
	bottom: 10px;
}
.quickNav {
	height: 55px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.quickNav .hoverBox {
	height: 55px;
	z-index: 5;
	position: relative;
}


.quickNav .hoverBox a {
	display: block;
	/**width: 214px;*/
	height: 50px;
	background-repeat: no-repeat;
	background-position: top right;
	font-size: 15px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	padding: 12px 35px 0px 20px;
}
.quickNav .blue a  {
	background-image: url(../images/blueBox.jpg);
}
.quickNav .orange a {
	background-image: url(../images/darkOrangeBox.jpg);
}
.quickNav .green a {
	background-image: url(../images/greenBox.jpg);
}
.quickNav .description {
	margin: 0px;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	background-color: #038ae1;
	width: 179px;
	padding: 60px 20px 0px 15px;
	overflow: hidden;
	right: 0px;
	position: absolute;
	top: -6px;
	z-index: -1;
	height: 0;
}
.quickNav .orange .description {
	background-color: #c0592a;
}
.quickNav .green .description {
	background-color: #508f3f;
}
.quote {
	padding-right: 20px;
	padding-bottom: 25px;
	padding-top: 8px;
	float: left;
	border-right: #aab090 1px solid;
	margin-right: 15px;
}
.quote .views-field-body {
	font-style: italic;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 3em;
	line-height: 1.25em;
	color: #404332;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}
.quote strong {
	font-size: 14px;
	font-weight: bold;
}
.videos ul li {
	font-size: 14px;
	border-bottom: #a4c717 1px solid;
	padding: 7px 0px;
}
.videos ul li a {
	color: #000;
	text-decoration: none;
}

.videos ul {
	margin: 0px;
	padding: 0px;
}
.videos h3 {

}
.videos .archive a {
	font-size: 14px;
	color: #8a3d2c;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
.siteNav {
	clear: both;
	margin: 15px 0px;
	padding: 24px 0px;
	border-top: #aab090 1px solid;
	border-bottom: #aab090 1px solid;
}
.siteNav ul {
	float: left;
	display: block;
	padding: 0px;
	margin: 0px;
	width: 135px;
	margin-right: 26px;
	font-size: 13px;
}
.siteNav ul:last-child {
	margin-right: 0px;
}
.siteNav ul li {
	padding: 2px 0px;
}
.siteNav ul li:first-child {
	font-weight: bold !important;
	font-size: 14px;
	padding: 3px 0px;
}
.siteNav ul li:first-child a {
	font-weight: bold !important;
}
.siteNav ul li a {
	text-decoration: none;
	color: #717367;
}

#sidebar .panel-pane {
	font-size: 14px;
	padding: 7px 0px;
}
#sidebar .panel-pane:last-child {
	border-bottom: none;
}
#sidebar .block-content .menu {
	margin: 0;
}
#sidebar .block-content .menu li {
	list-style: none;
}
#sidebar .block-content li a, #sidebar .block-content .views-row a {
	color: #000;
	text-decoration: none;
	border-bottom: #a4c717 1px solid;
	display: block;
	padding: 7px 0;
}
#sidebar .blue h2 {
	background-image: url(../images/darkBlueBox.jpg);
	height: 46px;
}
#sidebar .announcement {
	display: block;
	min-height: 120px;
	background-color: #f8e276;
	padding: 0;
}
#sidebar .announcement p {
	margin-left: 15px;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
}
#sidebar .announcement a {
	color: #8a3d2c;
	text-decoration: none;
}
#sidebar .support {
	font-size: 14px;
	line-height: 18px;
}
/** used to be h5 */
#sidebar h2 {
	display: block;
	background-image: url(../images/yellowBox.jpg);
	background-repeat: no-repeat;
	height: 42px;
	padding: 11px 0px 0px 24px;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
#sidebar h2 a {
	color: #fff;
}
#sidebar .featuredResearch h2 {
	background-image: url(/files/images/darkBlueBox.jpg);
	height: 33px;
}
#sidebar .support h2 {
	background-image: url(/files/images/darkBlueBox.jpg);
	height: 33px;
}
#sidebar .block-inner {
	margin: 0;
}
#footer .block-menu-block {
	float: left;
	max-width: 160px;
}
#footer .block-menu-block h2 {
	font-size: 14px;
}
#footer .block-menu-block ul {
	margin: 0;
	font-size: 13px;
}
#footer .block-menu-block .block-inner {
	margin-left: 0;
	margin-right: 5px;
}
#footer .block-menu-block a, #footer .block-menu-block .block-title {
	color: #717367;
}
#footer #block-block-1 {
	clear: both;
}
.footer {
	margin: 0px auto;
	font-size: 12px;
	line-height: 18px;
	color: #717367;
	text-align: center;
}
.footer img {
	margin-right: 10px;
	display: inline-block;
}
.footer p {
	display: inline-block;
	text-align: left;
}

#main-content .node-slideshow {
	margin-bottom: 0;
}

#main-content .node-slideshow .node-content {
	margin: 0 0 30px;
}

.flexslider {
	margin-bottom: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.flexslider .flex-control-nav {
	bottom: -25px;
}
.flexslider .flex-caption {
	font-size: 12px;
}
.flexslider .flex-control-paging li a.flex-active {
	background: #fff;
	border: 1px solid #F60;
}
.flexslider .flex-control-paging li a {
	background: #F60;
	border: 1px solid #fff;
}

.more-link {
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
}
  /**
 ============================================================================
 Imported CSS from NCEAS website  - grid.css
 ============================================================================


/*	SELF CLEARING FLOATS - CLEARFIX METHOD */
.container:after,
.row:after,
.col:after,
.clr:after,
.group:after {
	content: "";
	display: table;
	clear: both;
}

/* 	DEFAULT ROW STYLES
	Set bottom padding according to preference */
.row { padding-bottom: 0em;
}


/* DEFAULT COLUMN STYLES */
.col {
	display: block;
	float: left;
	width: 100%;
}

@media ( min-width : 768px ) {

	.gutters .col {
		margin-left: 2%;
	}

	.gutters .col:first-child {
		margin-left: 0;
	}
}
/*	COLUMN WIDTH ON DISPLAYS +768px
	You might need to play with media queries here to suite your design. */
@media ( min-width : 768px ) {
	.span_1 { width: 8.33333333333%; }
	.span_2 { width: 16.6666666667%; }
	.span_3 { width: 25%; }
	.span_4 { width: 33.3333333333%; }
	.span_5 { width: 41.6666666667%; }
	.span_6 { width: 50%; }
	.span_7 { width: 58.3333333333%; }
	.span_8 { width: 66.6666666667%; }
	.span_9 { width: 75%; }
	.span_10 { width: 83.3333333333%; }
	.span_11 { width: 91.6666666667%; }
	.span_12 { width: 100%; }

	.gutters .span_1 { width: 6.5%; }
	.gutters .span_2 { width: 15.0%; }
	.gutters .span_3 { width: 23.5%; }
	.gutters .span_4 { width: 32.0%; }
	.gutters .span_5 { width: 40.5%; }
	.gutters .span_6 { width: 49.0%; }
	.gutters .span_7 { width: 57.5%; }
	.gutters .span_8 { width: 66.0%; }
	.gutters .span_9 { width: 74.5%; }
	.gutters .span_10 { width: 83.0%; }
	.gutters .span_11 { width: 91.5%; }
	.gutters .span_12 { width: 100%; }
}
  /**
 ============================================================================
 Imported CSS from NCEAS website  - system.base.css
 ============================================================================
 **/

/**
 * @file
 * Generic theme-independent base styles.
 */

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
#autocomplete li {
  background: #fff;
  color: #000;
  cursor: default;
  white-space: pre;
  zoom: 1; /* IE7 */
}
/* Animated throbber */
html.js input.form-autocomplete {
  background-image: url(../../misc/throbber.gif);
  background-position: 100% 2px; /* LTR */
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 100% -18px; /* LTR */
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
}
html.js fieldset.collapsed .fieldset-wrapper {
  display: none;
}
fieldset.collapsible {
  position: relative;
}
fieldset.collapsible .fieldset-legend {
  display: block;
}

/**
 * Resizable textareas.
 *
 * @see textarea.js
 */
.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.resizable-textarea .grippie {
  background: #eee url(../../misc/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
body.drag {
  cursor: move;
}
.draggable a.tabledrag-handle {
  cursor: move;
  float: left; /* LTR */
  height: 1.7em;
  margin-left: -1em; /* LTR */
  overflow: hidden;
  text-decoration: none;
}
a.tabledrag-handle:hover {
  text-decoration: none;
}
a.tabledrag-handle .handle {
  background: url(../../misc/draggable.png) no-repeat 6px 9px;
  height: 13px;
  margin: -0.4em 0.5em; /* LTR */
  padding: 0.42em 0.5em; /* LTR */
  width: 13px;
}
a.tabledrag-handle-hover .handle {
  background-position: 6px -11px;
}
div.indentation {
  float: left; /* LTR */
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em; /* LTR */
  padding: 0.42em 0 0.42em 0.6em; /* LTR */
  width: 20px;
}
div.tree-child {
  background: url(../../misc/tree.png) no-repeat 11px center; /* LTR */
}
div.tree-child-last {
  background: url(../../misc/tree-bottom.png) no-repeat 11px center; /* LTR */
}
div.tree-child-horizontal {
  background: url(../../misc/tree.png) no-repeat -11px center;
}
.tabledrag-toggle-weight-wrapper {
  text-align: right; /* LTR */
}

/**
 * TableHeader behavior.
 *
 * @see tableheader.js
 */
table.sticky-header {
  background-color: #fff;
  margin-top: 0;
}

/**
 * Progress behavior.
 *
 * @see progress.js
 */
/* Bar */
.progress .bar {
  background-color: #fff;
  border: 1px solid;
}
.progress .filled {
  background-color: #000;
  height: 1.5em;
  width: 5px;
}
.progress .percentage {
  float: right; /* LTR */
}
/* Throbber */
.ajax-progress {
  display: inline-block;
}
.ajax-progress .throbber {
  background: transparent url(../../misc/throbber.gif) no-repeat 0px -18px;
  float: left; /* LTR */
  height: 15px;
  margin: 2px;
  width: 15px;
}
.ajax-progress .message {
  padding-left: 20px;
}
tr .ajax-progress .throbber {
  margin: 0 2px;
}
.ajax-progress-bar {
  width: 16em;
}

/**
 * Inline items.
 */
.container-inline div,
.container-inline label {
  display: inline;
}
/* Fieldset contents always need to be rendered as block. */
.container-inline .fieldset-wrapper {
  display: block;
}

/**
 * Prevent text wrapping.
 */
.nowrap {
  white-space: nowrap;
}

/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
html.js .js-hide {
  display: none;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}


 /**
 ============================================================================
 Imported CSS from NCEAS website  - pixture_reloaded.css
 ============================================================================
 **/
 /* Pixture Reloaded main CSS */

body,
#branding,
#header hgroup {
  padding: 0;
  margin: 0;
}
#columns {
  padding-top: 15px;
  clear: both;
}

/* Gutters - if gutters are set in theme settings they will override these
   values: see Extensions > Modify Output > Design */
#main-content,
.block-inner,
.pane-inner,
.menu-wrapper,
.branding-elements,
.breadcrumb-wrapper,
.attribution,
.at-panel .rounded-corner,
.block-panels-mini > .block-title,
div.messages {
  margin-left: 10px;
  margin-right: 10px;
}
/* Panel pages need negative margin equal to the gutter width applied to #content,
  this is taken care of in theme settings as per above for normal gutters */
#content .panel-display,
#content .panel-flexible {
  margin-left: -10px;
  margin-right: -10px;
}

/* Reset HTML5 elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Gpanel margins */
.three-3x33 {
  margin: 15px 0 0;
}
.four-4x25 {
  margin: 15px 0 10px;
}

/* Skip Navigation */
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
  -khtml-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  outline: 0;
}

/* HTML elements */
img {
  max-width: 100%;
  height: auto;
}
a img {
  border: none;
}
em,
dfn {
  font-style: italic;
}
ins {
  border-bottom: none;
  text-decoration: none;
}
pre,
code,
tt,
samp,
kbd,
var {
  font: 1em "Lucida Console", Monaco, "DejaVu Sans Mono", sans-serif; /* Safari workaround */
}
blockquote,q {
  font-style: italic;
  quotes: "" "";
}
blockquote {
  margin: 0 0 1.5em;
  padding: 0 0 0 3em;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote p {
  margin: 0;
}
strong,
dfn,
caption,
th {
  font-weight: 700;
}

/* Lists */
ul,
ol {
  margin: 0 0 1.5em 30px;
  padding: 0;
}
ul ul,
ul ol,
ol ol,
ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin: 0 0 0 1em;
}
ul {
  list-style-type: disc;
}
ul ul ul {
  list-style-type: square;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: lower-roman;
}
ul ul,
ul ul ul ul {
  list-style-type: circle;
}
dt {
  font-weight: 700;
}
dd {
  margin: 0 0 1.5em 30px;
}
.item-list ul,
.item-list ol {
  margin: 0 0 0 30px;
  padding: 0;
}
.block .menu li {
  margin: 0;
}
.block .menu li.content {
  padding: 0; /* extra class can equal a standard class, nasty... */
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.4em;
}
h1 {
  font-size: 1.416em;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1.167em;
}
h4, h5, h6 {
  font-size: 1em;
}
p {
  margin-top: 0.4em;
  margin-bottom: 0.8em;
  padding: 0;
}
em {
  text-decoration: none;
  font-weight: normal;
}
fieldset legend,
.form-item label {
  font-size: 1em;
  font-weight: bold;
}
blockquote {
  margin: 4px 10px;
  padding: 10px 15px;
}
abbr, acronym {
  border-bottom: none;
}
.node .node-content,
.comment .comment-content {
  line-height: 1.5em;
}
h1#page-title {
  padding: 0;
  margin: 0 0 0.46em;
}

/**
 * Flexible Media and Cross browser improvements
 * - This can cause issues in table cells where no width is set on the column,
 *   only in some versions of webkit and IE 7/8.
 * - declaring the width attribute on image elements and using max-width causes
 *   the "dissappering images" bug in IE8.
 * - Google maps break also, see below for fixes.
 */
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

/* /ht Ethan Marcotte - http://front.ie/l8rJaA */
img,
embed,
object,
video {
  max-width: 100%;
}

/* Disable flexiblity for IE8 and below */
.lt-ie9 img,
.lt-ie9 object,
.lt-ie9 embed,
.lt-ie9 video {
  max-width: none;
}

/* Override max-width 100% for map displays and widgets */
#map img,
.gmap img,
.view-gmap img,
.openlayers-map img,
#getlocations_map_canvas img,
#locationmap_map img,
.geofieldMap img,
.views_horizontal_slider img,
.field-widget-imagefield-crop-widget img {
  max-width: none !important;
}

/* Improve IE's resizing of images */
svg:not(:root) {
  overflow: hidden;
}

/* Corrects inline-block display not defined in IE6/7/8/9 & FF3 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Prevents modern browsers from displaying 'audio' without controls */
audio:not([controls]) {
  display: none;
}

/* Links */
a,
a.active {
  text-decoration: none;
}
a:hover,
a.active:hover,
a:focus,
a.active:focus {
  text-decoration: underline;
}

/* Header */
#header {
  margin: 0;
  padding: 0;
}
#branding {
  float: left;
  padding: 0;
}
#logo {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  overflow: hidden;
  padding: 10px 0 0 10px;
}
#head-elements {
  margin: 0 0 0 15px;
  padding: 0;
}

/* Set heights on branding and header elements */
#header,
#branding {
  max-height: 88px;
}
#head-elements {
  min-height: 88px;
}
/* IE6 treats height like max height */
.ie6 #header,
.ie6 #branding,
.ie6 #head-elements {
  height: 88px;
}

#branding {
  text-transform: uppercase;
}
#site-name {
  font-size: 2.6em;
  margin: 0;
  padding: 13px 0 0 0;
  overflow: hidden;
  line-height: 1.3em;
}
.logo-site-name a:hover,
.logo-site-name a:focus {
  text-decoration: none;
}
#site-slogan {
  font-size: 1em;
  line-height: 1em;
  text-align: left;
  margin: 0;
}
.region-header {
  float:right;
  margin:10px 0 0;
}
/* Special case blocks in the header region */
.region-header .block {
  float: left;
  margin: 0 auto;
}
.region-header #block-search-form,
.region-header #block-user-login.lb-h {
  padding: 0;
  margin: 10px 0 0 10px;
}
.region-header #block-search-form .block-inner {
  background: none;
}
.region-header #block-search-form input.form-text {
  width: 160px;
}

/* Menu-bar */
#menu-bar {
  clear: both;
  min-height: 32px;
  line-height: 32px;
  padding: 0;
  z-index: 100; /* Needed so Superfish menus appear over flash & slideshows in IE7 */
  position: relative;
}
#menu-bar ul {
  padding: 0;
}
#menu-bar ul ul {
  padding: 0;
}
#menu-bar ul,
#menu-bar ul li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
#menu-bar ul li {
  float: left;
  padding: 0;
}
#menu-bar ul li a {
  font-weight: bold;
  padding: 0 10px;
}
#menu-bar ul.sf-menu li a {
  padding: 0 15px;
}
#menu-bar ul.menu li a:hover {
  background: transparent;
}
#menu-bar .block,
#menu-bar .block-inner,
#menu-bar .block-inner .block-content  {
  background: transparent;
  padding: 0;
  margin: 0;
}
#menu-bar .block-menu {
  margin: 0 5px;
}
/**
 * Hide additional menu levels for normal menu blocks - I can't think of a better
 * way of handling these - you should really use http://drupal.org/project/menu_block
 */
#menu-bar .block-menu ul ul {
  display: none;
}

/* Articles */
#main-content .node {
  margin: 0 0 15px 0;
  padding: 0;
}
#main-content .node-teaser {
  padding: 10px;
}
.node h1.node-title {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.node h1.node-title a:hover {
  text-decoration: none;
}
.node .user-picture {
  border: none;
  float: left;
  margin: 3px 10px 0 0;
}
.user-picture img {
  max-width: 100%;
}
.node .submitted {
  margin-top: 3px;
  padding: 0;
}
.node .node-content {
  margin: 10px 0;
}
.node .field-type-taxonomy-term-refernce {
  font-size: 0.9em;
}
.node .taxonomy {
  margin: 0;
  padding: 0;
}
.node .taxonomy li {
  padding: 1px 5px;
}
.node nav {
  clear: both;
}
.node ul.links li {
  margin: 0 0.25em;
  padding: 0;
  float: right;
}
/* Node Teaser */
#content .node-teaser {
  margin: 0 0 15px;
  padding: 10px;
  overflow: hidden;
}
.node h2.field-label {
  font-size: 1em;
  border-bottom: none;
}
/* sticky node-teaser */
#content .node-teaser.node-sticky {
  padding: 10px;
  margin: 0 0 15px;
}
/* Float field-image images*/
article .field-type-image {
  margin: 1px 10px 10px 10px;
}
article .field-type-image img {
  background: rgba(255,255,255,0.9);
  display: block;
  margin: 4px 0 10px;
  padding: 7px;
}
article .field-type-image.field-label-above {
  margin-top: 0;
}
article .field-type-image .field-label {
  margin-bottom: 0.5em;
}
article .field-type-image.field-label-inline .field-label {
  margin-bottom: 0;
  line-height: 1;
}

/* Comments */
#comments h2 {
  border-bottom: none;
}
.comment {
  border: none;
  margin: 0 0 10px;
  padding: 10px;
}
.comment .comment-title {
  margin-top: 0;
}
.comment .comment-title a {
  font-weight: bold;
}
.comment .new {
  padding-right: 10px;
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: none;
  float: left;
  margin: 15px 0 0 20px;
}
.comment .comment-id {
  font-size: 1.167em;
  font-weight: bold;
  padding-right: 10px;
}
.comment ul.links {
  float: right;
}

/* Blocks */
.block {
  margin-bottom: 10px;
}
.block-title {
  margin: 0;
  padding: 5px 10px 4px;
}
.block h3 {
  padding: 0 3px;
  font-size: 1em;
}
.block-content {
  padding: 10px;
}
#block-system-main .block-content {
  padding: 0;
}
.block .item-list ul {
  margin-left: 0;
}
.block .item-list ul ul,
.block .item-list ul ul ul {
  margin-left: 1em;
}
.block ul.links {
  margin: 0;
  padding: 0 0 5px;
}
.block ul.links li {
  font-size: .94em;
}
/* blocks showing nodes, e.g help out views blocks */
.block .node h2.node-title {
  font-size: 1.167em;
}
.block .node {
  padding: 5px 5px 0;
}
#block-search-form form {
  margin: 0;
}
#block-system-main {
  margin-bottom: 15px;
}

/* Fields */
.field .field-label {
  font-size: 1em;
  font-weight: 700;
  line-height: inherit;
  margin: 0;
}
.field-type-taxonomy-term-reference {
  margin: 10px 0;
}
.field-type-taxonomy-term-reference ul {
  margin: 0;
  padding: 0;
}
.field-type-taxonomy-term-reference ul li {
  display: inline;
  list-style: none;
  padding: 0 0.75em 0 0; /* LTR */
}
.field-lable-inline .field-label {
  display: inline;
}
.field-type-image figure {
  margin: 0 0 10px;
  padding: 10px;
}
.field-type-image figure img {
  margin: 0;
  padding: 0;
}
.field-type-image figcaption {
  font-style: italic;
  margin: auto;
  text-align: center;
  font-size: 0.923em;
  padding: 10px 0 0;
}
tabel .field-type-image img {
  width: 100%;
  height: auto;
}

/* Lists */
ul ul{
  margin-left: 15px;
}
li a,
li a:visited,
li a:active,
li a:hover {
  font-weight: normal;
}
.item-list ul {
}
.item-list ul li {
  margin-left: 1em;
}
.item-list .title {
  font-size: 1em;
}
ul.links li {
  margin: 0;
  padding: 0 2px;
}
.comment .links {
  margin-bottom: 0;
}
.submitted {
  font-size: 0.9em;
}
.links a {
  font-weight: normal;
}

/* Action links */
ul.action-links {
  margin: 0;
  padding: 0;
}

/* Aggregator */
#aggregator .feed-source {
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories,
#aggregator .source,
#aggregator .age {
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}

/* Forum */
#forum {
  margin: 15px 0;
}
.block-forum h3 {
  margin-bottom: 0.5em;
}
div.forum-topic-navigation a.topic-next {
  text-align: right;
}
div.forum-topic-navigation a.topic-previous {
  text-align: left;
}
#forum tr td.forum  {
  padding-bottom: 0.6em;
  padding-top: 0.6em;
}
#forum tr td.forum .name {
  padding-left: 2em;
}

/* Profile */
#profile .profile {
  clear: both;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}

/* Footer, Feed icon */
#footer {
  font-size: 0.92em;
  text-align: center;
  border: none;
}
#footer-inner {
  min-height: 88px;
  background-size: 100%; /* CSS3 - one day browsers will support this */
}
#footer a {
  text-decoration: none;
  font-weight: normal;
}
#footer .block {
  padding: 10px 0 0;
}
#footer .block-title {
  text-align: left;
  padding: 0 10px;
}
#footer .block .block-content > ul.menu {
  padding: 0;
}
#footer ul.menu li {
  list-style: none;
  list-style-image: none;
}
#secondary {
  padding: 10px 0;
}
.feed-icon {
  display: block;
  clear: both;
  margin: 15px 10px 5px;
  text-align: right;
}

/* Prevent overflowing content */
#content,
.nav,
#sidebar-first,
#sidebar-second,
#footer {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

/* Pager */
ul.pager {
  padding: 5px 0;
  margin: 0;
}
div.item-list ul.pager li {
  padding: 3px 8px;
  margin: 0 2px;
}
div.item-list ul.pager li,
div.item-list ul.pager li a {
  font-weight: bold;
  text-decoration: none;
}

/* Admin */
div.messages {
  margin-bottom:0.5em;
}
div.admin-panel h3 a {
  font-size: 1.33em;
  color: #fff;
}
div.admin-panel {
  border: 0 none;
}
div.admin-panel a {
  font-weight: normal;
}
div.admin-panel .description {
  margin: 0 0 3px;
  padding: 2px 0 3px 10px;
}
div.admin-panel .body dl .description {
  margin: 0 0 3px;
  padding: 2px 0 3px;
}
#block-system-help {
  background: none;
  border: 0;
  margin: 5px 0;
  padding: 0;
}
#block-system-help .block-inner {
  padding: 0;
  margin: 0;
}
#block-system-help .block-content {
  padding: 4px 10px 8px;
}
ul.action-links li {
  list-style: none;
}
#palette .form-item {
  width: 24em;
}
.color-form label {
  width: 12em;
}

/* Book Navigation */
.box {
  background: #eee;
  padding: 5px;
  padding: 10px;
}
.box h2 {
  padding-bottom: 2px;
  border-bottom: solid 1px #aaa;
}
.book-navigation {
  padding-bottom: 5px;
}
.book-navigation ul.menu {
  padding-top: 5px;
  padding-bottom: 5px;
}
div.page-links a.page-previous,
div.page-links a.page-next {
  width: 40%;
}
div.page-links a.page-up {
  width: 19%;
}

/* Image Galleries (deprecated?) */
ul.galleries li {
  border: solid 1px #aaa;
  background: #fff;
}
ul.galleries li h3 a {
  font-size: 1.1em;
  font-weight: bold;
}
ul.images {
  border: solid 1px #aaa;
  overflow: hidden;
}
ul.images li {
  text-align: center;
}

/* Buttons */
.btn-primary {
    background-image: none;
    border-width: 0px;
}
.form-submit {
  margin-bottom: 1px;
  cursor: pointer;
  padding: 2px 10px;
  margin: 4px;
  color: #666;
  font-weight: normal;
  font-size: 1em;
  border: solid 1px #888;
  /* background: #fff url("../img/button.gif") repeat-x center; */
}
.form-submit:hover {
  color: #000;
  border: solid 1px #666;
  /*background: #fff url("../img/button-o.gif") repeat-x center; */
}

/* Local task tabs */
ul.primary {
  border: 0 none;
  margin: 0 0 15px;
  padding: 0;
}
ul.primary li a {
  padding: 0.25em 0.9em 0.3em;
}
ul.primary li a.active:hover,
ul.primary li a.active:focus {
  text-decoration: none;
}
ul.secondary {
  border-bottom: 0;
  margin: 5px 0;
  padding: 0.5em 0;
}
ul.secondary li {
  border-right: 0;
  padding: 0 1em 0 0; /* LTR */
}

/* Breadcrumb */
ol#crumbs {
  margin: 0;
  padding: 12px 0 0 5px;
  clear: both;
  overflow: hidden;
}
ol#crumbs li {
  list-style: none;
  display: inline;
}

/* Menus */
ul.menu {
  margin: 0 0 0 15px;
  padding: 0;
}
ul.menu ul {
  margin-left: 15px;
}
.ie6-7 ul.menu {
  padding-left: 15px;
}

/* Quicktabs */
.block-quicktabs .block-inner {
  background: none !important;
}
.block-quicktabs .block-content {
  padding: 0;
}
.block-quicktabs .ui-tabs .ui-tabs-panel {
  padding: 10px;
}

/* poll */
.block-poll ul.links li {
  list-style: none;
}

/* Superfish */
/* sf-horizontal - classic drop menu style */
.nav .block-superfish {
  padding: 0;
  margin: 0;
}
ul.sf-menu.sf-horizontal {
  padding: 0;
}
ul.sf-menu.sf-horizontal a {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  border-left: none;
  border-top: none;
}
ul.sf-menu.sf-horizontal a:hover,
ul.sf-menu.sf-horizontal a:focus {
  text-decoration: none;
}
ul.sf-menu.sf-horizontal a.active,
ul.sf-menu.sf-navbar a.active,
ul.sf-menu.sf-vertical a.active {
  font-weight: 400;
}
.nav ul.sf-menu.sf-horizontal li {
  margin: 0;
  padding: 0;
}
ul.sf-menu.sf-horizontal li:hover ul,
ul.sf-menu.sf-horizontal li.sfHover ul {
}
ul.sf-menu.sf-horizontal a.sf-with-ul,
ul.sf-menu.sf-navbar a.sf-with-ul {
  padding-right: 25px;
}
#menu-bar .contextual-links-wrapper {
}
/* .sf-navbar - drop down nav bar style */
ul.sf-menu.sf-navbar {
  padding: 0;
  position: absolute;
  z-index: 99;
}
ul.sf-menu.sf-navbar a {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  border-left: none;
  border-top: none;
}
ul.sf-menu.sf-navbar a:hover,
ul.sf-menu.sf-navbar a:focus,
ul.sf-menu.sf-navbar ul ul a:hover,
ul.sf-menu.sf-navbar ul ul a:focus,
ul.sf-menu.sf-navbar ul ul ul a:hover,
ul.sf-menu.sf-navbar ul ul ul a:focus,
ul.sf-menu.sf-navbar ul ul ul ul a:hover,
ul.sf-menu.sf-navbar ul ul ul ul a:focus {
  text-decoration: none;
}
ul.sf-menu.sf-navbar ul a:hover,
ul.sf-menu.sf-navbar ul a:focus  {
  text-decoration: underline;
}
ul.sf-menu.sf-navbar li {
  margin: 0;
  padding: 0;
}
ul.sf-menu.sf-navbar li:hover ul,
ul.sf-menu.sf-navbar li.sfHover ul {
  top: 32px;
}
ul.sf-menu.sf-vertical ul,
ul.sf-menu.sf-navbar ul ul,
ul.sf-menu.sf-navbar ul ul ul,
ul.sf-menu.sf-navbar ul ul ul ul {
  width: 13em;
}
ul.sf-menu.sf-navbar ul ul ul,
ul.sf-menu.sf-navbar ul ul ul ul {
  left: 100% !important;
}
/* sf-vertical - flyout menus for sidebars */
ul.sf-menu.sf-vertical a {
  color: #fff !important; /* Tweak this to suit your color scheme */
}
ul.sf-menu.sf-vertical,
ul.sf-menu.sf-vertical ul,
ul.sf-menu.sf-vertical ul ul,
ul.sf-menu.sf-vertical ul ul ul {
  padding: 0;
  margin: 0;
}
.nav .block-content {
  padding: 5px 0 12px;
  margin: 0;
}
ul.sf-menu.sf-vertical,
ul.sf-menu.sf-vertical li {
  width: 100%;
}
ul.sf-menu.sf-vertical li:hover ul,
ul.sf-menu.sf-vertical li.sfHover ul {
  left: 100%; /* match ul width */
  top: 0;
}
ul.sf-menu.sf-vertical a:hover,
ul.sf-menu.sf-vertical a:focus {
  text-decoration: none;
}

/* Tables */
table {
  border-spacing: 0;
  border-color: #eee;
  margin: 1em 0;
  padding: 0;
  width: 100%;
}
table,
td,
th {
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
}
thead th {
  border-bottom: 1px solid #eee;
  color: #494949;
  font-weight: 700;
}
td,
th {
  border-bottom: none;
  margin: 0;
  padding: .375em .5em;
}
tr.even,
tr.odd {
  border-bottom: none;
}
tr.odd,
tr.info {
  background-color: #f5f5f5;
}
tr.even {
  background-color: #fff;
}
tr.drag {
  background-color: #fffff0;
}
tr.drag-previous {
  background-color: #ffd;
}
tr.odd td.active {
  background-color: #eee;
}
tr.even td.active {
  background-color: #f7f7f7;
}
td.region,
td.module,
td.container td.category {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  border-top: 1.5em solid #fff;
  color: #222;
  font-weight: 700;
}
tr:first-child td.region,
tr:first-child td.module,
tr:first-child td.container {
  border-top-width: 0;
}
#forum tr td.forum {
  background-position: 5px 5px;
}
#forum tr td.forum .name {
  padding-left: .375em;
}
#forum div.indent {
  margin-left: .5em;
}
#forum .description {
  font-size: 0.9em;
  margin: 0.5em 0 0 34px;
}
#system-themes-form table.sticky-table {
  position: relative;
  z-index: 10;
}
span.tabledrag-changed {
  display: none;
}
table, tr, td, thead, tbody {
  border-spacing: 0;
  border-collapse: collapse;
  border-width: 0;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
  width: 100%;
  margin: 0 0 10px 0;
}

/* Forms */
form {
  margin: 0 0 1.5em;
  padding: 0;
}
.form-item label {
  font-weight: 400;
}
input {
  margin: .5em 0;
  max-width: 100%;
}
input.title {
  font-size: 1.5em;
}
input.text,
input.title,
textarea,
select {
  border: 1px solid #ccc;
  margin: .5em 0;
}
select {
  padding: 2px;
}
.form-text:focus,
.form-checkbox:focus,
.form-radio:focus,
.form-select:focus {
  border: 1px solid #fc0;
  background: #ffffdf;
}
textarea:focus {
  border:1px solid #fc0;
  background:#fff;
}
input.text,
input.title {
  padding: .5em;
}
input.form-text,
textarea {
  border: 1px solid #ccc;
  height: auto;
  padding: 2px;
  max-width: 100%;
}
textarea,
input {
  font: 1em normal Arial, Helvetica, sans-serif;
}
div.form-item {
}
.form-item textarea.error {
  padding: 2px;
}
.form-item .description,
fieldset .description,
.fieldset-layout-settings dd {
  font-size: .9em;
}
span.form-required,
span.marker {}
#article-admin-filter ul {
  padding: .5em 0;
}
#edit-operation-wrapper select {
  margin: .5em;
}
div.resizable-textarea textarea {
  margin-top: 0;
}

/* Fieldsets */
fieldset {
  background: transparent;
  border: 1px solid #dadada;
  margin: 1.5em 0;
  padding: .75em;
}
*:first-child+html fieldset {
  background-color: transparent;
  background-position: 0 .75em;
  padding: 0 1em .75em;
}
*:first-child+html fieldset > .description,
*:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 1.5em;
}
fieldset legend {
  display: block;
  font-weight: 400;
  padding: 0 1em 0 0;
}
*:first-child+html fieldset legend,
*:first-child+html fieldset.collapsed legend {
  display: inline;
}
html.js fieldset.collapsed {
  background: transparent;
  padding-top: .25em;
}

/* Search */
#search-block-form {}
#search-block-form > div {}
#search-block-form .container-inline{}
#edit-search-block-form-1-wrapper {}
#search-block-form label {}
#search-block-form input {}
#search-block-form .form-submit {}
#search-block-form .form-text {
  width: 119px; /* Adjust this to suit */
}

/* Advanced search form */
fieldset#edit-advanced fieldset {
  float: left;
  margin: 0 10px 10px 0;
}
fieldset#edit-advanced fieldset .fieldset-legend {
  background: none;
  padding-left: 1em;
}
.advanced-search-submit {
  clear: both;
}
.search-advanced .criterion {
  float: none;
  margin: 0 5px;
}
#edit-keywords-fieldset .form-item:first-child {
  margin-top: 0.4em;
}
#search-form {
  margin: 1em 0;
}
#search-form > div {}
#search-form .container-inline {}
#search-form label {}
#search-form input {}
#search-form .form-item {}
#search-form .form-submit {}

/* User login */
#user-login-form ul {
  margin: 0;
  padding: 0;
}
#user-login-form li.openid-link,
#user-login-form li.user-link {
  text-align: center;
}
#user-login ul {
  margin: 0 0 5px;
}
#user-login ul li {
  margin: 0;
}
#user-login-form .item-list li {
  list-style: none;
  list-style-image: none;
  margin: 0;
}
#user-login-form li.openid-link,
#user-login li.openid-link {
  background: none;
}
.hide-label label {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#user-admin-filter ul li,
#article-admin-filter ul li {
  list-style: none;
}
.description {
  color: #555;
}
/* Tips overrides */
.field-type-text-with-summary fieldset {
  padding: 1em 0;
}
.field-type-text-with-summary fieldset .form-item {
  margin: 0;
}
.field-type-text-with-summary fieldset .filter-help {
  padding: .5em 1.5em;
}

/* Fix autocomplete drop lists */
#autocomplete {
  background: #fff;
  border: 1px solid #ccc;
  line-height: 1.2;
}
#autocomplete li {
  padding: 2px;
}
#autocomplete li,
#autocomplete div {
  float: none;
  display: block;
}

/* Reset textarea backgrounds in WYSIWYG module text editors */
body.wysiwygeditor {
  background-color: #fff;
  background-image: none;
}

/* Override max-width 100% for Gmaps and Getlocations modules */
.gmap img,
.view-gmap img,
#getlocations_map_canvas img {
  max-width: none;
}

  /**
 ============================================================================
 Imported CSS from NCEAS website - nceas_adaptive.fonts.css
 ============================================================================
 **/

 body{font-family:Arial, Helvetica, sans-serif}
#site-name{font-size:3.5em;}
#site-slogan{font-size:1.2em;}
#page-title{font-size:2em;}
.node-title{font-size:1.6em;}
.comment-title{font-size:1.4em;}
.block-title{font-size:1.4em;}
h1{font-size:2em;}
h2{font-size:1.6em;}
h3{font-size:1.4em;}
h4{font-size:1.2em;}
h5{font-size:1em;}
h6{font-size:1em;}
#menu-bar .menu-wrapper,#primary-menu-bar .menu-wrapper{font-family:'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif}
#secondary-menu-bar .menu-wrapper,#menu-bar #block-system-user-menu{font-family:'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif}
nav.block .block-content{font-family:'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif}
ruby ruby{font-family:'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif}


/******************************************
* Metric Modal Chart (Views, Downloads, Citations)
********************************************/


#metric-modal .metric-chart .scale_button:hover rect,
#metric-modal .metric-chart .bar,
#metric-modal .metric-chart .bar_context {
	fill: #1C6E84;
}

#metric-modal .metric-chart .bar {
	stroke: #1C6E84;
}
