<!DOCTYPE html>
<html>
<head>
	<title>Metacat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Template file for DataDepot Layout">
    <meta name="author" content="Matt Jones">

    <!-- Stylesheets -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet">
    <link href="./css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="./css/metacatui.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.png">
</head>
<body id="metacatui-app">

    <!-- NAVBAR
    ======================================================================= -->
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#"><img alt="DataDepot" data-src="holder.js/75x75/grey" /></a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="#about">About</a></li>
                <li><a href="#tools">Tools</a></li>
                <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Plans <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">About data plans</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Specific plans</li>
                    <li><a href="#">Basic (free)</a></li>
                    <li><a href="#">Annual Data</a></li>
                    <li><a href="#">Big Data</a></li>

                  </ul>
                </li>
                <li><a href="#share"><i class="icon-upload icon-white icon-large"></i> Share</a></li>
                <li><div class="nav">
            	<form class="form-search">
            		<input type="text" class="input-medium search-query" placeholder="Search">
            		<button type="submit" class="btn-small btn-primary"><i class="icon-search icon-white icon-large"></i></button>
            	</form>
            	</div></li>
              </ul>
              <ul class="nav pull-right">
                <li><a href="#user">Matt Jones</a></li>
			  </ul>
            </div><!--/.nav-collapse -->     
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
    
    <!-- FEATURED DATA SECTION
    ======================================================================= -->
    <div id="mainPageSlides" class="carousel slide" data-interval="3000">
      <div class="carousel-inner">
        <div class="item">
          <img src="./img/slide_01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Arachnid prey selection.</h1>
              <p class="lead">Silkey, P. and F. Mulder. 2013. doi:10.xxxx/AA/FGT6HW</p>
              <a class="btn btn-primary" href="#">View Data</a>
            </div>
          </div>
        </div>
        <div class="item active">
          <img src="./img/slide_02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Landscape change over time.</h1>
              <p class="lead">Davis, F. and D. Stoms. 2013. doi:10.xxxx/AA/FGT6HW</p>
              <a class="btn btn-primary" href="#">View Data</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="row">
    			<div class="span2 offset1">
	            	<img class="static" alt="DataDepotLogo" data-src="holder.js/200x200/grey" />
	            </div>
                <div class="carousel-caption span4 offset5">
              		<h1>Share your data.</h1>
              		<p class="lead">Publish with a DOI.</p>
              		<p class="lead">Collaborate with colleagues.</p>
              		<a class="btn btn-primary" href="#share"><i class="icon-upload icon-white icon-large"></i> Share</a>
            	</div>
	        </div>
          </div>
        </div>  
        <div class="item">
          <img src="./img/slide_03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Biomechanical stress in beach habitats.</h1>
              <p class="lead">Blanchette, C. et al. 2001. doi:10.xxxx/AA/FGT6HW</p>
              <a class="btn btn-primary" href="#">View Data</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="row">
    			<div class="span2 offset1">
	            	<img class="static" alt="DataDepotLogo" data-src="holder.js/200x200/grey" />
	            </div>
                <div class="carousel-caption span4 offset5">
              		<h1>Discover research.</h1>
              		<p class="lead">Search for data.</p>
              		<p class="lead">Find analysis code.</p>
              		<a class="btn btn-primary" href="#search"><i class="icon-search icon-white icon-large"></i> Search</a>
            	</div>
	        </div>
          </div>
        </div>          
      </div>
      <a class="left carousel-control" href="#mainPageSlides" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#mainPageSlides" data-slide="next">›</a>
    </div>

    <!-- MAIN BODY SECTION (SIDEBAR AND CONTENT)
    ======================================================================= -->    
    <div class="container-fluid">
  		<div class="row-fluid">
  		
      		<!--SIDEBAR AREA-->
    		<div id="sidebar" class="span3">
    			<div class="sidebar-subhead">Contribute</div>
    			<a class="btn btn-primary" href="#share"><i class="icon-upload icon-white icon-large"></i> Submit data</a>
    			
      			<div class="sidebar-subhead">Browse</div>
      			<ul class="unstyled">
      				<li><a class="sidebar-item" href="#"><i class="icon-search icon-large"></i> Search Results</a></li>
      				<li><a class="sidebar-item" href="#"><i class="icon-calendar icon-large"></i> Most Recent</a></li>
      				<li><a class="sidebar-item sidebar-item-selected" href="#"><i class="icon-signal icon-large"></i> Most Accessed</a></li>
      			</ul>
      			<div class="sidebar-subhead">Your Collections</div>
      			<ul class="unstyled">
      				<li><a class="sidebar-item" href="#"><i class="icon-folder-close icon-large"></i> Your Data</a></li>
      				<li><a class="sidebar-item" href="#"><i class="icon-folder-close icon-large"></i> Sierra Grazing Study</a></li>
      				<li><a class="sidebar-item" href="#"><i class="icon-folder-close icon-large"></i> Rockies Grazing Study</a></li>    			
      				<li><a class="sidebar-item" href="#"><i class="icon-folder-close icon-large"></i> Colorado Ungulate Study</a></li>
      			</ul>
    		</div>
    	
    		<!--CONTENT AREA-->
    		<div id="content" class="span9">
    			<div id="mostaccessed" class="container-fluid search-results">
    				<h2 class="row">Most Accessed Data</h2>
    				<div class="row-fluid result-header">
    					<div class="result-header-menu span1">
							<div class="dropdown">
                  				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-plus"></i> <b class="caret"></b></a>
                  				<ul class="dropdown-menu">
                    				<li><a href="#">Add to collection...</a></li>
                    				<li><a href="#">Download</a></li>
								</ul>
							</div>
    					</div>
    					<div class="result-header-count span8">1 to 15 of 582</div>
    					<div class="result-header-stats span2"></div>
    					<div class="result-header-menu span1">
							<div class="dropdown">
                  				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> <b class="caret"></b></a>
                  				<ul class="dropdown-menu">
                    				<li><a href="#">Settings...</a></li>
								</ul>
							</div>    					
    					</div>
    				</div>

    			</div>
    		</div>
  		</div>
	</div>

    <!-- FOOTER SECTION
    ======================================================================= -->
    <div class="row footer">
    	<div class="span2 offset1">
				<a class="brand" href="#"><img alt="DataDepot" data-src="holder.js/100x100/grey" /></a>
    	</div>
    	<div class="span2 offset1">
    		<p>About</p>
    		<p>Contact</p>
    		<p>API</p>
    	</div>
    	<div class="span2">
    		<p>Tools</p>
    		<p>Plans</p>
    	</div>
    	<div class="span2">
				<a class="brand" href="#"><img alt="NCEAS" data-src="holder.js/100x100/grey" /></a>
    	</div>
    	<div class="span2">
				<a class="brand" href="#"><img alt="DataONE" data-src="holder.js/50x50/grey" /></a>
				<a class="brand" href="#"><img alt="Metacat" data-src="holder.js/50x50/grey" /></a>
    	</div>    	
    </div>
    
    <!-- Templates used for rendering data from the models -->
    <script type="text/template" id="result-template">
    		<div class="result-selection span1"><input type="checkbox" <%= selected ? 'checked' : '' %>></div>
    		<div class="result-citation span8">
   		       <span class="result-author"><%- origin %>.</span><span class="result-pubdate"> <%- pubDate %>.</span><span class="result-title"> <%- title %>.</span><span class="result-id"> <%- id %></span>
    		</div>
    		<div class="result-stats span2"><span class="badge badge-info"><%- downloads %></span><span class="badge badge-success"><%- citations %></span></div>
    		<div class="result-dropdown span1">
				<div class="dropdown">
            		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-plus"></i> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Add to collection...</a></li>
						<li><a href="#">Download</a></li>
						<li class="divider"></li>
						<li><a href="#">Share...</a></li>
					</ul>
				</div>
    		</div>
	</script>
    
    
    <!-- Javascript at the end of the document to load pages faster 
    ======================================================================= -->
    <script src="components/jquery.js"></script>
    <script src="components/holder.js"></script>
    <script src="components/bootstrap.min.js"></script>
    <script src="components/underscore.js"></script>
    <script src="components/json2.js"></script>    
	<script src="components/backbone.js"></script>
    <script src="js/models/SearchResult.js"></script>
    <script src="js/models/SolrResult.js"></script>
    <script src="js/collections/SearchResults.js"></script>
    <script src="js/collections/SolrResults.js"></script>
    <script src="js/views/SearchResultView.js"></script>    
    <script src="js/views/AppView.js"></script>    
	<script src="js/app.js"></script>
    
    <script>
      !function ($) {
        $(function(){
          $('#mainPageSlides').carousel()
        })
      }(window.jQuery)
    </script>
	
</body>
</html>