<!DOCTYPE html>
<html>
<head>
<title>KNB | About</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Template file for DataDepot Layout">
<meta name="author" content="Matt Jones">

<!-- Stylesheets -->
<link href="./css/bootstrap.min.css" rel="stylesheet">
<link href="./css/font-awesome.min.css" rel="stylesheet">
<link href="./css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="./css/metacatui.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

<!-- TODO: Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"
	href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon"
	href="http://twitter.github.com/bootstrap/assets/ico/favicon.png">
</head>
<body id="metacatui-app">

	<!-- NAVBAR
    ======================================================================= -->
	<nav id="Navbar" class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="nav-collapse collapse">
					<a class="brand" href="#">knb</a>
					<ul class="nav">
						<li class="active"><a href="#about">About</a></li>
						<li><a href="#tools">Tools</a></li>
						<!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Plans <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">About data plans</a></li>
								<li class="divider"></li>
								<li><a href="#">Basic (free)</a></li>
								<li><a href="#">Annual Data</a></li>
								<li><a href="#">Big Data</a></li>

							</ul></li>
						<li>
							<div class="nav">
								<div class="input-append">
									<input type="text" class="span4" placeholder="Search for data"
										id="search_txt">
									<button type="button" class="btn" id="search_btn">
										<i class="icon-search icon-white icon-large"></i>
									</button>
								</div>
							</div>
						</li>
						<li id="SignIn"><a href="#user">Sign In</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!-- /.navbar-inner -->
		</div>
		<!-- /.navbar -->
	</nav>
	<!-- /mainNavbar -->

	<!-- HEADER SECTION 
    ======================================================================= -->
	<header id="Header" class="row">
		<img alt="Waxflower image" src="./img/slide_06.jpg">
	</header>
	<!-- /Header -->

	<!-- CONTENT SECTION
    ======================================================================= -->
	<article id="EntryForm">
		<div class="container">
		
			<div class="row-fluid">
				<h2>Upload your data</h2>
				<p class="lead">
					Use this form to submit a new data package to the repository.
				</p>
				<p>
					Please have a look at the 
					<a href="/knb/cgi-bin/register-dataset.cgi?cfg=knb&amp;stage=guide" target="guide">
					Guide for Completing the Data Repository Form</a> 
	        		before you start filling in this form. Also, use your browser's 
	        		Reload/Refresh function to make sure you see the latest version of this 
	        		page.
				</p>
				<p>
					If you have any questions, comments or problems 
					regarding this form, please contact the repository administrator at 
					<a href="mailto:help@nceas.ucsb.edu">help@nceas.ucsb.edu</a>
				</p>
				<p class="text-info">*Denotes a required field.</p>
			</div>
			
			<!--  the main form -->
			<div class="row-fluid">
				<form action="/knb/cgi-bin/register-dataset.cgi" enctype="multipart/form-data" method="post" class="form-horizontal">
					<input type="hidden" name="cfg" value="knb">
	  				<input type="hidden" name="docid" value="">
	  				<input type="hidden" name="stage" value="insert">
	  				
	  				<div class="accordion" id="entryFormAccordian">
						<div class="accordion-group">
						
							<!-- SUBMITTER -->
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-target="#collapseOne" href="#none">
									Submitter  
								</a>
								<a href="/knb/cgi-bin/register-dataset.cgi?cfg=knb&amp;stage=guide#Submitter"><i class="icon-question-sign"></i></a>
							</div>
							<div id="collapseOne" class="accordion-body collapse in">
								<div class="accordion-inner">
									<!--  the INPUT -->
									<div class="control-group">
										<label class="control-label" for="providerGivenName">*First Name</label>
										<div class="controls">
											<input type="text" name="providerGivenName" value="">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="providerSurName">*Last Name</label>
										<div class="controls">
											<input type="text" name="providerSurName" value="">
										</div>
									</div>
									
							    </div>
							</div>
							
							<!-- BASIC INFO -->
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-target="#collapseTwo" href="#none">
									Basic Information
								</a>
								<a href="/knb/cgi-bin/register-dataset.cgi?cfg=knb&amp;stage=guide#BasicInformation"><i class="icon-question-sign"></i></a>
							</div>
							<div id="collapseTwo" class="accordion-body collapse in">
								<div class="accordion-inner">
									<!--  the INPUT -->
									<div class="control-group">
										<label class="control-label" for="title">*Data Set Title</label>
										<div class="controls">
											<input type="text" name="title" value="">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="site">*Organization Name</label>
										<div class="controls">
											<input type="text" name="site" value="">
										</div>
									</div>
									
							    </div>
							</div>
							
							<!-- OWNER -->
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-target="#collapseThree" href="#none">
									Data Set Owner
								</a>
								<a href="/knb/cgi-bin/register-dataset.cgi?cfg=knb&amp;stage=guide#DataSetOriginator"><i class="icon-question-sign"></i></a>
							</div>
							<div id="collapseThree" class="accordion-body collapse in">
								<div class="accordion-inner">
									<!--  the INPUT -->
									<div class="control-group">
										<label class="control-label" for="origNamefirst0">*Firt Name</label>
										<div class="controls">
											<input type="text" name="origNamefirst0" value="">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="origNamelast0">*Last Name</label>
										<div class="controls">
											<input type="text" name="origNamelast0" value="">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="origNameOrg">Organization Name</label>
										<div class="controls">
											<input type="text" name="origNameOrg" value="">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="template">Email</label>
										<div class="controls">
											<input type="text" name="template" value="">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="template">Phone</label>
										<div class="controls">
											<input type="text" name="template" value="">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="template">Fax</label>
										<div class="controls">
											<input type="text" name="template" value="">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="template">Street Address</label>
										<div class="controls">
											<textarea name="template"></textarea>
											<span class="help-block">(number, street, unit, etc.; comma-separated)</span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="template">City</label>
										<div class="controls">
											<input type="text" name="template" value="">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="template">U.S. State or Territory</label>
										<div class="controls">
											<select name="origState" id="origState" class="shortwidth">
												<option>--select--</option>
												<option>Alabama</option>
												<option>Alaska</option>
												<option>American Samoa</option>
												<option>Arizona</option>
												<option>Arkansas</option>
												<option>California</option>
												<option>Colorado</option>
												<option>Connecticut</option>
												<option>Delaware</option>
												<option>District of Columbia</option>
												<option>Florida</option>
												<option>Georgia</option>
												<option>Guam</option>
												<option>Hawaii</option>
												<option>Idaho</option>
												<option>Illinois</option>
												<option>Indiana</option>
												<option>Iowa</option>
												<option>Kansas</option>
												<option>Kentucky</option>
												<option>Louisiana</option>
												<option>Maine</option>
												<option>Maryland</option>
												<option>Massachusetts</option>
												<option>Michigan</option>
												<option>Minnesota</option>
												<option>Mississippi</option>
												<option>Missouri</option>
												<option>Montana</option>
												<option>Nebraska</option>
												<option>Nevada</option>
												<option>New Hampshire</option>
												<option>New Jersey</option>
												<option>New Mexico</option>
												<option>New York</option>
												<option>North Carolina</option>
												<option>North Dakota</option>
												<option>Northern Mariana Islands</option>
												<option>Ohio</option>
												<option>Oklahoma</option>
												<option>Oregon</option>
												<option>Pennsylvania</option>
												<option>Puerto Rico</option>
												<option>Rhode Island</option>
												<option>South Carolina</option>
												<option>South Dakota</option>
												<option>Tennessee</option>
												<option>Texas</option>
												<option>Utah</option>
												<option>Vermont</option>
												<option>Virgin Islands</option>
												<option>Virginia</option>
												<option>Washington</option>
												<option>West Virginia</option>
												<option>Wisconsin</option>
												<option>Wyoming</option>
											</select>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="template">Other State/Province</label>
										<div class="controls">
											<input type="text" name="template" value="">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="template">Postal Code</label>
										<div class="controls">
											<input type="text" name="template" value="">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="template">Country</label>
										<div class="controls">
											<input type="text" name="template" value="">
										</div>
									</div>
									
							    </div>
							</div>
							
							<!-- TEMPORAL -->
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-target="#collapseTemporal" href="#none">
									Temporal Coverage
								</a>
								<a href="/knb/cgi-bin/register-dataset.cgi?cfg=knb&amp;stage=guide#TemporalCoverageOfData"><i class="icon-question-sign"></i></a>
							</div>
							<div id="collapseTemporal" class="accordion-body collapse in">
								<div class="accordion-inner">
									<!--  the INPUT -->
									<div class="row-fluid">
									
										<div class="span6">
											<p>Start date</p>									
											<div class="control-group">
												<label class="control-label" for="year">*Year (yyyy)</label>
												<div class="controls">
													<input type="text" name="year" value="">
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="month">Month</label>
												<div class="controls">
													<select name="month"></select>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="month">Day</label>
												<div class="controls">
													<select name="month"></select>
												</div>
											</div>
										</div>
										<div class="span6">
											<p>End date</p>									
											<div class="control-group">
												<label class="control-label" for="year">*Year (yyyy)</label>
												<div class="controls">
													<input type="text" name="year" value="">
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="month">Month</label>
												<div class="controls">
													<select name="month"></select>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="month">Day</label>
												<div class="controls">
													<select name="month"></select>
												</div>
											</div>
										</div>
									</div>
									
							    </div>
							</div>
							
						</div>
					</div> <!-- end the accordinan -->
	  				
				</form>	
			
			</div>
			
		</div>
	</article>

	<!-- FOOTER SECTION
    ======================================================================= -->
	<footer id="Footer" class="footer">
		<div class="container">
			<div class="row-fluid pagination-centered">
				<h3>
					<span>The</span> Knowledge Network <span>for</span> Biocomplexity
				</h3>
			</div>
		</div>
	</footer>
	<!-- Templates used for rendering data from the models
    ======================================================================= -->
	<script type="text/template" id="result-template">
        <div class="result-selection span1"><input type="checkbox" <%= selected ? 'checked' : '' %>></div>
        <div class="result-citation span7">
              <span class="result-author"><% var count=0; _.each(origin, function(author) {
                   count++;
                   if (count > 1) {
                       print(", ")
             }
                   if (count > 1 && count == origin.length) {
                       print("and ")
             }
                   print(author)
                   if (count == origin.length) {
                       print(". ")
             }
               }) %></span>
               <span class="result-pubdate"> <% if(pubDate) { 
                   print(moment(pubDate).format('YYYY'), '. ')
               } else {
                   print(moment(dateUploaded).format('YYYY'), '. ')
               } %></span>
               <span class="result-title"> <% if (title) { print('<a href=\"', baseurl, id, '\">', title, '.</a> '); } %></span>
               <span class="result-id"> <%- id %></span>
        </div>
        <div class="result-stats span2"><span class="badge badge-info"><%- downloads %></span> <span class="badge badge-success"><%- citations %></span></div>
        
      <div class="btn-group span1">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Download
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Add to collection...</a></li>
          <li class="divider"></li>
          <li><a href="#">Share...</a></li>
        </ul>
      </div>
  </script>
	<script type="text/template" id="statcounts-template">
    <div class="result-header-count span8" id="countstats"><%- start %> to <%- end %> of <%- numFound %></div>
  </script>


	<!-- Javascript at the end of the document to load pages faster 
    ======================================================================= -->
	<script src="components/jquery.js"></script>
	<script src="components/holder.js"></script>
	<script src="components/bootstrap.min.js"></script>
	<script src="components/underscore.js"></script>
	<script src="components/json2.js"></script>
	<script src="components/backbone.js"></script>
	<script src="components/moment.js"></script>
	<script src="js/models/SolrHeader.js"></script>
	<script src="js/models/SolrResult.js"></script>
	<script src="js/collections/SolrResults.js"></script>
	<script src="js/routers/router.js"></script>
	<script src="js/views/SearchResultView.js"></script>
	<script src="js/views/AppView.js"></script>
	<script src="js/app.js"></script>

	<script>
		!function($) {
			$(function() {
				$('.carousel').carousel()
			})
		}(window.jQuery)
	</script>

</body>
</html>