
/* Import font families */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
/* Oswald weights:
Light 300
Normal 400
Bold 700
*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic);
/* Source Sans Pro weights:
Light 300
Normal 400
Normal italic 400
Semi-bold 600
Bold 700
*/

/* Body CSS
-------------------------------------------------- */
    html {
    	margin: 0;
    	padding: 0;
    	height: 100%;
    }
    
    body {
      color: #333333;
      background: rgba(0, 0, 0, .8);
      font: 400 15px/20px "Source Sans Pro", "Helvetica Nueue", "Helvetica", "sans serif";
      min-height: 100%;
      position: relative;
    }
    
	h3 {
		font: 400 24.5px/40px "Source Sans Pro", sans-serif;
	}
	
	h2{
		font: 400 27.5px/40px "Oswald", sans-serif;
	}
	
    
    article, aside, figure, footer, header, hgroup, menu, nav, section { 
      display:block;   
    }

        
    body > #Content {
    	position: relative;
    	margin: 40px auto auto auto;
    	width: 1170px;
    	padding-bottom: 360px; /* height + vertical padding + vertical margins of footer */
    }
		
    body > section > article {
      background-color: #FFFFFF; /* Fallback for IE8 and earlier, will be solid white */
      background-color: rgba(255, 255, 255, 0.9);
      padding: 20px;
      border-radius: 10px;		
      -webkit-border-radius: 10px;
	  -moz-border-radius: 10px;			
    }
    
     .container{
    	width: 100%;
    }
    
    h1 > a[name], h2 > a[name], h3 > a[name],
    h4 > a[name], h5 > a[name], h6 > a[name] {
      color: #555555;
      text-decoration: none;
      z-index: 20; /*keeps hidden anchor tags from blocking content*/
    }
    
    /* make sure the anchors render with padding-top */
    h1 > a[name]:before, h2 > a[name]:before, h3 > a[name]:before,
    h4 > a[name]:before, h5 > a[name]:before, h6 > a[name]:before {
		content: "";
    padding-top: 115px;
    }
    
    a {
      color: #166194;
    }
    
    a:hover{
    	color: #3399CC;
    	text-decoration: none;
    }
    
    ul, ol{
    	margin: 0px;
    }
    
    ul.indent > li{
    	margin-left: 15px;
    }
    
    ul.plain-list > li{
    	line-height: 25px;
    	list-style: none;
    }
   
    
    .clear{
    	clear: both;
    }
    
    
    div.row-fluid > a[name] {
      margin: 35px auto auto auto;
    }
    
    h2#pagehead{
    	font: 400 31px/31px "Oswald" Arial sans-serif;
    }
     
    /* For full-screen background image */
	img.bg{
		min-height: 100%;
		min-width: 1024px;
		width: 100%;
		height: auto;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1; /* So that right-clicking on background image will behave like right-clicking on background */
		
	}
	
	@media screen and (max-width: 1024px) {
	  img.bg {
	    left: 50%;
	    margin-left: -512px;   /* 50% */
	  }
	}

    
/* FORM/INPUT CUSTOMIZATIONS
-------------------------------------------------- */ 
	.controls-well {
	    padding: 4px;
	    background: rgba(255, 255, 255, 0.3);
	}
	.control-label {
		cursor: default;
	}
	
	select{
    	font: 300 16px/16px "Oswald", Arial, sans-serif;
    }
	
	
	#results-header select{
		border: 0;
		border-radius: 0;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-appearance: none;
		background: none;
		width: 120px;
		-moz-appearance: none;
		appearance: none;
		/*To hide the drop-down arrow in Firefox */
		text-indent: 0.01px;
		text-overflow: '';
	}
	
	#results-header .select > i{
		margin-right: -110px;
	}
	

/* CUSTOMIZE THE ACCORDIAN 
-------------------------------------------------- */
.accordion-heading a.accordion-toggle {
	display: inline-block; 
} 

/* SHARE/UPLOAD, AND LOGIN FEATURES 
* Choose to hide these features
* -----------------------------------------------------*/
.share-feature{
	/* display: none; */ 
}

/* NOTIFICATION AREA CSS
 * -------------------------------------------------- */    
  section#Notification {
    position: fixed;
    top: 105px;
    height: 40px;
    width: inherit;
    max-height: 40px;
    min-height: 40px;
  }
  
  .progress-striped{
  	border-radius: 0px;
  	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
  }
  
  .progress-striped .bar{
  	background-color: #166194;
  }

  
/* FOOTER CSS
-------------------------------------------------- */    

    footer#Footer {
      position: absolute;
      bottom: 0px;
      margin-top: 40px;
      background: rgba(0, 0, 0, 0.8);
      padding: 20px 0px;
      height: 280px;
      width: 100%;
      color: #FFFFFF;
    }
    
    footer#Footer > .logos{
    	width: 450px;
    	margin: 20px auto;
    }
    
    footer#Footer > .logos > div{
    	height: 100px; 	
    }
    
    footer#Footer > .logos > div > a{
    	line-height: 100px; 	
    }
    
    footer#Footer > .logos > div > a > img{
    	float:right;
    }
    
    footer#Footer > .logos > div > a > img:hover{
    	opacity: 1;
    }
    
    footer#Footer > .logos img.small-logo{
    	height: 25%;
    	width: auto;
    }
    
    footer#Footer > .logos img.small-logo:last-child{
    	float:left;
    }
    
    
    footer#Footer > .logos img.short-logo{
    	margin-top: 20%;
    }
    
    footer#Footer > .logos 
	
	footer#Footer > div:last-child{
		text-align: center;
		color: #999999;
	}

    footer#Footer h2 {
      font: 300 25px/25px "Oswald", Arial, sans-serif;
      color: #FDFDFD;
      padding: 0;
      line-height: 48px;
    }
    
    footer#Footer ul.helpitems {
      list-style: none;
    }
    
    footer#Footer ul.helpitems li {
      font: 400 15px/15px "Source Sans Pro", Arial, sans-serif;
      vertical-align: baseline;
      margin: 15px 0px 0px 0px;                 
    }
    
    ul.helpitems a {
      color: #FDFDFD;     
    }
    
    ul.helpitems a:hover{
    	color: #3399CC;
    	text-decoration: none; 
    }
    

    footer#Footer img {
      opacity: .75;
    }
    
    
 /* BUTTONS CSS
-------------------------------------------------- */   
    
    .btn, .btn-primary, .btn-large, .btn-small, .btn-mini {
      background-image: none;
      background-repeat: none;
      background-color: #166194;
      box-shadow: none;
      -moz-box-shadow: none;
      border: none;
      filter: none;
      font: 400 20px/20px "Oswald", Arial, sans-serif;
      text-shadow: none;
      color: #FFFFFF;
    }

    .btn-primary a, .btn-info a, .btn-success a, .btn-warning a, .btn-danger a, .btn-inverse a {
      color: #FFFFFF; 
      text-decoration:none;     
    }
    
    .btn > i, .btn-primary > i, .btn-large > i, .btn-small > i, .btn-mini > i{
    	color: #FFFFFF;
    }
    
    .btn-primary {
      background-color: #166194;
      color: #FFFFFF;
      
    }
    
    .btn-primary[disabled], .btn-primary[disabled]:hover, .btn[disabled], .btn[disabled]:hover {
		background-color: #999999;
		color: #FFFFFF;
		text-shadow: none;
		border: none;
    }
        
    .btn:hover, .btn-primary:hover, .btn-large:hover, .btn-small:hover, .btn-mini:hover{
      color: #166194;
      background: rgba(22, 97, 148, 0.2);
    }
    
    .btn-group > .dropdown-toggle {
		-webkit-border-top-right-radius: 4px;
		-moz-border-top-right-radius: 4px;
		border-top-right-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		-moz-border-bottom-right-radius: 4px;
		border-radius: 4px;
	}
	
     /* Download  and Publish buttons */
     #downloadPackage a.btn {
    	width: 100px;
    	margin-bottom: 8px;
    } 
    
    #downloadPackage .dropdown-toggle {
		font: 400 20px/20px "Oswald", Arial, sans-serif;
	 }
    
    .btn-group.open .btn.dropdown-toggle{
    	color: #166194;
      	background: rgba(22, 97, 148, 0.2);
    }  
    
    .dropdown-menu > li > a.btn{
    	background-color: #FFFFFF;
    	font: 300 18px/18px "Oswald", Arial, sans-serif;
    }
    
/* ICONS CSS
-------------------------------------------------- */
    
    i.glyphicons-icon, i.halflings-icon {
      opacity: .8;
    }

    i.glyphicons-icon.white {
      opacity: 1;
    }
   
    
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
    
    .center {
      float: none;
      margin: 0 auto;
    }
    
    nav#Navbar {
      top: 0px;
      width: 100%;
      float: none;      
    }
    
    /* Depending on the headerType, these classes apply */

    .navbar {
      position: relative;
      border: none;  
      margin: 0px;  
    }
    
    .navbar .nav{
    	float: right;
    	margin: 0px;
    }

    .navbar-inner {
      border: none;
      background:rgb(0,0,0);
      background:transparent\9; /* For IE */
      background:rgba(0,0,0,0);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000); /* For IE */
      zoom: 1; /* For IE */
      min-height: 0px;
      box-shadow: none;
    } 
    
    .navbar-inner > ul{
    	margin: 0px;
    }

	.navbar-inner > ul > li img{
		height: 45px;
	}
    .navbar .nav > li > a {
      color: #FFFFFF;
      font: normal normal 400 35px/35px "Oswald", Arial, sans-serif;
      text-transform: uppercase;
    }

    .navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover {
      color: #FFFFFF;
      text-decoration: none;
      opacity: 0.7;
    }
    
    .navbar .nav > .active > a,
    .navbar .nav > .active > a:hover,
    .navbar .nav > .active > a:focus {
      color: #555555;
      font-weight: 400;
      text-decoration: none;
      background-color: #E5E5E5;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
         -moz-box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
              box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
    }

    #Navbar form {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
    }
    
    /* Logged-in view and user controls in navbar */
    #Navbar i .user {
      opacity: .6;
    }
    
    #Navbar .dropdown-toggle > .icon-sort-down{
    	font-size: 15px;
    	width: 5px;
    }
    
    #Navbar .dropdown-menu{
    	left: -90px;
    }
    
    #Navbar .dropdown-menu:before,
    #Navbar .dropdown-menu:after{
    	left: 80%;
    }
    
    #Navbar .dropdown-menu > li > a:hover{
    	background-color: #166194;
    	background-image: none;
    }
    
    #SignIn {
      float: right;
    }
 
    
    /* Search bar in nav bar */
    
    #search_txt{
    	border-radius: 4px 0px 0px 4px;
    	-webkit-border-radius: 4px 0px 0px 4px;
		-moz-border-radius: 4px 0px 0px 4px;
		border: 1px solid #FFFFFF;
		margin-top: 15px;
		float: left;
		background-color: #FFFFFF;
		background-image: none;
		border-right: 0px;		
    }
    	#search_txt::-webkit-input-placeholder {
		   color: #999999;
		}
		#search_txt:-moz-placeholder { /* Firefox 18- */
		   color: #999999;  
		}
		
		#search_txt::-moz-placeholder {  /* Firefox 19+ */
		   color: #999999;  
		}
		
		#search_txt:-ms-input-placeholder {  
		   color: #999999;  
		}
    
    
    #search_btn{
    	margin-top: 15px;
    	height: 14px;
    	width: auto;
    	float: left;
    	background-image: none;
    	background-color: #FFFFFF;
    	border-radius: 0px 4px 4px 0px;
    	-webkit-border-radius: 0px 4px 4px 0px;
		-moz-border-radius: 0px 4px 4px 0px;
    	padding: 7px;
    	border: 1px solid #FFFFFF;
    	border-left: 0px;
    }
    
    #search_btn > i:hover{
    	color: #3399CC;
    }
    
    #search_btn > i{
    	font-size: 13px;
    	color: #999999;
    	text-shadow: none;
    	float: left;
    	line-height: 15px;
    }

    

/* METADATA VIEW CSS
-------------------------------------------------- */
	label.control-label{
		font: 400 15px/18px "Source Sans Pro", Arial, sans-serif;
	}
	
	#Metadata .well{
		font: 300 21px/30px "Oswald", Arial, sans-serif;
		border: 1px solid #CCCCCC;
		box-shadow: none;
		-moz-box-shadow: none;
		
	}
	
	#Metadata .well strong{
		font-weight: 400;
	}
	
	#Metadata h4{
		font-weight: 600;
	}
	
	#Metadata .nav-header{
		text-transform: none;
	}
	
	#Metadata .nav-list > .active > a{
		font-weight: 700;
		background-color: #166194;
		text-shadow: none;
	}
	
	#Metadata .nav > li > a:hover{
		text-shadow: none;
	}
	
	.search-results a.btn{
		font: 700 14px/14px "Source Sans Pro", Arial, sans-serif;
	}

    
/* Registry CSS
-------------------------------------------------- */
    #RegistryEntryForm, 
    #RegistryLogin, 
    #RegistryResponse, 
    #RegistryEntryReview, 
    #RegistryGuide {
		/*margin-top: 110px;*/
		min-height: 800px;
    }
    
    /* Larger modal for guide content */
    .modal.large {
    	width: 80%;
    	margin-left: -40%;
    }
    
	/* Inherit for these registry labels */
	.label {
	  display: inherit;
	  padding: inherit;
	  font: inherit;
	  line-height: inherit;
	  color: inherit;
	  white-space: inherit;
	  vertical-align: inherit;
	  background-color: inherit;
	  -webkit-border-radius: inherit;
	     -moz-border-radius: inherit;
	          border-radius: inherit;
	}  
	
/* Combobox styles, overlay text input on select
<!-- example here -->
<div class="select-editable">
  <select onchange="this.nextElementSibling.value=this.value">
    <option value=""></option>
    <option value="sample">sample</option>
  </select>
  <input type="text" name="keyword" value=""/>
</div>
-------------------------------------------------- */     
	.select-editable {
		position: relative; 
		width: 120px; 
		height: 30px; 
	}
	.select-editable select { 
		position:absolute; 
		top: 0px; 
		left: 0px; 
		width: 120px; 
		height: 29px;
	}
	.select-editable input {
		position:absolute; 
		top: 0px;
		left: 0px; 
		width: 100px; 
		padding: 1px; 
		font-size: 12px;
		height: 25px;
	}
	.select-editable select:focus, 
	.select-editable input:focus { 
		outline:none; 
	}	  

  /* SIDEBAR CSS
  -------------------------------------------------- */
    #sidebar {
      min-height: 400px;
    } 
 
    
    .filter-contain{
   	  margin-bottom: 25px;
   	  width: 100%;
   }
    
    /*-- Search buttons next to text inputs --*/
    .filter.btn{
    	background-color: #FFFFFF;
    	background-image: none;
    	color: #555555;
    	border-radius: 0px 4px 4px 0px;
    	-moz-border-radius: 0px 4px 4px 0px;
    	-webkit-border-radius: 0px 4px 4px 0px;
    	border: 1px solid #999999;
    	border-left: 0px;
    	height: 30px;
    	display: inline-block;
    }
    
    .filter.btn > i{
    	margin-bottom: 2px;
    	display: block;
    	color: #999999;
    }
    
    .filter.btn > i:hover{
    	color: #3399CC;
    }
    
    /*-- Inputs for search filters --*/
    input.filter{
    	border-radius: 4px 0px 0px 4px;
    	-webkit-border-radius: 4px 0px 0px 4px;
    	-moz-border-radius: 4px 0px 0px 4px;
    	border: 1px solid #999999;
    	border-right: 0px;
    	height: 20px;
    	background-color: #FFFFFF;
    	background-image: none;
    	width: 80%;
    }

	/*-- The 'Year' filter elements --*/
    #filter-year label{
   		min-height: 18px;
   		margin-bottom: 0px;
   		line-height: 16px;
   		width: auto;
    }
   
    #filter-year > input[type="number"]{
   		color: #166194;
   		background: none;
   		border: 0px;
   		text-align: right;
   		min-height: 2em;
   		-webkit-appearance: none;
   		box-shadow: none;
   		top: -5px;
   		position: relative;
   		margin-bottom: 0px;
    }
    
    #filter-year > input[type="number"]:focus{
    	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    }
    
    #max_year{
    	float: right;
    }
    
    #min_year{
    	float: left;
    }
    
    #year-range{
    	min-height: 6px;
    	border-radius: 4px;
    	border: 0px;
    	background: #AAAAAA;
    	position: relative;
    	margin-bottom: 5px;
    	width: 95%;
    }
    
    #year-range.disabled,
    #min_year.disabled,
    #max_year.disabled{
    	opacity: 0.6;
    }
    
    .ui-slider-range{
    	top: 0;
    	height: 100%;
    	position: absolute;
    	z-index: 1;
    	display: block;
    	border: 0;
    	background: rgba(22, 97, 148, 0.5)	;
    }
    
    .ui-slider-handle{
    	border: 1px solid #999999;
    	background-color: #EFEFEF;
    	top: -0.4em;
    	position: absolute;
    	z-index: 2;
    	width: 1.2em;
    	height: 1.2em;
    	cursor: default;
    	border-radius: 1.2em;
    	-moz-border-radius: 1.2em;
    	-webkit-border-radius: 1.2em;
    }

	/*-- Currently applied filters --*/
	.current-filters,
	.current-filters[class*="span"]{
		list-style: none;
		color: #FFFFFF;
		font: 400 14px/14px "Source Sans Pro", Arial, sans-serif;
		margin-left: 0px;
		min-height: 0px;
	}
	
	.current-filters > li,
	.current-filters > li[class*="span"]{
		background-color: rgba(22, 97, 148, 0.6);
		padding: 0px 5px 0px 5px;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		min-height: 1em;
		width: auto;
		max-width: 100%;
		margin: 5px 5px 0px 0px;
	}
	
	.current-filters > li > span{
		float: left;
		margin-right: 5px;
		line-height: 1.5em;
	}
	
	.current-filters > li > i{
		float: right;
		line-height: 1.5em;
		font-size: 1em;
		color: #FFFFFF; /*IE fallback */
		color: rgba(255, 255, 255, 0.5);
	}
	
	.current-filters > li > i:hover{
    	cursor: pointer;
    	color: #FFFFFF;
    	opacity: 1;
	}
    
	
    /*-- Headers in sidebar --*/
    h2.nav-header {
      font: 400 20px/25px "Oswald" Arial sans-serif;
      color: #555555;    
      text-transform: uppercase;  
      display: block;
      padding: 0px;
      margin: 0px;
      min-height: 25px;
    }
    
    h3.nav-header{
    	font: 300 20px/25px "Oswald" Arial sans-serif;
    	margin: 20px 0px 5px 0px;
    	color: #555555;
    	text-transform: none;
    	display: block;
    	padding: 0px;
    }
    
    h3.nav-header > label{
    	display: inline-block;
    	font: 300 20px/25px "Oswald" Arial sans-serif;
    }
    
    h3.nav-header > input{
    	height: 20px;
    }
    
    .nav-header > i{
    	margin-right: 5px;
    	font-size: 23px;
    }
    
    li.nav-header{
    	text-transform: none;
		font: 600 13px/13px "Source Sans Pro", "Arial", sans-serif;
		color: #7F7F7F;
    }
    
    /*-- Your Collections area --*/
    ul.collections{
    	margin-left: 0px;
    	list-style: none;
    }
    
    a.collections {
    	color: #555555;
    }
    
    a.collections:hover{
    	color: #3399CC;
    }
    
    a.collections > i{
    	margin-right: 5px;
    }
    
   input[class*="span"].left,
   .row-fluid input[class*="span"].left{
   		float: left;
   }

	/*-- Share Your Data button --*/
    
    #sidebar_share {
      margin: 0px 0px 20px 0px;
      padding: 8px;
      background-image: none;
      background-color: #166194;
      width: 95%;
    }
    
    #sidebar_share:hover{
      color: #166194;
      background: rgba(22, 97, 148, 0.2);
      }
      
     #sidebar_share:hover > i{
     	color: #166194;
     }
    
    
    #clear-all{
    	text-align: right;
    	float: right;
    	cursor: pointer;
    	font-size: 14px;
    	margin: 0px 5px 0px 5px;
    	color: #931D1D;
    	display: none;
    }
    
    #clear-all > i{
    	font-size: 20px;
    	margin-left: 7px;
    }
    
    /* Autocomplete */
    ul.ui-autocomplete{
    	width: 246px;
    	background-color: #FFFFFF;
    	border: 1px solid #999999;
    	padding: 10px;
    	list-style: none;
    	overflow-y: scroll;
    	max-height: 250px;
    }
    
    li.ui-menu-item{
    	width: 245px;
    	overflow: hidden;
    	white-space: nowrap;
    	text-overflow: ellipsis;
    }
    
    li.ui-menu-item > a {
    	color: #555555;
    	/*font: 400 1em/1.8em "Source Sans Pro", Arial, sans-serif;*/
    	width: 245px;
    }
	
    li.ui-menu-item > a:hover,
    .ui-state-focus {
    	cursor: pointer;
    	text-decoration: none;
    	font-weight: bold;
    	color: #166194;
    }
    

/* RESULT CSS
-------------------------------------------------- */
    .result-header {
      font-weight: bold;
    }
    
    .result-header-count {
      font: 300 18px/18px "Oswald", Arial, sans-serif;
    }
    
    .result-row {
      display: block;
      padding: 8px 10px;
    }
    
    .result-row a.view_link{
    	color: #155988;
    	font-weight: 600;
    }
    
    .result-row:nth-child(odd){
    	background-color: rgba(192, 218, 255, 0.3);
    }
    
    .result-row:nth-child(even){
    	background-color: transparent;
    }
    
    .result-row:hover { 
    background-color: #FDFDFD;
  	}
  
    .result-row .btn > .icon-caret-down {
    	color: #FFFFFF;
    	margin-left: 5px;
    	font-size: 16px;
    } 
    
    .result-row .btn-group .has-data{
    	color: #555555;
    	font-size: 18px;
    	position: relative;
    	left: -15px;
    }

    .result-author {
      font-weight: bold;
    }
    
    .result-row .icon-download-alt{
    	font-size: 18px;
    }
    
    .result-row .icon-caret-down{
    	font-size: 15px;
    }
    
    .result-row .download{
  		position: relative;
  	}
  	
  	.result-row .download:hover i{
  		text-decoration: none;
  	}
  	
  	.result-row .dropdown-menu{
  		left: -100%;
  	}
    
    .pagination {
    	cursor: pointer;
    	margin: auto;
    }

	.pagination ul{
		border: none;
		margin-top: 10px;
	}
	
	.pagination ul > li > a{
		font: 400 16px/16px "Oswald", sans-serif;
		border: none;
	}
	
/* MAIN CONTENT 
--------------------------------- */
#mainContent{
	height: 600px;
}

#mainContent h1{
	font: 400 60px/60px "Oswald", Arial, sans-serif;
	color: #FFFFFF;
	text-transform: uppercase;
	width: 300px;
}

#mainContent input{
	height: 90px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	font: 300 30px/30px "Oswald", Arial, sans-serif;
	border: none; 
	padding-left: 20px;
	float: left;
}

#mainContent input::-webkit-input-placeholder{
	padding-top: 7px;
}
#mainContent input:-moz-placeholder{ /* Firefox 18- */
	padding-top: 7px;
}
#mainContent input::-moz-placeholder{ /* Firefox 19+ */
	padding-top: 7px;
}
#mainContent input:-ms-input-placeholder{
	padding-top: 7px;
}

#search_btn_main{
	float:left;
	height:59px;
	margin-left: -20px;
	border-radius: 0 15px 15px 0;
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	background-color: #FFFFFF;
	padding-top: 35px;
	color: #999999;
}

/*-------------- DOCUMENTATION CSS -----------------------------*/
/* ---------------------------------------------------- */

/* BANNER/HEADER CSS
---------------------------------------------------- */
#metacatDocs > .banner{
	width: 100%;
	height: 100px;
	background: rgba(0,0,0, 0.7);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#metacatDocs > .banner > img{
	float: left;
	width: auto;
	margin: 20px 10px;
	max-height: 100%;
	height: 60px;
}

#metacatDocs > .banner > .title{
	font: 400 18px/18px "Oswald", Arial, sans-serif;
	color: #FFFFFF;
	float: left;
	margin: 38px 10px;
}

/* RELATED/NAVIGATION CSS
---------------------------------------------------- */
#metacatDocs > .related{
	width: 100%;
	position: relative;
	top: -80px;
	left: -20px;
}

#metacatDocs .related > h3{
	display: none;
}

 #metacatDocs .related > ul {
	list-style: none;
	float: right;
}

#metacatDocs .related > ul > li.right > a{
	color: #FFFFFF;
	font: 400 30px/30px "Oswald", sans-serif;	
	text-decoration: none;
	text-transform: uppercase;	
}

#metacatDocs .related > ul > li.right{
	margin-right: 20px;
	float:left;
}


#metacatDocs .related > ul > li > a:hover,
#metacatDocs .related > ul > li > a:focus{
      color: #FFFFFF;
      text-decoration: none;
      opacity: 0.7;
}

#metacatDocs .related > ul input[type="submit"]{	/*"Go" button on navigation search bar */
	position: relative;
	left: -10px;
	top: -3px;
	height: 33px;
	border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-left: 1px solid #CCCCCC;
	font: 300 16px/16px "Oswald", sans-serif;
}

#metacatDocs .related > ul input[type="submit"]:hover{	/*"Go" button on navigation search bar */
	background-color: #166194;
	color: #FFFFFF;
	cursor: pointer;
}

#metacatDocs .related > ul > li > span#searchbox{
	display: block;
	margin-right: 0px;
}

#metacatDocs .related > ul > li > span#searchbox > form{
	display: inline;
	vertical-align: top;
}


#metacatDocs .related .breadcrumb{
	float: left;
	clear: none;
	background: none;
}

#metacatDocs .related .breadcrumb,
#metacatDocs .related .breadcrumb > a{
	font: 300 16px/16px "Oswald", Arial, sans-serif;
	color: #FFFFFF;
}

#metacatDocs .related .breadcrumb.first{
	clear: left;
}

#metacatDocs .footerNav > .related li.right{

	
}

#metacatDocs .footerNav > .related li.breadcrumb:last-child{
	margin-right: 20px;
}





/* DOCUMENT / MAIN CONTENT AREA
------------------------------------------------------*/
#metacatDocs > .document{
	margin: 20px auto;
	padding: 20px 2%;
	width: 96%;
}

/* Permalink icons */
#metacatDocs > .document .headerlink{
	display: none;
	margin-left: 10px;
}

#metacatDocs > .document h1:hover > .headerlink,
#metacatDocs > .document h2:hover > .headerlink,
#metacatDocs > .document h3:hover > .headerlink{
	display: inline;
	color: #166194;
}


/* SIDEBAR
---------------------------------------------------- */
#metacatDocs .sidebar{
	float: right;
	margin: 20px 0px 30px 20px;
	background: rgba(255,255,255, 0.5);
	border-radius: 20px;
	padding: 20px;
	max-width:60%;
}

#metacatDocs .sidebar .sidebar-title{
	font: 300 24px/24px "Oswald", Arial, sans-serif;
	margin-top: 0;
}

#metacatDocs .sidebar img{
	margin: 0;
}

/* FOOTER
---------------------------------------------------- */
#metacatDocs > .footer{
	color: #fdfdfd;
	bottom: 0;
	width: 96%;
	margin: 50px auto 0 auto;
	background: rgba(0,0,0, 0.7);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
}

#metacatDocs > .footer > .small-print{
	width: 550px;
	display: block;
	float: none;
	clear: both;
	margin: 20px auto 0 auto;
	color: #CCCCCC;
	font: 300 14px/14px "Source Sans Pro", Arial, sans-serif;
}

#metacatDocs > .footer > .footerNav{
	width: 100%;
	display: block;
	height: 40px;
	margin-bottom: 10px;
}

    
/* TABLES 
 -----------------------------------------------*/
 #metacatDocs table, 
 #metacatDocs tr,
 #metacatDocs th,
 #metacatDocs td,
 #metacatDocs thead,
 #metacatDocs tbody{
    	border: 0px;
    	border-collapse: collapse;
    	padding: 8px;
    }
    
#metacatDocs table{
    	background: rgba(255,255,255, 0.8);
    	margin: 40px auto;
    	
    }
    
#metacatDocs thead,
#metacatDocs th{
    	background-color: #555555;
    	color: #FFFFFF;
    	font: 300 16px/20px "Source Sans Pro", Arial, sans-serif;
    }
    
#metacatDocs td{
    	font: 400 15px/20px "Source Sans Pro", Arial, sans-serif;
    }
    
#metacatDocs tr.row-odd{
    	background: rgba(103, 184, 229, 0.2);
    }


/* HIGHLIGHTING
 -----------------------------------------------*/
 #metacatDocs .highlight{
 	padding-left: 10px;
 	padding-right: 10px;
 	word-wrap: break-word;
 	color: #FFFFFF;
 	background: none;
 	clear: right;
 }
 
#metacatDocs .highlight-python{
 	word-wrap: break-word;
 	color: #FFFFFF;
 	clear: right;
 }
 
 pre{
	 padding: 10px;
	background: rgba(22,97,148,0.7);
	color: #FFFFFF;
	font-size: 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 20px auto;
 }
 
    
 /* MISC
 -----------------------------------------------*/
 .align-center{
 	margin-left: auto;
 	margin-right: auto;
 }
 
 .figure{
 	max-width: 80%;
 	background-color: #FFFFFF;
 	padding: 10px;
 	display: block;
 	border: 1px solid #666666;
 	margin: 20px auto;
 }
 
 .figure > img{
 	max-width: 90%;
 	margin: 10px auto;
 	display: block;
 }
 
 .figure > .caption{
	 margin-bottom: 0px;
	text-align: center;
	font: 400 14px/14px "Source Sans Pro", Arial, sans-serif;
	color: #666;
	padding-top: 10px;
 }
 
 
#metacatDocs .topic{
 	background: rgba(255,255,255,0.5);
 	padding: 20px;
 	border-radius: 20px;
 	-webkit-border-radius: 20px;
 	-moz-border-radius: 20px;
 }
 
 #metacatDocs .topic > ul{
 	margin-left: 20px;
 }
 
 #metacatDocs .topic-title{
 	font: 300 24px/24px "Oswald", sans-serif;
	margin-top: 0;
 }
 
#metacatDocs  #license pre{
 	width: 700px;
 	margin: 0 auto;
 }
 
 #installing-the-registry .sidebar{
 	max-width: 100%;
 }
 
    dt{
   		font: 300 18px/24px "Oswald", sans-serif;
   }
   
   #metacatDocs input {
		-webkit-appearance: none;
		background-color: white;
		border-radius: 4px;
		height: 25px;
		width: 200px;
		box-shadow: none;
		border: 0;
    }
    
    #metacatDocs input[type="submit"]{
    	width: auto;
    }
    
    #metacatDocs h3 {
		font: 400 24.5px/40px "Source Sans Pro", sans-serif;
	}
	
	#metacatDocs h2{
		font: 400 27.5px/40px "Oswald", sans-serif;
	}
		
	#metacatDocs h1{
		font: 400 32px/40px "Oswald", sans-serif;
	}
	
	#metacatDocs h1 > a, 
	#metacatDocs h2 > a,
	#metacatDocs h3 > a,
	#metacatDocs h4 > a{
		color: #333333;
	}
	
	#metacatDocs ul ul{
		margin-left:20px;
	}
	
	#metacatDocs .note{
		 margin-left: 20px;
		 color: #555555;
	}
	
	#metacatDocs blockquote p{
		font-size: inherit;
		font-weight: inherit;
	}
 
 	#metacatDocs #contents{
 		background: rgba(255, 255, 255, 0.5);
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		margin: 20px auto;
		clear: both;
		padding: 10px 10px 10px 40px;
 	}
 	
 /* CSS for emplparser ------
 ------------------------------------ */
 .tablehead{
 	padding-top: 10px;
 	border-bottom: 1px solid #CCCCCC;
 }

