
/* Import font families */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
/* Oswald weights:
Light 300
Normal 400
Bold 700
*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic);
/* Source Sans Pro weights:
Light 300
Normal 400
Normal italic 400
Semi-bold 600
Bold 700
*/

/* Body CSS
-------------------------------------------------- */
    html {
    	margin: 0;
    	padding: 0;
    	height: 100%;
    }
    
    body {
      background-color: #555555; /*IE 8 fallback*/
      background: rgba(0, 0, 0, .8);
      font: 400 15px/20px "Source Sans Pro", "Helvetica Nueue", "Helvetica", "sans serif";
      min-height: 100%;
      position: relative;
    }
    
    a {
      color: #166194;
      font-weight: 600;
    }
        
    a:hover{
    	color: #3399CC;
    	text-decoration: none;
    }
    
    body, h1, h2, h3, h4, h5, h6, i{
    	color: #555;
    }
    
	h3 {
		font-size: 25px;
		font-weight: 400;
	}
	
	h2{
		font-size: 27px;
		font-weight: 600;
	}
	
	strong{
		font-weight: 600;
	}
	
    /*.bold-header{
    	background-color: #333;
    	color: #DDD;
    	font: 400 20px/30px "Oswald", Arial, sans-serif;
    	text-transform: uppercase;
    	text-shadow: none;
    }*/
    
    .pointer{
    	cursor: pointer;
    }
    
    .lead{
    	font-weight: 400;
    }
    .alert{
    	background-color: #FCF3C1;
    	color: #8D703D;
    	padding: 5px;
    }
    
    .mapMode .collapse-me{
    	cursor: pointer;
    }
    
    article, aside, figure, footer, header, hgroup, menu, nav, section { 
      display:block;   
    }

		
    body > section > article {
      background-color: #FFFFFF; /* Fallback for IE8 and earlier, will be solid white */
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 4px;		
      -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;			
    }
    
     .container{
    	width: 100%;
    }
    
    .center{
    	margin: 0 auto;
    	float: none;
    }
    
    h1 > a[name], h2 > a[name], h3 > a[name],
    h4 > a[name], h5 > a[name], h6 > a[name] {
      color: #555;
      text-decoration: none;
      z-index: 20; /*keeps hidden anchor tags from blocking content*/
    }
    
    /* make sure the anchors render with padding-top */
    h1 > a[name]:before, h2 > a[name]:before, h3 > a[name]:before,
    h4 > a[name]:before, h5 > a[name]:before, h6 > a[name]:before {
		content: "";
    padding-top: 115px;
    }
    
    ul, ol{
    	margin: 0px;
    }
    
    ul.indent > li{
    	margin-left: 15px;
    }
    
    ul.plain-list > li{
    	line-height: 25px;
    	list-style: none;
    }
   
    
    .clear{
    	clear: both;
    }
    
    
    div.row-fluid > a[name] {
      margin: 35px auto auto auto;
    }

     #Content{
     	width: 80%;
     	margin: 20px auto;
     }
     
     .mapMode #Content{
     	width: 100%;
     	margin: 0px;
     }
     
    /* For full-screen background image */
	img.bg{
		min-height: 100%;
		min-width: 1024px;
		width: 100%;
		height: auto;
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		z-index: -1; /* So that right-clicking on background image will behave like right-clicking on background */
	}
	
	.mapMode img.bg{
		display: none;
	}
	
	@media screen and (max-width: 1024px) {
	  img.bg {
	    left: 50%;
	    margin-left: -512px;   /* 50% */
	  }
	}

    
/* FORM/INPUT CUSTOMIZATIONS
-------------------------------------------------- */ 
	.depth {
  display: block;
  border: 1px solid silver;
  background: linear-gradient(#eee, #fff);
  transition: all 0.3s ease-out;
  padding: 5px;
  color: #555;
}

.depth:focus {
  outline: none;
  background-position: 0 -1.7em;
}

.controls-well {
	    padding: 4px;
	    backgorund-color: #FFFFFF; /*IE 8 fallback */
	    background: rgba(255, 255, 255, 0.3);
	}
	.control-label {
		cursor: default;
	}
	
	select{
    	font: 400 14px/14px "Source Sans Pro", Arial, sans-serif;
    	width: auto;
    }


	

/* CUSTOMIZE THE ACCORDIAN 
-------------------------------------------------- */
.accordion-heading a.accordion-toggle {
	display: inline-block; 
} 

/* SHARE/UPLOAD, AND LOGIN FEATURES 
* Choose to hide these features
* -----------------------------------------------------*/
.share-feature{
	/* display: none; */ 
}

/* NOTIFICATION AREA CSS
 * -------------------------------------------------- */    
  section#Notification {
    position: relative;
    top: 95px;
    margin: 50px auto;
    font-size: 40px;
  }
  
  #Notification i{
  	font-size: 40px;
  	margin-left: 43%;
  }
  
  #Notification p{
  	font-size: 20px;
  	width: 350px;
  	margin: 20px auto;
  	display: block;
  }

  
/* FOOTER CSS
-------------------------------------------------- */    
    
    #Footer {
      	position: absolute;
		bottom: -125px;
		background: #222;
		background-color: rgba(0,0,0,0.8);
		padding: 5px 2%;
		height: 98px;
		width: 96%;
		color: #DDD;
		display: block;
		transition: height 0.5s ease-out .5s;
		z-index: 2;
    }
    
    .mapMode #Footer{
		background: #222;
	   	position: fixed;
    	bottom: -80px;
    }
    
    .mapMode #Footer:hover{
    	height: 177px;
    	z-index: 2;
    }
    
    #Footer .center{
    	width: 20%;
    	font-size: 13px;
    	margin-bottom: 10px;
    }


    footer#Footer h2 {
      font-size: 15px;
      line-height: 15px;
      color: #BBB;
      padding: 0;
      display: inline;
      margin-left: 2%;
    }
    
    footer#Footer .helpitems {
      list-style: none;
    }
    
    footer#Footer .helpitems li{
      margin: 0px 0px 0px 5px;                 
    }
    
    ul.helpitems a {
      color: #CCC;
      font-weight: 400;
      font-size: 13px;
           
    }
    
    ul.helpitems a:hover{
    	color: #3399CC;
    	text-decoration: none; 
    }
    

    #Footer img {
      opacity: .6;
    }
    
    #Footer img:hover{
    	opacity: 1;
    	transition: opacity 1s;
    }
    .nceas{
    	width: 60px;
    }
    .metacat{
    	width: 60px;
    	margin-left: 10px;
    }
    
    .dataone{
    	width: 100px;
    	margin-left: 10px;
    }
    
    
 /* BUTTONS CSS
-------------------------------------------------- */   
    .metro.three-d {
  position: relative;
  box-shadow: 
    1px 1px #53A7EA,
    2px 2px #53A7EA,
    3px 3px #53A7EA;
  transition: all 0.1s ease-in;
}

.metro.three-d:active { 
  box-shadow: none;

}

    .btn, .btn-primary, .btn-large, .btn-small, .btn-mini {
      background-image: none;
      background-repeat: none;
      background-color: #166194;
      box-shadow: none;
      -moz-box-shadow: none;
      border: none;
      filter: none;
      text-shadow: none;
      color: #FFFFFF;
    }
    
    .btn:hover{
    	background-color: #0377DD;
    	color: #FFF;
    	transition: background-color 1s;
    }

    .btn-primary a, .btn-info a, .btn-success a, .btn-warning a, .btn-danger a, .btn-inverse a {
      color: #FFFFFF; 
      text-decoration:none;     
    }
    
    .btn > i, .btn-primary > i, .btn-large > i, .btn-small > i, .btn-mini > i{
    	color: #FFFFFF;
    }
    
    .btn-primary {
      color: #FFFFFF;
      
    }
    
    .btn-primary[disabled], .btn-primary[disabled]:hover, .btn[disabled], .btn[disabled]:hover {
		background-color: #999999;
		color: #FFFFFF;
		text-shadow: none;
		border: none;
    }
        
    
    .btn-group > .dropdown-toggle {
		-webkit-border-top-right-radius: 4px;
		-moz-border-top-right-radius: 4px;
		border-top-right-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		-moz-border-bottom-right-radius: 4px;
		border-radius: 4px;
	}
	
     /* Download  and Publish buttons */
     #downloadPackage a.btn {
    	width: 100px;
    	margin-bottom: 8px;
    } 
    
    .download-this-package{
    	margin-left: 20px;
    }
    
    .download-this-package i{
    	margin-left: 10px;
    }
    
    #downloadPackage .dropdown-toggle {
		font: 400 20px/20px "Oswald", Arial, sans-serif;
	 }
    
    .btn-group.open .btn.dropdown-toggle{
    	color: #166194;
      	background: rgba(22, 97, 148, 0.2);
    }  
    
    .dropdown-menu > li > a.btn{
    	background-color: #FFFFFF;
    	font: 300 18px/18px "Oswald", Arial, sans-serif;
    }
    
/* ICONS CSS
-------------------------------------------------- */
    
    i.glyphicons-icon, i.halflings-icon {
      opacity: .8;
    }

    i.glyphicons-icon.white {
      opacity: 1;
    }
   
    
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
   
    nav#Navbar {
      top: 0px;
      width: auto;
      float: none;    
    }
    
    /*Share Your Data button */
    #share-data-view{
    	display: none;
    }
    
    #share{
    	position: fixed;
    	top: 60px;
    	left: -160px;
    	z-index: 999;
    	width: auto;
    	margin: 0px;
    	border-radius: 0px;
    	-webkit-border-radius: 0px;
    	-moz-border-radius: 0px;
    	padding: 0px 5px;
    	line-height: 33px;
    	-webkit-box-shadow: 3px -1px 15px rgba(50, 50, 50, 0.51);
		-moz-box-shadow:    3px -1px 15px rgba(50, 50, 50, 0.51);
		box-shadow:         3px -1px 15px rgba(50, 50, 50, 0.51);
		transition: all .5s;
    }
    
    #share > i{
    	margin-left: 10px;
    	font-size: 24px;
    	color: #EEE;
    }
    
    #share:hover{
    	left: 0px;
    }
    
    .show-new-dataCatalogView{
    	cursor: pointer;
    }

    
    /* Depending on the headerType, these classes apply */

    .navbar {
      position: relative;
      border: none;  
      margin: 0px;  
    }
    
    .navbar .nav{
    	float: right;
    	margin: 0px;
    	z-index: 999;
    }
    
    .mapMode .navbar .nav{
    	z-index: 999;
    }

    .navbar-inner {
      border: none;
      background:rgb(0,0,0);
      background:transparent\9; /* For IE */
      background:rgba(0,0,0,0);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000); /* For IE */
      zoom: 1; /* For IE */
      min-height: 0px;
      box-shadow: none;
	} 
    
    .navbar-inner > ul{
    	margin: 0px;
    }

	.navbar-inner > ul > li img{
		height: 32px;
		margin-top: -10px;
	}
    .navbar .nav > li > a {
      color: #FFFFFF; /*IE fallback */
      color: rgba(255, 255, 255, 0.8);
      text-shadow: none;
      font: normal normal 400 25px/20px "Oswald", Arial, sans-serif;
      text-transform: uppercase;
    }
    
    .mapMode .navbar .nav > li > a{
      text-shadow: 0 1px 8px #333;
      color: #FFF;
    }
    

    .navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover {
      color: #FFF;
      text-decoration: none;
      text-shadow: none;
      transition: all .5s;
    }   
    
    .navbar .nav > .active > a,
    .navbar .nav > .active > a:hover,
    .navbar .nav > .active > a:focus {
      color: #555555;
      font-weight: 400;
      text-decoration: none;
      background-color: #E5E5E5;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
         -moz-box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
              box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
    }
    
    .mapMode .navbar .nav > li > a:focus,
    .mapMode .navbar .nav > li > a:hover{
    	text-shadow: none;
    	color: #666;
    	transition: all .5s;
    }

    #Navbar form {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
    }
    
    /* Logged-in view and user controls in navbar */
    #Navbar i .user {
      opacity: .6;
    }
    
    #Navbar .dropdown-toggle > .icon-sort-down{
    	font-size: 15px;
    	width: 5px;
    }
    
    #Navbar .dropdown-menu{
    	left: -90px;
    }
    
    #Navbar .dropdown-menu:before,
    #Navbar .dropdown-menu:after{
    	left: 80%;
    }
    
    #Navbar .dropdown-menu > li > a:hover{
    	background-color: #166194;
    	background-image: none;
    }
    
    #SignIn {
      float: right;
    }
 
    
    /* Search bar in nav bar */
    
    #search_txt{
		border: 0px;
		border-radius: 4px 0px 0px 4px;
		-moz-border-radius: 4px 0px 0px 4px;
		-webkit-border-radius: 4px 0px 0px 4px;
		margin-top: 5px;
		float: left;
		background-color: #FFFFFF;
		background-image: none;
		color: #333;	
    }
    .mapMode #search_txt,
    .mapMode #search_btn{
    	box-shadow: 0 1px 8px #666;
    }
    	#search_txt::-webkit-input-placeholder {
		   color: #666;
		}
		#search_txt:-moz-placeholder { /* Firefox 18- */
		   color: #666;  
		}
		
		#search_txt::-moz-placeholder {  /* Firefox 19+ */
		   color: #666;  
		}
		
		#search_txt:-ms-input-placeholder {  
		   color: #666;  
		}
    
    
    #search_btn{
    	margin-top: 5px;
    	height: 16px;
    	width: auto;
    	float: left;
    	background-image: none;
    	background-color: #999;
    	border-radius: 0px 4px 4px 0px;
    	-webkit-border-radius: 0px 4px 4px 0px;
		-moz-border-radius: 0px 4px 4px 0px;
    	padding: 5px 7px 7px 7px;
    	border: 0px;
    }
    
    #search_btn > i:hover{
    	color: #3399CC;
    	transition: all .5s;
    }
    
    #search_btn > i{
    	font-size: 13px;
    	color: #DDD;
    	text-shadow: none;
    	float: left;
    	line-height: 18px;
    }

    

/* METADATA VIEW CSS
-------------------------------------------------- */
	label.control-label{
		font: 400 15px/18px "Source Sans Pro", Arial, sans-serif;
	}
		
	#Metadata > a[href="#data"]{
		display: block;
		margin-bottom: 20px;
		font-size: 13px;
	}
	
	#Metadata .well{
		font-size: 23px;
		line-height: 30px;
		font-weight: 400;
		border: 1px solid #CCCCCC;
		box-shadow: none;
		-moz-box-shadow: none;
		
	}
	
	#Metadata .well strong{
		font-weight: 400;
	}
	
	#Metadata h4{
		font-weight: 600;
	}
	
	#Metadata .nav-header{
		text-transform: none;
	}
	
	#Metadata .nav-list > .active > a{
		font-weight: 700;
		background-color: #166194;
		text-shadow: none;
	}
	
	#Metadata .nav > li > a:hover{
		text-shadow: none;
	}
	
	.search-results a.btn{
		font: 700 14px/14px "Source Sans Pro", Arial, sans-serif;
	}
	
	/* Resource map contents table */
    
    #downloadContents{
    	margin-bottom: 40px;
    }
    
    table.download-contents {
    	float: left;
    	width: auto;
    }
    
    table.download-contents td{
    	min-width: 115px;
    }
    
    .format-type i {
    	margin-right: 5px;
    }
    .format-type {
    	text-transform: capitalize;
    }
    
    .file-type i {
  		  color: #999;
  		  margin-left: 5px;
    }
    
    th.id {
    	min-width: 180px;
    }
    
    /*Details link*/
    .download-contents .more-info{
    	padding-left: 20px;
    	max-width: 65px;
    	color: #999;
    	font-size: 12px;
    }
    
    .download-contents .more-info i{
    	margin-left: 3px;
    	font-size: 14px;
    }
	
	/*Taxonomic range*/
    .taxonomic-range .control-group{
    	margin-bottom: 20px;
    	width: auto;
    }
    .taxonomic-range .control-label{
    	width: auto;
    	padding: 0px 10px;
    }
    
    .taxonomic-range .controls > .control-group:nth-child(2n){
    	margin-left: 107px;
    }
    
    .taxonomic-range .control-label{
    	color: #999;
    }
    
    .taxonomic-range .controls {
		margin-left: 0px;
	}

    
/* Registry CSS
-------------------------------------------------- */
    #RegistryEntryForm, 
    #RegistryLogin, 
    #RegistryResponse, 
    #RegistryEntryReview, 
    #RegistryGuide {
		/*margin-top: 110px;*/
		min-height: 800px;
    }
    
    label.inline {
    	width: 40%;
    }
    
    /* Larger modal for guide content */
    .modal.large {
    	width: 80%;
    	margin-left: -40%;
    }
    
	/* Inherit for these registry labels */
	.label {
	  display: inherit;
	  padding: inherit;
	  font: inherit;
	  line-height: inherit;
	  color: inherit;
	  white-space: inherit;
	  vertical-align: inherit;
	  background-color: inherit;
	  -webkit-border-radius: inherit;
	     -moz-border-radius: inherit;
	          border-radius: inherit;
	}  
	
/* Combobox styles, overlay text input on select
<!-- example here -->
<div class="select-editable">
  <select onchange="this.nextElementSibling.value=this.value">
    <option value=""></option>
    <option value="sample">sample</option>
  </select>
  <input type="text" name="keyword" value=""/>
</div>
-------------------------------------------------- */     
	.select-editable {
		position: relative; 
		height: 30px; 
	}
	.select-editable select { 
		position:absolute; 
		top: 0px; 
		left: 0px; 
		width: 220px; 
		height: 29px;
	}
	.select-editable input {
		position:absolute; 
		top: 0px;
		left: 0px; 
		width: 193px; 
		padding: 1px;
		padding-left: 5px;
		height: 25px;
	}
	.select-editable select:focus, 
	.select-editable input:focus { 
		outline:none; 
	}	  

	.minimize > i{
    	font-size: 20px;
    	margin-top: 5px;
    	float: right;
    }
    
    .minimize > i.icon-check-minus{
    	font-size: 17px;
    }
    
    #sidebar .minimize > i{
    	float: right;
    	margin-right: 10px;
    }
    
    #content .minimize{
    	position: fixed;
    	right: 25px;
    	z-index: 1;
    }
    
     #sidebar.collapsed .minimize > i.minimize,
     #sidebar .minimize > i.maximize,
     #content.collapsed .minimize > i.minimize,
     #content .minimize > i.maximize{
    	display: none;
    }
    
     #sidebar.collapsed .minimize > i.maximize,
     #sidebar .minimize > i.minimize,
     #content.collapsed .minimize > i.maximize,
     #content .minimize > i.minimize{
    	display: block;
    }
    
  /* SIDEBAR CSS
  -------------------------------------------------- */
    #sidebar {
      position: fixed;
      width: 252px;
      bottom: 0px;
      left: 0px;
      padding: 0px;
      background-color: rgba(255,255,255,0.8);
      border-radius: 0px;
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      border-top-right-radius:4px;
      -moz-border-top-right-radius:4px;
      -webkit-border-top-right-radius:4px;
      margin: 0px;
      -webkit-box-shadow: 3px -4px 10px rgba(50, 50, 50, 0.44);
	  -moz-box-shadow: 3px -4px 10px rgba(50, 50, 50, 0.44);
	  box-shadow: 3px -4px 10px rgba(50, 50, 50, 0.44);
	  max-height: 76%;
	  overflow-y: visible;
	  overflow-x: hidden;
    } 
    
    #sidebar.collapsed{
    	height: 60px;
    }
 	
 	aside > div{
 		margin-bottom: 10px;		
 	}
    
    .subset-choice{
    background-color: rgba(23, 97, 146, 0.46);
	color: white;
	font-size: 20px;
	font-family: "Oswald";
	padding: 2px 0px 0px 30%;
	position: relative;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	}
	
	.subset-choice:hover,
	.subset-choice:hover > i{
		color: #166194;
	}
	
	.subset-choice > i{
		position:absolute;
		right: 0;
		margin-right: 10px;
		top: 20%;
	}
    
    /***Filters ***/
    
    .filter-contain{
   	  width: 232px;
   	  position: relative;
   	  border-bottom: 1px solid #DDD;
   	  padding: 10px;
   }
   
   .filter-contain i{
   		color: #999;
   		font-size: 18px;
   }
   
   .filter-contain > i.icon-map-marker{
   		font-size: 23px;
   }
   
   .filter-contain label i{
   		font-size: 15px;
   		margin-left: 3px;
		top: 2px;	
		position: relative;
   }
    
    .filter-contain i.more-info{
    	font-size: 14px;
    	line-height: 23px;
    	top: 5px;
    	float: left;
    }
    
    /*-- Search buttons next to text inputs --*/
    .filter.btn{
    	background-color: #999;
    	background-image: none;
    	border-radius: 0px;
    	-moz-border-radius: 0px;
    	-webkit-border-radius: 0px;
    	border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		-moz-border-top-right-radius: 4px;
		-moz-border-bottom-right-radius: 4px;
    	border: 0px;
    	height: 30px;
    	padding: 0px;
    	display: inline-block;
    	width: 20%;
    }
    
    .filter.btn > i{
    	margin-bottom: 2px;
    	display: block;
    	color: #FFF;
    }
    
    .filter.btn > i:hover{
    	color: #FFF;
    	transition: color .5s;
    }
    
    /*-- Inputs for search filters --*/
    input.filter{
    	border-radius: 4px;
    	-webkit-border-radius: 4px;
    	-moz-border-radius: 4px;
    	border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
    	-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
    	-moz-border-top-right-radius: 0px;
		-moz-border-bottom-right-radius: 0px;
    	border: 1px solid #AAA;
    	height: 20px;
    	background-color: #FFF;
    	background-image: none;
    	width: 140px;
    	margin-left: 10px;
    	-moz-box-shadow: inset 0 0 10px -1px #CCC;
		-webkit-box-shadow: inset 0 0 10px -1px #CCC;
		box-shadow: inset 0 0 10px -1px #CCC;
		color: #555;
    }
    
    #all_input{
    	width: 72%;
    	margin-left: 0px;
    }
    
    input.filter::-webkit-input-placeholder{
		color: #777;
		font-family: "Source Sans Pro";
		font-weight: normal;
		text-shadow: none;
	}
	input.filter:-moz-placeholder{ /* Firefox 18- */
		color: #DDD;
		font-family: "Source Sans Pro";
		font-weight: normal;
		text-shadow: none;
	}
	input.filter::-moz-placeholder{ /* Firefox 19+ */
		color: #DDD;
		font-family: "Source Sans Pro";
		font-weight: normal;
		text-shadow: none;
	}
	input.filter:-ms-input-placeholder{
		color: #DDD;
		font-family: "Source Sans Pro";
		font-weight: normal;
		text-shadow: none;
	}

	/*-- The filter checkboxes --*/
	#filter-year input[type="checkbox"],
    #includes-files input[type="checkbox"]{
    	display: none;
    }
    
    #filter-year label,
    #includes-files label{
   		padding: 0px 5px 0px 5px;
		min-height: 1.5em;
		width: auto;
		max-width: 100%;
		margin: 5px 5px 0px 0px;
    }  
    

    
	/*-- The 'Year' filter elements --*/
	#filter-year .left-padding{
		padding-left: 10px;
	}
    
    #data-year-label{
    	margin-left: 10px;
    }

   
    #filter-year  input[type="number"]{
   		background: #FFF;
		border: 1px solid #CCC;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		text-align: right;
		min-height: 23px;
		-webkit-appearance: none;
		top: -5px;
		position: relative;
		margin-bottom: 0px;
		width: 56px;
		margin-top: 10px;
		margin-bottom: 10px;
		-moz-box-shadow: inset 0 0 10px -1px #CCC;
		-webkit-box-shadow: inset 0 0 10px -1px #CCC;
		box-shadow: inset 0 0 10px -1px #CCC;
		font-size: 14px;
		color: #888;
		line-height: 14px;
		padding: 2px;
    }
    
    #filter-year  input[type="number"]:focus{
    	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    }
    
    #max_year{
    	float: right;
    }
    
    #min_year{
    	float: left;
    }
    
    #year-range{
    	min-height: 6px;
    	border-radius: 4px;
    	border: 0px;
    	background: #AAAAAA;
    	position: relative;
    	margin-bottom: 5px;
    	width: 87%;
    }
    
    #year-range.disabled,
    #min_year.disabled,
    #max_year.disabled{
    	opacity: 0.6;
    }
    
    .ui-slider-range{
    	top: 0;
    	height: 100%;
    	position: absolute;
    	z-index: 1;
    	display: block;
    	border: 0;
    	background: #166194;
    }
    
    .ui-slider-handle{
    	border: 1px solid #999999;
    	background-color: #EFEFEF;
    	top: -0.4em;
    	position: absolute;
    	z-index: 2;
    	width: 1.2em;
    	height: 1.2em;
    	cursor: default;
    	border-radius: 1.2em;
    	-moz-border-radius: 1.2em;
    	-webkit-border-radius: 1.2em;
    }

	/*-- Currently applied filters --*/
	.current-filters,
	.current-filters[class*="span"]{
		list-style: none;
		color: #FFFFFF;
		font: 400 14px/14px "Source Sans Pro", Arial, sans-serif;
		margin-left: 10px;
		min-height: 0px;
	}
	
	.current-filters .alert{
		width: 100%;
		margin-top: 10px;
	}
	
	#current-all-filters{
		margin-left: 0px;
	}
	
	.current-filters > li,
	.current-filters > li[class*="span"],
	#filter-year label.ui-state-active, 
	#includes-files label.ui-state-active{
		background-color: #166194;
		color: #FFF;
		padding: 0px 5px 0px 5px;
		height: auto;
		line-height: 21px;
		width: auto;
		max-width: 100%;
		margin: 5px 5px 0px 0px;
		float:left;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	}
	
	 #includes-files label,
     #includes-files label.ui-state-active{
    	margin-top: 0px;
    	line-height: 21px;
    	float:left;
    	height: 21px;
    } 
    
    #filter-year label#data-year-label{
    	margin-top:0px;
    }
	
	.current-filters > li > span{
		float: left;
		margin-right: 5px;
		line-height: 1.5em;
		white-space: normal;
		max-width: 90%;
	}
	
	.current-filters > li > i{
		float: right;
		line-height: 1.5em;
		font-size: 1em;
		color: #71A9BD;
	}
	
	
	label.ui-state-active i{
		color: #71A9BD;
	}
	
	
	label.ui-state-active i.icon-check-empty,
	label.ui-state-default i.icon-check{
		display: none;
	}
	
	label.ui-state-active i.icon-check{
		display: inline;
	}
	
	.current-filters > li > i:hover{
    	cursor: pointer;
    	color: #FFFFFF;
    	opacity: 1;
	}
	
	/** for showing "my packages" filter */
	.keyword-search-link {
		display: none;
	}
	.current-filters.active {
		background-color: inherit;
		border-color: inherit;
		display: inline-block;
	}
	.keyword-search-link.active {
		background-color: #166194;
		border-color: inherit;
		display: inline-block;
		width: auto;
	}
    
	
    /*-- Headers in sidebar --*/
    h2.nav-header {
		display: block;
		margin: 0px;
		min-height: 25px;
		padding: 0px;
		padding-left: 10px;
		margin-bottom: 0px;
		float: left;
		font-size: 18px;
		text-transform: none;
		color: #666;
    }
    
    h2.nav-header > i{
    	font-size: 18px;
    	float: right;
    	margin-right: 20px;
    	margin-top: 5px;
    	color: #DDD;
    	cursor: pointer;
    }

    
    h3.nav-header,
    h3.nav-header > label{
    	font: 400 14px/25px "Source Sans Pro" Arial sans-serif;
		margin: 0px;
		color: #ddd;
		text-transform: none;
		display: block;
		padding: 0px;
		text-shadow: none;
		padding-left: 10px;
    }
    
    h3.nav-header > label{
    	display: inline-block;
    	padding: 0px;
    }
    
    h3.nav-header > input{
    	height: 20px;
    }
    
    .nav-header > i{
    	margin-right: 5px;
    	font-size: 23px;
    }
    
    li.nav-header{
    	text-transform: none;
		font: 600 13px/13px "Source Sans Pro", "Arial", sans-serif;
		color: #7F7F7F;
    }
    
    /*-- Your Collections area --*/
    ul.collections{
    	margin-left: 0px;
    	list-style: none;
    }
    
    a.collections {
    	color: #555555;
    }
    
    a.collections:hover{
    	color: #3399CC;
    }
    
    a.collections > i{
    	margin-right: 5px;
    }
    
   input[class*="span"].left,
   .row-fluid input[class*="span"].left{
   		float: left;
   }  
    
    #clear-all{
		cursor: pointer;
		font-size: 14px;
		color: #931D1D;
		display: none;
		background-color: #931d1d;
		color: #FFF;
		padding: 0px 5px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		position: absolute;
		top: 7px;
		left: 68px;
    }
    
    #clear-all > i{
    	font-size: 15px;
    	margin-left: 7px;
    	color: #DB8080;
    }
    
    /* Autocomplete */
    ul.ui-autocomplete{
    	width: 246px;
    	background-color: #FFFFFF;
    	border: 1px solid #999999;
    	padding: 10px;
    	list-style: none;
    	overflow-y: scroll;
    	max-height: 150px;
    }
    
    li.ui-menu-item{
    	width: 245px;
    	overflow: hidden;
    	white-space: nowrap;
    	text-overflow: ellipsis;
    }
    
    li.ui-menu-item > a {
    	color: #555555;
    	/*font: 400 1em/1.8em "Source Sans Pro", Arial, sans-serif;*/
    	width: 245px;
    }
	
    li.ui-menu-item > a:hover,
    .ui-state-focus {
    	cursor: pointer;
    	text-decoration: none;
    	font-weight: bold;
    	color: #166194;
    }
    

/* RESULTS CSS
-------------------------------------------------- */
    /*-- Results header --*/
    .result-header {
      position: relative;
      z-index: 1;
      height: 76px;
    }
    
    .result-header-count{
    font-weight: 600;
	font-size: 20px;
	line-height: 25px;
}
    
     .result-header > .result-header-count{
    	position: relative;
    	width: 100%;
    	padding-left: 7%;
    }
    
    .result-header-count > .result-header-count{
    	position: fixed;
    	width: 100%;
    	margin-left: 0px;
    	padding-left: 10px;
    	padding-top: 5px;
    	z-index: 1;
    	color: #888888;
    	text-transform: none;
    }
    
    .mapMode .result-header-count > .result-header-count{
    	padding-left: 50px;
    }
    
    .collapsed .result-header-count > .result-header-count{
    	padding-left: 10px;
    }
    
    .mapMode .result-header-count > .result-header-count{
    	width: 45%;
    }
    
    .result-header-count > .result-header-count > span{
    	color: #CCCCCC;
    }
    
    .result-header-count > .result-header-count:after{
    	content: " data packages";
    }
    
    #countstats:before{
		content: "Listing ";
	}
	
	.mapMode #countstats:before{
		content: "Mapping ";
	}
    
    .map-pointer{
    	display: none;
    }
    
    .mapMode .map-pointer{
		display: block;
		position: fixed;
		font-size: 75px;
		background-color: #333;
		z-index: 1;
		width: auto;
		color: #777777;
		padding-left: 5px;
		padding-right: 11px;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
	}
	
	.collapsed .map-pointer{
		display: none;
	}
	
    #sortOrder{
    	border: 1px solid #CCC;
    	border-radius: 4px;
    	-webkit-border-radius: 4px;
    	-moz-border-radius: 4px;
    	background-color: #FFF;
    	width: auto;
 		right: 10px;
 		margin-top: 5px;
		height: 22px;
		z-index: 1;
    }
 	
 	#statcounts{
 		width: 100%;
 		padding-left: 10px;
 		background-color: #FFF;
 		height: inherit;
 		left: 30%;
 		margin-left: 0px;
 		position: fixed;
 	}
 	
 	.mapMode #statcounts{
 		left: 55%;
 		border-top-left-radius: 4px;
 		text-transform: 0 1px 0 rgba(255,255,255,0.5);
 		color: #666;
 	}
 	
 	.pagination label{
 		display: inline;
		font-weight: 600;
 		margin-right: 5px;
 	}
   
   /*-- Results rows --*/
   #results{
   		margin-top: 33px;
   		width: 100%;
   		overflow-x: hidden;
   		float: right;
   		-webkit-box-shadow: -4px -2px 5px rgba(50, 50, 50, 0.4);
		-moz-box-shadow:    -4px -2px 5px rgba(50, 50, 50, 0.4);
		box-shadow:         -4px -2px 5px rgba(50, 50, 50, 0.4);
   }
   
   .mapMode #results{
   		width: 100%;
   }
   
    .search-results{
    	background-color: #FFFFFF; /* IE 8 fallback */
    	background-color: rgba(255,255,255,0.9);
    	margin-top: 10px;
    }
    
    .search-results > p{
    	text-align: center;
    	padding-top: 5px;
    }
    
    #collapse-content{
    	position: absolute;
    	top: 5px;
    	right: 20px;
    	font-size: 18px;
    	color: #DDD;
    	cursor: pointer;
    }
    
    #results.loading *{
    	color: #CCCCCC;
    	background-color: #DDDDDD;
    	border: 0px;
    }
    
    .result-row {
      display: block;
      padding: 4px 1%;
      width: 99%;
      font: 400 14px/18px "Source Sans Pro" Arial, sans-serif;
    }
    
    .result-row:nth-child(odd){
    	background-color: #CCCCCC; /*IE 8 fallback */
    	background-color: rgba(185, 185, 185, 0.3);
    }
    
    .result-row:nth-child(even){
    	background-color: transparent;
    }
    
    .result-row .result-row,
    .result-row:hover .result-row{
    	background-color: transparent;
    }
    
    .result-row:hover { 
    background-color: #DAEBF7; /* IE 8 fallback */
    background-color: rgba(178, 202, 221, 0.8);
  	}
  
    
    .result-author {
      font-weight: normal;
    }
    
    .result-citation{
    	padding-left: 3%;
    }
    
    .result-title{
    	font-weight: 600;
    	color: #166194;
    }
    
    .result-row .abstract{
    	padding: 0px 2%;
    	width: 96%;
    	border: 0px;
    	font-size: 0.9em;
    	clear: both;
    	display: none;
    }
    
    .result-row:hover .abstract{
   		display:block;
    }
    .result-row .dropdown-menu{
  		left: -320%;
  	}
    
    /*-- Results List Icons --*/
    
    .info-icons{
    	max-width: 14%;
    }
    
    .info-icons > div:first-child{
    	max-width: 45px;
    }
    
    .info-icons i.more-info{
    	cursor: help;
    }   
    
    .info-icons .show-abstract > i{
    	font-size: 19px;
    	margin-left: -2px;
    	margin-top: -1px;
    }
    
    .info-icons .show-abstract > i.show-abstract,
    .info-icons .download{
    	color: #999999;
    }
    
    .info-icons .on-map > i{
    	font-size: 19px;
    }
    
    .info-icons .on-map > i.on-map{
    	color: #DA4D3A;
    	cursor: default;
    }
    
    
    .info-icons i.inactive{
    	color: #EEE;
    	cursor: default;
    }
    
    .popover{
    	font-size: 13px;
    }
    
     .abstract-popover{
    	max-height: 500px;
    	min-height: 10px;
    	width: 250px;
		overflow: hidden;
    	word-break: keep-all;
    	text-overflow: ellipsis;
    }
  	
  	/** View count **/
    .result-row .stats .count{
    	font-size: 16px;
    	text-align: center; 
    	display: block;
    }
    
    .result-row .stats label{
    	font-size: 12px;
    	text-align: center;
    }
    
	/** Download button **/   

    
    a.download{
    	width: 77%;
    	min-width: 56px;
    	max-width: 79px;
    	display:inline-block;
		color: #888888;
		padding-right: 5px;
		padding-left: 5px;
		margin-left: -6px;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
    }

    
    .result-row a.download > .icon-caret-down {
    	margin-left: 3px;
    	font-size: 12px;
    	float: left;
    } 
    
    
    .result-row:hover a.download{
    background-image: none;
    color: #555555;
	padding: 4px 4px;
	margin-bottom: 0;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
    }
    
    .result-row a.download:hover{
    	background-color: #e6e6e6;
    }
    
	.result-row i.download{
		font-size: 16px;
		cursor: pointer;
		float: left;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		margin-right: 0px;
	}
	
	.result-row .download label{
		font-size: 12px;
		line-height: 17px;
		margin-left: -10px;
		margin-bottom: 0px;
		float: right;
		opacity: 0;
		display:inline;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
	}
	
	.result-row:hover .download label{
		opacity: 1;
	}

  	
  	.result-row .download:hover i{
  		text-decoration: none;
  	}
  	
    /*-- Pagination widget --*/
    .pagination {
    	cursor: pointer;
    	margin: 30px auto;
    	padding-bottom: 2px;
    	width: 70%;
    	left: 30%;
    	position: fixed;
    	background-color: #FFF;
    	border-bottom: 1px solid #CCC;
    }
    
    .mapMode .pagination{
        width: 44%;
    	left: 55%;
    }
    
    #resultspager{
    	float: left;
    	padding-left: 2%;
    	margin-top:10px;
    	width: 100%;
    }

	.pagination ul{
		border: none;
		float: left;
	}
	
	.pagination ul > li > a{
		background-color: #EEE;
		color: #555;
		font-size: 14px;
		line-height: 14px;	
		border: 1px solid #CCC;	
	}
	
	.pagination ul > li > a.unactive,
	.pagination ul > li > a.unactive:hover{
    	font-size: 20px;
    	color: #999999;
    	background-color: transparent;
    	cursor: default;
    }
	
	.pagination ul > li > a:hover{
		background-color: #DDD;
		color: #166194;
	}
	
	
	.pagination ul > .active > a,
	.pagination ul > .active > a:hover{
		color: #FFF;
		background-color: #AAA;
	}
	
	.pagination .sort-by{
		width: 170px;
		float: right;
		margin-right: 10px;
	}

/* MAPS 
--------------------------------- */
#map-canvas{
	height: 100%;
	width: 100%;
}

#map-container{
	display: none;
	transition: all 1s;
}

.mapMode #map-container{
	height: 100%;
	width: 100%;
	position: fixed;
	top:0px;
	display: block;
	transition: all 1s;
}

.gmaps-infowindow{
	max-height: 300px;
	overflow-y:scroll;	
}

#toggle-map{
	position: fixed;
	left: -85px;
	top: 100px;
	z-index: 999;
	border: 0px;
	padding: 0px 5px;
	-webkit-box-shadow: 3px -1px 15px rgba(50, 50, 50, 0.51);
	-moz-box-shadow: 3px -1px 15px rgba(50, 50, 50, 0.51);
	box-shadow: 3px -1px 15px rgba(50, 50, 50, 0.51);
	cursor: pointer;
	transition: all 0.8s;
}

#toggle-map i{
	font-size: 25px;
	color: #EEE;
	transition: all 0.5s;
}

#toggle-map:hover i{
	color: #3399CC;
}

#toggle-map span{
	margin-right: 10px;
	color: #3399CC;
}

#show-map-control,
.mapMode #hide-map-control{
	display: block;
}

.mapMode #show-map-control,
#hide-map-control{
	display: none;
}

.mapMode #toggle-map{
	left: -84px;
}

#toggle-map{
	left: -100px;
}

#toggle-map:hover{
	left: 0px;
}







/* Fixes Infowindow popup problem - interaction with bootstrap? */
img[src*="gstatic.com/"], img[src*="googleapis.com/"]  {
    max-width: 99999px;
}



#edit-map{
	font-size: 14px;
	line-height: 17px;
	color: #166194;
	border-bottom: 1px dotted #166194;
	position: absolute;
	top: 25px;
	left: 160px;
}

#mainBody{
	padding:0px;
	background: none;
	background-color: transparent;
}

#content {
	position: fixed;
	right: 0;
	bottom: 18px;
	background-color: transparent;
	height: auto;
	max-height: 90%;
	max-width: 70%;
	margin-top: 40px;
	transition: width 1s;
}

.mapMode #content{
	width: 45%;
	overflow-y:scroll;
	box-shadow: -4px -2px 5px rgba(50, 50, 50, 0.2);
	-webkit-box-shadow: -4px -2px 5px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: -4px -2px 5px rgba(50, 50, 50, 0.2);
}

#content.collapsed{
	height: 80px;
	position: fixed;
}

/* MAIN CONTENT 
--------------------------------- */
#mainContent{
	height: 0px;
	padding: 0px;
}

#mainContent h1{
	font: 400 60px/60px "Oswald", Arial, sans-serif;
	color: #FFFFFF;
	text-transform: uppercase;
	width: 300px;
}

#mainContent input{
	height: 90px;
	border-radius: 20px 0px 0px 20px;
	-webkit-border-radius: 20px 0px 0px 20px;
	-moz-border-radius: 20px 0px 0px 20px;
	font-size: 30px; 
	font-family: "Source Sans Pro";
	border: 3px solid #EEEEEE;
	border-right: 0px; 
	padding-left: 20px;
	margin-right: 20px;
	float: left;
	background-color: #FFFFFF; /* IE fallback */
	background-color: rgba(255,255,255,0.8);
}

#mainContent input::-webkit-input-placeholder{
	padding-top: 7px;
}
#mainContent input:-moz-placeholder{ /* Firefox 18- */
	padding-top: 7px;
}
#mainContent input::-moz-placeholder{ /* Firefox 19+ */
	padding-top: 7px;
}
#mainContent input:-ms-input-placeholder{
	padding-top: 7px;
}

#search_btn_main{
	float: left;
	height: 98px;
	margin-left: -20px;
	border-radius: 0 15px 15px 0;
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	border: 3px solid #EEEEEE;
	border-left: 0px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	padding: 0px;
	width: 100px;
	line-height: 90px;
}

#search_btn_main > i{
	color: #999999;
}

/*-------------- DOCUMENTATION CSS -----------------------------*/
/* ---------------------------------------------------- */

/* BANNER/HEADER CSS
---------------------------------------------------- */
#metacatDocs > .banner{
	width: 100%;
	height: 100px;
	background-color: #000000; /*IE 8 fallback */
	background: rgba(0,0,0, 0.7);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#metacatDocs > .banner > img{
	float: left;
	width: auto;
	margin: 20px 10px;
	max-height: 100%;
	height: 60px;
}

#metacatDocs > .banner > .title{
	font: 400 18px/18px "Oswald", Arial, sans-serif;
	color: #FFFFFF;
	float: left;
	margin: 38px 10px;
}

/* RELATED/NAVIGATION CSS
---------------------------------------------------- */
#metacatDocs > .related{
	width: 100%;
	position: relative;
	top: -80px;
	left: -20px;
}

#metacatDocs .related > h3{
	display: none;
}

 #metacatDocs .related > ul {
	list-style: none;
	float: right;
}

#metacatDocs .related > ul > li.right > a{
	color: #FFFFFF;
	font: 400 30px/30px "Oswald", sans-serif;	
	text-decoration: none;
	text-transform: uppercase;	
}

#metacatDocs .related > ul > li.right{
	margin-right: 20px;
	float:left;
}


#metacatDocs .related > ul > li > a:hover,
#metacatDocs .related > ul > li > a:focus{
      color: #FFFFFF;
      text-decoration: none;
      opacity: 0.7;
}

#metacatDocs .related > ul input[type="submit"]{	/*"Go" button on navigation search bar */
	position: relative;
	left: -10px;
	top: -3px;
	height: 33px;
	border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-left: 1px solid #CCCCCC;
	font: 300 16px/16px "Oswald", sans-serif;
}

#metacatDocs .related > ul input[type="submit"]:hover{	/*"Go" button on navigation search bar */
	background-color: #166194;
	color: #FFFFFF;
	cursor: pointer;
}

#metacatDocs .related > ul > li > span#searchbox{
	display: block;
	margin-right: 0px;
}

#metacatDocs .related > ul > li > span#searchbox > form{
	display: inline;
	vertical-align: top;
}


#metacatDocs .related .breadcrumb{
	float: left;
	clear: none;
	background: none;
}

#metacatDocs .related .breadcrumb,
#metacatDocs .related .breadcrumb > a{
	font: 300 16px/16px "Oswald", Arial, sans-serif;
	color: #FFFFFF;
}

#metacatDocs .related .breadcrumb.first{
	clear: left;
}

#metacatDocs .footerNav > .related li.right{

	
}

#metacatDocs .footerNav > .related li.breadcrumb:last-child{
	margin-right: 20px;
}





/* DOCUMENT / MAIN CONTENT AREA
------------------------------------------------------*/
#metacatDocs > .document{
	margin: 20px auto;
	padding: 20px 2%;
	width: 96%;
}

/* Permalink icons */
#metacatDocs > .document .headerlink{
	display: none;
	margin-left: 10px;
}

#metacatDocs > .document h1:hover > .headerlink,
#metacatDocs > .document h2:hover > .headerlink,
#metacatDocs > .document h3:hover > .headerlink{
	display: inline;
	color: #166194;
}


/* SIDEBAR
---------------------------------------------------- */
#metacatDocs .sidebar{
	float: right;
	margin: 20px 0px 30px 20px;
	background-color: #FFFFFF; /*IE 8 fallback */
	background: rgba(255,255,255, 0.5);
	border-radius: 20px;
	padding: 20px;
	max-width:60%;
}

#metacatDocs .sidebar .sidebar-title{
	font: 300 24px/24px "Oswald", Arial, sans-serif;
	margin-top: 0;
}

#metacatDocs .sidebar img{
	margin: 0;
}

/* FOOTER
---------------------------------------------------- */
#metacatDocs > .footer{
	color: #fdfdfd;
	bottom: 0;
	width: 96%;
	margin: 50px auto 0 auto;
	background-color: #FFFFFF; /*IE 8 fallback */
	background: rgba(0,0,0, 0.7);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
	
}

#metacatDocs > .footer > .small-print{
	width: 550px;
	display: block;
	float: none;
	clear: both;
	margin: 20px auto 0 auto;
	color: #CCCCCC;
	font: 300 14px/14px "Source Sans Pro", Arial, sans-serif;
}

#metacatDocs > .footer > .footerNav{
	width: 100%;
	display: block;
	height: 40px;
	margin-bottom: 10px;
}

    
/* TABLES 
 -----------------------------------------------*/
 #metacatDocs table, 
 #metacatDocs tr,
 #metacatDocs th,
 #metacatDocs td,
 #metacatDocs thead,
 #metacatDocs tbody{
    	border: 0px;
    	border-collapse: collapse;
    	padding: 8px;
    }
    
#metacatDocs table{
		background-color: #FFFFFF; /*IE 8 fallback */
    	background: rgba(255,255,255, 0.8);
    	margin: 40px auto;
    	
    }
    
#metacatDocs thead,
#metacatDocs th{
    	background-color: #555555;
    	color: #FFFFFF;
    	font: 300 16px/20px "Source Sans Pro", Arial, sans-serif;
    }
    
#metacatDocs td{
    	font: 400 15px/20px "Source Sans Pro", Arial, sans-serif;
    }
    
#metacatDocs tr.row-odd{
		background-color: #BAD6E6; /*IE8 fallback*/
    	background: rgba(103, 184, 229, 0.2);
    }


/* HIGHLIGHTING
 -----------------------------------------------*/
 #metacatDocs .highlight{
 	padding-left: 10px;
 	padding-right: 10px;
 	word-wrap: break-word;
 	color: #FFFFFF;
 	background: none;
 	clear: right;
 }
 
#metacatDocs .highlight-python{
 	word-wrap: break-word;
 	color: #FFFFFF;
 	clear: right;
 }
 
 pre{
	 padding: 10px;
	 background-color: #166194; /*IE 8 fallback*/ 
	background: rgba(22,97,148,0.7);
	color: #FFFFFF;
	font-size: 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 20px auto;
 }
 
    
 /* MISC
 -----------------------------------------------*/
 .align-center{
 	margin-left: auto;
 	margin-right: auto;
 }
 
 .figure{
 	max-width: 80%;
 	background-color: #FFFFFF;
 	padding: 10px;
 	display: block;
 	border: 1px solid #666666;
 	margin: 20px auto;
 }
 
 .figure > img{
 	max-width: 90%;
 	margin: 10px auto;
 	display: block;
 }
 
 .figure > .caption{
	 margin-bottom: 0px;
	text-align: center;
	font: 400 14px/14px "Source Sans Pro", Arial, sans-serif;
	color: #666;
	padding-top: 10px;
 }
 
 
#metacatDocs .topic{
	background-color: #FFFFFF; /*iE 8 fallback */
 	background: rgba(255,255,255,0.5);
 	padding: 20px;
 	border-radius: 20px;
 	-webkit-border-radius: 20px;
 	-moz-border-radius: 20px;
 }
 
 #metacatDocs .topic > ul{
 	margin-left: 20px;
 }
 
 #metacatDocs .topic-title{
 	font: 300 24px/24px "Oswald", sans-serif;
	margin-top: 0;
 }
 
#metacatDocs  #license pre{
 	width: 700px;
 	margin: 0 auto;
 }
 
 #installing-the-registry .sidebar{
 	max-width: 100%;
 }
 
    dt{
   		font: 300 18px/24px "Oswald", sans-serif;
   }
   
   #metacatDocs input {
		-webkit-appearance: none;
		background-color: white;
		border-radius: 4px;
		height: 25px;
		width: 200px;
		box-shadow: none;
		border: 0;
    }
    
    #metacatDocs input[type="submit"]{
    	width: auto;
    }
    
    #metacatDocs h3 {
		font: 400 24.5px/40px "Source Sans Pro", sans-serif;
	}
	
	#metacatDocs h2{
		font: 400 27.5px/40px "Oswald", sans-serif;
	}
		
	#metacatDocs h1{
		font: 400 32px/40px "Oswald", sans-serif;
	}
	
	#metacatDocs h1 > a, 
	#metacatDocs h2 > a,
	#metacatDocs h3 > a,
	#metacatDocs h4 > a{
		color: #333333;
	}
	
	#metacatDocs ul ul{
		margin-left:20px;
	}
	
	#metacatDocs .note{
		 margin-left: 20px;
		 color: #555555;
	}
	
	#metacatDocs blockquote p{
		font-size: inherit;
		font-weight: inherit;
	}
 
 	#metacatDocs #contents{
 		background: rgba(255, 255, 255, 0.5);
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		margin: 20px auto;
		clear: both;
		padding: 10px 10px 10px 40px;
 	}
 	
 /* CSS for emplparser ------
 ------------------------------------ */
 .tablehead{
 	padding-top: 10px;
 	border-bottom: 1px solid #CCCCCC;
 }


#loading-app{
	display: none;
}
