<article id="Plans">
  <div class="container">
    <div class="row-fluid">
      <div class="text-left">
        <h2><a name="plans">Plans</a></h2>
        <p>
          Bacon ipsum dolor sit amet drumstick chicken short loin kielbasa
          shankle short ribs tongue bacon pancetta beef ribs beef. Corned beef
          ham swine sausage pork filet mignon. Frankfurter sirloin tongue,
          pastrami beef tail strip steak leberkas flank shankle. Pork bresaola
          filet mignon, sirloin doner shoulder drumstick shankle tail pastrami
          strip steak pork belly ribeye short loin. Doner beef jowl filet
          mignon frankfurter.
        </p>
      </div>
    </div>
   </div>
  </div>
</article>
