<h4>Project details</h4>
<div class="color-palette-container"></div>
<div class="description-container">Project description will go here</div>

<h4>Permissions</h4>
<div class="permissions-container"></div>

<h4>Partner Logos</h4>
<div class="logos-container">Logos will go here</div>

<div class="danger">
  <h4>Danger Zone</h4>
  <h5>Change URL</h5>
  <div class="url-container control-group">
      <span class="muted"><%=MetacatUI.appModel.get('baseUrl')%>/portals/</span>
      <input type="text" value="<%=label%>" data-category="label" class="basic-text"></input>
      <span class="notification help-inline"></span>
  </div>
</div>
