<div class="download-panel__header">
    <div class="download-panel__title-group">
    <i class="icon-download-alt download-panel__icon"></i>
    <h3 class="download-panel__title">Partial Data Download</h3>
    </div>
    <button class="map-view__button download-panel__close-button" type="button">
    <i class="icon-remove"></i>
    </button>
</div>
<div class="download-panel__instructions">
    Draw Area of Interest: Single-click to add vertices, double-click to
    complete.
</div>
<div class="download-data-list"></div>
<div class="draw-tool"></div>