<div class="download-panel">
    <div class="header-container">
        <div class="label-container">
        <i class="icon-download-alt"></i><h3 class="download__label">Partial Data Download</h3>
        </div>  
        <!-- <button class="layer-details__toggle map-view__button"> -->
        <button class="download-panel-close__button">
            <i class="icon-remove"></i>
        </button>
    </div>
    <div class="download-data-list__panel">Draw Area of Interest: Single-click to add vertices, double-click to complete.</div>
    <div class="download-data-list"></div>

<div class="draw-tool"></div> 
</div> 





