<div class="layer-download__header">
  <input type="checkbox" class="layer-download__checkbox" />
  <span class="layer-download__title"><%- layerName %></span>
</div>
<div class="layer-download__content">
  <div class="layer-download__dropdown-container">
    <div class="layer-download__dropdown-wrapper">
      <label class="layer-download__dropdown-label" for="<%- resolutionDropdownId %>"><%- resolutionLabel %></label>
      <select id="<%- resolutionDropdownId %>" class="layer-download__dropdown layer-download__dropdown--resolution">
        <option value="<%- resolutionDefaultValue %>" disabled selected><%- resolutionDefaultText %></option>
      </select>
    </div>
    <div class="layer-download__dropdown-wrapper">
      <label class="layer-download__dropdown-label" for="<%- fileTypeDropdownId %>"><%- fileTypeLabel %></label>
      <select id="<%- fileTypeDropdownId %>" class="layer-download__dropdown layer-download__dropdown--file-type" disabled>
        <option value="<%- fileTypeDefaultValue %>" disabled selected><%- fileTypeDefaultText %></option>
      </select>
    </div>
  </div>
  <span class="layer-download__information layer-download__information--warning"><%- initialMessage %></span>
</div>
