<% var blockName = "scale-bar" %>
  <div class="<%=blockName%>__coordinates">
    <div class="<%=blockName%>__coordinate">
      <span class="<%=blockName%>__label <%=blockName%>__label--latitude">Lat</span>
      <span class="<%=blockName%>__coord <%=blockName%>__coord--latitude"></span>
    </div>
    <div class="<%=blockName%>__coordinate">
      <span class="<%=blockName%>__label <%=blockName%>__label--longitude">Lon</span>
      <span class="<%=blockName%>__coord <%=blockName%>__coord--longitude"></span>
    </div>
    <div class="<%=blockName%>__coordinate">
      <span class="<%=blockName%>__label <%=blockName%>__label--elevation">Ele</span>
      <span class="<%=blockName%>__coord <%=blockName%>__coord--elevation"></span>
    </div>
  </div>
  <div class="<%=blockName%>__scale">
    <div class="<%=blockName%>__bar"></div>
    <div class="<%=blockName%>__distance"></div>
</div>