<div class="<%= classNames.inputField %>">
  <input class="<%= classNames.input %>" type="text" placeholder="<%= placeholder %>" />
  <div class="<%= classNames.cancelButtonContainer %>" style="display: none">
    <button class="<%= classNames.cancelButton %>" >
      <i class="icon-remove-circle search-input__button-icon"></i>
    </button>
    <div class="search-input__vertical-divider"></div>
  </div>
  <button class="<%= classNames.searchButton %>">
    <i class="icon-search search-input__button-icon"></i>
  </button>
</div>
<div class="<%= classNames.errorText %>" style="display: none">
  <%= errorText %>
</div>
