<div class="share-url__header">
  <h1>Share or bookmark</h1>
  <button class="<%= classes.remove %> map-view__button">
    <i class="icon-remove"></i>
  </button>
</div>
<p>
  You can use the link below to share the current map view and data layer
  configuration.
</p>
<div class="share-url__field">
  <input class="share-url__input" type="text" readonly value="<%= link %>" />
  <button class="<%= classes.copy %>"><i class="icon-copy"></i></button>
</div>

<div class="<%= classes.hint %>"></div>
<div class="<%= classes.error %>"></div>