<h5>Data Sensitivity <i class="required-icon hidden" data-category="dataSensitivity"></i></h5>
<p class="subtle">Pick the category that best describes the level of sensitivity or restriction of the data.</p>
<p class="notification" data-category="dataSensitivity"></p>

<div class="row-fluid">
  <label for="non-sensitive-data-input" class="radio">
    <input class="annotation" type="radio" id="non-sensitive-data-input" name="data-sensitivity"
           value="http://purl.dataone.org/odo/SENSO_00000002" data-element-name="dataset"
           data-property-label="Data Sensitivity Category" data-property-URI="http://purl.dataone.org/odo/SENSO_00000005" data-value-label="Non-sensitive data" />
    <span class="text">Non-sensitive data</span>
    <a href="<%= MetacatUI.appModel.get('dataSensitivityInfoURL') %>" target="_blank"><div class="data-tag-icon icon icon-on-right blue tooltip-this" data-title="DataTag: Blue (Non-confidential information)" data-trigger="hover focus" data-delay="600"><%= checkTagIcon %></div></a>
    <p class="subtle help-text">None of the data includes sensitive or protected information.</p>
    <p class="notification hidden alert alert-info">
      <strong>Proceed with uploading data.</strong>
    </p>
  </label>
  <label for="min-sensitive-input" class="radio">
    <input class="annotation" type="radio" id="min-sensitive-input" name="data-sensitivity"
           value="http://purl.dataone.org/odo/SENSO_00000003" data-element-name="dataset"
           data-property-label="Data Sensitivity Category" data-property-URI="http://purl.dataone.org/odo/SENSO_00000005" data-value-label="De-identified data" />
    <span>Some or all data is sensitive with minimal risk</span>
    <a href="<%= MetacatUI.appModel.get('dataSensitivityInfoURL') %>" target="_blank"><div class="data-tag-icon icon icon-on-right green tooltip-this" data-title="DataTag: Green (Non-confidential information)" data-trigger="hover focus" data-delay="600"><%= checkTagIcon %></div></a>
    <p class="subtle help-text">Sensitive data has been de-identified, anonymized, aggregated, or summarized to remove sensitivities and enable safe data distribution. Examples include ensuring that human subjects data, protected species data, archaeological site locations and personally identifiable information have been properly anonymized, aggregated and summarized.</p>
    <p class="notification hidden alert alert-success">
      <strong>Proceed with uploading data,</strong> but ensure that only data that are safe for public
      distribution are uploaded. Address questions about anonymization, aggregatation, de-identification, and data
      embargoes with the data curation support team before uploading data.
    </p>
  </label>
  <label for="max-sensitive-input" class="radio">
    <input class="annotation" type="radio" id="max-sensitive-input" name="data-sensitivity"
           value="http://purl.dataone.org/odo/SENSO_00000004" data-element-name="dataset"
           data-property-label="Data Sensitivity Category" data-property-URI="http://purl.dataone.org/odo/SENSO_00000005" data-value-label="Sensitive data" />
    <span>Some or all data is sensitive with significant risk</span>
    <a href="<%= MetacatUI.appModel.get('dataSensitivityInfoURL') %>" target="_blank"><div class="data-tag-icon icon icon-on-right yellow tooltip-this" data-toggle="tooltip" data-title="DataTag: Yellow (Potentially harmful personal information)" data-trigger="hover focus" data-delay="600"><%= alertTagIcon %></div>
    <div class="data-tag-icon icon icon-on-right orange tooltip-this" data-toggle="tooltip" data-title="DataTag: Orange (Sensitive personal information)" data-trigger="hover focus" data-delay="600"><%= alertTagIcon %></div>
    <div class="data-tag-icon icon icon-on-right red tooltip-this" data-title="DataTag: Red (Very sensitive personal information)" data-trigger="hover focus" data-delay="600"><%= alertTagIcon %></div>
    <div class="data-tag-icon icon icon-on-right crimson tooltip-this" data-title="DataTag: Crimson (Maximum sensitive personal information)" data-trigger="hover focus" data-delay="600"><%= alertTagIcon %></div></a>
    <p class="subtle help-text">The data contains human subjects data or other sensitive data. Release of the data could cause harm or violate statutes, and must remain confidential following restrictions from an Institutional Review Board (IRB) or similar body.</p>
    <p class="notification hidden alert alert-warning">
      <strong>Do NOT upload sensitive data.</strong> You should still enter a metadata description of your dataset that
      omits all sensitive information to inform the community of the dataset's existence. Contact the data curation support
      team about possible alternative approaches to safely preserve sensitive or protected data.
    </p>
  </label>
</div>
