<p class="subtle">
	Specify the exact date and time of the collection or creation of this data set.
	Specify a year only (YYYY) or a year, month, and date (YYYY-MM-DD) and optionally,
	an exact time (HH:MM:SS).
</p>

<div class="temporal-coverage-container">
	<p class="notification" data-category="temporalCoverage"></p>
	<div class="row-fluid">
		<div class="span6">
			<h5>Begin <i class="required-icon hidden" data-category="temporalCoverage"></i></h5>
		</div>
		<div class="span6">
			<h5>End <span class="help-inline subtle">(leave blank if your data set is open-ended)</span></h5>
		</div>
	</div>
	<div class="row-fluid temporal-coverage">
		<div class="span6">
			<div class="row-fluid">
				<div class="span6">
					<label class="control-label">
						<span>Date</span>
						<span class="help-inline subtle">(YYYY-MM-DD or YYYY)</span>
					</label>
					<div class="controls">
						<input type="text" class="span12" data-category="beginDate" value="<%= beginDate %>">
					</div>
				</div>
				<div class="span6">
					<label class="control-label">
						<span>Time</span>
						<span class="help-inline subtle">(HH:MM:SS)</span>
					</label>
					<div class="controls">
						<input type="text" class="span12" data-category="beginTime" value="<%= beginTime %>">
					</div>
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="row-fluid">
				<div class="span6">
					<label class="control-label">
						<span>Date</span>
						<span class="help-inline subtle">(YYYY-MM-DD or YYYY)</span>
					</label>
					<div class="controls">
						<input type="text" class="span12" data-category="endDate" value="<%= endDate %>">
					</div>
				</div>
				<div class="span6">
					<label class="control-label">
						<span>Time</span>
						<span class="help-inline subtle">(HH:MM:SS)</span>
					</label>
					<div class="controls">
						<input type="text" class="span12" data-category="endTime" value="<%= endTime %>">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
