<h5>Measurement Type</h5>
<p class="subtle">What kind of measurements are this attribute of? Begin typing in the box below or click the plus icons to expand the tree of available options. Choose the most specific term that fits your attribute and avoid choosing a term that doesn't quite fit.</p>

<div class="measurement-type-annotations"></div>

<label class="checkbox">
  <input type="checkbox" class="notfound" />
  I couldn't find a suitable term
</label>

<div class="measurement-type-browse">
  <div class="measurement-type-browse-tree"></div>
</div>
