<div class="span5">
  <h5>Property</h5>

  <div class="row-fluid">
    <label class="control-label">URI</label>
    <p class="notification" data-category="propertyURI"></p>
    <div class="basic-text-row controls">
      <input type="text" data-category="propertyURI" value="<%= propertyURI %>" placeholder="Add a URI" />
    </div>


    <label class="control-label">Label</label>
    <p class="notification" data-category="propertyLabel"></p>
    <div class="basic-text-row controls">
      <input type="text" data-category="propertyLabel" value="<%= propertyLabel %>" placeholder="Add a label" />
    </div>
  </div>
</div>

<div class="span5">
  <h5>Value</h5>

  <div class="row-fluid">
    <div>
      <label class="control-label">URI</label>
      <p class="notification" data-category="valueURI"></p>
      <div class="basic-text-row">
        <input type="text" data-category="valueURI" value="<%= valueURI %>" placeholder="Add a URI" />
      </div>
    </div>

    <div>
      <label class="control-label">Label</label>
      <p class="notification" data-category="valueLabel"></p>
      <div class="basic-text-row">
        <input type="text" data-category="valueLabel" value="<%= valueLabel %>" placeholder="Add a label" />
      </div>
    </div>
  </div>
</div>

<div class="span2">
  <button class="remove-annotation">Remove</button>
</div>
