<%
  let eRPText = typeof ethicalResearchPractices != "undefined"? ethicalResearchPractices.get("description").toString() : "";
%>

<% if(typeof ethicalResearchPractices != "undefined"){ %>
  <h4>Ethical Research Practices <i class="required-icon hidden" data-category="<%=ethicalResearchPractices.get('customMethodID')%>"></i></h4>
  <p class="subtle">
  Describe how and the extent to which data collection procedures followed community standards for ethical research
  practices (e.g., <a href="https://www.gida-global.org/care" target="_blank">CARE Principles</a>). Be explicit about Institutional Review Board approvals, consent waivers, procedures for
  Co-production, data sovereignty, and other issues addressing responsible and ethical research. Include any steps to
  anonymize, aggregate or de-identify the dataset, or to otherwise create a version for public distribution.
  </p>
  <p class="notification" data-category="<%=ethicalResearchPractices.get('customMethodID')%>"></p>
  <textarea data-attribute="methodStepDescription"
    data-step-attribute="description"
    data-custom-method-id="<%=ethicalResearchPractices.get('customMethodID')%>"
    rows="7" class="method-step"><%=eRPText%></textarea>
<% } %>
