<article class="row-fluid">
	<nav class="span2 metadata-toc side-nav">
	<ul class="side-nav-items">
		<li class="overview side-nav-item">
			<a href="#" data-section="overview" class="<% if(activeSection == 'overview') { %> active <% } %>">
				<i class="icon error icon-exclamation-sign hidden"></i>
				Overview
				<i class="required-icon hidden" data-section="overview"></i>
			</a>
		</li>
		<li class="people side-nav-item">
			<a href="#" data-section="people" class="<% if(activeSection == 'people') { %> active <% } %>">
				<i class="icon error icon-exclamation-sign hidden"></i>
				People
				<i class="required-icon hidden" data-section="people"></i>
			</a>
		</li>
		<li class="project side-nav-item" data-category="project">
			<a href="#" data-section="project" class="<% if(activeSection == 'project') { %> active <% } %>">
				<i class="icon error icon-exclamation-sign hidden"></i>
				Project
				<i class="required-icon hidden" data-section="project"></i>
			</a>
		</li>
		<li class="dates side-nav-item" data-category="temporalCoverage">
			<a href="#" data-section="dates" class="<% if(activeSection == 'dates') { %> active <% } %>">
				<i class="icon error icon-exclamation-sign hidden"></i>
				Dates
				<i class="required-icon hidden" data-section="dates"></i>
			</a>
		</li>
		<li class="locations side-nav-item" data-category="geoCoverage">
			<a href="#" data-section="locations" class="<% if(activeSection == 'locations') { %> active <% } %>">
				<i class="icon error icon-exclamation-sign hidden"></i>
				Locations
				<i class="required-icon hidden" data-section="locations"></i>
			</a>
		</li>
		<li class="taxa side-nav-item" data-category="taxonCoverage">
			<a href="#" data-section="taxa" class="<% if(activeSection == 'taxa') { %> active <% } %>">
				<i class="icon error icon-exclamation-sign hidden"></i>
				Taxa
				<i class="required-icon hidden" data-section="taxa"></i>
			</a>
		</li>
		<li class="methods side-nav-item" data-category="methods">
			<a href="#" data-section="methods" class="<% if(activeSection == 'methods') { %> active <% } %>">
				<i class="icon error icon-exclamation-sign hidden"></i>
				Methods
				<i class="required-icon hidden" data-section="methods"></i>
			</a>
		</li>
		<!--<li class="sharing side-nav-item">
			<a href="#" data-section="sharing">Sharing</a>
		</li> -->
	</ul>
	</nav>
	<section class="span10 metadata-container edit">
		<section data-section="overview" class="section overview <% if(visibleSection != 'overview' && visibleSection != 'all') { %> hidden <% } %>">
		</section>

		<section data-section="people" class="section people <% if(visibleSection != 'people' && visibleSection != 'all') { %> hidden <% } %>">
		</section>

		<section data-section="project" class="section project <% if(visibleSection != 'project' && visibleSection != 'all') { %> hidden <% } %>">
		</section>

		<section data-section="dates" class="section dates <% if(visibleSection != 'dates' && visibleSection != 'all') { %> hidden <% } %>"
				data-category="temporalCoverage">
		</section>

		<section data-section="locations" class="section locations <% if(visibleSection != 'locations' && visibleSection != 'all') { %> hidden <% } %>"
				data-category="geoCoverage">
		</section>

		<section data-section="taxa" class="section taxa <% if(visibleSection != 'taxa' && visibleSection != 'all') { %> hidden <% } %>"
				data-category="taxonCoverage">
		</section>

		<section data-section="methods" class="section methods <% if(visibleSection != 'methods' && visibleSection != 'all') { %> hidden <% } %>">
		</section>
		<!--
		<section class="section sharing">
		</section>
		 -->
	</section>
</article>
<div class="clear"></div>
