<div class="award-container <%= isNew ? 'new' : '' %>">
  <% if(!isNew){ %> <i class="remove icon-remove" title="Remove this award"></i> <% } %>
  <div class="basic-text-row">
    <div class="award-search-container"></div>
    <div class="notification" data-category="award"></div>
    <form class = "award">
      <% _(awardFields).each(function(field) { %>
        <label><%= field.label %>
          <% if(field.required) { %><i class="required-icon"></i><% } %>
        </label>
        <p class="subtle"><%= field.helpText %></p>
        <input type="text" data-attribute="<%= field.value %>" value="<%= award.attributes[field.value] %>"/>
      <% }) %>
    </form>
  </div>
</div>
