
<div class="span6 eml-party"> <!--style="border: solid 1px #6c757d">-->
    <p>
      <span class="name">
        <%=individualName.salutation.join(', ')%>
        <%=individualName.givenName.join(' ')%>
        <%=individualName.surName%>
        <% if(organizationName){ %>
          (<%=organizationName%>)
        <% } %>
      </span>
      <span class="position">
        <br>
        <%=positionName%>
      </span>
      <span class="url">
        <br>
        <% if (urlLink.length) {%>
            <%=urlLink.join(' / ')%> <br>
        <%}%>
      </span>
      <span class="email phone">
        <a href="mailto:<%=email%>"><%=email%></a>
        <% if (email.length && phone.length) {%> / <%}%>
        <%=phone%>
      </span>
      <br/>
      <%=orcids%>
    </p>
</div>
