<h2>Project</h2>

<section class="project">
  <% _(award).each(function(awardItem) { %>
    <div class="award-container">
      <i class="remove icon-remove"></i>
      <div class="basic-text-row">
        <form class = "award">
          <% _(awardFields).each(function(label, value) { %>
            <label><%= label %></label>
            <input type="text" data-category="<%= value %>" value="<%= awardItem.attributes[value] %>"/>
          <% }) %>
        </form>
      </div>
    </div>
  <% }) %>

  <div class="award-container new">
    <div class="basic-text-row">
      <form class = "award">
        <% _(awardFields).each(function(label, value) { %>
          <label><%= label %></label>
          <input type="text" data-category="<%= value %>"/>
        <% }) %>
      </form>
    </div>
  </div>
</section>
