<h2>Locations</h2>
<p class="notification" data-category="geoCoverage"></p>
<div class="locations-table">
	<div class="row-fluid header">
		<div class="span5">
			<h5>Description <i class="required-icon hidden" data-category="geoCoverage"></i></h5>
			<p class="subtle">
				Provide a short and comprehensive geographic description of the sampling site(s) or location(s) where these data were collected. For example, “Teshekpuk Lake, Alaska”.
			</p>
		</div>
		<div class="span7">
			<h5>Bounding Box Coordinates <i class="required-icon hidden" data-category="geoCoverage"></i></h5>
			<span class="subtle">

				Use latitude and longitude to describe the location or area covered by your data.

				For an area, enter the northwest corner first and the southeast corner second. For example, a rough bounding box for the contiguous United States would use 49, -125 as the northwest corner and 25, -66 as the southeast corner.

				For a single location, enter just one latitude/longitude pair.

			</span>
		</div>
	</div>
</div>
