<h2>Locations</h2>
<p class="notification" data-category="geoCoverage"></p>
<div class="locations-table">
	<div class="row-fluid header">
		<div class="span5">
			<h5>Description <i class="required-icon hidden" data-category="geoCoverage"></i></h5>
			<p class="subtle">
				Provide a short and comprehensive geographic description of the sampling site(s) or location(s) where these data were collected. For example, “Teshekpuk Lake, Alaska”.
			</p>
		</div>
		<div class="span7">
			<h5>Bounding Box Coordinates <i class="required-icon hidden" data-category="geoCoverage"></i></h5>
			<span class="subtle">Enter two lat,lng coordinates to specify a geographic bounding box or only one lat,lng pair for a single point.</span>
		</div>
	</div>
</div>
