<article class="metadata-view">
	<div id="breadcrumb-container"></div>
	<div id="article-container">
		<section>
			<div id="citation-container" class="citation-container"></div>
			<div id="data-source-container" class="data-source"></div>
			<div class="clear"></div>
		</section>
		<section class="controls-container" id="metadata-controls-container">
			<div class="clear"></div>
		</section>
		<div id="parent-link-container"></div>
		<div id="table-container"></div>
		<div id="metadata-container"></div>
    <section id="editor-footer" class="editor-save-controls">
    	<a class="btn btn-primary save" id="save-metadata-prov">Submit</a>
    </section>
	</div>
</article>
