<p class="notification" data-category="taxonCoverage"></p>
<div class="row-fluid taxonomic-coverage" data-category="taxonomic-coverage">
	<h5>General Taxonomic Coverage  <i class="required-icon hidden" data-category="generalTaxonomicCoverage"></i></h5>
	<p class="subtle">
		 How you identified the range of taxa addressed in this dataset.
	</p>
	<p class="notification" data-category="generalTaxonomicCoverage"></p>
	<textarea class="medium text"
		data-category="generalTaxonomicCoverage"
		placeholder="e.g. All vascular plants were identified to family or species, mosses and lichens were identified as moss or lichen."><%=generalTaxonomicCoverage%></textarea>

	<h5>Taxonomic Classification(s)</h5>
	<p class="subtle">
		List the taxonomic classifications in your dataset by taxonomic hierarchy (Rank) and scientific name (Value)
		Each table represents a distinct species.
	</p>
	<p class="notification" data-category="taxonomicClassification"></p>
</div>
