/* Tablets and large screens ----------- */
@media only screen and (min-width : 768px){
    
    #Header {
	    overflow: hidden;
	    opacity: 0.8;   
  	}
  	
  	.mapMode #Header{
  		opacity: 1;
  	}
  	
  	#Content{
  		max-width: 1024px;
  	}
  	.DataCatalog #Content{
  		max-width: 100%;
  	}
  	footer .logos{
	    width: 570px;
	    margin-left: auto;
	    margin-right: auto;
  	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
	/************** General Structure ****************/
	#Header{
		display: none;
	}
	#Navbar .navbar-inner{
		border-bottom: 2px solid #992222;
	}
	#Content{
		padding-bottom: 785px; /* Keeps footer down */
		margin-top: 0px;
	}
	
	/************** Footer ****************/
	#Footer{
		height: 775px; /* Keeps footer down */
	}
	footer div.help-items,
	footer .logos{
		width: 100%;
		min-width: 100%;
		margin-top: 20px;
	}
	footer .logos .logo{
		margin-bottom: 0px;
		margin-top: 0px;
	}
}

@media only screen and (max-width : 768px){ 	
  	footer .show-in-map-mode a {
  		margin-left: 25%;
  	}
  	
  	 #nav-trigger{
  		display: block;
  	}
  	
  	/* Take nav out of mobile-style */
	nav{
		float: right;
		width: auto;
		display: block;
	}
	.nav li a{
		text-align: left;
	}
}