

/* Body CSS
-------------------------------------------------- */
    body {
      color: #333333;
      background-color: #FFFFFF;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-shadow: none;
      font-weight: 400;
      line-height: 1.5;
    }

    a{
    	color: #006699;
    	font-weight: 700;
    }

    article, aside, figure, footer, header, hgroup, menu, nav, section {
      display:block;

    }

    select{
    	width: auto;
    }

    body > section, footer {
      min-height: 800px;
      margin: 0;
      z-index: 10;
    }



    body > section > article {
      min-height: 800px;
      font-weight: 400;
      font-size: 110%;
      line-height: 1.5;
      padding: 0px 0px 40px 0px;
    }

    h1 > a[name], h2 > a[name], h3 > a[name],
    h4 > a[name], h5 > a[name], h6 > a[name] {
      color: #555555;
      text-decoration: none;
      z-index: 20; /*keeps hidden anchor tags from blocking content*/
    }

    /* make sure the anchors render with padding-top */
    h1 > a[name]:before, h2 > a[name]:before, h3 > a[name]:before,
    h4 > a[name]:before, h5 > a[name]:before, h6 > a[name]:before {
		content: "";
    padding-top: 115px;
    }


    div.row-fluid > a[name] {
      margin: 35px auto auto auto;
    }

    .subfooter{
    	margin-top:20px;
    }

     .footnote {
    	font-size: 0.85em;
    	margin-top:20px;
     }

     .footnote a{
     	color: #FFFFFF;
     	text-decoration: underline;
     }

     .pointer{
     	cursor: pointer;
     }

     .clear{
     	clear:both;
     }

     .hidden,
     #clear-all.hidden{
    	display: none;
    }

     .ellipsis{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	 }

	.expand-collapse .collapsed{
		font-size: 0px;
		transition: .5s;
	}
	.expand-collapse .teaser{
		margin-right: 2px;
	}
	.expand-collapse .teaser,
	.expand-collapse .expanded{
		font-size: inherit;
		transition: .5s;
		display: inline-block;
	}

	.expand-collapse.expanded .teaser{
		color: #597F99;
	}

/* Portal editor
-------------------------------------------------- */

/* Theme specific colours for the add section 'button' images */

.port-editor-section svg .theme-primary-fill{
	fill: #006699
}
.port-editor-section svg .theme-secondary-fill{
	fill: #5eb3d7
}
.port-editor-section svg .theme-accent-fill{
	fill: #da4d3a
},

/* FORM/INPUT CUSTOMIZATIONS
-------------------------------------------------- */
	.controls-well {
	    border: 1px solid #E3E3E3;
	    border-radius: 4px 4px 4px 4px;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	    padding: 4px;
	}
	.control-label {
		cursor: default;
	}
	.sign-in select{
		width: 220px;
	}

/* EML CUSTOMIZATIONS
-------------------------------------------------- */
	#Eml h4, .well, .control-label {
		color: #555555;
	}

/* BUTTONS CUSTOMIZATIONS
-------------------------------------------------- */
.btn{
	background-image: none;
}
.btn.subtle {
    color: #333;
    font-weight: normal;
}
.btn-primary {
    background-image: none;
    border-width: 0px;
}

/* EDITOR
* --------------------------------------------------- */
.data-package-item.message-row button {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}
.Editor #Content {
    padding-top: 0px;
}

/* HEADER CSS
-------------------------------------------------- */
  header#Header {
    position: absolute;
    top: 0px;
    height: 0px;
    display: none;
  }

  header#altHeader {
    position: relative;
    top: 0px;
    z-index: 100;
    min-height: 400px;
  }

/* NOTIFICATIONS CSS
 * -------------------------------------------------- */

    .filter-contain .notification i{
  	color: #999;
  	font-size: .5em;
  }
  .filter-contain .notification p{
		font-size: .3em;
		line-height: 3em;
		text-align: center;
		width: auto;
		color: #999;
		margin: 0;
  }


/* FOOTER CSS
-------------------------------------------------- */

    footer#Footer {
      position: relative;
      bottom: 0px;
      padding-top: 10px;
      margin-top: 0px;
      color: #FDFDFD;
      background-color: #5A5758;
      min-height: 100px;
    }


    footer a{
    	color: #FFFFFF;
    	text-decoration: none;
    }

    footer a:hover{
    	color: #FFFFFF;
    	text-decoration: underline;
    }



/* CUSTOMIZE THE ACCORDIAN
-------------------------------------------------- */

	.accordion-heading a.accordion-toggle {
		display: inline-block;
	}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

    .center {
      float: none;
      margin: 0 auto;
    }

    nav#Navbar {
      position: relative;
      top: 0px;
      margin: 0 auto;
      background-image: none;
    }

    .navbar {
      border: none;
      background-color: #000000;
      background-image: none;
      filter: none;
    }

    .navbar-inner {
      border: none;
      padding: 0px;
      background-image: none;
      background-color: transparent;
      border: 0px;
      box-shadow: none;
      -moz-box-shadow: none;
      margin: 0px auto;
      filter: none;
    }

    .navbar-inner > div:first-child > img{
    	float: left;
    	margin: 12px 0px 0px 12px;
    }

    nav header{
    	color: #FFFFFF;
    	width: auto;
    	float: left;
    	font-style: italic;
    	margin: 8px 0px 0px 8px;
    	line-height: 1em;
    }

    nav > .alert{
    	border-radius: 0px;
    	-webkit-border-radius: 0px;
    	-moz-border-radius: 0px;
    	margin-bottom: 0px;
    }

    .navbar-inner .btn-group{
    	float: left;
    }

    .navbar .nav > li a {
      margin: 7px 5px 7px 5px;
    }

    .navbar .nav > li > a {
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 400;
      text-shadow: none;
      padding: 5px 20px;
    }

    .navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover {
      color: #FFFFFF;
      font-size: 16px;
      text-decoration: underline;
    }

    .navbar .nav > .active > a,
    .navbar .nav > .active > a:hover,
    .navbar .nav > .active > a:focus {
      color: #555555;
      font-weight: 400;
      text-decoration: none;
      background-color: #E5E5E5;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
         -moz-box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
              box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
    }

	.show-new-dataCatalogView{
    	cursor: pointer;
    }

    #Navbar form {
      margin: 8px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
    }
    #Navbar i .user {
      opacity: .6;
    }


	.pagetitle {
	  margin: 55px 0px 10px 0px;
	}

	.pagetitle span{
	  font-size: 60px;
	}

	/** Backbone override for dropdowns so they dsplay on hover rather than click **/
    .dropdown-menu .sub-menu {
	    left: 100%;
	    position: absolute;
	    top: 0;
	    visibility: hidden;
	    margin-top: -1px;
	}

	.dropdown-menu li:hover .sub-menu {
	    visibility: visible;
	}

	.dropdown:hover .dropdown-menu {
	    display: block;
	}

	.dropdown:hover .dropdown-menu.hidden,
	.dropdown-menu.hidden{
		display: none;
	}

	.navbar .nav li.dropdown.open > .dropdown-toggle{
		color: #FFF;
		background-color: transparent;
	}

	.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
	    margin-top: 0;
	}

	.navbar .sub-menu:before {
	    border-bottom: 7px solid transparent;
	    border-left: none;
	    border-right: 7px solid rgba(0, 0, 0, 0.2);
	    border-top: 7px solid transparent;
	    left: -7px;
	    top: 10px;
	}
	.navbar .sub-menu:after {
	    border-top: 6px solid transparent;
	    border-left: none;
	    border-right: 6px solid #fff;
	    border-bottom: 6px solid transparent;
	    left: 10px;
	    top: 11px;
	    left: -6px;
	}

  /* MAIN BODY CSS
  -------------------------------------------------- */
  /* Main body containing sidebar and content */
    .main-body-padded {
      padding-top: 90px;
    }

    #search_txt_side{
      width: 70%;
    }


    .nav-list{
    	width: 100%;
    }

    #refine .nav-list {
      margin: 20px auto auto auto;
    }


    ul#refine .nav-list .input-append {
      max-width: 200px;
    }

    #browse .nav-list {
      margin: 20px auto auto auto;
      border: 1px solid #CCCCCC;
    }

    ul#browse a i {
      margin-right: 7px;
    }

    ul#browse a {
      font: 400 15px/15px;
      color: #555555;
    }

    ul#browse a:hover, ul#browse a:focus  {
      color: #3F3F3F;
    }

    .result-citation{
       width: 82%;
    }

  /* About CSS
  -------------------------------------------------- */
    #About {
		min-height: 800px;
    }

    /* Stats styles
  -------------------------------------------------- */
.profile .charts{
  	margin-left: auto;
  	margin-right: auto;
  	width: 1000px;
	clear: both;
	display: flex;
	justify-content: center;
  }

  .profile .stripe{
    	min-height: 350px;
    	margin-top: 20px;
  }

  .profile h1{
    margin: 20px auto;
	width: 900px;
	border-bottom: 2px solid #ccc;
	line-height: 90px;
  }

    .profile-title:empty{
  	display: none;
  }

.profile .charts-container .stripe:nth-child(even){
	background-image: url("../img/sos.png");
}

.profile .charts > svg{
  	margin-left: auto;
  	margin-right: auto;
  	display: block;
  }

.profile .chart-title{
	float: left;
	max-width: 300px;
}

.profile .chart-title h2{
	font-size: 31px;
	font-weight: normal;
}

.profile .chart{
	float: left;
	width: 650px;
	margin-left: 20px;
	margin-top: 30px;
}

  /* The universal color for data */
svg .data,
.fallback.data{
  	color: #2B8282;
  	stroke: #2B8282;
  	fill: #2B8282;
  }

  /* The universal color for metadata */
svg .metadata,
.fallback.metadata{
  	color: #006dcc;
  	stroke: #006dcc;
  	fill: #006dcc;
  }

svg .packages,
.profile .packages{
	color: #5EB3D7;
	fill: #5EB3D7;
}
.profile .bar-label.packages{
	fill: inherit;
}

svg .default,
.fallback.default{
	fill: #CCCCCC;
	stroke: #CCCCCC;
	color: #CCCCCC;
}

  /* Donut charts */
  #metadata-chart,
#data-chart{
	height: 300px;
	width: 420px;
	margin:0px;
}

#metadata-chart{
	float: left;
	margin: 0px;
}

#data-chart{
	float: right;
}

 .format-charts{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}


.donut-title-count{
	font-size: 24px;
}
.donut-title-text,
svg .title{
	color: #555555;
	fill: #555555;
	font-size: 17px;
	line-height: 17px;
}
.donut-arc{
	transition: opacity .2s;
}
.donut-arc.inactive,
.donut-arc.inactive + .donut-labels{
	opacity: 0.2;
}
.donut-arc.active + .donut-labels,
.donut-arc.active + .donut-labels .donut-arc-count.rotated{
	opacity: 1;
	font-weight: bold;
}
.donut-labels{
	font-size: 14px;
	opacity: 0.7;
	transition: opacity .2s;
}
.donut-arc-count.rotated{
	opacity: 0;
}
.profile .format-charts-container{
	height: 400px;
}
.profile .format-charts-container .chart-title{
	width: 100%;
	max-width: 100%;
}
.profile .format-charts{
	width: 100%;
}
.profile .format-charts .chart{
	width: 50%;
	margin: 0px;
}
.donut-arc-label{
	font-size: 13px;
}
.donut.metadata > g:nth-child(even) .donut-arc,
.donut.metadata > g:nth-child(even) .donut-arc-label
{
	fill: #006dcc;
}
.donut.metadata > g:nth-child(odd) .donut-arc,
.donut.metadata > g:nth-child(odd) .donut-arc-label{
	fill: #004683;
}
.donut.data > g:nth-child(even) .donut-arc,
.donut.data > g:nth-child(even) .donut-arc-label
{
	fill: #2B8282;
}
.donut.data > g:nth-child(odd) .donut-arc,
.donut.data > g:nth-child(odd) .donut-arc-label{
	fill: #00BD9F;
}
/* Have a different color for the first arc so no two colors are adjacent */
.donut.metadata > g:first-child .donut-arc,
.donut.metadata > g:first-child .donut-arc-label{
	fill: #0088FF;
}

.donut.data > g:first-child .donut-arc,
.donut.data > g:first-child .donut-arc-label{
	fill: #1E5D5D;
}

.donut.default .donut-labels{
	visibility: hidden;
}

.donut.default .donut-title-count,
.donut.default .donut-title-text{
	fill: #CCCCCC;
}
.donut.default > g .donut-arc,
.donut.data.default > g .donut-arc,
.donut.metadata.default > g .donut-arc{
	fill: #CCCCCC;
}

/* Line Chart */
.upload-chart,
.temporal-coverage-chart{
	width: 650px;
	float: right;
}
svg .line{
	fill: none;
  	stroke-width: 2px;
}
svg .domain{
	fill: none;
	stroke-width: 1px;
	stroke: #555555;
}
svg .point{
	stroke: #FFFFFF;
	stroke-width: 2px;
}
.line-chart-label{
	font-weight: bold;
	font-size: 14px;
	stroke-width: 0px;
	display: none;
}
.line-chart-label.text{
		fill: #555;
}
.line-chart-label.bg{
	stroke-width: 2px;
	fill: #FFF;
	stroke: #FFF;
	opacity: 0.8;
}
.tick line{
	stroke-width: 1px;
	stroke: #DDD;
}
svg> .title{
	font-size: 15px;
}
svg text{
	stroke: none;
	stroke-width: 0px;
}
svg .tick text{
	font-size: 12px;
	color: #666;
}
svg .domain{
	stroke-width: 0px;
}
svg .point:hover ~ .line-chart-label{
	opacity: 1;
	transition: all .5s;
}

/* Circle Badges */
.circle-badge{
	height: auto;
	max-height: 300px;
}
.circle-badge circle{
	stroke-width: 5px;
	fill: none;
}
.circle-badge .label{
	stroke-width: 0px;
	font-size: 13px;
	font-weight: 300;
}
.circle-badge .count{
	stroke-width: 0px;
	font-size: 20px;
}
.circle-badge .default{

}

/** Bar charts ***/
.bar-label{
	fill: #0E69A1;
	font-size: 14px;
	font-weight: bold;
}

.bar-chart .x.axis .tick text{
	font-size: 11px;
}

#data-coverage-year-range{
	display: block;
}

/* OTHER NAVIGATION
-------------------------------------------------- */
.breadcrumb > .home,
.breadcrumb > li.home + li:before{ /*Hide the "Home" breadcrumb link and its divider */
	display: none;
}
.breadcrumb{
	width: 100%;
}

  /* Metadata rendering CSS
  -------------------------------------------------- */
    #Metadata {
		min-height: 800px;
    }

   .metadata-view {
    	padding: 0px 40px;
	}
   .attributeList div.span2{
   		width: 23.404255319148934%; /*Effectively make it span3 */
   	}

   	.attributeList div.span2 li>a{
   		text-overflow: ellipsis;
   		overflow: hidden;
   		text-decoration: none;
   	}

   	.attributeList div.span10{
   		width: 74.46808510638297%; /*Effectively make it span 9 */
   	}

   	.result-pubdate{
   		color: #777777;
   	}

   .controls-well img{
		max-width: 90%;
		max-height: 900px;
		margin: 0 auto;
		display: block;
	}

	.fancybox.btn{
		margin-left:180px;
	}

	#Metadata .citation{
		font-size: 1.3em;
		font-weight: normal;
	}
	.metadata-index {
		padding: 2%;
		width: 96%;
	}


    /**----------------------------------------**/

	/** Package Contents Table **/
	.table-header .subtle{
    	margin-left: 20px;
    }
    .table-header a {
	    font-weight: normal;
	    color: #08c;
	}

	/** Data Display & Thumbnails **/
	.entitydetails{
		background-color: #FFFFFF;
		padding: 10px;
	}
	.data-display{
		clear: both;
		margin-bottom: 20px;
	}
	.data-display .thumbnail{
		width: 300px;
		height: 300px;
		border: 5px solid #999999;
		float: left;
		overflow: hidden;
		padding: 0px;
	}
	.data-display .thumbnail img{
		max-width: 1000px;
		min-width: 150px;
		margin-left: auto;
		margin-right: auto;
		width: auto;
		min-height: 300px;
		max-height: 100%;
	}
	.data-display .additional-info{
		max-width: 100%;
		width: 100%;
		float: left;
		margin-left: 10px;
	}
	.data-display .thumbnail + .additional-info{
		max-width: 360px;
	}
	.data-display .provenance{
		margin-bottom: 10px;
	}
	.data-display .provenance i{
		font-size: 2em;
		margin: 10px;
		display: inline-block;
		float: left;
	}
	.data-display .provenance .provenance-statement{
		display: inline-block;
		float: left;
		width: 87%;
	}

	/* Registry CSS
	-------------------------------------------------- */
    #RegistryEntryForm,
    #RegistryLogin,
    #RegistryResponse,
    #RegistryEntryReview,
    #RegistryGuide {
		/*margin-top: 110px;*/
		min-height: 800px;
    }

    #RegistryLogin > .container,
    #RegistryEntryForm > .container,
    #RegistryResponse > .container,
    #RegsitryEntryReview > .container,
    #RegistryGuide > .container {
        background-color: #FFFFFF;
	    box-shadow: 0 0 0 10px #FFFFFF;
		border: 1px solid #D1D3D4;
		padding: 20px;
    }

    label.inline {
    	width: 40%;
    }

    /* Larger modal for guide content */
    .modal.large {
    	width: 80%;
    	margin-left: -40%;
    }

	/* Inherit for these registry labels */
	.label {
	  display: inherit;
	  padding: inherit;
	  font: inherit;
	  line-height: inherit;
	  color: inherit;
	  white-space: inherit;
	  vertical-align: inherit;
	  background-color: inherit;
	  -webkit-border-radius: inherit;
	     -moz-border-radius: inherit;
	          border-radius: inherit;
	}

     /* Download  and Publish buttons */
     #downloadPackage a.btn {
     color: #FFFFFF;
		background-color: #006dcc;
		background-image: -moz-linear-gradient(top,#08c,#04c);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
		background-image: -webkit-linear-gradient(top,#08c,#04c);
		background-image: -o-linear-gradient(top,#08c,#04c);
		background-image: linear-gradient(to bottom,#08c,#04c);
		background-repeat: repeat-x;
		border-color: #04c #04c #002a80;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
		margin-bottom: 10px;
		width: 80%;
    }

    #downloadPackage a.btn:hover{
    	background-color: #0044cc;
    	backgorund-image: none;
    }

/* Combobox styles, overlay text input on select
<!-- example here -->
<div class="select-editable">
  <select onchange="this.nextElementSibling.value=this.value">
    <option value=""></option>
    <option value="sample">sample</option>
  </select>
  <input type="text" name="keyword" value=""/>
</div>
-------------------------------------------------- */
	.select-editable {
		position: relative;
		height: 45px;
	}
	.select-editable select {
		position:absolute;
		top: 0px;
		left: 0px;
		width: 220px;
		height: 29px;
	}
	.select-editable input {
		position:absolute;
		top: 0px;
		left: 0px;
		width: 193px;
		padding: 1px;
		padding-left: 5px;
		height: 25px;
	}
	.select-editable select:focus,
	.select-editable input:focus {
		outline:none;
	}

  /* Data Catalog CSS
  -------------------------------------------------- */

	#attributeTabs li > a:hover{
		color: #1388b7;
	}

	#attributeTabs li.active > a:hover{
		color: #FFFFFF;
	}

  /* SIDEBAR CSS
  -------------------------------------------------- */
#sidebar{
 width: 31%;
}
aside.well{
  	padding: 10px 0px 0px 0px;
}
.filter-contain h2.nav-header{
	margin-top: 0px;
}
.filter-contain{
  	height: auto;
  	max-height: 100%;
}
.filter-contain .filter-contain{
	border-bottom: 1px solid #e0e0e0;
}
.filter-contain > label{
	font-weight: normal;
	color: #777;
}
.filter-contain input[type="checkbox"] ~ label {
  text-transform: capitalize;
}
.filter-contain .nav-header .popover{
	text-transform: none;
}

/*-- Data categories --*/
.category-nav{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.category-nav > li.nav-item{
	width: 96%;
	padding-left: 4%;
	border-bottom: 1px solid #e0e0e0;
}

.category-nav > li.nav-item > a{
	padding-left: 0px;
}

.category-nav > li.my-packages > a{
	color: #08c;
}

.category-nav > li.nav-item:hover,
.category-nav > li.nav-item:hover > a,
.category-nav > li.nav-item.active:hover,
.category-nav > li.nav-item:hover > a.active{
  	background-color: #e0e0e0;
  	color: #333;
}
.category-nav .active > a,
.category-nav li.nav-item.active{
  	background-color: #08c;
	color: #FFF;
}
.category-nav  i.icon-remove{
  	padding-top: 5px;
  	visibility: hidden;
}
.category-nav  > li.nav-item.active i.icon-remove{
  	visibility: visible;
}
/*-- Search buttons next to text inputs --*/
.filter.btn{
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	border: 1px solid #AAAAAA;
	width: 35px;
	margin-left: -5px;
}
.filter.btn > .icon{
	margin-left: -1px;
}
.filter.btn > i:hover{
	color: #3399CC;
}

/* Filter checkboxes */
 .filter-contain .checkbox-list{
 	margin-left: 36px;
 }
 ul.checkbox-list{
 	list-style: none;
 }
 .checkbox-list > li > input{
 	float: left;
 	margin-right: 10px;
 }
 .checkbox-list > li > input{
 	float: left;
 }
 .checkbox-list label{
 	font-size: .9em;
 }
 .checkbox-list .more-link{
	font-weight: normal;
	font-size: .9em;
}
.ui-checkboxradio-label .icon-check {
    display: none;
}

/*-- Inputs for search filters --*/

/*-- The 'Year' filter elements --*/
#filter-year > input[type="number"]{
	color: #006699;
	width: 60px;
}

#filter-year > input[type="number"]:focus{
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}

#max_year{
	float: right;
	right: 5px;
}

#min_year{
	float: left;
}

#year-range{
	min-height: 6px;
	border-radius: 4px;
	border: 0px;
	background: #AAAAAA;
	position: relative;
	margin-bottom: 5px;
	width: 90%;
    margin-top: 10px;
	margin-bottom: 20px;
}

#year-range.disabled,
#min_year.disabled,
#max_year.disabled{
	opacity: 0.6;
}

.ui-slider-range{
	top: 0;
	height: 100%;
	position: absolute;
	z-index: 1;
	display: block;
	border: 0;
	background: #006699;
}

.ui-slider-handle{
	border: 1px solid #999999;
	background-color: #EFEFEF;
	top: -0.4em;
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	border-radius: 1.2em;
	-moz-border-radius: 1.2em;
	-webkit-border-radius: 1.2em;
}

/*-- Currently applied filters --*/

.current-filter{
	background-color: #3399CC;
	color: #FFF;
}

.current-filter > i{
	float: right;
	display: inline;
	margin-top: 2px;
}

.current-filter > i:hover{
   	cursor: pointer;
}

.current-filter > span{
	float: left;
	margin-right: 5px;
	max-width: 90%;
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal;
}


   /*-- Headers in sidebar --*/

.filter-contain h2{
	margin: 0px;
	padding: 0px 10px;
}

  h3.nav-header{
  	text-align: left;
  	color: #777777;
  	padding: 0px;
  }

  h3.nav-header > label{
  	display: inline-block;
  	font: 400 14px/18px inherit, Arial, sans-serif;
  }

  h3.nav-header > input{
  	height: 20px;
  }

  .nav-header > .icon{
  	margin-right: 5px;
  	font-size: 16px;
  }

  li.nav-header{
  	text-transform: none;
font: 600 13px/13px inherit;
color: #7F7F7F;
  }

   /*-- Your Collections area --*/
 ul.collections{
 	margin-left: 0px;
 	list-style: none;
 }

 a.collections {
 	color: #555555;
 }

 a.collections:hover{
 	color: #3399CC;
 }

 a.collections > i{
 	margin-right: 5px;
 }

input[class*="span"].left,
.row-fluid input[class*="span"].left{
		float: left;
}

 #clear-all{
 	text-align: center;
 	margin-bottom: 10px;
 	clear: both;
 }

  /* Autocomplete */
ul.ui-autocomplete{
	width: 246px;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	padding: 10px;
	list-style: none;
	overflow-y: scroll;
	-webkit-transform: translate3d(0,0,0);
	max-height: 150px;
	z-index: 10;
}

li.ui-menu-item{
	width: 245px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

li.ui-menu-item > a{
	color: #555555;
	font-weight: normal;
	width: 245px;
}

li.ui-menu-item > a:hover,
li.ui-menu-item .ui-state-focus {
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}

/* RESULT CSS
-------------------------------------------------- */
    .result-header {
      font-weight: bold;
      border-bottom: thin solid;
    }

    .result-header-count {
      font-style: italic;
    }

    #results-view{
    	margin-top: 10px;
    }

    .search-results > p{
    	text-align: center;
    	padding-top: 5px;
    }

    #results.loading *{
    	color: #DDD;
    	border: 0px;
    }

    .result-row {
      display: block;
        border-bottom: thin solid;
        padding: 5px 1%;
        width: 98%;
    }

    .result-row .result-row{
    	border-bottom:0px;
    	padding: 0px;
    }

    .result-row:hover {
    background-color: #eee;
  }

    .result-author {
      font-weight: bold;
    }
    .result-row .citation .title{
    	color:#006699;
    }
    .result-row .citation a:hover{
 	   color: #006699;
    	text-decoration: underline;
	}

    /*-- Results List Icons --*/
    .info-icons > .icons {
  		float: left;
	}
	 .info-icons > .icons > .icon{
	 	color: #888;
	 }
    .info-icons .more-info{
    	cursor: help;
    }

    .info-icons .on-map > i{
    	font-size: 19px;
    	visibility: hidden;
    }

    .info-icons .on-map > i.on-map{
    	color: #DA4D3A;
    	cursor: default;
    	visibility: hidden;
    }
    .result-row .info-icons .icon.views {
    	font-size: 1.3em;
    	margin-left: 5px;
	}
	.result-row .info-icons .label{
		border-radius: 3px;
		font-size: .9em;
		color: #555;
	}

    i.inactive{
    	visibility: hidden;
    }

    .popover{
    	font-size: 13px;
    }

     .abstract-popover{
    	max-height: 500px;
    	min-height: 10px;
    	width: 250px;
		overflow: hidden;
    	word-break: keep-all;
    	text-overflow: ellipsis;
    }

    .result-row .dropdown-menu{
  		left: -100%;
  	}

    .pagination {
    	cursor: pointer;
    	margin: 10px auto;
    }

    .pagination > ul{
    	float: left;
    }

    .pagination  ul > li > a.unactive{
    	cursor: default;
    	color: #999999;
    }

     /** View count **/
    .result-row .stats label{
    	font-size: 12px;
    	text-align: center;
    }

	/** Download button **/


    .result-row a.download > .icon-caret-down {
    	margin-left: 3px;
    }
    .result-row a.download:hover{
    	background-color: #e6e6e6;
    }

	.result-row i.download{
		font-size: 16px;
		cursor: pointer;
		float: left;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		margin-right: 0px;
	}

	.result-row .download label{
		font-size: 12px;
		line-height: 17px;
		margin-left: -10px;
		margin-bottom: 0px;
		float: right;
		opacity: 0;
		display:inline;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
	}

	.result-row:hover .download label{
		opacity: 1;
	}


  	.result-row .download:hover i{
  		text-decoration: none;
  	}



    /*-------------- DOCUMENTATION CSS -----------------------------*/
/* ---------------------------------------------------- */

/* BANNER/HEADER CSS
---------------------------------------------------- */
#metacatDocs > .banner{
	width: 100%;
	height: 100px;
	background-color: #999999;
}

#metacatDocs > .banner > img{
	float: left;
	width: auto;
	margin: 20px 10px;
	height: 70px;
}

#metacatDocs > .banner > .title{
	font: 400 18px/18px inherit;
	color: #FFFFFF;
	float: left;
	margin: 38px 10px;
}


/* RELATED/NAVIGATION CSS
---------------------------------------------------- */
#metacatDocs > .related{
	width: 100%;
	position: relative;
	top: -10px;
	min-height: 50px;
	background-color: #999999;
}

#metacatDocs .related > h3{
	display: none;
}

 #metacatDocs .related > ul {
	list-style: none;
}

#metacatDocs .related > ul > li.right > a{
	color: #FFFFFF;
	font: 400 20px/30px Muli, Arial;
	text-decoration: none;
	text-transform: capitalize;
}

#metacatDocs .related > ul > li.right{
	margin-right: 20px;
	float: right;
}


#metacatDocs .related > ul > li > a:hover,
#metacatDocs .related > ul > li > a:focus{
      color: #FFFFFF;
      text-decoration: underline;
}

#metacatDocs .related > ul input[type="submit"]{	/*"Go" button on navigation search bar */
	position: relative;
	left: -10px;
	top: -6px;
	height: 34px;
	border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-left: 1px solid #CCCCCC;
	font: 400 16px/16px;
}

#metacatDocs .related > ul input[type="submit"]:hover{	/*"Go" button on navigation search bar */
	background-color: #005580;
	color: #FFFFFF;
	cursor: pointer;
}

#metacatDocs .related > ul > li > span#searchbox{
	display: block;
	margin-right: 0px;
}

#metacatDocs .related > ul > li > span#searchbox > form{
	display: inline;
	vertical-align: top;
}


#metacatDocs .related .breadcrumb{
	float: left;
	clear: none;
	top: 60px;
	left: -25px;
	position: relative;
	background-color: #E2E2E2;
}

#metacatDocs .related .breadcrumb,
#metacatDocs .related .breadcrumb > a{
	font: 300 16px/16px inherit;
}

#metacatDocs .related .breadcrumb.first{
	clear: left;
}

#metacatDocs .footerNav > .related li.breadcrumb:last-child{
	margin-right: 20px;
}


/* DOCUMENT / MAIN CONTENT AREA
------------------------------------------------------*/
#metacatDocs > .document{
	margin: 40px auto;
	padding: 20px 2%;
	width: 96%;
}

/* Permalink icons */
#metacatDocs > .document .headerlink{
	display: none;
	margin-left: 10px;
}

#metacatDocs > .document h1:hover > .headerlink,
#metacatDocs > .document h2:hover > .headerlink,
#metacatDocs > .document h3:hover > .headerlink{
	display: inline;
	color: #166194;
}


/* SIDEBAR
---------------------------------------------------- */
#metacatDocs .sidebar{
	float: right;
	margin: 20px 0px 30px 20px;
	padding: 20px;
	border: 1px solid #D1D3D4;
	max-width:60%;
}

#metacatDocs .sidebar .sidebar-title{
	font: 300 24px/24px inherit;
	margin-top: 0;
}

#metacatDocs .sidebar img{
	margin: 0;
}

/* FOOTER
---------------------------------------------------- */
#metacatDocs > .footer{
	color: #fdfdfd;
	bottom: 0;
	width: 96%;
	margin: 50px auto 0 auto;
	background: #999999;
	padding: 10px;
}

#metacatDocs > .footer > .small-print{
	width: 70%;
	display: block;
	float: none;
	clear: both;
	margin: 20px auto 0 auto;
	color: #FFFFFF;
	font: 300 14px/14px Muli, Arial;
}

#metacatDocs > .footer > .footerNav{
	width: 100%;
	display: block;
	height: 40px;
	margin-bottom: 10px;
}

#metacatDocs > .footer > .footerNav > .related .breadcrumb{
	position: relative;
	top: -60px;
	left: -35px;
	color: #333333;
}


/* TABLES
 -----------------------------------------------*/
 #metacatDocs table,
 #metacatDocs tr,
 #metacatDocs th,
 #metacatDocs td,
 #metacatDocs thead,
 #metacatDocs tbody{
    	border: 0px;
    	border-collapse: collapse;
    	padding: 8px;
    }

#metacatDocs table{
    	background: rgba(255,255,255, 0.8);
    	margin: 40px auto;

    }

#metacatDocs thead,
#metacatDocs th{
    	background-color: #555555;
    	color: #FFFFFF;
    	font: 300 16px/20px Muli, Arial;
    }

#metacatDocs td{
    	font: 400 15px/20px inherit;
    }

#metacatDocs tr.row-odd{
    	background: rgba(103, 184, 229, 0.2);
    }


/* HIGHLIGHTING
 -----------------------------------------------*/
 #metacatDocs .highlight{
 	padding-left: 10px;
 	padding-right: 10px;
 	word-wrap: break-word;
 	color: #FFFFFF;
 	background: none;
 	clear: right;
 }

#metacatDocs .highlight-python{
 	word-wrap: break-word;
 	color: #FFFFFF;
 	clear: right;
 }

 #metacatDocs pre{
	 padding: 10px;
	background: rgba(0, 153, 153, 0.8);
	color: #FFFFFF;
	font-size: 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 20px auto;
 }


 /* MISC
 -----------------------------------------------*/
 .align-center{
 	margin-left: auto;
 	margin-right: auto;
 }

 .figure{
 	max-width: 80%;
 	background-color: #FFFFFF;
 	padding: 10px;
 	display: block;
 	border: 1px solid #666666;
 	margin: 20px auto;
 }

 .figure > img{
 	max-width: 90%;
 	margin: 10px auto;
 	display: block;
 }

 .figure > .caption{
	 margin-bottom: 0px;
	text-align: center;
	font: 400 14px/14px inherit;
	color: #666;
	padding-top: 10px;
 }


#metacatDocs .topic{
 	background: rgba(255,255,255,0.5);
 	padding: 20px;
 	border-radius: 20px;
 	-webkit-border-radius: 20px;
 	-moz-border-radius: 20px;
 }

 #metacatDocs .topic > ul{
 	margin-left: 20px;
 }

 #metacatDocs .topic-title{
 	font: 300 24px/24px inherit;
	margin-top: 0;
 }

#metacatDocs  #license pre{
 	width: 700px;
 	margin: 0 auto;
 }

 #installing-the-registry .sidebar{
 	max-width: 100%;
 }

    dt{
   		font: 300 18px/24px inherit;
   }

   #metacatDocs input {
		-webkit-appearance: none;
		background-color: white;
		border-radius: 4px;
		height: 25px;
		width: 200px;
		box-shadow: none;
		border: 0;
    }

    #metacatDocs input[type="submit"]{
    	width: auto;
    }

    #metacatDocs h3 {
		font: 400 24.5px/40px inherit;
	}

	#metacatDocs h2{
		font: 400 27.5px/40px inherit;
	}

	#metacatDocs h1{
		font: 400 32px/40px inherit;
	}

	#metacatDocs h1 > a,
	#metacatDocs h2 > a,
	#metacatDocs h3 > a,
	#metacatDocs h4 > a{
		color: #333333;
	}

	#metacatDocs ul ul{
		margin-left:20px;
	}

	#metacatDocs .note{
		 margin-left: 20px;
		 color: #555555;
	}

	#metacatDocs blockquote p{
		font-size: inherit;
		font-weight: inherit;
	}

 	#metacatDocs #contents{
 		background: rgba(255, 255, 255, 0.5);
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		margin: 20px auto;
		clear: both;
		padding: 10px 10px 10px 40px;
 	}

 /* CSS for emlparser -------
 ----------------------------- */
 .tablehead{
 	padding-top: 10px;
 	border-bottom: 1px solid #CCCCCC;
 }

 #loading-app{
 	display: none;
 }

 /******************************************
 * Metric Modal Chart (Views, Downloads, Citations)
 ********************************************/

 #metric-modal .metric-chart .scale_button:hover rect,
 #metric-modal .metric-chart .bar,
 #metric-modal .metric-chart .bar_context {
 	fill: #006dcc;
 }

 #metric-modal .metric-chart .bar {
 	stroke: #006dcc;
 }
