/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
	.navbar-inner > div,
	.row-fluid [class*="span"]{
		clear: both;
		width: 100%;
		margin: 0px;
	}
	.navbar-inner .input-append input,
	.row-fluid [class*="span"]:first-child.input-append input{
		width: 175px;
		margin-left: 20%;
	}
	.navbar-inner .btn-group{
		margin-left: 24%;
	}
}