<article id="About">
  <div class="container">
    <div class="row-fluid">
      <div class="text-left">
        <h2>
          <i class="glyphicons-icon leaf"></i>
          <a name="about-the-knb">About the KNB</a>
        </h2>
        <p class="lead">
          The Knowledge Network for Biocomplexity (KNB) is an international
          repository intended to facilitate ecological and environmental
          research on biocomplexity.
        </p>
        <img class="pull-right" style="height: 150px;width: 150px; margin: 10px 40px 10px 20px" alt="Data underlies metadata" src="./img/data-metadata-graphic.png">
        <p>
          For scientists, the KNB is an efficient way to discover,
          access, interpret, integrate and analyze complex ecological
          data. The data originate from a highly-distributed set of field stations,
          laboratories, research sites, and individual researchers.  The 
          foundation of the KNB is the rich, detailed metadata provided by 
          researchers that collect data, which promotes both automated and
          manual integration of data into new projects.
        </p>
        <p>
          As part of the KNB effort, data management software is developed in a
          free and open source manner, so other groups can build upon the tools.
          The KNB is powered by the Metacat data management system, and is
          optimized for handling datasets described using the Ecological 
          Metadata Language, but can store any XML-based document.
        </p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="text-left">
        <h2>
          <i class="glyphicons-icon thumbs_up"></i>
          <a name="why-use-the-knb">Using the KNB</a>
        </h2>
          <p>
            As a long-term repository, the KNB allows you to preserve your data
            for future generations of scientists, and to share your data with 
            your colleagues today.  With support for instantly assigning DOIs,
            your data sets can be referenced in any publication.  And as a 
            DataONE Member Node, your data will be securely replicated to other
            servers, maintaining all of the access controls you set, public or private.
          </p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="text-left">
        <h2>
          <i class="glyphicons-icon cogwheels"></i>
          <a name="getting-started">Getting Started</a>
        </h2>
        <h3>
          <a name="sharing-your-data">Sharing your data</a>
        </h3>
        <p>
          As a long-term repository, the KNB allows you to preserve your data
          for future generations of scientists, and to share your data with 
          your colleagues today.  With support for instantly assigning DOIs,
          your data sets can be referenced in any publication.  And as a 
          DataONE Member Node, your data will be securely replicated to other
          servers, maintaining all of the access controls you set, public or private.
        </p>
        <h3>
          <a name="understanding-metadata">Understanding metadata</a>
        </h3>
        <p>
          Bacon ipsum dolor sit amet enim turducken reprehenderit, cillum bacon
          frankfurter turkey. Id kielbasa pork chop rump officia in nostrud
          tempor cow. Officia spare ribs eiusmod, ut aliqua frankfurter pig
          labore dolore cow. Pig meatball excepteur pastrami, beef strip steak
          ex cupidatat eiusmod duis cow turkey salami aute andouille. Dolore in
          cow, sunt minim occaecat velit capicola cupidatat pork chop
          prosciutto turkey elit shoulder brisket. Est veniam fatback do
          biltong in.
        </p>
        <h3>
          <a name="downloading-tools">Downloading tools</a>
        </h3>
        <p>
          Bacon ipsum dolor sit amet enim turducken reprehenderit, cillum bacon
          frankfurter turkey. Id kielbasa pork chop rump officia in nostrud
          tempor cow. Officia spare ribs eiusmod, ut aliqua frankfurter pig
          labore dolore cow. Pig meatball excepteur pastrami, beef strip steak
          ex cupidatat eiusmod duis cow turkey salami aute andouille. Dolore in
          cow, sunt minim occaecat velit capicola cupidatat pork chop
          prosciutto turkey elit shoulder brisket. Est veniam fatback do
          biltong in.
        </p>
      </div>
    </div>
   </div>
  </div>
</article>
