<article id="About">
  <div class="container">
    <div class="row-fluid">
      <div class="text-left">
        <h2>
          <i class="glyphicons-icon leaf"></i>
          <a name="about-the-knb">About the KNB</a>
        </h2>
        <p class="lead">
          The Knowledge Network for Biocomplexity (KNB) is an international
          repository intended to facilitate ecological and environmental
          research on biocomplexity.
        </p>
        <img class="pull-right" style="height: 25%;width: 25%; margin: 10px 0px 10px 20px" alt="Data underlies metadata" src="./img/data-metadata-graphic.png">
        <p>
          For scientists, the KNB is an efficient way to discover,
          access, interpret, integrate and analyze complex ecological
          data. The data originate from a highly-distributed set of field stations,
          laboratories, research sites, and individual researchers.  The 
          foundation of the KNB is the rich, detailed metadata provided by 
          researchers that collect data, which promotes both automated and
          manual integration of data into new projects.
        </p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="text-left">
        <h2>
          <i class="glyphicons-icon thumbs_up"></i>
          <a name="why-use-the-knb">Why use the KNB?</a>
        </h2>
          <p>
            Bacon ipsum dolor sit amet drumstick chicken short loin
            kielbasa shankle short ribs tongue bacon pancetta beef ribs
            beef. Corned beef ham swine sausage pork filet mignon.
            Frankfurter sirloin tongue, pastrami beef tail strip steak
            leberkas flank shankle. Pork bresaola filet mignon, sirloin
            doner shoulder drumstick shankle tail pastrami strip steak
            pork belly ribeye short loin. Doner beef jowl filet mignon
            frankfurter.
          </p>
      </div>
    </div>
   </div>
  </div>
</article>
