<article id="About">
  <div class="container">
    <div class="row-fluid">
      <div class="text-left">
        <h2><a name="about-the-knb">About the KNB</a></h2>
        <p class="lead">
          The Knowledge Network for Biocomplexity (KNB) is an international
          repository intended to facilitate ecological and environmental
          research on biocomplexity.
        </p>
        <p>
          For scientists, the KNB is an efficient way to discover,
          access, interpret, integrate and analyze complex ecological
          data from a highly-distributed set of field stations,
          laboratories, research sites, and individual researchers. Bacon
          ipsum dolor sit amet drumstick chicken short loin kielbasa
          shankle short ribs tongue bacon pancetta beef ribs beef. Corned
          beef ham swine sausage pork filet mignon. Frankfurter sirloin
          tongue, pastrami beef tail strip steak leberkas flank shankle.
          Pork bresaola filet mignon, sirloin doner shoulder drumstick
          shankle tail pastrami strip steak pork belly ribeye short loin.
          Doner beef jowl filet mignon frankfurter.
        </p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="text-left">
        <h2><a name="why-use-the-knb">Why use the KNB?</a></h2>
          <p>
            Bacon ipsum dolor sit amet drumstick chicken short loin
            kielbasa shankle short ribs tongue bacon pancetta beef ribs
            beef. Corned beef ham swine sausage pork filet mignon.
            Frankfurter sirloin tongue, pastrami beef tail strip steak
            leberkas flank shankle. Pork bresaola filet mignon, sirloin
            doner shoulder drumstick shankle tail pastrami strip steak
            pork belly ribeye short loin. Doner beef jowl filet mignon
            frankfurter.
          </p>
      </div>
    </div>
   </div>
  </div>
</article>
