<% if (concept) {
%>
	<a data-id="<%= annotation.id %>" 
		class="hover-proxy ellipsis annotation tag <% if (annotation.reject) { print(' warning') } %>" 
		type="button"
		title="<%=concept.label %>">
		<%=concept.label %>
	</a>
<%
} else if (annotation.tags[0]) {
%>
		<button data-id="<%= annotation.id %>" 
			class="hover-proxy popover-this ellipsis btn <% if (annotation.reject) { print(' btn-warning') } %>" 
			type="button"
			title="<%=annotation.tags[0] %>"
			>
			#<%=annotation.tags[0].split("#")[1] %>
		</button>
		
<%
}
if (canEdit) {

	if (annotation.reject) {
	%>	
		<button class="btn btn-warning annotation-delete" 
			data-id="<%= annotation.id %>"
		>
		<i class="icon-remove"></i>
		</button>
	<%
	} else {
	%>
		<button class="btn btn-warning annotation-flag" 
			data-id="<%= annotation.id %>"
		>
		<i class="icon-flag"></i>		
		</button>
	<%
	}
}	
%>


