<div data-id="<%=containerId%>" class="annotation-viewer-container">
	<span class="annotation tag <% if (annotation.reject) { print(' warning') } %>"><%=annotation.concept.label%></span>
	<% if (annotation.reject) { %> 
		<p class="warning">This annotation has been flagged as incorrect.</p>
	<%	}
	%>
	<div>
		<p>
			<strong>Definition: </strong>
			<%=annotation.concept.desc%>
		</p>
	</div> 
	<!-- <div>
		<span>from the ontology</span>
	</div> -->
	<div class="container">
		<p class="subtle">
			Added by <a href="#profile/<%=annotation.user%>"><%=annotation.user%></a>
			<span class="subtle smaller tag-date"><%=created.toDateString()%></span>
					<% if(updated){ %>	
						<span class="subtle smaller tag-date">Updated on
						<%=updated.toDateString()%>
						</span>
					<% } %>
		</p>
	</div>
</div>