<%
if(src === undefined)   var src = "";
if(title === undefined) var title = "";
if(group === undefined) var group = "group";
if(type === undefined)  var type = null;
if(objID === undefined)  var objID = "";
%>


<%
if(type == "PDF"){ %>
<div class="data-display thumbnail pdf" data-obj-id="<%=objID%>">
	<iframe src="<%=src%>" class="iframe pdf-preview" width="500" height="500"></iframe>
	<a class="fancybox zoom-in" data-fancybox-iframe="iframe" href="<%=src%>"><i class="icon-zoom-in icon-on-left file-type"></i> Larger preview </a>
</div>	
<% }
else if(type == "image"){ %>
<div class="data-display thumbnail" data-obj-id="<%=objID%>">
	<a href="<%=src%>" rel="<%=group%>" class="fancybox" data-fancybox-type="image" title="<%=title%>">
		<img src="<%=src%>"  class="metadata-img img-thumbnail" />
	</a>		
</div>
<% } %>