<!-- Icon column -->
<td></td>
<!-- Files column -->
<td></td>
<!-- Size column -->
<td></td>
<!-- Type column -->
<td></td>
<!-- Guide or Status column -->
<td></td>
<!-- Button column -->
<td>
  <button id="edit-12345" type="button" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="glyphicons-pencil"></i> Edit <span class="caret"></span>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="glyphicons-pencil"></i>Rename ...</a></li>
      <li><a href="#"><i class="glyphicons-pencil"></i>Duplicate</a></li>
      <li><a href="#"><i class="glyphicons-pencil"></i>Add Folder ...</a></li>
      <li><a href="#"><i class="glyphicons-pencil"></i>Add Files ...</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#"><i class="glyphicons-pencil"></i>Remove ...</a></li>
    </ul>    
  </button>
</td>