<!-- Icon column -->
<% if ( typeof type !== "undefined" && type !== null && type == "Metadata" ) { %>
    <% var indentFolder = nodeLevel * 40; %>
    <td><i class="icon icon-chevron-down" style="padding-left:<%=indentFolder %>px"></i><i class="icon-large icon-folder-open"></i></td>
    
<% } else { %>
    <% var indentFile = (nodeLevel + 1) * 40; %>
    <td><i class="icon-large icon-file" style="padding-left:<%=indentFile %>px"></i></td>
    
<% } %>

<!-- Files column -->

<td class="name" contenteditable="true">
	<% if ( typeof title != "undefined" && title) { %>
	    <%= title %>    
	<% } else if ( typeof fileName != "undefined" && fileName) { %>
	    <%= fileName %>
	<% } else { %>
	    <%= id %>
	<% } %>
</td>

<!-- Size column -->
<% if ( typeof sizeStr != "undefined" && sizeStr ) { %>
    <td><%= sizeStr %></td>
    
<% } else {%>
    <td><%= size %></td>
    
<% } %>
<!-- Type column -->
<% if (type ) { %>
    <td><%= type %></td>
<% } else { %>
    <td></td>
    
<% } %>
<!-- Guide or Status column -->
<!--td></td-->
<!-- Button column -->
<td class="dropdown">
    <input class="file-upload" type="file" multiple style="display:none; height: 0px; width: 0px" / >
    <button type="button" class="edit-btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="icon-large icon-pencil"></i>
        <span>Edit</span>
        <i class="caret"></i>
    </button>
    <ul class="dropdown-menu pull-right">
      <% if ( type === "Metadata" ) { %>
      <!--li class="duplicate disabled"><a href="#"><i class="icon-large icon-pencil pull-left"></i><span>Duplicate</span></a></li -->
      <!-- li class="addFolder disabled"><a href="#"><i class="icon-large icon-pencil pull-left"></i><span>Add Folder ...</span></a></li -->
      <li class="addFiles enabled">
          <a data-target="#" href="#">
              <i class="icon-large icon-cloud-upload pull-left"></i>
              <span>Add Files ...</span>
          </a>
      </li>
      <li role="separator" class="divider"></li>
      <li class="remove enabled">
          <a data-target="#">
              <i class="icon-large icon-remove pull-left"></i>
              <span>Remove ...</span>
          </a>
      </li>
      
      <% } else { %>
      <li class="removeFiles enabled">
          <a data-target="#">
              <i class="icon-large icon-remove pull-left"></i>
              <span>Remove ...</span>
          </a></li>
          
      <% } %>
    </ul>    
    
</td>