<!-- Icon column -->
<% if ( typeof type !== "undefined" && type == "Metadata" ) { %>
    <% var indentFolder = nodelevel * 40; %>
    <td><i class="icon icon-chevron-down" style="padding-left:<%=indentFolder %>px"></i><i class="icon-large icon-folder-open"></i></td>
    
<% } else { %>
    <% var indentFile = (nodelevel + 1) * 40; %>
    <td><i class="icon-large icon-file" style="padding-left:<%=indentFile %>px"></i></td>
    
<% } %>

<!-- Files column -->

<td class="name" contenteditable="true">
	<% if ( typeof title != "undefined" && title) { %>
	    <%= title %>    
	<% } else if ( typeof fileName != "undefined" && fileName) { %>
	    <%= fileName %>
	<% } else { %>
	    <%= id %>
	<% } %>
</td>

<!-- Size column -->
<% if ( typeof sizeStr != "undefined" && sizeStr ) { %>
    <td><%= sizeStr %></td>
    
<% } else {%>
    <td><%= size %></td>
    
<% } %>
<!-- Type column -->
<% if (type ) { %>
    <td><%= type %></td>
<% } else { %>
    <td></td>
    
<% } %>
<!-- Guide or Status column -->
<!--td></td-->
<!-- Button column -->
<td>
  <button id="edit-12345" type="button" class="btn-small btn-primary dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="icon-large icon-pencil"></i>  Edit  <span class="caret"></span>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="icon-pencil"></i>Rename ...</a></li>
      <li><a href="#"><i class="icon-pencil"></i>Duplicate</a></li>
      <li><a href="#"><i class="icon-pencil"></i>Add Folder ...</a></li>
      <li><a href="#"><i class="icon-pencil"></i>Add Files ...</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#"><i class="icon-pencil"></i>Remove ...</a></li>
    </ul>    
  </button>
</td>