<div class="data-display">
    
<%
if(src === undefined)   var src = "";
if(title === undefined) var title = "";
if(group === undefined) var group = "group";
if(type === undefined)  var type = null;
if(provenance === undefined)  var provenance = null;
%>

<%
if(type == "pdf")
	print('<a class="fancybox btn" data-fancybox-iframe="iframe" href="' + src + '"><i class="icon-file file-type"></i> <span class="file-type">PDF</span> Preview </a></div>');
else if(type == "image")
	print('<a href="' + src + '" rel="' + group + '" class="fancybox thumbnail" data-fancybox-type="image" title="' + title + '"><img src="' + src + '"  class="metadata-img img-thumbnail"/></a>');
else
	print('<a href="" class="thumbnail"></a>');		
%>
<div class="additional-info">
	<div class="title">
		<h3><%=title%></h3>
	</div>
	
<% 
if(provenance){
print('<div class="provenance alert alert-info">' +
		'<i class="icon-code-fork"></i>' +
		'<div class="provenance-statement">' + provenance + '</div>' +
		'<div class="clearfix"></div>' +
	  '</div>'
	 );
}
%>
	<a class="btn" href="<%=src%>"><i class="icon-arrow-down"></i> Download</a>
</div>
<div class="clearfix"></div>
</div>