<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    
<%
if(src === undefined) var src = "";
if(title === undefined) var title = "";
if(group === undefined) var group = "group";
if(type === undefined) var type = null;

if(type == "pdf")
	print('<a class="fancybox btn" data-fancybox-iframe="iframe" href="' + src + '"><i class="icon-file file-type"></i> <span class="file-type">PDF</span> Preview </a></div>');
else if(type == "image")
	print('<a href="' + src + '" rel="' + group + '" class="fancybox thumbnail" data-fancybox-type="image" title="' + title + '"><img src="' + src + '"  class="metadata-img img-thumbnail"/></a>');
		
%>

      <div class="caption">
        <h3><%=title%></h3>
        <span class="label label-default">views</span>
      </div>
    </div>
  </div>
</div>