<%
	if((typeof icon === "undefined")      || !icon)      var icon = "icon-cloud-download";
	if((typeof className === "undefined") || !className) var className = "btn download";	
	if((typeof text === "undefined")      || !text)      var text = "Download";	
	if((typeof fileName === "undefined")  || !fileName)  var fileName = "download";
	if((typeof attributes === "undefined")) var attributes = "download";
%>

<a class="<%=className%>" href="<%=href%>" <%=attributes%> target="_blank"><span><%=text%></span><i class="<%=icon%>"></i></a>