<article>
	<nav class="span2 metadata-toc side-nav">
	<ul class="side-nav-items">
		<li class="overview side-nav-item">
			<a href="#overview" class="active">Overview</a>
		</li>
		<li class="people side-nav-item">
			<a href="#people">People</a>
		</li>
		<li class="dates side-nav-item">
			<a href="#dates">Dates</a>
		</li>
		<li class="locations side-nav-item">
			<a href="#locations">Locations</a>
		</li>
		<li class="taxa side-nav-item">
			<a href="#taxa">Taxa</a>
		</li>
		<li class="methods side-nav-item">
			<a href="#methods">Methods</a>
		</li>
		<li class="project side-nav-item">
			<a href="#project">Project</a>
		</li>
		<li class="sharing side-nav-item">
			<a href="#sharing">Sharing</a>
		</li>
	</ul>
	</nav>
	<section class="span10 metadata-container edit">
		<section class="overview">
		</section>
		
		<section class="people">
		</section>
		
		<section class="dates">
		</section>
		
		<section class="locations">
		</section>
		
		<section class="taxa">
		</section>
		
		<section class="methods">
		</section>
		
		<section class="project">
		</section>
		
		<section class="sharing">
		</section>
	</section>
</article>
<div class="clear"></div>