<div class="container">
  <div class="row-fluid pagination-centered">
    <h2>The KNB repository helps you preserve and share your data.</h2>
  </div>
  <div class="row-fluid pagination-centered">
    <div id="featured_image" class="span6">
      <img class="featured" src="./img/slide_01.jpg">
    </div>
    <div class="span6">
      <ul id="featured_list" class="nav nav-list">
        <li class="active">
          <a href="#">
            <i class="glyphicons-icon white chevron-left"></i>
            Arachnid prey selection.
            <span class="citation">
              Silkey, P. and F. Mulder. 2013. doi:10.xxxx/AA/FGT6TW
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="glyphicons-icon white chevron-left"></i>
            Biomechanical stress in beach habitats.
            <span class="citation">
              Blanchette, C. et al. 2001. doi:10.xxxx/AA/QGT6HW
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="glyphicons-icon white chevron-left"></i>
            Landscape change over time.
            <span class="citation">
              Davis, F. and D. Stoms. 2013. doi:10.xxxx/AA/XGA6HQ
            </span>
          </a>
        </li>
      </ul>
    </div>    
  </div>
</div>
