<section id="featured01" class="row">
  <img alt="Lake Baikal" src="./img/featured_baikal.jpg" style="width: 100%; height: 100%">
  <div class="accordion" id="featured01_info">
    <div class="accordion-haeding">
      <h2>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#feautured01" href="#collapse01">
           Lake Baikal Plankton Dynamics, 60-year data set.
           <span class="citation">
		         Izmest'eva, L. 2006.
           </span>
           <i class="glyphicons-icon white circle_info"></i>
        </a>
      </h2>
    </div>
    <div id="collapse01">
      <div class="accordion-inner">
        <p>
          This data set was collected at roughly 7-10 day intervals
          approximately 1 km offshore from Bolshie Koty on Lake Baikal. Depths
          span 0 - 250 m with regularity and frequently deeper. Zooplankton and
          phytoplankton are identified to species and lifestage where
          applicable. Temperature and Secchi depth are available for full time
          series, chlorophyll a and primary productivity are available since
          1979. The data set has been under the direction of Mikhail Kozhov,
          Olga Kozhova and Lyubov Izmest'eva since roughly 1945. Data uploaded
          in 2008 correspond to analyses and descriptions in Hampton et al.
          2008 (In press) Sixty Years of Environmental Change in the World’s
          Largest Freshwater Lake – Lake Baikal, Siberia. Global Change Biology.
        </p>
        <button class="btn btn-info pull-right"><a href="#view/nceas.290.8">View nceas.290.8</a></button>
      </div>
    </div>
  </div>
</section>
<section id="featured02" class="row">
  <img alt="Yellow Flower" src="./img/featured_flower_yellow.jpg" style="width: 100%; height: 100%">
  <div class="accordion" id="featured02_info">
    <div class="accordion-haeding">
      <h2>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#feautured02" href="#collapse02">
          Divergent responses to spring and winter warming drive community level flowering trends.
          <span class="citation">
			      Cook, B. 2012.
          </span>
           <i class="glyphicons-icon white circle_info"></i>
        </a>
      </h2>
    </div>
    <div id="collapse02">
      <div class="accordion-inner">
        <p>
          Data for "Cook BI, Wolkovich EM, Parmesan C. 2012. Divergent
          responses to spring and winter warming drive community level
          flowering trends. PNAS 109(23): 9000-9005." Data corresponds to
          supplemental information provided at:
          www.pnas.org/lookup/suppl/doi:10.
          1073/pnas.1118364109/-/DCSupplemental. Data presented here are
          regression coefficients (along with standard errors of the
          coefficients) calculated by using linear least-squares regressions.
          There are two datasets presented here--one corresponding to the first
          flowering dates at Chinnor, United Kingdom and the second one
          corresponds to the first flowering dates at Washington DC.
        </p>
        <button class="btn btn-info pull-right"><a href="#view/nceas.997.2">View nceas.997.2</a></button>
      </div>
    </div>
  </div>
</section>
<section id="featured03" class="row">
  <img alt="Coral" src="./img/featured_coral.jpg" style="width: 100%; height: 100%">
  <div class="accordion" id="featured03_info">
    <div class="accordion-haeding">
      <h2>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#feautured03" href="#collapse03">
          USVI Coral Reef: Decadal-scale changes in community structure from 1987 to 2011.
          <span class="citation">
			      CSU Northridge and Edmunds, P. 2013.
          </span>
            <i class="glyphicons-icon white circle_info"></i>
        </a>
      </h2>
    </div>
    <div id="collapse03">
      <div class="accordion-inner">
        <p>
          These time series data sample percent cover of Scleractinian corals
          by genus measured from photo quadrats. Percent cover is given for
          each quadrat, each site, each year from 1987 to 2011. Counts of
          juvenile corals conducted in situ and small colonies less than 4 cm
          diameter are pooled from all sites. Supplementary data include in
          situ seawater temperature daily mean from 1989 to 2011. These data
          were used to create the figures in Edmunds, P.J., 2013, Decadal-scale
          changes in the community structure of coral reefs in St. John, US
          Virgin Islands, Marine ecology Progress Series.
        </p>
        <button class="btn btn-info pull-right"><a href="#view/autogen.2013071915432447802.1">View doi:10.5063/AA/knb-csun-usvi.10700</a></button>
      </div>
    </div>
  </div>
</section>
<!--
<div class="container">
  <div class="row-fluid pagination-centered">
    <h2>The KNB repository helps you preserve and share your data.</h2>
  </div>
  <div class="row-fluid pagination-centered">  
    <div class="tab-content span6">
    	<div id="featured_01" class="tab-pane active">
	      <img class="featured" src="./img/featured_01.jpg">
	    </div>
	    <div id="featured_02" class="tab-pane">
	      <img class="featured" src="./img/featured_02.jpg">
	    </div>
	    <div id="featured_03" class="tab-pane">
	      <img class="featured" src="./img/featured_03.jpg">
	    </div>
    </div>
    
    <div class="span6">
-->    
    	<!-- Candidates
    	NCEAS 12574: Cook: Forecasting phenology: Integrating ecology, climatology, and phylogeny to understand plant responses to climate change, 
    	National Center for Ecological Analysis and Synthesis, and Cook B. 2012.
		Divergent responses to spring and winter warming drive community level flowering trends
		docid=nceas.997.2
		
    	California State University Northridge and Edmunds P. 2013.
		Virgin Islands National Park: Coral Reef: Decadal-scale changes in community structure from 1987 to 2011 
    	docid=autogen.2013071915432447802.1
    	pid=doi:10.5063/AA/knb-csun-usvi.10700
    	
		
		NCEAS 10241: Zilov: The 60-year data set of plankton dynamics in Lake Baikal, National Center for Ecological Analysis and Synthesis, and Izmest'eva L. 2006.
		Lake Baikal Plankton 
    	docid=nceas.290.8
      -->
<!--
      <ul id="featured_list" class="nav nav-list">
-->
        <!--li class="nav-header pagination-centered">Featured data in the KNB</li-->
<!--
        <li class="active">
          <a href="#featured_01" data-toggle="tab" >
            <i class="glyphicons-icon white chevron-left"></i>
            Divergent responses to spring and winter warming drive community level flowering trends.
            <span class="citation">
				Cook, B. 2012.
            </span>
            <button class="btn btn-link featuredButton" href="#view/nceas.997.2">nceas.997.2</button>
          </a>
        </li>
        <li>
          <a href="#featured_02" data-toggle="tab" >
            <i class="glyphicons-icon white chevron-left"></i>
            USVI Coral Reef: Decadal-scale changes in community structure from 1987 to 2011.
            <span class="citation">
				CSU Northridge and Edmunds, P. 2013.
            </span>
            <button class="btn btn-link featuredButton" href="#view/autogen.2013071915432447802.1">doi:10.5063/AA/knb-csun-usvi.10700</button>
          </a>
        </li>
        <li>
          <a href="#featured_03" data-toggle="tab" >
            <i class="glyphicons-icon white chevron-left"></i>
            Lake Baikal Plankton Dynamics, 60-year data set.
            <span class="citation">
				Izmest'eva, L. 2006.
            </span>
            <button class="btn btn-link featuredButton" href="#view/nceas.290.8">nceas.290.8</button>
          </a>
        </li>
      </ul>
    </div>    
  </div>
</div>
-->