<div class="container center">
  <div id="FooterHeading" class="row-fluid center">
    <h3 class="heading"><span>The</span> Knowledge Network <span>for</span> Biocomplexity</h3>
    <h4 class="subheading"><span>knb</span></h4>
  </div>
</div>
<div class="container center">
  <div class="row-fluid center">
    <div class="span4">
      <h2><i class="glyphicons-icon white cogwheels"></i>Getting Started</h2>
      <ul class="helpitems">
        <li><a href="#about/sharing">Sharing Your Data</a></li>
        <li><a href="#about/metadata">Understanding Metadata</a></li>
        <li><a href="#about/tools">Downloading Tools</a></li>
      </ul>
    </div>
    <div class="span4">            
      <h2><i class="glyphicons-icon white file"></i>The Details</h2>
      <ul class="helpitems">
        <li><a href="#tools/morpho/guide">Morpho User Guide</a></li>
        <li><a href="#tools/eml/spec">Ecologcal Metadata Language</a></li>
        <li><a href="#tools/d1/api">DataONE API</a></li>
      </ul>
    </div>
    <div class="span4">
      <h2><i class="glyphicons-icon white envelope"></i>Help</h2>
      <ul class="helpitems">
        <li><a href="#tools/morpho/guide">knb-help@nceas.ucsb.edu</a></li>
        <li><a href="#tools/eml/spec">irc.ecoinformatics.org #kdi</a></li>
        <li><a href="#tools/d1/api">@nceas</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container center acknowledgements">
  <div class="row-fluid center">
    <div class="span2 center">
      <a href="#"><span class="logo pagination-centered">knb</span></a>
      <a href="http://dataone.org"><img alt="DataONE" src="./img/dataone-logo-white.png"></a>
    </div>
    <div class="span8"> 
      <div class="row-fluid">
        <p class="pagination-centered disclaimer">National Science Foundation Knowledge and Distributed Intelligence Program</p>
        <p class="disclaimer">
          This material is based upon work supported by the National Science Foundation 
          under Grant No. DEB99–80154. Any opinions, findings and conclusions or 
          recomendations expressed in this material are those of the author(s) and 
          do not necessarily reflect the views of the National Science Foundation (NSF).
        </p>
      </div>           
    </div>
    <div class="span2">
      <a href="http://nceas.ucsb.edu"><img alt="NCEAS" src="./img/nceas-logo-white.png"></a>
    </div>
  </div>
</div>
