<%
var signInURL = signInUrlLdap + window.location;
%>

<form id="SignInLdap" class="form-inline input-group" 
		action="<%=signInURL%>" 
		method="post" 
		onsubmit="if (this.username.value.indexOf('=') < 0) {this.username.value = 'uid=' + this.username.value + ',' + this.rdn.value;} return true;">

    <legend><h4>Login with an <%=accountType%> account</h4></legend>			        					
	
	<div class="input-group">
		<label for="username">Username</label>
		<input type="text" name="username" placeholder="Username"/>
	</div>	
	
	<input name="rdn" type="hidden" value="<%=org%>" />
	<!-- 	<option value="o=unaffiliated,dc=ecoinformatics,dc=org">unaffiliated</option>
		<option value="o=NCEAS,dc=ecoinformatics,dc=org">NCEAS</option>
		<option value="ou=Account,dc=ecoinformatics,dc=org">Account</option>
	-->
	<div class="input-group">
		<label for="password">Password</label>
		<input type="password" name="password" placeholder="Password"/>
	</div>
	
	<input type="submit" value="Login" class="btn btn-primary"/>
</form>