<ul>
<li><a href="https://identityprovider.anl.gov/idp/shibboleth" data-name="Argonne National Laboratory">Argonne National Laboratory</a></li>
<li><a href="urn:mace:incommon:asu.edu" data-name="Arizona State University">Arizona State University</a></li>
<li><a href="https://webauth.auburn.edu/idp/shibboleth" data-name="Auburn University">Auburn University</a></li>
<li><a href="https://shibidp.bates.edu/idp/shibboleth" data-name="Bates College">Bates College</a></li>
<li><a href="https://shibidp.bloomu.edu/idp/shibboleth" data-name="Bloomsburg University of Pennsylvania">Bloomsburg University of Pennsylvania</a></li>
<li><a href="https://idp.boisestate.edu/idp/shibboleth" data-name="Boise State University">Boise State University</a></li>
<li><a href="https://shib.bu.edu/idp/shibboleth" data-name="Boston University">Boston University</a></li>
<li><a href="https://idp.bnl.gov/idp/shibboleth" data-name="Brookhaven National Laboratory">Brookhaven National Laboratory</a></li>
<li><a href="https://sso.brown.edu/idp/shibboleth" data-name="Brown University">Brown University</a></li>
<li><a href="https://idp.caltech.edu/idp/shibboleth" data-name="California Institute of Technology">California Institute of Technology</a></li>
<li><a href="https://idp.cpp.edu/idp/shibboleth" data-name="California State Polytechnic University, Pomona">California State Polytechnic University, Pomona</a></li>
<li><a href="https://shib-idp.its.csufresno.edu/idp/shibboleth" data-name="California State University, Fresno">California State University, Fresno</a></li>
<li><a href="https://shibboleth.fullerton.edu/idp/shibboleth" data-name="California State University, Fullerton">California State University, Fullerton</a></li>
<li><a href="https://idp.csusb.edu/idp/shibboleth" data-name="California State University, San Bernardino">California State University, San Bernardino</a></li>
<li><a href="urn:mace:incommon:carleton.edu" data-name="Carleton College">Carleton College</a></li>
<li><a href="https://login.cmu.edu/idp/shibboleth" data-name="Carnegie Mellon University">Carnegie Mellon University</a></li>
<li><a href="urn:mace:incommon:case.edu" data-name="Case Western Reserve University">Case Western Reserve University</a></li>
<li><a href="urn:mace:incommon:clemson.edu" data-name="Clemson University">Clemson University</a></li>
<li><a href="https://idp.mines.edu/idp/shibboleth" data-name="Colorado School of Mines">Colorado School of Mines</a></li>
<li><a href="https://shibidp.colostate.edu/idp/shibboleth" data-name="Colorado State University">Colorado State University</a></li>
<li><a href="urn:mace:incommon:columbia.edu" data-name="Columbia University">Columbia University</a></li>
<li><a href="https://shibidp.cit.cornell.edu/idp/shibboleth" data-name="Cornell University">Cornell University</a></li>
<li><a href="urn:mace:incommon:duke.edu" data-name="Duke University">Duke University</a></li>
<li><a href="https://login.emory.edu/idp/shibboleth" data-name="Emory University">Emory University</a></li>
<li><a href="https://idp.es.net/idp/shibboleth" data-name="ESnet">ESnet</a></li>
<li><a href="https://idp.fnal.gov/idp/shibboleth" data-name="Fermi National Accelerator Laboratory">Fermi National Accelerator Laboratory</a></li>
<li><a href="https://sso.fau.edu/idp/shibboleth" data-name="Florida Atlantic University">Florida Atlantic University</a></li>
<li><a href="https://fiuidp.fiu.edu/idp/shibboleth" data-name="Florida International University">Florida International University</a></li>
<li><a href="https://shibboleth.gmu.edu/idp/shibboleth" data-name="George Mason University">George Mason University</a></li>
<li><a href="https://shibb-idp.georgetown.edu/idp/shibboleth" data-name="Georgetown University">Georgetown University</a></li>
<li><a href="https://idp.gatech.edu/idp/shibboleth" data-name="Georgia Institute of Technology">Georgia Institute of Technology</a></li>
<li><a href="https://idp.gsu.edu/idp/shibboleth" data-name="Georgia State University">Georgia State University</a></li>
<li><a href="https://identity.gettysburg.edu/idp/shibboleth" data-name="Gettysburg College">Gettysburg College</a></li>
<li><a href="https://accounts.google.com/o/oauth2/auth" data-name="Google">Google</a></li>
<li><a href="https://idp.goucher.edu/idp/shibboleth" data-name="Goucher College">Goucher College</a></li>
<li><a href="https://idp.greatplains.net/idp/shibboleth" data-name="GPN (Great Plains Network)">GPN (Great Plains Network)</a></li>
<li><a href="https://login.icermali.org/idp/shibboleth" data-name="ICER - Mali">ICER - Mali</a></li>
<li><a href="https://login.iceruganda.org/idp/shibboleth" data-name="ICER - Uganda">ICER - Uganda</a></li>
<li><a href="urn:mace:incommon:iu.edu" data-name="Indiana University">Indiana University</a></li>
<li><a href="https://webso.iup.edu/idp/shibboleth" data-name="Indiana University of Pennsylvania">Indiana University of Pennsylvania</a></li>
<li><a href="urn:mace:incommon:internet2.edu" data-name="Internet2">Internet2</a></li>
<li><a href="https://idp.iastate.edu/shibboleth" data-name="Iowa State University">Iowa State University</a></li>
<li><a href="urn:mace:incommon:johnshopkins.edu" data-name="Johns Hopkins">Johns Hopkins</a></li>
<li><a href="https://signin.k-state.edu/idp/shibboleth" data-name="Kansas State University">Kansas State University</a></li>
<li><a class="ldap" href="" data-name="KNB Data Repository" data-value="o=unaffiliated,dc=ecoinformatics,dc=org">KNB Data Repository</a></li>
<li><a href="urn:mace:incommon:lafayette.edu" data-name="Lafayette College">Lafayette College</a></li>
<li><a href="urn:mace:incommon:lbl.gov" data-name="Lawrence Berkeley National Laboratory">Lawrence Berkeley National Laboratory</a></li>
<li><a href="https://sso.cc.lehigh.edu/sso/saml2/idp/metadata.php" data-name="Lehigh University">Lehigh University</a></li>
<li><a href="https://login.ligo.org/idp/shibboleth" data-name="LIGO Scientific Collaboration">LIGO Scientific Collaboration</a></li>
<li><a href="https://webauth.shib.lsu.edu/idp/shibboleth" data-name="Louisiana State University">Louisiana State University</a></li>
<li><a href="https://shibprodapp.loyola.edu/idp/shibboleth" data-name="Loyola University Maryland">Loyola University Maryland</a></li>
<li><a href="https://shibidp.luc.edu/idp/shibboleth" data-name="Loyola University of Chicago">Loyola University of Chicago</a></li>
<li><a href="https://shib.lternet.edu/idp/shibboleth" data-name="LTERN (Long Term Ecological Research Network)">LTERN (Long Term Ecological Research Network)</a></li>
<li><a href="https://idp.mbl.edu/idp/shibboleth" data-name="Marine Biological Laboratory">Marine Biological Laboratory</a></li>
<li><a href="https://idp.marshall.edu/idp/shibboleth" data-name="Marshall University">Marshall University</a></li>
<li><a href="urn:mace:incommon:mit.edu" data-name="Massachusetts Institute of Technology">Massachusetts Institute of Technology</a></li>
<li><a href="urn:mace:incommon:mcnc.org" data-name="MCNC">MCNC</a></li>
<li><a href="urn:mace:incommon:musc.edu" data-name="Medical University of South Carolina">Medical University of South Carolina</a></li>
<li><a href="urn:mace:incommon:msu.edu" data-name="Michigan State University">Michigan State University</a></li>
<li><a href="https://shibboleth.its.msstate.edu/idp/shibboleth" data-name="Mississippi State University">Mississippi State University</a></li>
<li><a href="https://login.montana.edu/idp/shibboleth" data-name="Montana State University - Bozeman">Montana State University - Bozeman</a></li>
<li><a href="urn:mace:incommon:mlml.calstate.edu" data-name="Moss Landing Marine Laboratories">Moss Landing Marine Laboratories</a></li>
<li><a href="urn:mace:incommon:nih.gov" data-name="National Institutes of Health">National Institutes of Health</a></li>
<li><a class="ldap" href="" data-name="NCEAS - National Center for Ecological Analysis and Synthesis" data-value="o=NCEAS,dc=ecoinformatics,dc=org">NCEAS - National Center for Ecological Analysis and Synthesis</a></li>
<li><a href="urn:mace:incommon:nyu.edu" data-name="New York University">New York University</a></li>
<li><a href="urn:mace:incommon:ncsu.edu" data-name="North Carolina State University">North Carolina State University</a></li>
<li><a href="https://idp.niu.edu/idp/shibboleth" data-name="Northern Illinois University">Northern Illinois University</a></li>
<li><a href="urn:mace:incommon:northwestern.edu" data-name="Northwestern University">Northwestern University</a></li>
<li><a href="https://idp.ornl.gov/idp" data-name="Oak Ridge National Laboratory">Oak Ridge National Laboratory</a></li>
<li><a href="urn:mace:incommon:osu.edu" data-name="Ohio State University">Ohio State University</a></li>
<li><a href="https://idp.oar.net/idp/shibboleth" data-name="Ohio Technology Consortium (OH-TECH)">Ohio Technology Consortium (OH-TECH)</a></li>
<li><a href="https://idp.okstate.edu/idp/shibboleth" data-name="Oklahoma State University System">Oklahoma State University System</a></li>
<li><a href="urn:mace:incommon:odu.edu" data-name="Old Dominion University">Old Dominion University</a></li>
<li><a href="https://login.oregonstate.edu/idp/shibboleth" data-name="Oregon State University">Oregon State University</a></li>
<li><a href="urn:mace:incommon:psu.edu" data-name="Penn State">Penn State</a></li>
<li><a href="https://websso.pomona.edu/" data-name="Pomona College">Pomona College</a></li>
<li><a href="https://idp.princeton.edu/idp/shibboleth" data-name="Princeton University">Princeton University</a></li>
<li><a href="urn:mace:incommon:idp.protectnetwork.org" data-name="ProtectNetwork">ProtectNetwork</a></li>
<li><a href="https://idp.purdue.edu/idp/shibboleth" data-name="Purdue University Main Campus">Purdue University Main Campus</a></li>
<li><a href="https://idp.reed.edu/idp/shibboleth" data-name="Reed College">Reed College</a></li>
<li><a href="https://idp.rice.edu/idp/shibboleth" data-name="Rice University">Rice University</a></li>
<li><a href="https://rushib.rockefeller.edu/idp/shibboleth" data-name="Rockefeller University">Rockefeller University</a></li>
<li><a href="urn:mace:incommon:rutgers.edu" data-name="Rutgers, The State University of New Jersey">Rutgers, The State University of New Jersey</a></li>
<li><a href="https://idp.sdsu.edu/idp/shibboleth" data-name="San Diego State University">San Diego State University</a></li>
<li><a href="https://idp.si.edu/idp/shibboleth" data-name="Smithsonian Institution">Smithsonian Institution</a></li>
<li><a href="https://shib-idp.siu.edu/idp/shibboleth" data-name="Southern Illinois University">Southern Illinois University</a></li>
<li><a href="https://idp.smu.edu/idp/shibboleth" data-name="Southern Methodist University">Southern Methodist University</a></li>
<li><a href="urn:mace:incommon:stanford.edu" data-name="Stanford University">Stanford University</a></li>
<li><a href="urn:mace:incommon:stevens.edu" data-name="Stevens Institute of Technology">Stevens Institute of Technology</a></li>
<li><a href="urn:mace:incommon:stonybrook.edu" data-name="Stony Brook University">Stony Brook University</a></li>
<li><a href="https://shibidp.syr.edu/idp/shibboleth" data-name="Syracuse University">Syracuse University</a></li>
<li><a href="urn:mace:incommon:tamu.edu" data-name="Texas A &amp; M University">Texas A &amp; M University</a></li>
<li><a href="https://idp.tamucc.edu/idp/shibboleth" data-name="Texas A&amp;M University-Corpus Christi">Texas A&amp;M University-Corpus Christi</a></li>
<li><a href="https://authentic.txstate.edu/idp/shibboleth" data-name="Texas State University - San Marcos">Texas State University - San Marcos</a></li>
<li><a href="https://idp.shibboleth.ttu.edu/idp/shibboleth" data-name="Texas Tech University">Texas Tech University</a></li>
<li><a href="https://idp.broadinstitute.org/idp/shibboleth" data-name="The Broad Institute of MIT and Harvard">The Broad Institute of MIT and Harvard</a></li>
<li><a href="https://singlesignon.gwu.edu/idp/shibboleth" data-name="The George Washington University">The George Washington University</a></li>
<li><a href="urn:mace:incommon:arizona.edu" data-name="The University of Arizona">The University of Arizona</a></li>
<li><a href="https://sso.memphis.edu/idp/shibboleth" data-name="The University of Memphis">The University of Memphis</a></li>
<li><a href="https://shib.towson.edu/idp/shibboleth" data-name="Towson University">Towson University</a></li>
<li><a href="https://shib-idp.tufts.edu/idp/shibboleth" data-name="Tufts University">Tufts University</a></li>
<li><a href="https://weblogin.albany.edu/shibboleth/idp2" data-name="University At Albany, State University of New York">University At Albany, State University of New York</a></li>
<li><a href="urn:mace:incommon:uab.edu" data-name="University of Alabama at Birmingham">University of Alabama at Birmingham</a></li>
<li><a href="https://idp.ua.edu/idp/shibboleth" data-name="University of Alabama, The">University of Alabama, The</a></li>
<li><a href="urn:mace:incommon:alaska.edu" data-name="University of Alaska Statewide System">University of Alaska Statewide System</a></li>
<li><a href="https://idp.uark.edu/idp/shibboleth" data-name="University of Arkansas">University of Arkansas</a></li>
<li><a href="urn:mace:incommon:berkeley.edu" data-name="University of California, Berkeley">University of California, Berkeley</a></li>
<li><a href="urn:mace:incommon:ucdavis.edu" data-name="University of California, Davis">University of California, Davis</a></li>
<li><a href="urn:mace:incommon:uci.edu" data-name="University of California, Irvine">University of California, Irvine</a></li>
<li><a href="urn:mace:incommon:ucla.edu" data-name="University of California, Los Angeles">University of California, Los Angeles</a></li>
<li><a href="urn:mace:incommon:ucop.edu" data-name="University of California, Office of the President">University of California, Office of the President</a></li>
<li><a href="urn:mace:incommon:ucr.edu" data-name="University of California, Riverside">University of California, Riverside</a></li>
<li><a href="urn:mace:incommon:ucsd.edu" data-name="University of California, San Diego">University of California, San Diego</a></li>
<li><a href="urn:mace:incommon:ucsf.edu" data-name="University of California, San Francisco">University of California, San Francisco</a></li>
<li><a href="urn:mace:incommon:ucsb.edu" data-name="University of California, Santa Barbara">University of California, Santa Barbara</a></li>
<li><a href="urn:mace:incommon:ucsc.edu" data-name="University of California, Santa Cruz">University of California, Santa Cruz</a></li>
<li><a href="https://idp-prod.cc.ucf.edu/idp/shibboleth" data-name="University of Central Florida">University of Central Florida</a></li>
<li><a href="urn:mace:incommon:uchicago.edu" data-name="University of Chicago">University of Chicago</a></li>
<li><a href="https://login.uc.edu/idp/shibboleth" data-name="University of Cincinnati Main Campus">University of Cincinnati Main Campus</a></li>
<li><a href="https://fedauth.colorado.edu/idp/shibboleth" data-name="University of Colorado at Boulder">University of Colorado at Boulder</a></li>
<li><a href="urn:mace:incommon:udayton.edu" data-name="University of Dayton">University of Dayton</a></li>
<li><a href="https://shibboleth.nss.udel.edu/idp/shibboleth" data-name="University of Delaware">University of Delaware</a></li>
<li><a href="https://login.ufl.edu/idp/shibboleth" data-name="University of Florida">University of Florida</a></li>
<li><a href="https://idp.hawaii.edu/idp/shibboleth" data-name="University of Hawaii">University of Hawaii</a></li>
<li><a href="https://shibboleth.lib.uh.edu/idp/shibboleth" data-name="University of Houston Libraries">University of Houston Libraries</a></li>
<li><a href="https://shibboleth.uic.edu/shibboleth" data-name="University of Illinois at Chicago">University of Illinois at Chicago</a></li>
<li><a href="https://uisshibb1.uis.edu/idp/shibboleth" data-name="University of Illinois At Springfield">University of Illinois At Springfield</a></li>
<li><a href="urn:mace:incommon:uiuc.edu" data-name="University of Illinois at Urbana-Champaign">University of Illinois at Urbana-Champaign</a></li>
<li><a href="urn:mace:incommon:uiowa.edu" data-name="University of Iowa">University of Iowa</a></li>
<li><a href="https://shibidp.ku.edu/idp/shibboleth" data-name="University of Kansas">University of Kansas</a></li>
<li><a href="https://cas.kumc.edu/idp/shibboleth" data-name="University of Kansas Medical Center">University of Kansas Medical Center</a></li>
<li><a href="https://webauth.umaryland.edu/idp/shibboleth" data-name="University of Maryland Baltimore">University of Maryland Baltimore</a></li>
<li><a href="urn:mace:incommon:umbc.edu" data-name="University of Maryland Baltimore County">University of Maryland Baltimore County</a></li>
<li><a href="urn:mace:incommon:umd.edu" data-name="University of Maryland College Park">University of Maryland College Park</a></li>
<li><a href="https://webauth.umass.edu/idp/shibboleth" data-name="University of Massachusetts Amherst">University of Massachusetts Amherst</a></li>
<li><a href="https://caneid.miami.edu/idp/shibboleth" data-name="University of Miami">University of Miami</a></li>
<li><a href="https://shibboleth.umich.edu/idp/shibboleth" data-name="University of Michigan">University of Michigan</a></li>
<li><a href="urn:mace:incommon:umn.edu" data-name="University of Minnesota">University of Minnesota</a></li>
<li><a href="https://umshibp.olemiss.edu/idp/shibboleth" data-name="University of Mississippi">University of Mississippi</a></li>
<li><a href="https://shib-idp.umsystem.edu/idp/shibboleth" data-name="University of Missouri System">University of Missouri System</a></li>
<li><a href="https://idp.unmc.edu/idp/shibboleth" data-name="University of Nebraska Medical Center">University of Nebraska Medical Center</a></li>
<li><a href="https://shib.unl.edu/idp/shibboleth" data-name="University of Nebraska-Lincoln">University of Nebraska-Lincoln</a></li>
<li><a href="urn:mace:incommon:unc.edu" data-name="University of North Carolina at Chapel Hill">University of North Carolina at Chapel Hill</a></li>
<li><a href="https://webauth.uncc.edu/idp/shibboleth" data-name="University of North Carolina At Charlotte">University of North Carolina At Charlotte</a></li>
<li><a href="https://prdidp.uncg.edu/idp/shibboleth" data-name="University of North Carolina at Greensboro">University of North Carolina at Greensboro</a></li>
<li><a href="https://login.nd.edu/idp/shibboleth" data-name="University of Notre Dame">University of Notre Dame</a></li>
<li><a href="https://shibboleth.uoregon.edu/idp/shibboleth" data-name="University of Oregon">University of Oregon</a></li>
<li><a href="https://idp.pennkey.upenn.edu/idp/shibboleth" data-name="University of Pennsylvania">University of Pennsylvania</a></li>
<li><a href="https://idp.pitt.edu/idp/shibboleth" data-name="University of Pittsburgh">University of Pittsburgh</a></li>
<li><a href="https://shib2.its.rochester.edu/idp/shibboleth" data-name="University of Rochester">University of Rochester</a></li>
<li><a href="urn:mace:incommon:sc.edu" data-name="University of South Carolina">University of South Carolina</a></li>
<li><a href="urn:mace:incommon:usf.edu" data-name="University of South Florida">University of South Florida</a></li>
<li><a href="urn:mace:incommon:usc.edu" data-name="University of Southern California">University of Southern California</a></li>
<li><a href="https://idp.utk.edu/idp/shibboleth" data-name="University of Tennessee">University of Tennessee</a></li>
<li><a href="https://idp.its.utexas.edu/idp/shibboleth" data-name="University of Texas at Austin">University of Texas at Austin</a></li>
<li><a href="https://idp.utdallas.edu/idp/shibboleth" data-name="University of Texas at Dallas">University of Texas at Dallas</a></li>
<li><a href="https://idp.utsystem.edu/idp/shibboleth" data-name="University of Texas System">University of Texas System</a></li>
<li><a href="urn:mace:incommon:utah.edu" data-name="University of Utah">University of Utah</a></li>
<li><a href="https://idp.uvm.edu/idp/shibboleth" data-name="University of Vermont">University of Vermont</a></li>
<li><a href="urn:mace:incommon:virginia.edu" data-name="University of Virginia">University of Virginia</a></li>
<li><a href="urn:mace:incommon:washington.edu" data-name="University of Washington">University of Washington</a></li>
<li><a href="https://login.wisc.edu/idp/shibboleth" data-name="University of Wisconsin-Madison">University of Wisconsin-Madison</a></li>
<li><a href="https://idp.uwm.edu/idp/shibboleth" data-name="University of Wisconsin-Milwaukee">University of Wisconsin-Milwaukee</a></li>
<li><a href="https://shibboleth.uwyo.edu/idp/shibboleth" data-name="University of Wyoming">University of Wyoming</a></li>
<li><a href="https://shibboleth.usu.edu/idp/shibboleth" data-name="Utah State University">Utah State University</a></li>
<li><a href="https://shib.uvu.edu/idp/shibboleth" data-name="Utah Valley University">Utah Valley University</a></li>
<li><a href="https://vushib-idp.vanderbilt.edu/idp/Shibboleth" data-name="Vanderbilt University">Vanderbilt University</a></li>
<li><a href="urn:mace:incommon:vt.edu" data-name="Virginia Polytechnic Institute and State University">Virginia Polytechnic Institute and State University</a></li>
<li><a href="https://shib.med.cornell.edu/idp/shibboleth" data-name="Weill Cornell Medical College">Weill Cornell Medical College</a></li>
<li><a href="https://idp.wvu.edu/idp/shibboleth" data-name="West Virginia University">West Virginia University</a></li>
<li><a href="https://idp.wmich.edu/idp/shibboleth" data-name="Western Michigan University">Western Michigan University</a></li>
<li><a href="https://shib.wheatonma.edu/idp/shibboleth" data-name="Wheaton College (MA)">Wheaton College (MA)</a></li>
<li><a href="https://auth.yale.edu/idp/shibboleth" data-name="Yale University">Yale University</a></li>
</ul>