<ul>
<li>Google</li>
<li>Argonne National Laboratory</li>
<li>Arizona State University</li>
<li>Auburn University</li>
<li>Bates College</li>
<li>Bloomsburg University of Pennsylvania</li>
<li>Boise State University</li>
<li>Boston University</li>
<li>Brookhaven National Laboratory</li>
<li>Brown University</li>
<li>California Institute of Technology</li>
<li>California State Polytechnic University, Pomona</li>
<li>California State University, Fresno</li>
<li>California State University, Fullerton</li>
<li>California State University, San Bernardino</li>
<li>Carleton College</li>
<li>Carnegie Mellon University</li>
<li>Case Western Reserve University</li>
<li>Clemson University</li>
<li>Colorado School of Mines</li>
<li>Colorado State University</li>
<li>Columbia University</li>
<li>Cornell University</li>
<li>Duke University</li>
<li>Emory University</li>
<li>ESnet</li>
<li>Fermi National Accelerator Laboratory</li>
<li>Florida Atlantic University</li>
<li>Florida International University</li>
<li>George Mason University</li>
<li>Georgetown University</li>
<li>Georgia Institute of Technology</li>
<li>Georgia State University</li>
<li>Gettysburg College</li>
<li>Google</li>
<li>Goucher College</li>
<li>GPN (Great Plains Network)</li>
<li>ICER - Mali</li>
<li>ICER - Uganda</li>
<li>Indiana University</li>
<li>Indiana University of Pennsylvania</li>
<li>Internet2</li>
<li>Iowa State University</li>
<li>Johns Hopkins</li>
<li>Kansas State University</li>
<li>Lafayette College</li>
<li>Lawrence Berkeley National Laboratory</li>
<li>Lehigh University</li>
<li>LIGO Scientific Collaboration</li>
<li>Louisiana State University</li>
<li>Loyola University Maryland</li>
<li>Loyola University of Chicago</li>
<li>LTERN (Long Term Ecological Research Network)</li>
<li>Marine Biological Laboratory</li>
<li>Marshall University</li>
<li>Massachusetts Institute of Technology</li>
<li>MCNC</li>
<li>Medical University of South Carolina</li>
<li>Michigan State University</li>
<li>Mississippi State University</li>
<li>Montana State University - Bozeman</li>
<li>Moss Landing Marine Laboratories</li>
<li>National Institutes of Health</li>
<li>New York University</li>
<li>North Carolina State University</li>
<li>Northern Illinois University</li>
<li>Northwestern University</li>
<li>Oak Ridge National Laboratory</li>
<li>Ohio State University</li>
<li>Ohio Technology Consortium (OH-TECH)</li>
<li>Oklahoma State University System</li>
<li>Old Dominion University</li>
<li>Oregon State University</li>
<li>Penn State</li>
<li>Pomona College</li>
<li>Princeton University</li>
<li>ProtectNetwork</li>
<li>Purdue University Main Campus</li>
<li>Reed College</li>
<li>Rice University</li>
<li>Rockefeller University</li>
<li>Rutgers, The State University of New Jersey</li>
<li>San Diego State University</li>
<li>Smithsonian Institution</li>
<li>Southern Illinois University</li>
<li>Southern Methodist University</li>
<li>Stanford University</li>
<li>Stevens Institute of Technology</li>
<li>Stony Brook University</li>
<li>Syracuse University</li>
<li>Texas A &amp; M University</li>
<li>Texas A&amp;M University-Corpus Christi</li>
<li>Texas State University - San Marcos</li>
<li>Texas Tech University</li>
<li>The Broad Institute of MIT and Harvard</li>
<li>The George Washington University</li>
<li>The University of Arizona</li>
<li>The University of Memphis</li>
<li>Towson University</li>
<li>Tufts University</li>
<li>University At Albany, State University of New York</li>
<li>University of Alabama at Birmingham</li>
<li>University of Alabama, The</li>
<li>University of Alaska Statewide System</li>
<li>University of Arkansas</li>
<li>University of California, Berkeley</li>
<li>University of California, Davis</li>
<li>University of California, Irvine</li>
<li>University of California, Los Angeles</li>
<li>University of California, Office of the President</li>
<li>University of California, Riverside</li>
<li>University of California, San Diego</li>
<li>University of California, San Francisco</li>
<li>University of California, Santa Barbara</li>
<li>University of California, Santa Cruz</li>
<li>University of Central Florida</li>
<li>University of Chicago</li>
<li>University of Cincinnati Main Campus</li>
<li>University of Colorado at Boulder</li>
<li>University of Dayton</li>
<li>University of Delaware</li>
<li>University of Florida</li>
<li>University of Hawaii</li>
<li>University of Houston Libraries</li>
<li>University of Illinois at Chicago</li>
<li>University of Illinois At Springfield</li>
<li>University of Illinois at Urbana-Champaign</li>
<li>University of Iowa</li>
<li>University of Kansas</li>
<li>University of Kansas Medical Center</li>
<li>University of Maryland Baltimore</li>
<li>University of Maryland Baltimore County</li>
<li>University of Maryland College Park</li>
<li>University of Massachusetts Amherst</li>
<li>University of Miami</li>
<li>University of Michigan</li>
<li>University of Minnesota</li>
<li>University of Mississippi</li>
<li>University of Missouri System</li>
<li>University of Nebraska Medical Center</li>
<li>University of Nebraska-Lincoln</li>
<li>University of North Carolina at Chapel Hill</li>
<li>University of North Carolina At Charlotte</li>
<li>University of North Carolina at Greensboro</li>
<li>University of Notre Dame</li>
<li>University of Oregon</li>
<li>University of Pennsylvania</li>
<li>University of Pittsburgh</li>
<li>University of Rochester</li>
<li>University of South Carolina</li>
<li>University of South Florida</li>
<li>University of Southern California</li>
<li>University of Tennessee</li>
<li>University of Texas at Austin</li>
<li>University of Texas at Dallas</li>
<li>University of Texas System</li>
<li>University of Utah</li>
<li>University of Vermont</li>
<li>University of Virginia</li>
<li>University of Washington</li>
<li>University of Wisconsin-Madison</li>
<li>University of Wisconsin-Milwaukee</li>
<li>University of Wyoming</li>
<li>Utah State University</li>
<li>Utah Valley University</li>
<li>Vanderbilt University</li>
<li>Virginia Polytechnic Institute and State University</li>
<li>Weill Cornell Medical College</li>
<li>West Virginia University</li>
<li>Western Michigan University</li>
<li>Wheaton College (MA)</li>
<li>Yale University</li>
</ul>