<section id="Slides" class="carousel slide" data-interval="10000">
  <div class="carousel-inner">
    <div class="active item">
      <img src="./img/slide_06.jpg" alt="" />
      <div class="container">
        <div class="carousel-caption center">
          <h1>Store, share, and collaborate.</h1>
          <p class="lead">Team up by sharing research data through the KNB repository.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="./img/slide_05.jpg" alt="" />
      <div class="container">
        <div class="carousel-caption center">
          <h1>Find and repurpose.</h1>
          <p class="lead">Drive your next meta analysis with data and partners through the KNB.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="./img/slide_03.jpg" alt="" />
      <div class="container">
        <div class="carousel-caption center">
          <h1>Run your own repository.</h1>
          <p class="lead">KNB software is free and open source.</p>
        </div>
      </div>
    </div>
  </div>     
  <a class="left carousel-control" href="#mainPageSlides" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#mainPageSlides" data-slide="next">›</a>
</section>
