<form class="form-horizontal">
	<cite class="citation">
				<% var count=0; _.each(creator, function(author) {
                   count++;
                   if (count > 1) {
                       print(", ")
             }
                   if (count > 1 && count == creator.length) {
                       print("and ")
             }
                   print(author)
                   if (count == creator.length) {
                       print(". ")
             }
               }) %>
              <span class="result-pubdate"> 
               <%
                if(pubDate) { 
                   var pubDateFormatted = moment(pubDate).format('YYYY');
                   if(!isNaN(pubDateFormatted)) print(pubDateFormatted, '. ');
                }
                if(dateUploaded && isNaN(pubDateFormatted)){
                	var dateUploadedFormatted = moment(dateUploaded).format('YYYY');
                    if(!isNaN(dateUploadedFormatted)) print(dateUploadedFormatted, '. ');
               } 
               %></span> 
				<strong><%=title%></strong>
				(<%=id%>)
	</cite>
	<div id="downloadContents">
	</div>
</form>