<div class="inline-input-group controls-well">
	<div class="input-append inline">
		<div class="notification success copy-success hidden"><i class="icon icon-ok"></i> Copied</div>
		<label class="subtle inline">Link to share: </label>
		<input type="text" value="<%=url%>">
		<a class="btn copy" data-clipboard-text="<%=url%>">Copy</a>
	</div>
	<div class="input-append inline">
		<div class="notification success copy-success hidden"><i class="icon icon-ok"></i> Copied</div>
		<label class="subtle inline">Cite as: </label>
		<input type="text" value="<%=citation%>">
		<a class="btn copy" data-clipboard-text="<%=citation%>">Copy</a>
	</div>
</div>