<div class="navbar">
  <div class="navbar-inner">

      <ul class="nav">
        <li><input type="text" id="search_txt" placeholder="Search for data" /><a href="#data" type="button" class="btn" id="search_btn"><i class="icon-search icon-large"></i></a></li>
      	<li> <a href="."><img alt="Metacat" src="./img/metacat_logo.png"></a></li>
       <li class="dropdown">
        	<a class="show-new-dataCatalogView dropdown-toggle" data-toggle="dropdown">Data</a>
        	<ul class="dropdown-menu">
        		<li class="dropdown-header">Data</li>
        		<li class="divider"></li>       		
        		<li><a class="show-new-dataCatalogView">Search</a></li>
        		<li><a href="#profile">Summary</a></li>
        	</ul>
        </li>
        <li><a href="#about">About</a></li>
        <% if (fullName) { 
        	print(
        	'<li class="dropdown">',
				'<a href="#" class="dropdown-toggle" data-toggle="dropdown">',
					'<i class="icon-user"></i><b class="icon-sort-down"></b>',
				'</a>',
				'<ul class="dropdown-menu">',
					'<li class="dropdown-header">', fullName, '</li>',
					'<li class="divider"></li>',  
					'<li><a href="#share">Register data</a></li>',
					'<li><a href="#data" id="myData">My packages</a></li>',
					//'<li><a href="#">My account</a></li>',
					'<li class="divider"></li>',
					'<li><a href="#logout">Logout</a></li>',
				'</ul>',
			'</li>'
        	);
        } else {
        	print(
        		'<li id="SignIn" class="share-feature"><a href="#share">Sign In</a></li>'
        	);
        } %>
        	
      </ul>
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->
