<div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-target="#collapseExtra" href="#none">
		Working Group
	</a>
	<a data-toggle="modal" data-target="#myModal" role="button" href="/metacat/cgi-bin/register-dataset.cgi?cfg=metacatui&amp;stage=guide#WorkingGroup"><i class="icon-question-sign"></i></a>
</div>
<div id="collapseBasic" class="accordion-body collapse in">
	<div class="accordion-inner">
		<!--  the INPUT -->
		<div class="control-group">
			<label class="control-label" for="site">*Name</label>
			<div class="controls">
				<select name="wg" multiple="multiple" size="5">
					<option value="SNAP: Coastal Defenses">Coastal Defenses</option>
					<option value="SNAP: Western Amazonia">Western Amazonia</option>
				</select>
			</div>
		</div>						
    </div>
</div>

