<!-- Checkbox column -->
<div class="result-selection span1">
  <input type="checkbox" <%= selected ? 'checked' : '' %>>
</div>
<!-- Author column -->
<div class="result-citation span7">
      <span class="result-author"><% var count=0; _.each(origin, function(author) {
           count++;
           if (count > 1) {
               print(", ")
           }
           if (count > 1 && count == origin.length) {
               print("and ")
           }
           print(author)
           if (count == origin.length) {
               print(". ")
           }
       }) %>
     </span>
       <span class="result-pubdate"> <% if(pubDate) { 
           print(moment(pubDate).format('YYYY'), '. ')
       } else {
           print(moment(dateUploaded).format('YYYY'), '. ')
       } %>
     </span>
     <span class="result-title">
       <% if (title) { print('<a href=\"', baseurl, id, '\">', title, '.</a> '); } %>
     </span>
     <span class="result-id">
       <%- id %>
     </span>
</div>
<!-- Stats column -->
<div class="result-stats span2">
  <span class="badge badge-info"><%- downloads %></span>
  <span class="badge badge-success"><%- citations %></span>
</div>
<!-- Download column -->
<div class="btn-group span1">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Download
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#">Add to collection...</a></li>
    <li class="divider"></li>
    <li><a href="#">Share...</a></li>
  </ul>
</div>
