<%
		//Function to add commas to large numbers
		function commaSeparateNumber(val){
		    while (/(\d+)(\d{3})/.test(val.toString())){
		      val = val.toString().replace(/(\d+)(\d{3})/, '$1'+','+'$2');
		    }
		    return val;
		 }
%>     
<div class="citation">
</div>
<div class="clear"></div>
<div class="info-icons  stop-route"> 
	<div class="stats icons">
		<% 
		
		if (typeof read_count_i !== "undefined"){ 
			var readableCount = commaSeparateNumber(read_count_i); %>
			<span class="count"><%=readableCount%></span><label class="subtle">views</label>
		<% }
		else{ 
		%>
			<span class="count">0</span><label class="subtle">views</label>
		<% }
		%>
	</div>
    <% if(typeof abstract != "undefined"){  %>
		<div class="abstract icons stop-route popover-this"><i class="icon icon-info-sign popover-this abstract"></i></div>
	<% } %>    		      
    <div class="resource-map icons stop-route">             
           <%
           if (resourceMap) {
				print('<img src="img/data-table.png" class="icon tooltip-this stop-route"  data-toggle="tooltip" data-placement="top" data-container="body" title="This result includes data files"></i>');
			}
            %>
          
    </div>
      	<div class="on-map icons  stop-route">
		<% 
		if (typeof southBoundCoord != "undefined"){
            		if((typeof geohash_9 != "undefined") && (geohash_9.length > 1)){
            			for(var i=0; i < geohash_9.length; i++){
            				print('<i class="icon-map-marker on-map open-marker stop-route tooltip-this" data-id="'+id+'" data-geohash="' + geohash_9[i]  + '" data-toggle="tooltip" data-placement="top" data-container="body" title="This metadata has ' + geohash_9.length + ' geographic regions on the map"></i>');
            			}
            		}
            		else
            			print('<i class="icon-map-marker on-map open-marker  stop-routetooltip-this" data-id="'+id+'" data-geohash="' + geohash_9  + '" data-toggle="tooltip" data-placement="top" data-container="body" title="This metadata has one geographic region on the map"></i>');
            }
            else{
            		print('<i class="icon-map-marker inactive stop-route"></i>');
            }
         %>
    </div>
    <div class="icons stop-route download">             
           <%
           if ((resourceMap && (typeof resourceMap != "undefined")) && (resourceMap.length > 1)) {
           	  
           	  // handle multiple resourceMaps
				print('<a class="dropdown-toggle download stop-route" data-toggle="dropdown" title="Download">');
				print('<i class="icon icon-cloud-download stop-route tooltip-this" data-title="There are multiple packages of data associated with this metadata document. Download each individually." data-trigger="hover" data-placement="top"></i><i class="icon-caret-down stop-route"></i>');
				print('</a>');
				print('<ul class="dropdown-menu download stop-route">');
				var cnt = 1;
				_.each(resourceMap, function(resourceMapId) {
					print('<li class="stop-route">');
					print('<a href="', package_service, resourceMapId, '" title="', resourceMapId ,'" class="stop-route">', 'Package ', cnt, '</a>');
					print('</li>'); 
					cnt++;	 
				});
				print('</ul>'); 
			}
			else{
				var URLid = resourceMap || id;
				print('<a class="download stop-route tooltip-this" title="Download" href="', package_service, URLid, '" data-title="Click to Download" data-trigger="hover" data-placement="top"><i class="icon icon-cloud-download stop-route"></i></a>');
			}			
          	%>          
      </div>
            	<% if(hasProv){
      			print('<div class="icons provenance active stop-route">');
      			print('<i class="icon-code-fork active stop-route"></i>');
      		}
      		else{
      		    print('<div class="icons provenance inactive stop-route">');
      			print('<i class="icon-code-fork inactive stop-route"></i>');
      		}
      	%>
      	</div>  
      	<div class="clear"></div>
  </div><!-- END info-icons -->
<div class="clear"></div>