
<article id="mainBody" class="container-fluid">
	<section class="row-fluid">
		<!--SIDEBAR AREA-->
		<aside id="sidebar" class="span3">
			<!-- <div class="sidebar-subhead">Contribute</div> -->
			<a class="btn btn-primary" href="#share">
        <i class="icon-upload icon-white icon-large"></i>Share Your Data
      </a>

			<ul id="refine" class="nav nav-list">
  			<li class="nav-header">Refine</li>
				<li>
					<div class="input-append">
						<input class="span10" type="text" placeholder="Refine Search" id="search_txt_side" value="<%= searchTerm  %>" >
						<a href="#data" type="button" class="btn" id="search_btn_side"><i class="icon-search"></i></a>
		      </div>
				</li>
				
				<!--
				<li><a class="sidebar-item" id="featureddata_link" href="#"><i
						class="icon-flag icon-large"></i> Featured Data</a></li>
				<li><a class="sidebar-item" id="mostaccessed_link" href="#"><i
						class="icon-signal icon-large"></i> Most Accessed</a></li>
				-->
				
			</ul>
			<ul id="browse" class="nav nav-list">
  			<li class="nav-header">Browse</li>
				<li><a href="#data"><i class="halflings-icon calendar"></i> Most Recent</a></li>
				<li><a id="popular-search-Soil" href="#data/search/Soil"><i class="halflings-icon thumbs-up"></i>Soil</a></li>
				<li><a id="popular-search-Biodiversity" href="#data/search/Biodiversity"><i class="halflings-icon thumbs-up"></i>Biodiversity</a></li>
				<li><a id="popular-search-Phenology" href="#data/search/Phenology"><i class="halflings-icon thumbs-up"></i>Phenology</a></li>		
			</ul>
			
			<!--
			<div class="sidebar-subhead">Your Collections</div>
			<ul class="unstyled">
				<li><a class="sidebar-item" id="yourdata_link" href="#"><i
						class="icon-folder-close icon-large"></i> Your Data</a></li>
				<li><a class="sidebar-item" href="#"><i
						class="icon-folder-close icon-large"></i> Sierra Grazing Study</a></li>
				<li><a class="sidebar-item" href="#"><i
						class="icon-folder-close icon-large"></i> Rockies Grazing Study</a></li>
				<li><a class="sidebar-item" href="#"><i
						class="icon-folder-close icon-large"></i> Colorado Ungulate
						Study</a></li>
			</ul>
 			-->
		</aside>

		<!--CONTENT AREA-->
		<div id="content" class="span9">
			<div id="results-view" class="container-fluid">
				<h2 id="pagehead" class="row-fluid">Data</h2>
				<div id="results-header" class="row-fluid result-header">
					<!-- 
					<div class="result-header-menu span1">
						<div class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
								class="icon-plus"></i> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Add to collection...</a></li>
								<li><a href="#">Download</a></li>
							</ul>
						</div>
					</div>
					-->
					<div class="result-header-count span8" id="statcounts">0 to 0 of 0</div>
					<div class="result-header-pager span4 pagination pagination-right" id="resultspager">
						<ul>
							<li><a id="results_prev">Prev</a></li>
							<!--
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							-->
							<li><a id="results_next">Next</a></li>
						</ul>
					</div>
					
					<!-- 
					<div class="result-header-menu span1">
						<div class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
								class="icon-cog"></i> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Settings...</a></li>
							</ul>
						</div>
					</div>
					-->
					
				</div>
				<div id="results" class="search-results"></div>
				<div id="resultspager" class="row-fluid pagination">
					<ul>
						<li><a id="results_prev_bottom">Prev</a></li>
						<!--
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						 -->
						<li><a id="results_next_bottom">Next</a></li>
					</ul>
				</div>
			</div>
			<div id="metadata-view" class="container-fluid"></div>
		</div>
	</section>
</article>

