<div class="sidebar-subhead">Contribute</div>
<a class="btn btn-primary" href="#share"><i class="icon-upload icon-white icon-large"></i> Submit data</a>

<div class="sidebar-subhead">Browse</div>
<ul class="unstyled">
  <li><a class="sidebar-item" id="results_link" href="#"><i class="icon-search icon-large"></i>Search Results</a></li>
  <li><a class="sidebar-item" id="featureddata_link" href="#"><i class="icon-flag icon-large"></i>Featured Data</a></li>
  <li><a class="sidebar-item" id="recent_link" href="#"><i class="icon-calendar icon-large"></i>Most Recent</a></li>
  <li><a class="sidebar-item" id="mostaccessed_link" href="#"><i class="icon-signal icon-large"></i>Most Accessed</a></li>
</ul>
<div class="sidebar-subhead">Your Collections</div>
<ul class="unstyled">
  <li><a class="sidebar-item" id="yourdata_link" href="#"><i class="icon-folder-close icon-large"></i>Your Data</a></li>
  <li><a class="sidebar-item" href="#"><i class="icon-folder-close icon-large"></i>Sierra Grazing Study</a></li>
  <li><a class="sidebar-item" href="#"><i class="icon-folder-close icon-large"></i>Rockies Grazing Study</a></li>          
  <li><a class="sidebar-item" href="#"><i class="icon-folder-close icon-large"></i>Colorado Ungulate Study</a></li>
</ul>
