<section class="section" data-section="profile">
	<section class="row-fluid" id="user-profile">
		<div class="span3">
			<hgroup class="hgroup">
				<h2 class="center insert-fullname"></h2>
				<% if(type == "group") { %>
					<h5 class="center subtle user-type">
						<i class="icon icon-on-left icon-group"></i>
						Group
					</h5>
				<% } %>
				<h6 class="center subtle">
					<span>
						<% if(type == "group") { %> Group Id: <% }
						   else{ %> Username: <% } %> 
					</span> 
					<span class="show-orcid"><a href="https://orcid.org" > <img src="./img/orcid_64x64.png" class="orcid-logo"/> ORCiD </a></span>
					<span class="insert-username"></span>
				</h6>
				<h5 class="email-wrapper hidden center">
					<i class="icon icon-on-left icon-envelope"></i>
					<address class="email-container" data-user="" data-domain="">@</address>
				</h5>
				<h5 class="divided">
					<i id="first-upload-year-container" class="icon icon-circle-badge icon-text icon-on-left"></i>
					<span id="first-upload-container" class="span7"></span>
					<div class='clear'></div>
				</h5>
				<h5>	
					<i id="total-upload-container" class="icon icon-on-left icon-circle-badge icon-text"></i>	
					contributions
				</h5>
				<h5 id="total-download-wrapper">	
					<i id="total-download-container" class="icon icon-on-left icon-circle-badge icon-text"></i>	
					downloads
				</h5>
			</hgroup>
			<div id="user-membership-container"></div>
		</div>
		<div id="data-list" class="span9">
		</div>
		<div class="clearfix"></div>
	</section>
	<section id="user-stats">
	</section>
</section>