<section class="section" data-section="profile">
	<section class="row-fluid" id="user-profile">
		<div>
			<h2 class="center insert-fullname"></h2>
			<h6 class="center subtle">
				<span>Username: </span> 
				<span class="show-orcid"><a href="https://orcid.org" > <img src="./img/orcid_64x64.png" height="16" width="16"/> ORCiD </a></span>
				<span class="insert-username"></span>
			</h6>
			<h5 id="first-upload" class="center subtle"></h5>
		</div>
		<div id="data-list">
		</div>
		<div class="clearfix"></div>
	</section>
	<section id="user-stats">
	</section>
</section>
