<section id="user-settings" class="row-fluid" data-section="settings">
	<div class="panel panel-default span4">
	  <div class="panel-heading">
	  	<h4 class="panel-title">Settings</h4>
	  </div>
	 	<ul class="list-group">
	    	<li class="list-group-item"><a href="">Groups</a></li>
	    	<li class="list-group-item"><a href="">Apps</a></li>
	  	</ul>
	</div>
	
	<div class="span8 settings-section">
		<div class="panel panel-default" id="settings-groups">
		  <div class="panel-heading">
		  	My Groups
		  </div>
		  <ul class="list-group">
		    <li class="list-group-item"><a href="">Group 1</a></li>
		    <li class="list-group-item"><a href="">Group 2</a></li>
		  </ul>
		</div>
		   
		<div class="panel panel-default" id="settings-apps">
		  <div class="panel-heading">Generate Token</div>
		  <div class="panel-body">
		  	generate token body
		  </div>
		</div>
		  
		<div class="panel panel-default">
		  <div class="panel-heading">Applications that use the DataONE API</div>
	   	  <div class="panel-body">
		       <p>Generate a token above to upload your data to this repository by using one of the following applications.</p>
		  </div>
		</div>	  
	</div>
</section>
