<section id="user-settings" class="row-fluid section" data-section="settings">
	<div class="panel panel-default span4">
	  <div class="panel-heading">
	  	Settings
	  </div>
	 	<ul class="list-group">
	    	<li class="list-group-item active subsection-link" data-section="groups"><a href="#" class="subsection-link" data-section="groups">Groups</a></li>
	    	<li class="list-group-item active subsection-link" data-section="identity"><a href="#" class="subsection-link" data-section="identity">Identities</a></li>
	    	<li class="list-group-item subsection-link" data-section="apps"><a href="#" class="subsection-link" data-section="apps">Apps</a></li>
	  	</ul>
	</div>
	
	<div class="span8 subsection" data-section="groups">
		<div class="panel panel-default" id="group-list-container">
		  <div class="panel-heading">
		  	<h4 class="panel-title">My Groups</h4>
		  </div>
		</div>
	</div>
	
	<div class="span8 subsection" data-section="identity">
		
		<div class="panel panel-default" id="identity-list-container">
		  <div class="panel-heading">
		  	<h4 class="panel-title">My Other Identities</h4>
		  </div>
		</div>
		
		<div class="panel panel-default" id="identity-request-container">
		  <div class="panel-heading">
		  	<h4 class="panel-title">Add mapping</h4>
		  	<div class="input-append">
			  	<input class="input-xlarge" type="text" placeholder="Equivalent Identity (cn=me, o=my org...)" id="map-request-field">
				<button class="btn" id="map-request-btn"><i class="icon-plus"></i></button>
		  	</div>
		  </div>
		</div>
		
		<div class="panel panel-default" id="pending-list-container">
		  <div class="panel-heading">
		  	<h4 class="panel-title">Pending Identities</h4>
		  </div>
		</div>
		
	</div>
	
	<div class="span8 subsection" data-section="apps">
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<h4 class="panel-title">Generate Token</h4>
		  </div>
		  <div class="panel-body" id="token-generator-container">
		  	<button class="token-generator" type="button" name="token-generator">Generate Token</button>
		  </div>
		</div>
		  
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<h4 class="panel-title">Applications that use the DataONE API</h4>
		  </div>
	   	  <div class="panel-body">
		       <p>Generate a token above to upload your data to this repository by using one of the following applications.</p>
		  </div>
		</div>	  
	</div>
</section>
