
<div class="portal-display-image">
  <div class="portal-display-text">
    <textarea type="text" data-category="title" class="basic-text title auto-resize" placeholder="<%=titlePlaceholder%>"><%=title%></textarea>
    <textarea type="text" data-category="introduction" class="basic-text introduction auto-resize" placeholder="<%=introPlaceholder%>"><%=introduction%></textarea>
  </div>
</div>
<div class="markdown-container">
  <textarea rows="50 type="text" data-category="markdown" class="basic-text markdown" placeholder="<%=markdownPlaceholder%>"><%=markdown%></textarea>
</div>
