<li class="section-link-container" data-section-name="<%=sectionName%>">
  <a href="<%=href%>" data-toggle="tab" class="section-link">
    <%=sectionName%>
  </a>
  <% if( menuOptions && menuOptions.length ){ %>
    <a href="#" class="section-menu-link">
      <i class="icon icon-on-right pointer icon-caret-down"></i>
    </a>
    <ul class="dropdown-menu menu" role="menu">
        <% if(menuOptions.includes("Rename")){ %>
        <li>
          <a href="#" class="rename-section">
            <i class="icon icon-on-left icon-pencil"></i> Rename
          </a>
        </li>
        <% } %>
        <% if(menuOptions.includes("Delete")){ %>
        <li>
          <a href="#" class="remove-section">
            <i class="icon icon-on-left icon-remove"></i> Delete
          </a>
        </li>
        <% } %>
        <% if(menuOptions.includes("Hide")){ %>
        <li>
          <a href="#" class="remove-section">
            <i class="icon icon-on-left icon-eye-close"></i> Hide
          </a>
        </li>
        <% } %>
        <% if(menuOptions.includes("Show")){ %>
        <li>
          <a href="#" class="show-section">
            <i class="icon icon-on-left icon-eye-open"></i> Show
          </a>
        </li>
        <% } %>
      </ul>
  <% } %>
</li>
