<h4>Portal details</h4>
<h4>Details</h4>
<!--<div class="color-palette-container"></div>-->
<div class="description-container">
  <h5>Description</h5>
  <p class="subtle"><%=descriptionHelpText%></p>
  <textarea type="text" data-category="description" class="basic-text medium text" placeholder="<%=descriptionPlaceholder%>"><%=description%></textarea>
</div>

<!--
<h4>Permissions</h4>
<div class="permissions-container"></div>
-->

<h4>Partner Logos</h4>
<div class="logos-container">Logos will go here</div>

<h4>Portal URL</h4>
<div class="change-label-container">
  <span class="muted display-label">
    <%=MetacatUI.appModel.get('baseUrl')%>/<%=portalTermPlural%>/
    <span class="display-label-value"><%=label%></span>
  </span>
  <div class="label-container hide">
      <div class="control-group">
        <span class="muted"><%=MetacatUI.appModel.get('baseUrl')%>/<%=portalTermPlural%>/</span>
        <input type="text" value="<%=label%>" data-category="label" class="basic-text"></input>
        <span class="notification help-inline"></span>
      </div>
      <div>
        <button type="button" class="btn cancel-change-label">Cancel</button>
        <button type="button" class="btn btn-primary ok-change-label">OK</button>
      </div>
  </div>
  <div>
    <button type="button" class="btn btn-danger change-label">Change URL</button>
  </div>
</div>
