<article class="editor-view portal-editor">
  <header id="editor-header" class="row-fluid">
    <div class="span2 logo-container">Logo</div>
    <div class="span10 title-container">
      <input type="text" value="<%=name%>" data-category="name" class="basic-text span10"></input>
    </div>

  </header>
  <section id="editor-body" class="port-editor-sections-container"></section>
  <section id="editor-footer" class="editor-controls">
      <a class="btn btn-primary save" id="save-editor"><%=submitButtonText%></a>
  </section>

</article>

<style type="text/css">
  :root {
    --portal-primary-color: <%=primaryColor%>;
    --portal-secondary-color: <%=secondaryColor%>;
    --portal-accent-color: <%=accentColor%>;
    --portal-primary-color-transparent: <%=primaryColorTransparent%>;
    --portal-secondary-color-transparent: <%=secondaryColorTransparent%>;
    --portal-accent-color-transparent: <%=accentColorTransparent%>;

  }
</style>
