<%
 var portalTermCapitalized = portalTermSingular.charAt(0).toUpperCase() +
     portalTermSingular.substring(1);
%>

<h3><%=portalTermCapitalized%> Settings</h3>

<!--<div class="color-palette-container"></div>-->
<div class="description-container">
  <h4>
    Description
    <i class="required-icon hidden" data-category="description"></i>
  </h4>
  <p class="subtle"><%=descriptionHelpText%></p>
  <p class="notification" data-category="description"></p>
  <textarea type="text" data-category="description" class="basic-text medium text" placeholder="<%=descriptionPlaceholder%>"><%=description%></textarea>
</div>

<!--
<h4>Permissions</h4>
<div class="permissions-container"></div>
-->

<h4>
  Partner Logos
  <i class="required-icon hidden" data-category="acknowledgmentsLogos"></i>
</h4>
<div class="logos-container"></div>

<h4>
  <%=portalTermCapitalized%> URL
  <i class="required-icon hidden" data-category="label"></i>
</h4>
<div class="change-label-container">
  <span class="muted display-label">
    <%=MetacatUI.appModel.get('baseUrl')%>/<%=portalTermPlural%>/<span class="display-label-value"><%=label%></span>
  </span>
  <div class="label-container hide">
      <div class="control-group">
        <span class="muted"><%=MetacatUI.appModel.get('baseUrl')%>/<%=portalTermPlural%>/</span>
        <input type="text" value="<%=label%>" data-category="label" class="basic-text"></input>
        <span class="notification help-inline"></span>
      </div>
      <div>
        <button type="button" class="btn cancel-change-label">Cancel</button>
        <button type="button" class="btn btn-primary ok-change-label">OK</button>
      </div>
  </div>
  <div>
    <button type="button" class="btn change-label">Change URL</button>
  </div>
</div>
