<%
const originHTML = origin ? `<span class="author">${origin}. </span>` : '';
const pubHTML = year_of_publishing ? `<time class="pubdate" datetime="${year_of_publishing}">${year_of_publishing}. </time>` : '';
const dataID = pid ? ` data-id="${pid}"` : '';

let titleHTML = title || '';
if (title) {
  if (view_url) {
    titleHTML = `<span class="title"${dataID}><a href="${view_url}">${title}</a>. </span>`;
  } else {
    titleHTML = `<span class="title"${dataID}>${title}. </span>`;
  }
}

let journalHTML = journal ? `<span class="publisher">${journal}. </span>` : '';

let volumeHTML = volume ? `<span class="publisher">Vol. ${volume}. </span>` : '';

let pageHTML = page ? `<span class="publisher">pp. ${page}. </span>` : '';


let seriesIdHTML = seriesId || '';
if (seriesId) {
  const idSep = pid ? ', version: ' : '.';
  if (seriesId_url) {
    seriesIdHTML = `<span><a href="${seriesId_url}">${seriesId}</a>${idSep}</span>`;
  } else {
    seriesIdHTML = `<span>${seriesId}${idSep}</span>`;
  }
}

let pidHTML = pid || '';
if (pid) {
  if (pid_url) {
    pidHTML = `<span><a href="${pid_url}">${pid}</a>.</span>`;
  } else {
    pidHTML = `<span>${pid}.</span>`;
  }
}

const idHTML = seriesIdHTML || pidHTML ? `<span class="id">${seriesIdHTML}${pidHTML}</span>` : '';

const beginAnchor = view_url && !title ? `<a href="${view_url}">` : '';
const endAnchor = view_url && !title ? '</a>' : '';
%>
<%= beginAnchor + originHTML + pubHTML + titleHTML + journalHTML + volumeHTML + pageHTML + endAnchor + idHTML %>
<%if(citationMetadata){%>
<br>
<span>Cites Data: </span>
<span class="citation-metadata"></span>
<%}%>

