        <!-- <div class="result-selection span1"><input type="checkbox" <%= selected ? 'checked' : '' %>></div> -->
        <div class="result-citation span10">
              <span class="result-author"><% var count=0; _.each(origin, function(author) {
                   count++;
                   if (count > 1) {
                       print(", ")
             }
                   if (count > 1 && count == origin.length) {
                       print("and ")
             }
                   print(author)
                   if (count == origin.length) {
                       print(". ")
             }
               }) %></span>
               <span class="result-title"> <% if (title) { print('<a class=\"view_link\" href=\"#view/', id, '\" pid=\"', id, '\">', title, '.</a> '); } %></span>
               <span class="result-id"> <%- id %></span>
               <span class="result-pubdate"> Published <% if(pubDate) { 
                   print(moment(pubDate).format('YYYY'), '. ')
               } else {
                   print(moment(dateUploaded).format('YYYY'), '. ')
               } %></span>
        </div>
        
        <!-- TODO: show stats when we have them in the index -->
        <!--
        <div class="result-stats span2">	 
        	<span class="badge badge-info"><%- downloads %></span> <span class="badge badge-success"><%- citations %></span>
        </div>
		-->
		        
      <div class="span2 pagination-right download">
      	
		<% if (resourceMap) {
				//print('<a href=\"', package_service, resourceMap[0], '\"><i class="icon-download-alt"></i><i class="icon-arrow-down"></i></a>');
				// handle multiple resourceMaps
				print('<div class="span6"><i class="icon-folder-open has-data tooltip-this" data-trigger="hover" data-title="Includes data files" data-placement="top"></i></div>');
				print('<a class="dropdown-toggle span6" data-toggle="dropdown" href="#"><i class="icon-download-alt span6"></i> <i class="icon-caret-down span1"></i></a>');
		        print('<ul class="dropdown-menu">');
		        var cnt = 1;
		        _.each(resourceMap, function(resourceMapId) {
					print('<li>');
					print('<a href="', package_service, resourceMapId, '" title="', resourceMapId ,'" >', 'Package ', cnt, '</a>');
					print('</li>'); 
					 
				})
		        print('</ul>');
			} else {
				print('<a class="span6 offset6" href=\"', package_service, id, '\"><i class="icon-download-alt span6"></i></a>'); 
			}
		%>
      </div>
