
<article id="mainBody" class="container center">
	<section class="container-fluid">
		<div class="row-fluid">
		<!--SIDEBAR AREA-->
		<aside id="sidebar" class="span4 well">
			<div class="row-fluid">
				<a id="sidebar_share" class="btn btn-primary span10 offset1" href="#share">
	        		<i class="icon-upload icon-white icon-large"></i>  Share Your Data
	      		</a>
      		</div>
      		<div class="clear"></div>
    	    <div class="filter-contain row-fluid">
    	    	<div class="row-fluid">
		    		<h2 class="nav-header span4">Filters</h2>
		    		<a class="span7" id="clear-all">Clear all <i class="icon-remove"></i></a>
				</div>
				<div class="input-append filter-contain">
					<input class="span10 filter" type="text" placeholder="Filter by anything" id="all_input" data-category="all">
					<button class="filter btn" id="all_btn" data-category="all"><i class="icon-search"></i></button>
			    	<ul id="current-all-filters" class="current-filters" data-category="all">
			    	</ul>
			    </div>
			    
			    <div class="input-append filter-contain">
					<h3 class="nav-header"><i class="icon-table"></i><label>Data Attributes</label></h3>
					<input class="span10 filter" type="text" placeholder="Variable or column name" id="attribute_input" data-category="attribute">
					<button class="filter btn" id="attribute_btn" data-category="attribute"><i class="icon-search"></i></button>
			    	<ul id="current-attribute-filters" class="current-filters span12" data-category="attribute">
			    	</ul>
			    </div>
				
				<div class="filter-contain">
					<h3 class="nav-header"><i class="icon-folder-open"></i>
						<input class="span1 filter" type="checkbox" id="includes_data" data-category="resourceMap" name="includes_data" <% if (resourceMap){ print("checked"); } %> />
						<label for="includes_data" class="popover-this" data-trigger="hover" data-content="Checking this option will only return packages that include data files. Leaving this unchecked may return packages that only include metadata." data-placement="top">
						Only results with data
						</label>
					</h3>
				</div>
				
				<div class="input-append filter-contain">
					<h3 class="nav-header"><i class="icon-user"></i><label>Created by</label></h3>
					<input class="span10 filter" type="text" placeholder="First or last name" id="creator_input" data-category="creator">
					<button class="filter btn" id="creator_btn" data-category="creator"><i class="icon-search"></i></button>
			    	<ul id="current-creator-filters" class="current-filters span12" data-category="creator">
			    	</ul>
			    </div>
	
				
				<div id="filter-year" class="filter-contain" data-category="year">
					<h3 class="nav-header"><i class="icon-calendar"></i><label>Year</label></h3>
					<input class="span1 left filter"  type="checkbox" id="data_year" name="data-coverage-year" data-category="dataYear" <% if (dataYear){ print("checked"); } %> />
					<label class="span11 left year-tooltip popover-this" for="data_year" id="data-year-label" data-trigger="hover" data-content="Only show results with data collected within the year range" data-placement="right">Data covers</label>					
					<div class="clear"></div>
					<input class="span1 left filter"  type="checkbox" id="publish_year" name="publish-year" data-category="pubYear" <% if (pubYear){ print("checked"); } %> />
					<label class="span11 left year-tooltip popover-this" for="publish_year" data-trigger="hover" data-content="Only show results that were published within the year range" data-placement="right" >Published between</label>
					<div class="clear"></div>
					<input class="span3"  type="number" id="min_year" value="<%=yearMin%>" />
					<input class="span3"  type="number" id="max_year" value="<%=yearMax%>" />
					<div class="clear"></div>
					<div id="year-range"></div>
					<div class="clear"></div>
				</div>
				
				<div class="input-append filter-contain">
					<h3 class="nav-header"><i class="icon-sitemap"></i><label>Taxon</label></h3>
					<input class="span10 filter" type="text" placeholder="Phylum, class, order..." id="taxon_input" data-category="taxon">
					<button class="filter btn" id="taxon_btn" data-category="taxon"><i class="icon-search"></i></button>
					<ul id="current-taxon-filters" class="current-filters" data-category="taxon">
					</ul>
				</div>
				
				<div class="input-append filter-contain">
					<h3 class="nav-header"><i class="icon-map-marker span1"></i><label>Location</label></h3>
					<input class="filter" type="text" placeholder="Location" id="spatial_input" data-category="spatial">
					<button class="filter btn" id="spatial_btn" data-category="spatial"><i class="icon-search"></i></button>
					<ul id="current-spatial-filters" class="current-filters" data-category="spatial">
					</ul>
				</div>
				
			</div>
			<ul class="category-nav nav-list nav">
				<li><h2 class="nav-header span12">Data Categories</h2><div class="clear"></div></li>
			<% if(username){
	    		print('<li class="nav-item my-packages" data-category="additionalCriteria" data-term="+rightsHolder:'+ username +'"><i class="icon-remove span1 remove-addtl-criteria"></i><a class="keyword-search-link span11" href="" data-category="additionalCriteria" data-term="+rightsHolder:'+ username +'">My packages</a><div class="clear"></div></li>');
	    		}
	    	%>
			<%
				var keywords = [{link: "+keywords:EVOSTC", display: "EVOSTC"}, 
								{link: "+keywords:%22Exxon%20Valdez%20Oil%20Spill%20Trustee%20Council%22", display: "Exxon Valdez Oil Spill Trustee Council"},
								{link: "+keywords:%22Exxon%20Valdez%22", display: "Exxon Valdez"},
								{link: "+keywords:%22Oil%20Spill%22", display: "Oil spill"},
								{link: "+keywords:%22EVOS%20Gulf%20Watch%20Projects%22", display: "EVOS Gulf Watch Projects"},
								{link: "+keywords:Benthic", display: "Benthic"},
								{link: "+keywords:Pelagic", display: "Pelagic"},
								{link: "+keywords:%22Environmental%20Drivers%22", display: "Environmental Drivers"},
								{link: "+keywords:Birds", display: "Birds"},
								{link: "+keywords:Fish", display: "Fish"},
								{link: "+keywords:Imagery", display: "Imagery"},
								{link: "+keywords:%22Invertebrates%20and%20Algae%22", display: "Invertebrates & Algae"},
								{link: "+keywords:Mammals", display: "Mammals"},
								{link: "+keywords:Management", display: "Management"},
								{link: "+keywords:Modeling", display: "Modeling"},
								{link: "+keywords:%22Ocean%20and%20Atmosphere%22", display: "Ocean and Atmosphere"},
								{link: "+keywords:%22Oil%20and%20Contaminants%22", display: "Oil/Contaminants"},
								{link: "+keywords:%22Satellites%20and%20Sensors%22", display: "Satellites and Sensors"},
								{link: "+keywords:%22Shorelines%20Habitat%20and%20Sensitivity%22", display: "Shorelines (Habitat and Sensitivity)"},
								{link: "+keywords:%22Study%20Catalogs%22", display: "Study Catalogs"},
								{link: "+keywords:Watershed", display: "Watershed"}
				];
				
				_.each(keywords, function(element, index){
					print('<li class="nav-item" data-category="additionalCriteria" data-term="' + keywords[index].link + '"><i class="icon-remove span1 remove-addtl-criteria" data-category="additionalCriteria" data-term="' + keywords[index].link + '"></i><a class="keyword-search-link span11" href="" data-category="additionalCriteria" data-term="' + keywords[index].link + '">' + keywords[index].display + '</a><div class="clear"></div></li>');
				});
			%>
			</ul>
			
		</aside>
		
		<!--CONTENT AREA-->
		<div id="content" class="span8">
			<div id="results-view" class="container-fluid">
				<div id="results-header" class="row-fluid result-header">
									
					<!-- count stats -->
					<div class="result-header-count span7" id="statcounts">0 to 0 of 0</div>
					
					<!-- sort order -->
					<div class="span3 text-right">
						<select id=sortOrder>
							<option <% if (sortOrder == "dateUploaded+desc") { print('selected="selected"'); } %> value="dateUploaded+desc">Most recent</option>
							<option <% if (sortOrder == "read_count_i+desc") { print('selected="selected"'); } %> value="read_count_i+desc">Popularity</option>
							<option <% if (sortOrder == "id+asc") { print('selected="selected"'); } %> value="id+asc">Identifier (a-z)</option>
							<option <% if (sortOrder == "titlestr+asc") { print('selected="selected"'); } %> value="titlestr+asc">Title (a-z)</option>
							<option <% if (sortOrder == "authorSurNameSort+asc") { print('selected="selected"'); } %> value="authorSurNameSort+asc">Author (a-z)</option>
						</select>
					</div>
					
					<!-- 
					<div class="result-header-menu span1">
						<div class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
								class="icon-cog"></i> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Settings...</a></li>
							</ul>
						</div>
					</div>
					-->
					
				</div>
				
				<!-- search results here -->
				<div id="results" class="search-results"></div>
				
				<!-- pager -->
				<div id="resultspager" class="row-fluid pagination pagination-centered">
					<ul>
						<li><a id="results_prev_bottom">Prev</a></li>
						<li><a id="results_next_bottom">Next</a></li>
					</ul>
				</div>
			</div>
			<div id="metadata-view" class="container-fluid"></div>
		</div>
		</div>
	</section>
</article>

