<div class="container center">
  <div class="row-fluid center">
  	<div class="span2">
  	  <img src="./js/themes/gulfwatch/img/logo.png" />
  	  <img src="./js/themes/gulfwatch/img/EVOS_logo.png" />
    </div>
    <div class="span2">
      <h2>Monitoring Program</h2>
      <ul class="helpitems">
        <li><a href="">Overview</a></li>
        <li><a href="">Environmental Data</a></li>
        <li><a href="">Pelagic Ecosystems</a></li>
        <li><a href="">Benthic Ecosystems</a></li>
        <li><a href="">Lingering Oil</a></li>
        <li><a href="">Synthesis, Modeling, & Data Management</a></li>
        <li><a href="">Administration</a></li>
      </ul>
    </div>
    <div class="span2">            
      <h2>People</h2>
      <ul class="helpitems">
        <li><a href="">Organization Chart</a></li>
        <li><a href="">Management Team</a></li>
        <li><a href="">Science Coordinating Committee</a></li>
        <li><a href="">Principal Investigators</a></li>
        <li><a href="">Funders & Partners</a></li>
      </ul>
    </div>    
    <div class="span2">
      <h2>Resources</h2>
      <ul class="helpitems">
        <li><a href="">Presentations</a></li>
        <li><a href="">Publications</a></li>
        <li><a href="">PWSSC Radio News</a></li>
        <li><a href="">Photo Gallery</a></li>
      </ul>
    </div>
    <div class="span2">
      <h2>Reports</h2>
      <ul class="helpitems">
        <li><a href="">Project Reports</a></li>
        <li><a href="">Scientific Publications</a></li>
      </ul>
    </div>
  </div>
  <div class="subfooter">
    <ul>
      <li>Contact Us</li>
      <li>Data Portal</li>
      <li>&copy; Copyright Info</li>
    </ul>
  </div>
</div>
