
<article id="mainBody" class="container-fluid">
	<section class="row-fluid">


		<!--CONTENT AREA-->
		<div id="content" class="span9">
			<div id="results-view" class="container-fluid">
				<h2 id="pagehead" class="row-fluid">Data Catalog</h2>
				<div id="results-header" class="row-fluid result-header">
					<!-- 
					<div class="result-header-menu span1">
						<div class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
								class="icon-plus"></i> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Add to collection...</a></li>
								<li><a href="#">Download</a></li>
							</ul>
						</div>
					</div>
					-->
					
					<!-- count stats -->
					<div class="result-header-count span6" id="statcounts">0 to 0 of 0</div>
					
					<!-- top pager -->
					<!-- 
					<div class="result-header-pager span3 pagination pagination-right" id="resultspager_top">
						<ul>
							<li><a id="results_prev">Prev</a></li>
							<li><a id="results_next">Next</a></li>
						</ul>
					</div>
					-->
					
					<!-- sort order -->
					<div class="span6 text-right">
						<select id=sortOrder>
							<option <% if (sortOrder == "dateUploaded+desc") { print('selected="selected"'); } %> value="dateUploaded+desc">Most recent</option>
							<option <% if (sortOrder == "id+asc") { print('selected="selected"'); } %> value="id+asc">Identifier (a-z)</option>
							<option <% if (sortOrder == "titlestr+asc") { print('selected="selected"'); } %> value="titlestr+asc">Title (a-z)</option>
							<!--  <option <% if (sortOrder == "author+asc") { print('selected="selected"'); } %> value="author+asc">Author (a-z)</option> -->
						</select>
					</div>
					
					<!-- 
					<div class="result-header-menu span1">
						<div class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
								class="icon-cog"></i> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Settings...</a></li>
							</ul>
						</div>
					</div>
					-->
					
				</div>
				
				<!-- search results here -->
				<div id="results" class="search-results"></div>
				
				<!-- pager -->
				<div id="resultspager" class="row-fluid pagination pagination-centered">
					<ul>
						<li><a id="results_prev_bottom">Prev</a></li>
						<li><a id="results_next_bottom">Next</a></li>
					</ul>
				</div>
			</div>
			<div id="metadata-view" class="container-fluid"></div>
		</div>
		
		<!--SIDEBAR AREA-->
		<aside id="sidebar" class="span3">
			<!-- <div class="sidebar-subhead">Contribute</div> -->
			<a id="sidebar_share" class="btn btn-primary" href="#share">
        <i class="icon-upload icon-white icon-large"></i>  Share Your Data
      </a>
    	<h2 class="nav-header">Refine</h2>
			<ul id="refine" class="nav nav-list">
				<li>
					<div class="input-append">
						<input class="span10" type="text" placeholder="Refine Search" id="search_txt_side" value="<%= searchTerm  %>" >
						<a href="#data" type="button" class="btn" id="search_btn_side"><i class="icon-search"></i></a>
		      </div>
				</li>
				
				<!--
				<li><a class="sidebar-item" id="featureddata_link" href="#"><i
						class="icon-flag icon-large"></i> Featured Data</a></li>
				<li><a class="sidebar-item" id="mostaccessed_link" href="#"><i
						class="icon-signal icon-large"></i> Most Accessed</a></li>
				-->
				
			</ul>
			<h2 class="nav-header">Browse</h2>
			<ul id="browse" class="nav nav-list">
  			<li class="nav-header">Popular</li>
				<li><a class="popular-search-link" id="recent_link" href="#data"><i class="halflings-icon calendar"></i> Most Recent</a></li>
  			<li class="nav-header">Data Categories</li>
				<li><a class="popular-search-link" href="#data/search/Birds"><i class="halflings-icon search"></i>Birds</a></li>		
				<li><a class="popular-search-link" href="#data/search/EVOS%20Gulf%20Watch%20Projects"><i class="halflings-icon search"></i>EVOS Gulf Watch Projects</a></li>		
				<li><a class="popular-search-link" href="#data/search/Fish"><i class="halflings-icon search"></i>Fish</a></li>		
				<li><a class="popular-search-link" href="#data/search/Imagery"><i class="halflings-icon search"></i>Imagery</a></li>				
			    <li><a class="popular-search-link" href="#data/search/Invertabrates%20%26%20Algae"><i class="halflings-icon search"></i>Invertabrates & Algae</a></li>
				<li><a class="popular-search-link" href="#data/search/Mammals"><i class="halflings-icon search"></i>Mammals</a></li>
				<li><a class="popular-search-link" href="#data/search/Management"><i class="halflings-icon search"></i>Management</a></li>
				<li><a class="popular-search-link" href="#data/search/Modeling"><i class="halflings-icon search"></i>Modeling</a></li>
				<li><a class="popular-search-link" href="#data/search/Ocean%20and%20Atmosphere"><i class="halflings-icon search"></i>Ocean and Atmosphere</a></li>			
				<li><a class="popular-search-link" href="#data/search/Oil%2FContaminants"><i class="halflings-icon search"></i>Oil/Contaminants</a></li>
				<li><a class="popular-search-link" href="#data/search/Satellites%20and%20Sensors"><i class="halflings-icon search"></i>Satellites and Sensors</a></li>
				<li><a class="popular-search-link" href="#data/search/Shorelines"><i class="halflings-icon search"></i>Shorelines (Habitat and Sensitivity)</a></li>
				<li><a class="popular-search-link" href="#data/search/Study%20Catalogs"><i class="halflings-icon search"></i>Study Catalogs</a></li>
				<li><a class="popular-search-link" href="#data/search/Watershed"><i class="halflings-icon search"></i>Watershed</a></li>
			</ul>
			
			<!--
			<div class="sidebar-subhead">Your Collections</div>
			<ul class="unstyled">
				<li><a class="sidebar-item" id="yourdata_link" href="#"><i
						class="icon-folder-close icon-large"></i> Your Data</a></li>
				<li><a class="sidebar-item" href="#"><i
						class="icon-folder-close icon-large"></i> Sierra Grazing Study</a></li>
				<li><a class="sidebar-item" href="#"><i
						class="icon-folder-close icon-large"></i> Rockies Grazing Study</a></li>
				<li><a class="sidebar-item" href="#"><i
						class="icon-folder-close icon-large"></i> Colorado Ungulate
						Study</a></li>
			</ul>
 			-->
		</aside>
	</section>
</article>

