
<article id="mainBody" class="container-fluid">
	<section class="row-fluid">


		<!--CONTENT AREA-->
		<div id="content" class="span9">
			<div id="results-view" class="container-fluid">
				<h2 id="pagehead" class="row-fluid">Data Portal</h2>
				<div id="results-header" class="row-fluid result-header">
					<!-- 
					<div class="result-header-menu span1">
						<div class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
								class="icon-plus"></i> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Add to collection...</a></li>
								<li><a href="#">Download</a></li>
							</ul>
						</div>
					</div>
					-->
					
					<!-- count stats -->
					<div class="result-header-count span6" id="statcounts">0 to 0 of 0</div>
					
					<!-- top pager -->
					<!-- 
					<div class="result-header-pager span3 pagination pagination-right" id="resultspager_top">
						<ul>
							<li><a id="results_prev">Prev</a></li>
							<li><a id="results_next">Next</a></li>
						</ul>
					</div>
					-->
					
					<!-- sort order -->
					<div class="span6 text-right">
						<select id=sortOrder>
							<option <% if (sortOrder == "dateUploaded+desc") { print('selected="selected"'); } %> value="dateUploaded+desc">Most recent</option>
							<option <% if (sortOrder == "id+asc") { print('selected="selected"'); } %> value="id+asc">Identifier (a-z)</option>
							<option <% if (sortOrder == "titlestr+asc") { print('selected="selected"'); } %> value="titlestr+asc">Title (a-z)</option>
							<!--  <option <% if (sortOrder == "author+asc") { print('selected="selected"'); } %> value="author+asc">Author (a-z)</option> -->
						</select>
					</div>
					
					<!-- 
					<div class="result-header-menu span1">
						<div class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
								class="icon-cog"></i> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Settings...</a></li>
							</ul>
						</div>
					</div>
					-->
					
				</div>
				
				<!-- search results here -->
				<div id="results" class="search-results"></div>
				
				<!-- pager -->
				<div id="resultspager" class="row-fluid pagination pagination-centered">
					<ul>
						<li><a id="results_prev_bottom">Prev</a></li>
						<li><a id="results_next_bottom">Next</a></li>
					</ul>
				</div>
			</div>
			<div id="metadata-view" class="container-fluid"></div>
		</div>
		
		<!--SIDEBAR AREA-->
		<aside id="sidebar" class="span3">
			<!-- <div class="sidebar-subhead">Contribute</div> -->
			<a id="sidebar_share" class="btn btn-primary" href="#share">
        <i class="icon-upload icon-white icon-large"></i>  Share Your Data
      </a>
    	    <div class="filter-contain">
	    		<h2 class="nav-header span4">Filter</h2>
	    		<a class="span7" id="clear-all">Clear all <i class="icon-remove"></i></a>
				
				<div class="input-append filter-contain">
					<input class="span10 filter" type="text" placeholder="Filter by anything" id="all_input" data-category="all">
					<button class="filter btn" id="all_btn" data-category="all"><i class="icon-search"></i></button>
			    	<ul id="current-all-filters" class="current-filters" data-category="all">
			    	</ul>
			    </div>
				
				<div class="filter-contain">
					<h3 class="nav-header"><i class="icon-folder-open"></i>
						<input class="span1 filter" type="checkbox" id="includes_data" data-category="resourceMap" name="includes_data" <% if (resourceMap){ print("checked"); } %> />
						<label for="includes_data">Includes data package</label>
					</h3>
				</div>
				
				<div class="input-append filter-contain">
					<h3 class="nav-header"><i class="icon-user"></i>Created by</h3>
					<input class="span10 filter" type="text" placeholder="First or last name" id="creator_input" data-category="creator">
					<button class="filter btn" id="creator_btn" data-category="creator"><i class="icon-search"></i></button>
			    	<ul id="current-creator-filters" class="current-filters span12" data-category="creator">
			    	</ul>
			    </div>
	
				
				<div id="filter-year" class="filter-contain" data-category="year">
					<h3 class="nav-header"><i class="icon-calendar"></i>Year</h3>
					<input class="span1 left filter"  type="checkbox" id="data_year" name="data-coverage-year" data-category="dataYear" <% if (dataYear){ print("checked"); } %> />
					<label class="span11 left year-tooltip" for="data_year" id="data-year-label" data-trigger="hover" data-title="Only show results with data collected within the year range" data-placement="right">Data covers</label>					
					<div class="clear"></div>
					<input class="span1 left filter"  type="checkbox" id="publish_year" name="publish-year" data-category="pubYear" <% if (pubYear){ print("checked"); } %> />
					<label class="span11 left year-tooltip" for="publish_year" data-trigger="hover" data-title="Only show results that were published within the year range" data-placement="right" >Published between</label>
					<div class="clear"></div>
					<input class="span4"  type="number" id="min_year" pattern="{4}" value=<% print('"' + yearMin + '"'); %> />
					<input class="span4"  type="number" id="max_year" pattern="{4}" value=<% print('"' + yearMax + '"'); %>/>
					<div class="clear"></div>
					<div id="year-range"></div>
					<div class="clear"></div>
				</div>
				
				<div class="input-append filter-contain">
					<h3 class="nav-header"><i class="icon-sitemap"></i>Taxon</h3>
					<input class="span10 filter" type="text" placeholder="Phylum, class, order..." id="taxon_input" data-category="taxon">
					<button class="filter btn" id="taxon_btn" data-category="taxon"><i class="icon-search"></i></button>
					<ul id="current-taxon-filters" class="current-filters" data-category="taxon">
					</ul>
				</div>
			</div>
			<ul>
				<li><h2 class="nav-header">Data Categories</h2></li>
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:EVOSTC"><i class="halflings-icon search"></i>EVOSTC</a></li>
  				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:%22Exxon%20Valdez%20Oil%20Spill%20Trustee%20Council%22"><i class="halflings-icon search"></i>Exxon Valdez Oil Spill Trustee Council</a></li>
  				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:%22Exxon%20Valdez%22"><i class="halflings-icon search"></i>Exxon Valdez</a></li>
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:%22Oil%20Spill%22"><i class="halflings-icon search"></i>Oil spill</a></li>
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:%22EVOS%20Gulf%20Watch%20Projects%22"><i class="halflings-icon search"></i>EVOS Gulf Watch Projects</a></li>
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:Benthic"><i class="halflings-icon search"></i>Benthic</a></li>
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:Pelagic"><i class="halflings-icon search"></i>Pelagic</a></li>
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:%22Environmental%20Drivers%22"><i class="halflings-icon search"></i>Environmental Drivers</a></li>	
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:Birds"><i class="halflings-icon search"></i>Birds</a></li>		
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:Fish"><i class="halflings-icon search"></i>Fish</a></li>		
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:Imagery"><i class="halflings-icon search"></i>Imagery</a></li>				
			    <li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:%22Invertebrates%20and%20Algae%22"><i class="halflings-icon search"></i>Invertebrates & Algae</a></li>
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:Mammals"><i class="halflings-icon search"></i>Mammals</a></li>
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:Management"><i class="halflings-icon search"></i>Management</a></li>
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:Modeling"><i class="halflings-icon search"></i>Modeling</a>
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:%22Ocean%20and%20Atmosphere%22"><i class="halflings-icon search"></i>Ocean and Atmosphere</a></li></li>
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:%22Oil%20and%20Contaminants%22"><i class="halflings-icon search"></i>Oil/Contaminants</a></li>
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:%22Satellites%20and%20Sensors%22"><i class="halflings-icon search"></i>Satellites and Sensors</a></li>
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:%22Shorelines%20Habitat%20and%20Sensitivity%22"><i class="halflings-icon search"></i>Shorelines (Habitat and Sensitivity)</a></li>
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:%22Study%20Catalogs%22"><i class="halflings-icon search"></i>Study Catalogs</a></li>
				<li><a class="keyword-search-link" href="" data-category="additionalCriteria" data-term="+keywords:Watershed"><i class="halflings-icon search"></i>Watershed</a></li>
			</ul>
			
		</aside>
	</section>
</article>

