<footer id="footer" role="contentinfo">
        <div id="footer-inner" class="clearfix">
          <div class="region region-footer"><div class="region-inner clearfix"><nav id="block-menu-block-1" class="block block-menu-block odd first block-count-5 block-region-footer block-1" role="navigation"><div class="block-inner clearfix">  
      <h2 class="block-title">About NCEAS</h2>
  
  <div class="block-content content"><div class="menu-block-wrapper menu-block-1 menu-name-main-menu parent-mlid-7890 menu-level-1">
  <ul class="menu clearfix"><li class="first leaf menu-mlid-7891 menu-depth-2 menu-item-7891"><a href="http://nceas.ucsb.edu/impact">NCEAS Impact</a></li><li class="leaf menu-mlid-7892 menu-depth-2 menu-item-7892"><a href="http://nceas.ucsb.edu/people">Directory</a></li><li class="leaf menu-mlid-7893 menu-depth-2 menu-item-7893"><a href="http://nceas.ucsb.edu/positionsopen">Employment Opportunities</a></li><li class="leaf menu-mlid-7780 menu-depth-2 menu-item-7780"><a href="http://nceas.ucsb.edu/visitors" title="">For Visitors &amp; Residents</a></li><li class="leaf menu-mlid-7895 menu-depth-2 menu-item-7895"><a href="http://nceas.ucsb.edu/support">Support NCEAS</a></li><li class="last leaf menu-mlid-7896 menu-depth-2 menu-item-7896"><a href="http://nceas.ucsb.edu/collaborators">Supporters and Partners</a></li></ul></div>
</div>
  </div></nav><nav id="block-menu-block-2" class="block block-menu-block even block-count-6 block-region-footer block-2" role="navigation"><div class="block-inner clearfix">  
      <h2 class="block-title">Science</h2>
  
  <div class="block-content content"><div class="menu-block-wrapper menu-block-2 menu-name-main-menu parent-mlid-39 menu-level-1">
  <ul class="menu clearfix"><li class="first leaf menu-mlid-40 menu-depth-2 menu-item-40"><a href="http://nceas.ucsb.edu/ecology" title="">Science</a></li><li class="leaf menu-mlid-7493 menu-depth-2 menu-item-7493"><a href="http://nceas.ucsb.edu/rfp" title="">Call for Proposals</a></li><li class="leaf menu-mlid-7783 menu-depth-2 menu-item-7783"><a href="http://nceas.ucsb.edu/snap">SNAP</a></li><li class="leaf menu-mlid-1498 menu-depth-2 menu-item-1498"><a href="http://nceas.ucsb.edu/featured" title="">Science Research Projects</a></li><li class="leaf menu-mlid-103 menu-depth-2 menu-item-103"><a href="http://nceas.ucsb.edu/products" title="">Publications &amp; Other Products</a></li><li class="last leaf menu-mlid-97 menu-depth-2 menu-item-97"><a href="http://knb.ecoinformatics.org/knb/style/skins/nceas/index.html" title="">Public Data Repository</a></li></ul></div>
</div>
  </div></nav><nav id="block-menu-block-4" class="block block-menu-block odd block-count-7 block-region-footer block-4" role="navigation"><div class="block-inner clearfix">  
      <h2 class="block-title">Informatics</h2>
  
  <div class="block-content content"><div class="menu-block-wrapper menu-block-4 menu-name-main-menu parent-mlid-7919 menu-level-1">
  <ul class="menu clearfix"><li class="first leaf menu-mlid-7913 menu-depth-2 menu-item-7913"><a href="http://nceas.ucsb.edu/ecoinfo">Overview</a></li><li class="leaf menu-mlid-7914 menu-depth-2 menu-item-7914"><a href="http://nceas.ucsb.edu/ecoinfo/tools">Informatics Software and Tools</a></li><li class="leaf menu-mlid-7915 menu-depth-2 menu-item-7915"><a href="http://nceas.ucsb.edu/ecoinfo/projects">Informatics Research Projects</a></li><li class="leaf menu-mlid-7916 menu-depth-2 menu-item-7916"><a href="http://nceas.ucsb.edu/scicomp">Scientific Computing</a></li><li class="leaf menu-mlid-7917 menu-depth-2 menu-item-7917"><a href="http://nceas.ucsb.edu/computing">Cyberinfrastructure and Support</a></li><li class="last leaf menu-mlid-7918 menu-depth-2 menu-item-7918"><a href="http://knb.ecoinformatics.org/knb/style/skins/nceas/">Public Data Repository</a></li></ul></div>
</div>
  </div></nav><nav id="block-menu-block-3" class="block block-menu-block even block-count-8 block-region-footer block-3" role="navigation"><div class="block-inner clearfix">  
      <h2 class="block-title">Training</h2>
  
  <div class="block-content content"><div class="menu-block-wrapper menu-block-3 menu-name-main-menu parent-mlid-42 menu-level-1">
  <ul class="menu clearfix"><li class="first leaf menu-mlid-107 menu-depth-2 menu-item-107"><a href="http://nceas.ucsb.edu/outreach" title="">Overview</a></li><li class="leaf menu-mlid-7782 menu-depth-2 menu-item-7782"><a href="http://nceas.ucsb.edu/summer_institute">Summer Institute</a></li><li class="leaf menu-mlid-7781 menu-depth-2 menu-item-7781"><a href="http://nceas.ucsb.edu/roundtable" title="">Roundtable</a></li><li class="last leaf menu-mlid-128 menu-depth-2 menu-item-128"><a href="http://nceas.ucsb.edu/postdoc/training">Postdoc Career Development</a></li></ul></div>
</div>
  </div></nav><nav id="block-menu-block-5" class="block block-menu-block odd block-count-9 block-region-footer block-5" role="navigation"><div class="block-inner clearfix">  
      <h2 class="block-title">News &amp; Events</h2>
  
  <div class="block-content content"><div class="menu-block-wrapper menu-block-5 menu-name-main-menu parent-mlid-808 menu-level-1">
  <ul class="menu clearfix"><li class="first leaf menu-mlid-5200 menu-depth-2 menu-item-5200"><a href="http://nceas.ucsb.edu/rfp">Call For Proposals</a></li><li class="leaf menu-mlid-810 menu-depth-2 menu-item-810"><a href="http://nceas.ucsb.edu/news" title="">News &amp; Announcements</a></li><li class="leaf menu-mlid-999 menu-depth-2 menu-item-999"><a href="http://nceas.ucsb.edu/activities" title="">Upcoming Research Activities</a></li><li class="leaf menu-mlid-7784 menu-depth-2 menu-item-7784"><a href="http://nceas.ucsb.edu/interviews">Interviews with Scientists</a></li><li class="leaf menu-mlid-784 menu-depth-2 menu-item-784"><a href="http://nceas.ucsb.edu/roundtable">Roundtable</a></li><li class="last leaf menu-mlid-787 menu-depth-2 menu-item-787"><a href="http://nceas.ucsb.edu/content/press-kit">Press Kit</a></li></ul></div>
</div>
  </div></nav><nav id="block-menu-block-6" class="block block-menu-block even block-count-10 block-region-footer block-6" role="navigation"><div class="block-inner clearfix">  
      <h2 class="block-title">Contact Us</h2>
  
  <div class="block-content content"><div class="menu-block-wrapper menu-block-6 menu-name-main-menu parent-mlid-70 menu-level-1">
  <ul class="menu clearfix"><li class="first leaf menu-mlid-113 menu-depth-2 menu-item-113"><a href="http://nceas.ucsb.edu/contact">Contact Information &amp; Maps</a></li><li class="leaf menu-mlid-114 menu-depth-2 menu-item-114"><a href="http://nceas.ucsb.edu/results">Report Results</a></li><li class="leaf menu-mlid-786 menu-depth-2 menu-item-786"><a href="http://lists.nceas.ucsb.edu/mailman/listinfo/info" title="">Email List Signup</a></li><li class="last leaf menu-mlid-81 menu-depth-2 menu-item-81"><a href="http://nceas.ucsb.edu/visitors" title="">Info for Visitors &amp; Residents</a></li></ul></div>
</div>
  </div></nav><div id="block-block-1" class="block block-block no-title odd last block-count-11 block-region-footer block-1"><div class="block-inner clearfix">  
  
  <div class="block-content content"><div class="footer">
		<a href="http://www.msi.ucsb.edu/"><img src="<%= MetacatUI.root %>/js/themes/nceas/img/msi.png"></a>
                <a href="http://www.nceas.ucsb.edu/"><img src="<%= MetacatUI.root %>/js/themes/nceas/img/nceas.png"></a>
                <a href="http://www.ucsb.edu/"><img src="<%= MetacatUI.root %>/js/themes/nceas/img/ucsb.png"></a>
		<p>National Center for Ecological Analysis and Synthesis<br>
735 State Street, Suite 300, Santa Barbara, CA 93101<br>
Copyright © 2013 The Regents of the University of California, All Rights Reserved<br>
UC Santa Barbara, Santa Barbara CA 93106  |  805-893-8000<br>
<a href="http://www.ucsb.edu/policies/terms-of-use.shtml">Terms of Use</a> | <a href="http://www.nceas.ucsb.edu/accessibility" title="NCEAS is committed to the accessibility of its products for all users">Accessibility</a> | <a href="mailto:webmaster%40nceas.ucsb.edu" class="spamspan">Contact</a>
		</p>
	</div>
</div></div>
  </div></div></div></div>        </footer>

