<article class="container">
<h1>NCEAS Data Repository</h1>
<p>This repository contains information about the research data sets collected and collated as part of NCEAS' funded activities. Information in the NCEAS Data Repository is concurrently available through the <a href="https://knb.ecoinformatics.org">KNB: Knowledge Network for Biocomplexity</a>, an international data repository.</p>

<p><a href="https://knb.ecoinformatics.org/data/query=NCEAS" class="btn btn-primary">Search NCEAS data sets on KNB<i class="icon icon-caret-right"></i></a></p>
<p></p>
<p>A number of the data sets were synthesized from multiple data sources that originated from the efforts of many contributors, while others originated from a single investigator. Credit for the data sets in this repository goes to the investigators who collected the data, as well as to the NCEAS Working Groups and scientists who compiled the data for synthetic purposes. See each data package for a list of the people and institutions involved.</p>

<p>If you have any questions, comments or problems, please contact the repository administrator at <a href="mailto:help@nceas.ucsb.edu">help@nceas.ucsb.edu</a></p> 
</article>