<header id="top" class="clearfix" role="banner">
  <div class="container">

          <!-- start: Branding -->
      <div id="branding" class="row">

        <div class="col span_8">
                      <div id="logo">
              <a href="http://nceas.ucsb.edu" title="Home page" class="active"><img class="site-logo image-style-none" src="<%= MetacatUI.root %>/js/themes/nceas/img/newLogo_0.png" alt="NCEAS"></a>            </div>
          
                      <!-- start: Site name and Slogan hgroup -->
            <hgroup id="name-and-slogan" class="element-invisible">

                              <h1 id="site-name" class="element-invisible"><a href="/" title="Home page" class="active">NCEAS</a></h1>
              
              
            </hgroup><!-- /end #name-and-slogan -->
                  </div>

        <div class="col span_4">
                      
                  <div id="nceas-header" class="row">
              <div class="region region-header"><div class="region-inner clearfix"><div id="block-block-3" class="block block-block no-title odd first block-count-1 block-region-header block-3"><div class="block-inner clearfix">  
  
  <div class="block-content content"><div class="subscribe">
	<a href="http://www.nceas.ucsb.edu/news/feed"><img src="<%= MetacatUI.root %>/js/themes/nceas/img/rss.png"></a>
	<a href="https://twitter.com/nceas"><img src="<%= MetacatUI.root %>/js/themes/nceas/img/twitter.png"></a>
	<a href="http://lists.nceas.ucsb.edu/mailman/listinfo/info"><img src="<%= MetacatUI.root %>/js/themes/nceas/img/news.png"></a>
</div></div>
  </div></div><div id="block-search-form" class="block block-search no-title even last block-count-2 block-region-header block-form" role="search"><div class="block-inner clearfix">  
  
  <div class="block-content content"><form class="gss" action="/" method="post" id="search-block-form" accept-charset="UTF-8"><div><div class="container-inline">
      <h2 class="element-invisible">Search form</h2>
    <div class="form-item form-type-textfield form-item-search-block-form">
  <label class="element-invisible" for="edit-search-block-form--2">Search </label>
</div>
<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Search" class="form-submit"></div><input type="hidden" name="form_build_id" value="form-QQ0jckgrRgxwFVMFNzdWJv7kg4_7nhWylklybpulp7s">
<input type="hidden" name="form_id" value="search_block_form">
</div>
</div></form></div>
  </div></div></div></div>            </div></div>

      </div><!-- /end #branding -->
      </div>

</header>

      <div id="navbar">
      <ul>
	      <% if (loggedIn) { 
	        	print('<li><a href="<%= MetacatUI.root %>/signout">Sign out</a></li>');
	        	}
	        else{

	        } %>
      </ul>
      </div>