<div class="project-view">
  <div id="project-header-container" class="row-fluid"></div>

  <div class="row-fluid">
    <article class="tabbable">

      <ul id="project-section-tabs" class="nav nav-tabs">
      </ul>

      <section id="project-sections" class="row-fluid tab-content" data-section="project">
      </section>

    </article>
  </div>

  <style type="text/css">
  :root {
    --project-primary-color: <%=primaryColor%>;
    --project-secondary-color: <%=secondaryColor%>;
    --project-accent-color: <%=accentColor%>;
    --project-primary-color-transparent: <%=primaryColorTransparent%>;
    --project-secondary-color-transparent: <%=secondaryColorTransparent%>;
    --project-accent-color-transparent: <%=accentColorTransparent%>;

  }
  </style>
</div>
