<div id="project-nav-tabs" class="tabbable">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active" data-section="project-main" ><a href data-target="#project-main" data-section="project-main" class="section-link">Project Home</a></li>
        <li role="presentation" data-section="project-metrics"><a href data-section="project-metrics" data-target="#project-metrics" class="section-link">Metrics</a></li>
        <li role="presentation" data-section="project-people"><a data-section="project-people" data-target="#project-people" class="section-link">People</a></li>
    </ul>
    </div>

    <div class="project-tabs tab-content"></div>
</div>