<div class="row-fluid">
  <div id="project-toc-container" class="toc-container span3"></div>
  <article id="project-view" class="span9">
      <div id="project-header-container"></div>
      <section class="row-fluid" id="project-sections" data-section="project">
          <div id="project-nav-tabs" class="tabbable">
              <ul id="project-section-tabs" class="nav nav-tabs"></ul>
              </div>

              <div id="project-tabs" class="project-tabs tab-content"></div>
          </div>

          <div id="project-logos-container" class="logo-container"></div>
          <div id="markdown-container" class="markdown"></div>
          </div>
      </section>
  </article>
</div>
