<%
if(classes === undefined){
	var classes = "";
}
if(msg === undefined){
	var msg = "";
}
if(includeEmail === undefined){
	var includeEmail = false;
}
var email = "";
if(includeEmail){
	//email = "<span class='webmaster-email'><i class='icon-envelope-alt'></i><a href='mailto:knb-help@nceas.ucsb.edu'>Need help?</a></span>";
}
%>

<div class="container alert-container">
	<div class="alert alert-dismissible <%=classes%>" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<%=msg%>
	<%=email%>
	</div>
</div>