<div class="navbar">
  <div class="navbar-upper">
  	<ul class="nav">
	  	<li>
	  		<a href="." class="logo"><img alt="DataONE" class="dataone logo" src="./js/themes/<%=theme%>/img/d1-logo-v3.jpeg?v=<%=window.metacatUIVersion%>"></a>
	  	</li>
	  	<li class="soc-media right">
			<h5>Connect</h5>	            
		    <div class="clear">
					<a href="http://vimeo.com/channels/dataone" target="_blank"> <img src="./js/themes/<%=theme%>/img/vimeo-icon.jpg?v=<%=window.metacatUIVersion%>" alt="Vimeo" class="left"></a>
					<a href="http://www.youtube.com/user/DataONEorg" target="_blank"> <img src="./js/themes/<%=theme%>/img/youTube-icon.jpg?v=<%=window.metacatUIVersion%>" alt="Youtube" class="left"></a>
					<a href="http://www.linkedin.com/groups?gid=1872174&amp;mostPopular=&amp;trk=tyah" target="_blank"> <img src="./js/themes/<%=theme%>/img/linkedIn-icon.jpg?v=<%=window.metacatUIVersion%>" alt="Linked In" class="left"></a>
					<a href="http://twitter.com/#!/Dataoneorg" target="_blank"> <img src="./js/themes/<%=theme%>/img/twitter-icon.jpg?v=<%=window.metacatUIVersion%>" alt="Twitter" class="left"></a>
					<a href="http://www.facebook.com/pages/DataONE/156940701015997" target="_blank"><img src="./js/themes/<%=theme%>/img/fb-icon.jpg?v=<%=window.metacatUIVersion%>" alt="Facebook" class="left"></a>
					<a href="feed://www.dataone.org/rss"><img src="./js/themes/<%=theme%>/img/rss-icon.jpg?v=<%=window.metacatUIVersion%>" alt="RSS" class="left"></a>
					<a href="http://www.slideshare.net/DataONEorg" target="_blank"><img src="./js/themes/<%=theme%>/img/slideshare-plum.jpg?v=<%=window.metacatUIVersion%>" alt="Slideshare" class="left"></a>
					<a href="https://plus.google.com/107602550656223730556/posts" target="_blank"><img src="./js/themes/<%=theme%>/img/google-plus-plum-dataone.jpg?v=<%=window.metacatUIVersion%>" alt="Google Plus" class="left"></a>
		    </div>
	  	</li>
	 </ul>
  </div>
  <div class="navbar-inner clear">
  	<ul class="nav">
  		<li>
  			<a href="https://www.dataone.org/about">About</a>
  		</li>
  		<li>
  			<a href="https://www.dataone.org/participate">Participate</a>
  		</li>
  		<li>
  			<a href="https://www.dataone.org/resources">Resources</a>
  		</li>
  		<li>
  			<a href="https://www.dataone.org/education">Education</a>
  		</li>
  		<li>
  			<a href="https://www.dataone.org/data">Data</a>
  		</li>
  	</ul>
  </div><!-- /.navbar-inner -->
  
  <div class="navbar-lower">
  	<ul class="nav">
  		<li class="label">
  			Data Catalog:
  		</li>
       <li>
        	<a class="show-new-dataCatalogView dropdown-toggle">Search</a>
        </li>
        <li>
        	<a href="#profile">Summary</a>
        </li>
       <li>
       		<input type="text" id="search_txt" placeholder="Search for data" /><a href="#data" type="button" class="btn" id="search_btn"><i class="icon-search icon-large"></i></a>
       	</li> 
        <% 
        if (username) { 
        	print(
        	'<li class="dropdown">',
				'<a href="#" class="dropdown-toggle" data-toggle="dropdown">',
					'<i class="icon-user"></i><b class="icon-sort-down"></b>',
				'</a>',
				'<ul class="dropdown-menu">',
					'<li class="dropdown-header">', username, '</li>',
					'<li class="divider"></li>',  
					//'<li><a href="#share">Register data</a></li>',
					'<li><a href="#data" id="myData">My packages</a></li>',
					//'<li><a href="#">My account</a></li>',
					'<li class="divider"></li>',
					'<li><a href="#logout">Logout</a></li>',
				'</ul>',
			'</li>'
        	);
        } else {
      /*  	print(
        		'<li id="SignIn" class="share-feature"><a href="#share">Sign In</a></li>'
        	); */
        }  %>
        	
  	</ul>
  </div><!-- /.navbar-lower -->
</div><!-- /.navbar -->
