<% if(memberNode && memberNode.logo){ %>
	<img src="<%=memberNode.logo%>" class="logo tooltip-this <%=memberNode.shortIdentifier%>" data-title="From the <%=memberNode.name%> repository" />
<% } %>	
<div class="citation"></div> 
<div class="clear"></div>
<div class="info-icons  stop-route">  
	<% if(typeof abstract != "undefined"){  %>
		<div class="abstract icons stop-route"><i class="icon icon-info-sign popover-this abstract stop-route"></i></div>
	<% } %> 
	<div class="resource-map icons stop-route">             
		<% if (resourceMap) {
				print('<img src="img/data-file-icon-gray.png" class="icon tooltip-this stop-route"  data-toggle="tooltip" data-placement="top" title="This result includes data files"></i>');
			} %>
	         
	</div>    		      
	<div class="on-map icons stop-route">
		<% if (typeof southBoundCoord != "undefined"){
	          print('<i class="icon icon-map-marker on-map open-marker tooltip-this stop-route" data-id="'+id+'" data-toggle="tooltip" data-placement="top" title="This data set has ' + geohash_9.length + ' geographic regions on the map"></i>');
	       }
	       else{
	          print('<i class="icon icon-map-marker inactive stop-route"></i>');
	       } %>
	</div>
	<% if(prov_hasSources || prov_hasDerivations){
		print('<a class="icons provenance active stop-route">');
		print('<i class="icon icon-code-fork active stop-route"></i>');
	}
	else{
		print('<a class="icons provenance inactive stop-route">');
		print('<i class="icon icon-code-fork inactive stop-route"></i>');
	} %>
	</a> 
    <div class="stats icons stop-route">
		<% if (typeof reads !== "undefined"){ 
			var readableCount = appView.commaSeparateNumber(reads); %>
			<span class="count label label-primary tooltip-this stop-route" data-title="<%=readableCount%> views" data-trigger="hover" data-placement="top"><span class="count-container"><%=readableCount%></span> <i class="icon icon-eye-open views stop-route"></i></span>
		<% }
		else{ 
		%>
			<span></span>
		<% }
		%>
	</div>
</div>