        <div class="citation">
        </div> 
        <div class="clear"></div>
<%
	if(typeof abstract != "undefined"){
	    var safeAbstract = abstract.replace(/\"/g, "'");
	    var classes = "abstract";  
	    if(safeAbstract.length > 200) classes += " multi-line-ellipsis";
	    
		print('<div class="' + classes + '" data-doi="' + id + '"><div>');
		print('<p>' + safeAbstract + '<i></i></p>');
		print('</div>');
		print('</div>');
	}
	%>
        <div class="info-icons  stop-route">        		      
        		<div class="on-map icons stop-route">
					<% 
						if (typeof southBoundCoord != "undefined"){
		               		if((typeof geohash_9 != "undefined") && (geohash_9.length > 1)){
		               			for(var i=0; i < geohash_9.length; i++){
		               				print('<i class="icon-map-marker on-map open-marker tooltip-this stop-route" data-id="'+id+'" data-geohash="' + geohash_9[i]  + '" data-toggle="tooltip" data-placement="top" title="This metadata has ' + geohash_9.length + ' geographic regions on the map"></i>');
		               			}
		               		}
		               		else
		               			print('<i class="icon-map-marker on-map open-marker tooltip-this stop-route" data-id="'+id+'" data-geohash="' + geohash_9  + '" data-toggle="tooltip" data-placement="top" title="This metadata has one geographic region on the map"></i>');
		               }
		               else{
		               		print('<i class="icon-map-marker inactive stop-route"></i>');
		               }
		            %>
	            </div>
              <div class="resource-map icons stop-route">             
	               <%
		           if (resourceMap) {
						print('<i class="icon-folder-open tooltip-this stop-route"  data-toggle="tooltip" data-placement="top" title="This result includes data files"></i>');
					}
					else{
						print('<i class="icon-folder-open inactive stop-route"></i>');
					}
	           		%>
	           
        	</div>
        	<% if(hasProv || appModel.provDev){
        			print('<a class="icons provenance active stop-route">');
        			print('<i class="icon-code-fork active stop-route"></i>');
        		}
        		else{
        		    print('<a class="icons provenance inactive stop-route">');
        			print('<i class="icon-code-fork inactive stop-route"></i>');
        		}
        	%>
        	</a>
	       
	   </div>