a.button{
  background-color: $primary-brand;
  padding: $padding-small;
  border-radius: 4px;
  color: $primary-brand-dark;
  font-weight: bold;
  text-align: center;

  > svg,
  > img{
    height: 1em;
    fill: $primary-brand-dark;
  }
}

.git-release .button{
  min-width: 200px;
  max-width: 3em;
  display: block;
  margin-bottom: $padding;
}
