/**
Color pallete:
https://coolors.co/003049-2a9989-fcbf49-eae2b7-d62828
*/

$deprecated: #d62828;
$neutral: #eeead2;
$neutral-dark: #003049;
$neutral-light: #73848c;
$info-light: #e4edd9;
$info-dark: #684500;
$primary-brand: #fcbf49;
$primary-brand-on-dark: #fcbf49;
$primary-brand-dark: #684500;
$secondary-brand: #2a9989;
