/**
Color pallete:
https://coolors.co/003049-2a9989-fcbf49-eae2b7-d62828
*/

$deprecated: #D62828;
$neutral: #EEEAD2;
$neutral-dark: #003049;
$info-light: #e4edd9;
$info-dark: #684500;
$primary-brand: #FCBF49;
$primary-brand-on-dark: #FCBF49;
$primary-brand-dark: #684500;
$secondary-brand: #2a9989;
