<div class="modal fade show" data-backdrop="static" data-keyboard="false">
  <div class="modal-body">
    <div class="<%= classes.fieldsContainer %>">
      <p class="<%= classes.modalInstructions %>"><%= text.step1 %></p>
    </div>
    <div class="<%= classes.uiBuilderSelect %>">
      <p class="<%= classes.modalInstructions %>"><%= text.step2 %></p>
    </div>
    <div class="<%= classes.uiBuilderContainer %>"></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary <%= classes.cancelButton %>">
      <i class="icon icon-undo icon-on-left"></i> <%= text.cancelButton %>
    </button>
    <button class="btn btn-primary <%= classes.saveButton %>">
      <i class="icon icon-check icon-on-left"></i> <%= text.saveButton %>
    </button>
  </div>
</div>