<% var uiBuilder=typeof mode !=='undefined' ? mode==="uiBuilder" : false %>
<div class="filter-input-contain input-append">
  <input type="text" value="" placeholder="<%= !uiBuilder ? placeholder || label : ''%>" <% if(uiBuilder){ print('disabled="true"'); } %> ></input>
  <button class="btn" <% if(uiBuilder){ print('disabled="true"'); } %>>
    <i class="icon icon-search"></i>
  </button>
  <% if(uiBuilder){ 
    print('<input class="ui-build-input placeholder" data-category="placeholder" value ="' + ( placeholder ? placeholder : '' ) + '"">');
  } %>
</div>
