<% if(range){ %>
  <label>
    <% if(icon){
         print('<i class="icon icon-on-left icon-' + icon + '"></i>');
       } %>
    <%=label%>
  </label>
  <div class="slider numeric-slider"></div>
  <div class="clear"></div>
  <input class="min" type="number" value="<%=min%>">
  <span class="to">to</span>
  <input class="max" type="number" value="<%=max%>">
  <div class="clear"></div>
<% } else { %>
  <label>
    <% if(icon){
         print('<i class="icon icon-on-left icon-' + icon + '"></i>');
       } %>
    <%=label%>
  </label>
  <input type="number" value="" class="single-number"></input>
  <button class="btn">
    <i class="icon-search"></i>
  </button>
<% } %>
