<div id="sidr" name="sidr" class="sidr left">
<ul class="nav span9">
      	<li class="nav-title">Science for <br> Nature and People</li>
      	<li><a href="http://www.snap.is/">Home</a></li>
      	<li class="menu-item menu-parent"><a href="Javascript:{};" class="open-me">Magazine</a>
			<ul class="sub-menu">
			<div class="previous"><a href="Javascript:{};" class="close-me"><img class="inline close-me" src="./js/themes/snap/img/nav-previous.png" alt="Previous"><span class="close-me">Previous</span></a></div>	<li class="subnav-head">Magazine</li><li id="menu-item-640" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-640"><a href="http://www.snap.is/magazine/">Articles</a></li>
				<li id="menu-item-704" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-704"><a href="http://www.snap.is/magazine/contributors/">Contributors</a></li>
			</ul>
      	</li>
      	<li class="menu-item menu-parent"><a href="#" class="open-me">About</a>
			<ul class="sub-menu">
			<div class="previous"><a href="Javascript:{};"><img class="inline close-me" src="./js/themes/snap/img/nav-previous.png" alt="Previous"><span class="close-me">Previous</span></a></div>	<li class="subnav-head">About</li><li id="menu-item-446" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-446"><a href="http://www.snap.is/about/">Overview</a></li>
				<li id="menu-item-950" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-950"><a href="http://www.snap.is/about/#summary">Summary</a></li>
				<li id="menu-item-678" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-678"><a href="http://www.snap.is/about/#vision">Vision</a></li>
				<li id="menu-item-689" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-689"><a href="http://www.snap.is/about/#inquiries">Founding Inquiries</a></li>
				<li id="menu-item-690" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-690"><a href="http://www.snap.is/about/#leadership">Leadership</a></li>
				<li id="menu-item-951" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-951"><a href="http://www.snap.is/about/#partners">Partners and Funders</a></li>
			</ul>
      	</li>
      	<li class="menu-item menu-parent"><a href="#" class="open-me">Working Groups</a>
			<ul class="sub-menu">
			<div class="previous"><a href="Javascript:{};"><img class="inline close-me" src="./js/themes/snap/img/nav-previous.png" alt="Previous"><span class="close-me">Previous</span></a></div>	<li class="subnav-head">Working Groups</li><li id="menu-item-459" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-459"><a href="http://www.snap.is/groups/">Overview</a></li>
				<li id="menu-item-443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-443"><a href="http://www.snap.is/groups/coastal-defenses/">Coastal Defenses</a></li>
				<li id="menu-item-456" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-456"><a href="http://www.snap.is/groups/western-amazonia/">Western Amazonia</a></li>
			</ul>
      	</li>
      	<li class="menu-item"><a href="http://www.snap.is/contact/">Contact</a></li>
        <li class="menu-item"><a class="wipeLeft show-new-dataCatalogView">Data</a></li>
        <li class="menu-item menu-parent"><a href="#" class="open-me">Search</a>
        	<ul class="sub-menu">
			<div class="previous"><a href="Javascript:{};" class="close-me"><img class="inline" src="./js/themes/snap/img/nav-previous.png" alt="Previous"><span>Previous</span></a></div>	
			<li class="subnav-head">Search</li><li id="menu-item-1445" class="searchField menu-item menu-item-type-custom menu-item-object-custom menu-item-1445"><form action="http://www.snap.is/search" method="get"><input id="searchField" name="q" class="searchField" type="text" placeholder="enter your query"></form></li>
			</ul>
        </li>       
        <% if (fullName) { 
        	print(
        	'<li class="dropdown menu-item">',
				'<a href="#" class="dropdown-toggle" data-toggle="dropdown">',
					'<i class="icon-user"></i><b class="icon-sort-down"></b>',
				'</a>',
				'<ul class="dropdown-menu">',
					'<li><a>', fullName, '</a></li>',
					'<li class="divider"></li>',  
					'<li><a href="#share" class="wipeLeft">Register data</a></li>',
					'<li><a href="#data" id="myData">My packages</a></li>',
					//'<li><a href="#" class="wipeLeft">My account</a></li>',
					'<li class="divider"></li>',
					'<li><a href="#logout" class="wipeLeft">Logout</a></li>',
				'</ul>',
			'</li>'
        	);
        } else {
        	print(
        		'<li id="SignIn" class="share-feature wipeLeft menu-item"><a href="#share">Sign In</a></li>'
        	);
        } %>  
     <!--  <li><input type="text" id="search_txt" placeholder="Search for data" /><a href="#data" type="button" class="btn" id="search_btn"><i class="icon-search icon-large"></i></a></li> -->
       
        	
      </ul>
</div>

      <script>
			$(document).ready(function() {
			  //Initialize the sidr menu
				$('#sidr-click').sidr();
			  
			  var closeSidr = function(){
				  $.sidr("close", "sidr");
				  $('.desaturate-me').removeClass('desaturated'); 
			  };
			  
			  //Close the menu when clicking on a nav link
			  $('.wipeLeft').on('click', function(){
				  closeSidr();
			  });
			  
			  $('#search_btn').on('click', function(){
				  closeSidr();
			  });
			  
			  $('#search_txt').on('keypress', function(e){
				  if (e.keyCode != 13) return;
				  closeSidr();
			  });
			  
			  //Gray out the other elements when opening sidr menu
			  $('#sidr-click').on('click', function(){
				  $('.desaturate-me').toggleClass('desaturated');
			  });
			});
			
			//Open sub menu
			$('.open-me').on('click', function(){
				$(this).parent().addClass('open');
			});
			
			//Close sub menu
			$('.close-me').on('click', function(){
				$(this).parents().each(function() {
					if ($(this).hasClass('open')) {
						$(this).removeClass('open');
					}
				});
			});
	</script>
