        <!-- <div class="result-selection span1"><input type="checkbox" <%= selected ? 'checked' : '' %>></div> -->
 <div class="citation-row">
        <div class="result-citation span10 view-link" data-id="<%= id %>">
              <span class="result-author"><% var count=0; _.each(origin, function(author) {
                   count++;
                   if (count > 1) {
                       print(", ")
             }
                   if (count > 1 && count == origin.length) {
                       print("and ")
             }
                   print(author)
                   if (count == origin.length) {
                       print(". ")
             }
               }) %></span>
               <span class="result-pubdate"> <% if(pubDate) { 
                   print(moment(pubDate).format('YYYY'), '. ')
               } else {
                   print(moment(dateUploaded).format('YYYY'), '. ')
               } %></span>
		
			   <span class="result-title"> <% if (title) { print('<a class=\"view_link\" href=\"#view/', id, '\" pid=\"', id, '\">', title, '.</a> '); } %></span>
               <span class="result-id"> <%- id %></span>
               
               <% if (resourceMap) {
				print('<i class="icon-folder-open has-data tooltip-this" data-trigger="hover" data-title="Includes data files" data-placement="top"></i>');
				}
				%>
         </div>
         
	    <% if (resourceMap) {
				print('<span class="span1 download">');
	
				print('<a data-toggle="dropdown" href="#"><i class="icon-download-alt"></i><i class="icon-caret-down"></i></a>');
			        print('<ul class="dropdown-menu">');
			        var cnt = 1;
			        _.each(resourceMap, function(resourceMapId) {
						print('<li>');
						print('<a class="btn" href="', package_service, resourceMapId, '" title="', resourceMapId ,'" >', 'Package ', cnt, '</a>');
						print('</li>'); 
						 
					})
			        print('</ul></span>');
			    }
		    else {
		    	print('<span class="span1">');
				print('<a href=\"', package_service, id, '\"><i class="icon-download-alt"></i></a></span>'); 
			}
		%>
		


	<i class="icon-caret-right view-link" data-doi="<%- id %>"></i>
</div>
	<div class="abstract view-link" data-doi="<%- id %>">
	<%=abstract%>
</div>
