
<article id="mainBody" class="row-fluid">
	<section class="span10 offset1">
		<!--SIDEBAR AREA-->
		<aside id="sidebar" class="span3">
    		<div class="filter-contain row-fluid">
    			<!-- filter by working groups -->
				<div class="subsets row-fluid">
						<% if(username){
							print('<a class="subset-choice alt keyword-search-link" href="#" data-category="additionalCriteria" data-term="+rightsHolder:' + username + '"> My packages <i class="icon-caret-right"></i> </a>');    			
			    		}
						_.each(searchOptions, function(value, key) {
							print('<a href="" class="subset-choice keyword-search-link" data-category="additionalCriteria" data-term="', value, '">', key);
							print('<i class="icon-caret-right"></i>');
							print('</span>');
							print('</a>');
						});
						%>
				</div>
			

			
    			<div class="row-fluid title">
		    		<h3 class="span6 title">Filters</h3>
		    		<a class="span6" id="clear-all">Clear filters<i class="icon-remove"></i></a>
				</div>	
				<div class="row-fluid">
					<div class="filter-contain">
						<input class="filter" type="text" placeholder="Filter by anything" id="all_input" data-category="all">
						<button class="filter btn" id="all_btn" data-category="all"><i class="icon-search"></i></button>
				    	<ul id="current-all-filters" class="current-filters" data-category="all">
				    	</ul>
				    </div>
				</div>
				<div class="row-fluid">	
					<div class="filter-contain">
						<h3><i class="icon-table"></i>Data Attributes</h3>
						<input class="filter" type="text" placeholder="Variable or column name" id="attribute_input" data-category="attribute">
						<button class="filter btn" id="attribute_btn" data-category="attribute"><i class="icon-search"></i></button>
				    	<ul id="current-attribute-filters" class="current-filters span12" data-category="attribute">
				    	</ul>
				    </div>
				</div>
				<div class="row-fluid">	
					<div class="filter-contain">
						<h3><i class="icon-folder-open"></i>
							<input class="span1 filter" type="checkbox" id="includes_data" data-category="resourceMap" name="includes_data" <% if (resourceMap){ print("checked"); } %> />
							<label for="includes_data" class="inline" data-trigger="hover" data-content="Checking this option will only return packages that include data files. Leaving this unchecked may return packages that only include metadata." data-placement="top">
								Only results with data
							</label>
							<i class="icon-question-sign more-info popover-this" data-trigger="hover" data-content="Checking this option will only return packages that include data files. Leaving this unchecked may return packages that only include metadata." data-placement="top"></i>	
						</h3>
					</div>
				</div>	
				<div class="row-fluid">	
					<div class="filter-contain">
						<h3><i class="icon-user"></i>Created by</h3>
						<input class="filter" type="text" placeholder="First or last name" id="creator_input" data-category="creator">
						<button class="filter btn" id="creator_btn" data-category="creator"><i class="icon-search"></i></button>
				    	<ul id="current-creator-filters" class="current-filters span12" data-category="creator">
				    	</ul>
				    </div>
				</div>
				<div class="row-fluid">	
					<div id="filter-year" class="filter-contain row-fluid" data-category="year">
						<h3><i class="icon-calendar"></i>Year</h3>
						<input class="span1 left filter"  type="checkbox" id="data_year" name="data-coverage-year" data-category="dataYear" <% if (dataYear){ print("checked"); } %> />
						<label class="span11 left year-tooltip" for="data_year" id="data-year-label" data-trigger="hover" data-content="Only show results with data collected within the year range" data-placement="top">Data covers</label>					
						<i class="icon-question-sign more-info popover-this" data-trigger="hover" data-content="Only show results with data collected within the year range" data-placement="top"></i>	
						<div class="clear"></div>
						<input class="span1 left filter"  type="checkbox" id="publish_year" name="publish-year" data-category="pubYear" <% if (pubYear){ print("checked"); } %> />
						<label class="span11 left year-tooltip" for="publish_year" data-trigger="hover" data-content="Only show results that were published within the year range" data-placement="top" >Published between</label>
						<i class="icon-question-sign more-info popover-this" data-trigger="hover" data-content="Only show results that were published within the year range" data-placement="top"></i>	
						<div class="clear"></div>
						<input class="span3"  type="number" id="min_year" value="<%=yearMin%>" />
						<input class="span3"  type="number" id="max_year" value="<%=yearMax%>" />
						<div class="clear"></div>
						<div class="row-fluid">
							<div id="year-range"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				
				<div class="row-fluid">		
					<div class="filter-contain">
						<h3><i class="icon-sitemap"></i>Taxon</h3>
						<input class="filter" type="text" placeholder="Phylum, class, order..." id="taxon_input" data-category="taxon">
						<button class="filter btn" id="taxon_btn" data-category="taxon"><i class="icon-search"></i></button>
						<ul id="current-taxon-filters" class="current-filters" data-category="taxon">
						</ul>
					</div>
				</div>

				<div class="row-fluid">		
					<div class="filter-contain">
						<h3><i class="icon-map-marker"></i>Location</h3>
						<input class="filter" type="text" placeholder="Geographic description" id="spatial_input" data-category="spatial">
						<button class="filter btn" id="spatial_btn" data-category="spatial"><i class="icon-search"></i></button>
						<ul id="current-spatial-filters" class="current-filters" data-category="spatial">
						</ul>
					</div>
				</div>
				
			</div>
		</aside>

		<!--CONTENT AREA-->
		<div id="content" class="span9">
			<div id="results-view">
				<div id="results-header" class="row-fluid result-header">
					<!-- 
					<div class="result-header-menu span1">
						<div class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
								class="icon-plus"></i> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Add to collection...</a></li>
								<li><a href="#">Download</a></li>
							</ul>
						</div>
					</div>
					-->
					
					<!-- count stats -->
					<h3 class="result-header-count span6" id="statcounts">0 to 0 of 0</h3>
					
					<!-- top pager -->
					<!-- 
					<div class="result-header-pager span3 pagination pagination-right" id="resultspager_top">
						<ul>
							<li><a id="results_prev">Prev</a></li>
							<li><a id="results_next">Next</a></li>
						</ul>
					</div>
					-->
					
					<!-- sort order -->
					<div class="span6 text-right select">
						<i class="icon-small icon-chevron-down"></i>
						<select id=sortOrder>
							<option <% if (sortOrder == "dateUploaded+desc") { print('selected="selected"'); } %> value="dateUploaded+desc">Most recent</option>
							<option <% if (sortOrder == "read_count_i+desc") { print('selected="selected"'); } %> value="read_count_i+desc">Popularity</option>
							<option <% if (sortOrder == "id+asc") { print('selected="selected"'); } %> value="id+asc">Identifier (a-z)</option>
							<option <% if (sortOrder == "titlestr+asc") { print('selected="selected"'); } %> value="titlestr+asc">Title (a-z)</option>
							<option <% if (sortOrder == "authorSurNameSort+asc") { print('selected="selected"'); } %> value="authorSurNameSort+asc">Author (a-z)</option>
						</select>
					</div>
					
					<!-- 
					<div class="result-header-menu span1">
						<div class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
								class="icon-cog"></i> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Settings...</a></li>
							</ul>
						</div>
					</div>
					-->
					
				</div>
				
				<!-- search results here -->
				<div id="results" class="search-results"></div>
				
				<!-- pager -->
				<div id="resultspager" class="row-fluid pagination pagination-centered">
					<ul>
						<li><a id="results_prev_bottom">Prev</a></li>
						<li><a id="results_next_bottom">Next</a></li>
					</ul>
				</div>
			</div>
			<div id="metadata-view" class="container-fluid"></div>
		</div>
	</section>
</article>

