/******************************************
** CatalogSearchView ***
******************************************/

/*
TODO:
 - transfer over any other styles specific to this component
 - make sure there are not conflicts with the old data catalog view
 - see if there are any theme-specific overrides for this search view that we can eliminate.
 - switch what we can to CSS variables
 */

.catalog-search-view {
  height: 100%;
}

.catalog-search-inner {
  height: 100%;
  display: grid;
  justify-content: stretch;
  align-items: stretch;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 100%;
}

.catalog-search-view .filter-groups-container {
  width: 215px;
  padding: var(--pad);
  padding-bottom: 3rem;
  overflow: scroll;
}

.catalog-search-body.mapMode {
  height: 100vh;
  width: 100vw;
  padding-bottom: 0px;
  display: grid;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden;
}

.catalog-search-body.mapMode .search-results-view .result-row:last-child {
  margin-bottom: 100px;
}

.search-results-container {
  overflow-y: scroll;
  height: 100%;
}

.search-results-panel-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content min-content min-content 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "map-toggle-container map-toggle-container"
    "title-container title-container"
    "pager-container sorter-container"
    "search-results-container search-results-container";
}

.search-results-container {
  grid-area: search-results-container;
}

.pager-container {
  grid-area: pager-container;
}

.sorter-container {
  grid-area: sorter-container;
  justify-self: end;
  padding-right: var(--pad);
}

.title-container {
  grid-area: title-container;
}

.map-toggle-container {
  grid-area: map-toggle-container;
}

.catalog-search-body.mapMode .search-results-panel-container .map-toggle-container {
  display: none;
}

.catalog-search-body.listMode .catalog-search-inner {
  grid-template-columns: auto 1fr 0;
}

.catalog-search-view .cesium-widget-view {
  width: inherit;
  margin-left: 0;
}

.search-results-view .result-row {
  padding: var(--pad);
}

.catalog-search-view .no-search-results {
  padding: var(--pad);
  text-align: center;
}



.map-panel-container {
  position: relative;
}

/* When map is hidden... */
.listMode .map-panel-container {
  position: unset;
}

.listMode .catalog-search-inner {
  position: relative;
}

.catalog-search-body.listMode .map-panel-container {
  display: block;
}

.listMode .map-container {
  display: none;
}



/* map controls */

.map-controls {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  align-items: center;
}
.listMode .map-controls {
  right: 1.1rem;
  left: auto;
  top: 0.3rem;
  gap: 0;
}

.show-hide-map-button {
  background-color: #19B36A;
  color: white;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.15), 0 1px 14px -6px rgba(0, 0, 0, 0.28);
  border-radius: 0.5rem;
  letter-spacing: 0.02em;
}

.show-hide-map-button:hover {
  background-color: #1E9E5A;
  color: white;
  /* make a smaller darker box shadow than in the non-hover state */
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 5px -2px rgba(0, 0, 0, 0.3);
}

/* Spatial Filter Toggle */
.spatial-filter{
  display: grid;
  grid-template-columns: auto auto;
  background: var(--map-col-bkg, black);
  color: var(--map-col-text, white);
  border-radius: 0.5rem;
  opacity: 0.8;
  top: 0.5rem;
  padding: 0.3rem 0.5rem;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.15), 0 1px 14px -6px rgba(0, 0, 0, 0.28);
}
.listMode .spatial-filter {
  display: none;
}
.spatial-filter-label{
  margin: 0;
}
/* rule is specific to overwrite bootstrap */
input[type=checkbox].spatial-filter-checkbox{ 
  margin: 0;
  margin-right: 0.5rem;
  /* make it look nicer */
  transform: scale(1.2);
  /* put it to the left of the label */
  order: -1;
  margin-right: 0.5rem;

}