/**
 * Map View
 *
 * Defines the appearance of the view that shows an interactive 2D map or 3D globe and all
 * of the other elements it contains:
 * 
 * - Containers
 * - Cesium (map widget)
 * - Scale Bar
 * - Toolbar
 * - Layers (child of toolbar)
 * - Layer Details
 * - Feature Info
 *
 */

/*****************************************************************************************
 *
 * Common classes
 *
 * Unlike the rest of the Map View styles, these classes do not follow the BEM naming
 * convention. This is because these styles are used in various elements throughout the map
 * view. If we switch to using SASS, then these class definitions can instead become SASS
 * @mixins, and we can @include them where required.
 *
 */

:root {
  /* COLOURS */
  --map-col-content-bkg: var(--portal-col-content-bkg);
  --map-col-content-bkg-highlight: var(--portal-col-content-bkg-highlight);
  --map-col-content-bkg-muted: var(--portal-col-content-bkg-muted);

  --map-col-buttons-bkg: var(--portal-col-buttons-bkg);
  --map-col-buttons-bkg-active: var(--portal-col-content-bkg-highlight);
  --map-col-buttons-bkg-hover: var(--portal-col-buttons-bkg-hover);
  --map-col-buttons-bkg-highlight: var(--portal-col-buttons-bkg-highlight);
  --map-col-buttons-bkg-muted: var(--portal-col-buttons-bkg-muted);
  --map-col-buttons-bkg-white-content-contrast: var(--portal-col-buttons-bkg-white-content-contrast);
  --map-col-buttons-text: var(--portal-col-buttons-text);
  --map-col-buttons-text-highlight: var(--portal-col-buttons-text-highlight);
  --map-col-buttons-icon: var(--portal-col-buttons-icon);
  --map-col-buttons-icon-highlight: var(--portal-col-buttons-icon-highlight);
  --map-col-buttons-icon-muted: var(--portal-col-buttons-icon-muted);
  --map-col-utility-buttons: var(--portal-col-utility-buttons);

  --map-col-border: var(--portal-col-border);
  --map-col-border-highlight: var(--portal-col-border-highlight);
  --map-col-border-muted: var(--portal-col-border-muted);
  --map-col-border-highlight-search-box: var(--portal-col-border-highlight-search-box);

  --map-col-section-divider: var(--portal-col-section-divider);
  --map-col-item-divider: var(--portal-col-item-divider);

  --map-col-text-body: var(--portal-col-text-body);
  --map-col-text-highlight: var(--portal-col-text-highlight);
  --map-col-text-title: var(--portal-col-text-title);
  --map-col-text-label: var(--portal-col-text-label);
  --map-col-text-detail: var(--portal-col-text-detail);
  --map-col-text-muted: var(--portal-col-text-muted);

  --map-col-opacity-slider-active: var(--portal-col-opacity-slider-active);
  --map-col-opacity-slider-inactive: var(--portal-col-opacity-slider-inactive);

  --map-col-input-error-bkg: var(--portal-col-input-error-bkg, rgba(30,127,196, .5));
  --map-col-input-error-border: var(--portal-col-input-error-border, rgba(82, 168, 236, .8));
  --map-col-input-error-text: var(--portal-col-input-error-text, #CA6C0B);
  --map-col-search-match-highlight: var(--portal-col-search-match-highlight, rgba(30,127,196, .5));

  --map-no-brightness-or-opacity-tweaks: var(--portal-no-brightness-or-opacity-tweaks);

  --map-col-green: #069868;
  --map-col-text-on-green: white;
  --map-col-blue: #057fc6;
  --map-col-text-on-blue: white;
  --map-col-yellow: #fda;
  --map-col-text-on-yellow: #1b2538;

  --map-col-tooltip-background: var(--portal-col-tooltip-background);
  --map-col-tooltip-text: var(--portal-col-tooltip-text);

  --map-col-bkg__deprecate: #111827;
  --map-col-bkg-lighter__deprecate: #1b2538;
  --map-col-bkg-lightest__deprecate: #242e42;
  --map-col-buttons__deprecate: #313c52;
  --map-col-text__deprecate: #F9FAFB;
  --map-col-buttons-emphasis__deprecate: var(--portal-secondary-color, var(--map-col-green));
  --map-col-highlight__deprecate: var(--portal-primary-color, var(--map-col-blue));
  /* SIZING: */
  --map-size-toolbar-link: 2.5rem;
  --map-size-toolbar-link-margin: 1rem;
  --map-size-toolbar-link-padding: 0.5rem;
  --map-border-radius-small: 0.25rem;
  --map-border-radius-big: 0.5rem;
  --map-width-toolbar: 21rem;
  --map-width-toolbar-wide: 30rem;
  --map-toolbar-link-width: calc(var(--map-size-toolbar-link) + 2 * var(--map-size-toolbar-link-padding));
  /* SHADOWS */
  --map-shadow-md: var(--portal-shadow-md, 0 1px 9px -1px rgba(0, 0, 0, 0.2), 0 1px 2px 0px rgba(0, 0, 0, 0.5));
  /* NOTE: 768px is used as the mobile -> desktop breakpoint throughout the map view, but we cannot use a CSS variable for this. */

  /* FONTS */
  --map-body-font: var(--portal-body-font);

  /* ORDERING */
  --map-z-index-base: 1;
  --map-z-index-top-shadow: calc(var(--map-z-index-base) + 1);
  --map-z-index-layer-details: calc(var(--map-z-index-top-shadow) + 1);
}

/* hide the credits until we can find a better placement for them */
.cesium-widget-credits,
.cesium-credit-lightbox-overlay {
  display: none !important;
}

/* ---- TOOLTIP ---- */

.map-tooltip {
  color: var(--map-col-tooltip-text, var(--map-col-text__deprecate));
  border-radius: var(--map-border-radius-big);
  opacity: var(--map-no-brightness-or-opacity-tweaks, 1) !important;
  font-size: 0.8rem;
  letter-spacing: 0.01em;
}

.map-tooltip.top .tooltip-arrow {
  border-top-color: var(--map-col-tooltip-background, var(--map-col-buttons__deprecate));
}

.map-tooltip.right .tooltip-arrow {
  border-right-color: var(--map-col-tooltip-background, var(--map-col-buttons__deprecate));
}

.map-tooltip.left .tooltip-arrow {
  border-left-color: var(--map-col-tooltip-background, var(--map-col-buttons__deprecate));
}

.map-tooltip.bottom .tooltip-arrow {
  border-bottom-color: var(--map-col-tooltip-background, var(--map-col-buttons__deprecate));
}

.map-tooltip .tooltip-inner {
  padding: 0.3rem;
  background-color: var(--map-col-tooltip-background, var(--map-col-buttons__deprecate));
  color: var(--map-col-tooltip-text);
}

/* ---- BUTTON ---- */

.map-view__button {
  /* override default button styles */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  border: 0;
  border-radius: var(--map-border-radius-big);
  background: var(--map-col-buttons-bkg, var(--map-col-buttons__deprecate));
  color: var(--map-col-buttons-text, var(--map-col-text__deprecate));
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.map-view__button:hover {
  filter: var(--map-no-brightness-or-opacity-tweaks, brightness(1.2));
}

.map-view__button--emphasis {
  background-color: var(--map-col-buttons-bkg, var(--map-col-buttons-emphasis__deprecate));
  padding: 0.5rem 0.55rem;
  font-size: 1rem;
  border: 1px solid var(--map-col-border);
}

.map-view__button--active {
  background-color: var(--map-col-buttons-bkg-highlight, var(--map-col-highlight__deprecate));
  color: var(--map-col-buttons-text-highlight);
}

/* ---- BADGE ---- */

.map-view__badge {
  padding: 0.2rem 0.4rem;
  margin: 0 0.25rem;
  font-size: 0.66rem;
  background-color: var(--map-col-content-bkg-muted, var(--map-col-bkg-lighter__deprecate));
  color: var(--map-col-text-muted, var(--map-col-text__deprecate));
  border-radius: var(--map-border-radius-small);
  line-height: 1;
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
}

.map-view__badge--blue {
  background-color: var(--map-col-blue);
  color: var(--map-col-text-on-blue);
}

.map-view__badge--green {
  background-color: var(--map-col-green);
  color: var(--map-col-text-on-green);
}

.map-view__badge--yellow {
  background-color: var(--map-col-yellow);
  color: var(--map-col-text-on-yellow, var(--map-col-bkg-lighter__deprecate));
}

.map-view__badge--contrast {
  background-color: var(--map-col-text-label, var(--map-col-text__deprecate));
  color: var(--map-col-content-bkg, var(--map-col-bkg__deprecate));
  opacity: var(--map-no-brightness-or-opacity-tweaks, 0.8);
}

/* ---- Animation ---- */

@keyframes fadeIn { 
  from { 
    opacity: 0;
  } 
  to { 
    opacity: 1;
  } 
}


/*****************************************************************************************
 *
 * Containers
 *
 * Top-level containers for the elements within a Map View
 *
 */

/* The outer-most container for the 3D/2D Map View */

.map-view {
  --headerHeight: 5rem;
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: grid;
  box-sizing: border-box;
}

/* Create shadow on top of the map */
.map-view::before {
  content: '';
  position: absolute;
  height: 2rem;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, .16) inset;
  width: 100%;
  z-index: var(--map-z-index-top-shadow);
}

/* On larger screens, the toolbar should 'squish' the map, not overlap it */
@media only screen and (min-width: 768px) {
  .map-view {
    grid-template-columns: auto minmax(0, 100%);
    justify-content: start;
  }
}

.map-view * {
  box-sizing: inherit;
}

/* The containers for the elements within the Map View */

.map-view__map-widget-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* So the map widget is underneath the links/tabs on larger screens (the toolbar should 'squish' the map, not overlap it) */
@media only screen and (min-width: 768px) {
  .map-view__map-widget-container {
    order: 1;
    position: relative;
    width: calc(100% + var(--map-toolbar-link-width) + (2* var(--map-size-toolbar-link-margin)));
    margin-left: calc(-1 * var(--map-toolbar-link-width) - (2* var(--map-size-toolbar-link-margin)));
  }
}

.map-view__scale-bar-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  /* required to be placed above map widget in firefox: */
  z-index: var(--map-z-index-base);
}

.map-view__toolbar-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100%;
  width: min-content;
  /* required to be placed above map widget in firefox: */
  z-index: var(--map-z-index-base);
  pointer-events: none;
}

/* On large screens, the toolbar should not overlap the map, it should squish it */
@media only screen and (min-width: 768px) {
  .map-view__toolbar-container {
    order: 0;
    position: relative;
    display: flex;
    flex-grow: 1;
  }
}

.map-view__feature-info-container {
  position: absolute;
  right: 0;
  bottom: 0;
  /* Make sure the entire panel is visible always. Leave 5rem for scale bar. */
  max-height: calc(100% - 5rem);
  overflow: auto;
  /* required to be placed above map widget in firefox: */
  z-index: var(--map-z-index-base);

  .feature-info__zoom-button, .feature-info__layer-details-button {
    border: 1px solid var(--map-col-border);
    border-radius: var(--map-border-radius-small);
  }
}

.map-view__layer-details-container {
  position: absolute;
  left: 0;
  bottom: 0;
  /* Don't allow the panel to expand beyond the map view */
  max-height: 100%;
  overflow: auto;
  /* required to be placed above map widget in firefox: */
  z-index: var(--map-z-index-layer-details);
}

/*****************************************************************************************
 *
 * Cesium Widget
 *
 * The part that renders the 2D/3D map
 *
 */

.cesium-widget-view {}

.cesium-widget-view>.cesium-widget {
  width: 100%;
  height: 100%;
}

.cesium-widget>canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*****************************************************************************************
 *
 * Scale Bar
 *
 * The legend that shows both the coordinates of the mouse and a scale bar
 *
 */

.scale-bar {
  width: max-content;
  min-width: 12rem;
  min-height: 2rem;
  box-shadow: var(--map-shadow-md);
  background: var(--map-col-content-bkg-muted, var(--map-col-bkg__deprecate));
  border-radius: var(--map-border-radius-small);
  color: var(--map-col-text-muted, var(--map-col-text__deprecate));
  font-size: 0.8rem;
  padding: 0.18rem 0.8rem;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: auto auto;
  gap: 1rem;
  align-items: center;
}

/* __coordinates contains __longitude, __latitude, and __elevation */

.scale-bar__coordinates {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: auto auto auto;
  gap: 0.5rem;
  align-items: center;
}

/* The elements that contain the current coordinates */

.scale-bar__label {
  font-weight: 600;
}

/* The __scale element contains __bar and __distance */

.scale-bar__scale {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  align-items: center;
}

/* The length of the __bar element is set dynamically in ScaleBarView. It's length
represents 1 unit of the given distance measurement. */

.scale-bar__bar {
  height: 0.25rem;
  transition: width 0.3s ease-in-out;
  background-color: var(--map-col-buttons-icon-muted, var(--map-col-text__deprecate));
}

/* The elements that contains the distance measurement */

.scale-bar__distance {}

/*****************************************************************************************
 *
 * Toolbar
 *
 * The toolbar contains the layer list and UI for changing map settings
 *
 */

.toolbar {
  display: grid;
  grid-auto-flow: column;
  color: var(--map-col-content-bkg, var(--map-col-text__deprecate));
}

.toolbar__links {
  display: flex;
  flex-direction: column;
  height: min-content;
  background-color: var(--map-col-content-bkg-highlight, var(--map-col-bkg__deprecate));
  border-radius: var(--map-border-radius-big);
  margin: var(--map-size-toolbar-link-margin);
  padding: .5rem;
  row-gap: .5rem;
  pointer-events: all;
  color: var(--map-col-buttons-bkg-highlight);
  box-shadow: var(--map-shadow-md);
}

.toolbar__all-content {
  background-color: var(--map-col-content-bkg, var(--map-col-bkg__deprecate));
  width: var(--map-width-toolbar);
  box-shadow: var(--map-shadow-md);
  flex-direction: column;
  /* Don't display the content unless the toolbar is open. The outermost element, with
  class .toolbar, is not hidden so that the links (tabs) are still visible when the
  toolbar is closed */
  display: none;
  overflow: hidden;
  pointer-events: all;
}

.map-view__portal .toolbar__all-content {
  width: var(--map-width-toolbar-wide);
}

.toolbar--open .toolbar__all-content {
  display: flex;
}

.toolbar__content {
  /* TODO: remove temp styles */
  height: 100%;
  width: 100%;
  justify-content: center;
  /* hide unless the content section is active */
  display: none;
  overflow: auto;

  .toolbar__content-header {
    color: var(--map-col-text-title);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin: 1rem 1.5rem;
  }
}

.toolbar__content--active {
  display: flex;
}

.toolbar__link {
  position: relative;
  cursor: pointer;
  height: var(--map-size-toolbar-link);
  width: var(--map-size-toolbar-link);
  background-color: var(--map-col-content-bkg, var(--map-col-bkg__deprecate));
  padding: 0.5rem;
  border-radius: var(--map-border-radius-small);
  border: 1px solid var(--map-col-border);
}

.toolbar__link:hover {
  background-color: var(--map-col-buttons-bkg-hover, var(--map-col-bkg-lighter__deprecate));
}

.toolbar__link--active {
  background-color: var(--map-col-buttons-bkg-highlight, var(--map-col-highlight__deprecate));
  color: var(--map-col-buttons-icon-highlight);
}

.toolbar__link--active:hover {
  background-color: var(--map-col-buttons-bkg-highlight, var(--map-col-highlight__deprecate));
}

.toolbar__link-title {
  position: absolute;
  left: calc(100% + .5rem);
  top: .25rem;
  color: var(--map-col-tooltip-text, var(--map-col-text__deprecate));
  font-size: 0.75rem;
  font-weight: 700;
  /* don't show the link title until the link is hovered */
  display: none;
}

.toolbar__link-title:before {
  content: '';
  position: absolute;
  width: .5rem;
  height: .5rem;
  left: -.5rem;
  top: 50%;
  transform: translate(50%,-50%) rotate(-45deg);
  background-color: var(--map-col-tooltip-background, var(--map-col-buttons__deprecate));
}

.toolbar__link:hover .toolbar__link-title {
  display: block;
  padding: 0.25rem 0.5rem;
  border-radius: var(--map-border-radius-small);
  background-color: var(--map-col-tooltip-background, var(--map-col-buttons__deprecate));
}

.toolbar__link-icon {
  display: block;
  font-size: 1.5rem;
  height: 1.5rem;
  line-height: 1;
  width: 1.5rem;
}

/*****************************************************************************************
 *
 * Search Input
 *
 * Search Input is a shared component for searching information in the map toolbar.
 *
 */


.search-input {
  padding-bottom: 1rem;
  background-color: var(--map-col-content-bkg, var(--map-col-bkg));

  .search-input__field {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid;
    border-color: var(--map-col-border-muted);
    border-radius: var(--map-border-radius-small);
  
    .search-input__input {
      width: 100%;
    
      input[type=text]& {  /* Override bootstrap */
        height: 100%;
        margin: unset;
        padding-left: 1rem;
        background: none;
        color: var(--map-col-text-body, var(--map-col-text));
        font-family: var(--map-body-font);
        border: none;
        box-shadow: unset;

        ::placeholder {
          color: var(--map-col-text-muted);
        }
      }
    }

    &:focus-within {
      border-color: var(--map-col-border-highlight-search-box, var(--map-col-blue));
    }

    &.search-input__error-input {
      border-color: var(--map-col-input-error-border);
      background-color: var(--map-col-input-error-bkg);
    }
  
    .search-input__cancel-button-container {
      align-items: center;
      display: flex;
    }

    .search-input__search-button,
    .search-input__cancel-button {
      background-color: transparent;
      border: none;
      color: unset;
      width: 2rem;
      height: 2rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      flex-shrink: 0;
      margin: 0.25rem;
  
      .search-input__button-icon {
        font-size: 1rem;
      }
    }

    .search-input__vertical-divider {
      width: 0;
      height: 1.5rem;
      border-right: solid 1px var(--map-col-border);
    }

    .search-input__search-button {
      color: var(--map-col-buttons-icon-muted);
      border-radius: var(--map-border-radius-small);

      &.search-input__search-button--active {
        color: var(--map-col-buttons-icon, currentColor);
        background: var(--map-col-buttons-bkg-active, var(--map-col-bkg-lighter__deprecate));
      }
    }
    .search-input__cancel-button {
      color: var(--map-col-utility-buttons);
      margin-left: 0;
      width: 1.5rem;
    }
  }

  .search-input__error-text {
    line-height: 1rem;
    color: var(--map-col-input-error-text);
  }
}

/*****************************************************************************************
 *
 * Layers Panel
 *
 * Layers panel shows information about a map's layers and supports searching. This view
 * is used as a toolbar section.
 *
 */


.layers-panel {
  width: 100%;

  .layers-panel__search {
    margin: 0 1.5rem;
  }
}

/*****************************************************************************************
 *
 * Layers List
 *
 * Layers contains information about a map's layers.
 *
 */


.layer-list {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  width: 100%;
  height: min-content;
  border: solid var(--map-col-section-divider, var(--map-col-bkg-lightest__deprecate));
  border-width: 1px 0;
}

/* A layer-item is one item in the layer-list */

.layer-item {
  display: grid;
  grid-template-columns: min-content auto max-content;
  align-items: center;
  padding: 0 1.5rem;
  cursor: pointer;

  .layer-item__visibility-toggle {
    opacity: var(--map-no-brightness-or-opacity-tweaks, 0.85);
    padding: 0;
    margin: 0.25rem;
    border: 0;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--map-col-buttons-icon-muted, currentColor);
    background-color: transparent;

    .layer-item__icon {
      fill: var(--map-col-buttons-icon-muted, currentColor);
      svg>path {
        fill: var(--map-col-buttons-icon-muted, currentColor);
      }

      height: 1rem;
      width: auto;
      opacity: var(--map-no-brightness-or-opacity-tweaks, 0.8);
    }
  }

  &:hover {
    background-color: var(--map-col-content-bkg-muted, #323745);
    transition: background-color .3s ease-in-out;

    &.layer-item--shown {
      background-color: var(--map-col-content-bkg-highlight, #15324e);
    }

    .layer-item__legend-and-settings {
      /* Show button when layer is hovered. */
      display: flex;
      border: 1px solid var(--map-col-border-muted);

      /* Use the same style on button hover and when selected. */
      &.layer-item--selected, &:hover {
        background-color: var(--map-col-buttons-bkg-hover, var(--map-col-bkg-lighter__deprecate));
      }
    }
  }

  &.layer-item--shown {
    .layer-item__visibility-toggle {
      color: var(--map-col-buttons-bkg-highlight, var(--map-col-highlight__deprecate));

      .layer-item__icon {
        fill: var(--map-col-buttons-bkg-highlight, var(--map-col-highlight__deprecate));
        svg>path {
          fill: var(--map-col-buttons-bkg-highlight, var(--map-col-highlight__deprecate));
        }
      }
    }

    .layer-item__legend-and-settings {
      /* Show button when layer is shown. */
      display: flex;
      border: 1px solid var(--map-col-border);

      /* Only show legend when layer is shown. */
      .layer-item__legend-container {
        display: block;
      }
    }
  }

  .layer-item__legend-and-settings {
    /* By default, don't show button. */
    display: none;
    align-items: center;
    border-radius: var(--map-border-radius-small);

    .layer-item__settings-toggle {
      font-size: .85rem;
      width: 1rem;
      height: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: .5rem;
      color: var(--map-col-utility-buttons, currentColor);
    }

    .layer-item__legend-container {
      /* By default, don't show legend. */
      display: none;
      margin-left: -.5rem;
    }

    /* Use the same style on button hover and when selected. */
    &.layer-item--selected, &:hover {
      display: flex;
      background-color: var(--map-col-content-bkg-highlight, #15324e);
      border: 1px solid var(--map-col-content-bkg-highlight, #15324e);

      .layer-item__settings-toggle {
        color: var(--map-col-buttons-icon);
      }
    }
  }
}

.layer-item__label {
  font-size: 0.825rem;
  font-weight: 400;
  margin: 0 0.5rem;
  color: var(--map-col-text-label);
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.layer-item__highlighted-text {
  background-color: var(--map-col-search-match-highlight);
}

.layer-item__icon>svg {
  height: 100%;
  width: auto;
}

.layer-item__visibility-toggle:hover {
  opacity: var(--map-no-brightness-or-opacity-tweaks, 0.5);
}

/*****************************************************************************************
 *
 * Layers Category List
 *
 * Layer category list contains a list of layer categories which can be expanded in to a list of Layer Items.
 *
 */

.layer-category-list {
  border: solid var(--map-col-section-divider, var(--map-col-bkg-lightest__deprecate));
  border-width: 1px 0;

  .layer-category-item {
    box-shadow: 0 1px var(--map-col-item-divider, var(--map-col-bkg-lightest__deprecate)) inset;

    .layer-category-item__metadata {
      display: grid;
      align-items: center;
      cursor: pointer;
      font-size: 1rem;
      grid-template-columns: min-content auto min-content;
      padding: 0 1.5rem;

      &:hover {
        background-color: var(--map-col-content-bkg-highlight, #15324e);
        transition: background-color .3s ease-in-out;
      }
    }
  }
}

.layer-category-item__label {
  font-weight: 500;
  color: var(--map-col-text-highlight, var(--map-col-highlight__deprecate));
}

.layer-category-item__icon {
  fill: var(--map-col-text-highlight, var(--map-col-highlight__deprecate));
  color: var(--map-col-text-highlight, var(--map-col-highlight__deprecate));
  height: 2rem;
  width: 2rem;
  margin: 0.25rem;
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layer-category-item__icon>svg {
  height: 1rem;
}

.layer-category-item__expand-toggle {
  width: 2rem;
  display: flex;
  justify-content: center;
  color: var(--map-col-utility-buttons);
}

.layer-category-item__layers {
  display: none;
  animation: fadeIn .3s ease-in-out;
}

.layer-category-item__layers.open {
  display: block;
}


/*****************************************************************************************
 *
 * Layer Details
 *
 * A panel that shows details about a specific layer on a map
 *
 */

.layer-details {
  width: var(--map-width-toolbar);
  border-top-right-radius: var(--map-border-radius-big);
  border-top-left-radius: var(--map-border-radius-big);
  background-color: var(--map-col-content-bkg-highlight, var(--map-col-bkg-lighter__deprecate));
  color: var(--map-col-text-body, var(--map-col-text__deprecate));
  box-shadow: var(--map-shadow-md);
  grid-template-columns: auto min-content;
  grid-template-rows: min-content auto;
  column-gap: 0.5rem;
  align-items: center;
  /* Don't show the details panel unless it also has the layer-details--open class */
  display: none;
  border: 1px solid var(--map-col-border);
  animation: fadeIn .3s ease-in-out;
}

.map-view__portal .layer-details {
  width: var(--map-width-toolbar-wide);
}

.layer-details--open {
  display: grid;
}

.layer-details__label {
  /* the important is needed to overwrite more specific styles set on portal title tags */
  color: var(--map-col-text-highlight, var(--map-col-text__deprecate)) !important;
  margin: 0;
  font-size: 1.33rem;
  font-weight: 700;
  line-height: 1.25;
  padding: 1rem 1.5rem;
  text-transform: capitalize;
}

.layer-details__toggle {
  color: var(--map-col-utility-buttons);
  font-size: 1rem;
  height: 2rem;
  margin-right: 1rem;
  width: 2rem;
}

/* The notification div holds a badge & message, if one is set */
.layer-details__notification {
  margin: .5rem 0 1rem;
  padding: 0.75rem;
  background-color: var(--map-col-content-bkg, var(--map-col-buttons__deprecate));
  border-radius: var(--map-border-radius-small);
  border: 1px solid var(--map-col-border);
}

.layer-details__notification--blue {
  background-color: var(--map-col-blue);
  color: var(--map-col-text-on-blue);
  border-color: none;
}

.layer-details__notification--green {
  background-color: var(--map-col-green);
  color: var(--map-col-text-on-green);
  border-color: none;
}

.layer-details__notification--yellow {
  background-color: var(--map-col-yellow);
  color: var(--map-col-text-on-yellow, var(--map-col-bkg-lighter__deprecate));
  border-color: none;
}

.layer-details__notification--contrast {
  background-color: var(--map-col-text-body, var(--map-col-text__deprecate));
  color: var(--map-col-content-bkg, var(--map-col-bkg__deprecate));
  opacity: var(--map-no-brightness-or-opacity-tweaks, 0.95);
  border-color: none;
}

.layer-details__sections {
  background: var(--map-col-content-bkg, var(--map-col-bkg__deprecate));
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: 0.5rem;
  grid-column: 1 / 3;
  padding: 1rem 1.5rem;
}

.layer-detail {
  display: grid;
  grid-template-columns: auto 2rem;
  grid-template-rows: auto auto;
  align-items: center;
}

.layer-detail__label {
  /* the important is needed to overwrite more specific styles set on portal title tags */
  color: var(--map-col-text-body, var(--map-col-text__deprecate)) !important;
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
}

.layer-detail__content {
  grid-column: 1 / 3;
  /* Do not display this contents of this detail section unless the open class is added */
  display: none;
  align-items: center;
  margin: .75rem 0;
}

.layer-detail--open .layer-detail__content {
  display: flex;
}

.layer-detail--no-header .layer-detail__content {
  margin-top: 0;
  justify-self: left;
}

.layer-detail__toggle {
  --toggle-size: 1.7rem;
  display: block;
  width: var(--toggle-size);
  height: var(--toggle-size);
  /* background: none; */
}

.layer-detail__toggle:before {
  /* use the font awesome chevron icon */
  display: block;
  font-family: FontAwesome;
  content: "\f078";
  transform: rotate(0deg);
  transition-duration: 0.5s;
  transition-property: transform;
  font-size: 0.8rem;
}

.layer-detail--open .layer-detail__toggle:before {
  transform: rotate(180deg);
}

.layer-info {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 1.2rem;
}

.layer-info__description {
  font-size: 1rem;
  line-height: 1.5;
  max-height: 22rem;
  overflow: auto;
}

.layer-info__attribution {
  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--map-col-text-muted);
}

.layer-info__link {
  border: 1px solid var(--map-col-border);
  border-radius: var(--map-border-radius-small);
  font-size: 1rem;
  margin-right: .5rem;
  padding: .5rem 1rem;
}

.layer-opacity {
  height: 2rem;
  display: grid;
  align-content: center;
  width: 50%;
}

.layer-opacity__slider {
  min-height: 0.375rem;
  border-radius: var(--map-border-radius-big);
  background: var(--c-neutral-3);
  position: relative;
  background-color: var(--map-col-opacity-slider-inactive, var(--map-col-buttons__deprecate));
}

/* The shaded part of the slider that stretches from 0 to the current opacity */

/* Note that the range is also styled in the main metacatui CSS file, using the range's
other class: .ui-slider-range */
.layer-opacity__range {
  border-radius: var(--map-border-radius-big);
  background-color: var(--map-col-opacity-slider-active, #1f254f);
}

.layer-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* The draggable handle element */

/* Note: the handle for the slider is also styled in the main metacatui CSS file, using
  the handle's other class: .ui-slider-handle */

.layer-opacity__handle {
  /* Set the margin to half the width of the handle so that it doesn't slide outside of
  the bar */
  margin-left: -1em;
  /* The handle contains a div with the current opacity value (class
  layer-opacity__label). Centre it within the handle. */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--map-col-buttons-bkg-highlight, #EFEFEF);
}

/* The element that displays the current opacity as a percentage */

.layer-opacity__label {
  font-size: 0.8em;
  /* Show the opacity value just below the slider handle */
  margin-top: 2.5em;
  color: var(--map-col-text-muted, var(--map-col-text__deprecate));
}

/*****************************************************************************************
 *
 * Feature Info
 *
 * The box that shows more information about a feature that a user clicks. The content is
 * formatted according to a configurable template. Available templates include:
 *
 *     - table: A 2 column table that lists the key and value for each of the properties in a feature
 *     - story: Intended to display a user friendly summary of the data in the feature. Includes a title, sub-title, description, image and link.
 *
 */

.feature-info {
  width: var(--map-width-toolbar);
  padding: 1rem 0.8rem 1rem 0.8rem;
  row-gap: 0.8rem;
  border-radius: var(--map-border-radius-big);
  background-color: var(--map-col-content-bkg-highlight, var(--map-col-bkg-lighter__deprecate));
  color: var(--map-col-text-body, var(--map-col-text__deprecate));
  box-shadow: var(--map-shadow-md);
  grid-template-columns: auto 2.5rem;
  grid-template-rows: min-content auto min-content;
  justify-items: center;
  /* Don't show the details panel unless it also has the feature-info--open class */
  display: none;
  animation: fadeIn .3s ease-in-out;
}

.feature-info--open {
  display: grid;
}

.feature-info__label {
  border-bottom: 1px solid var(--map-col-border, var(--map-col-bkg-lightest__deprecate));
  color: var(--map-col-text-title, var(--map-col-text__deprecate)) !important;
  font-weight: 600;
  font-size: 1.33rem;
  line-height: 1.5rem;
  margin: 0;
  width: 100%;
}

.feature-info__content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: 1rem;
  grid-column: 1 / 3;
  padding-bottom: 0.5rem;
  overflow: scroll;
}

.feature-info__toggle {
  padding: 0.4rem 0.6rem 0.4rem;
  background-color: transparent;
  justify-self: end;
  color: var(--map-col-utility-buttons);
  font-size: 1rem;
}

.feature-info__buttons {
  grid-column: 1 / 3;
  display: grid;
  gap: 0.5rem;
}

/* styles for the (default) table template */

.feature-info__table {
  background-color: var(--map-col-content-bkg-muted, var(--map-col-bkg-lightest__deprecate));
  border-radius: var(--map-border-radius-big);
  box-shadow: var(--map-shadow-md);
  width: calc(var(--map-width-toolbar) - 2.2rem);
}

/* .feature-info__table-body {} */

.feature-info__table-row {
  padding-bottom: 0.6rem;
  border: 1px solid #FFFFFF0D;
  border-top-right-radius: var(--map-border-radius-big);
}

.feature-info__table-row:nth-child(even) {
  background-color: var(--map-col-content-bkg, var(--map-col-bkg-lighter__deprecate));
}

.feature-info__table-cell {
  padding: 0.6rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: calc((var(--map-width-toolbar)/2) - 1rem);
}

/* styles for the story template */

.feature-info__thumbnail {
  min-width: 6rem;
  min-height: 6rem;
  max-width: 50%;
  float: right;
  margin: 0.3rem;
  border-radius: var(--map-border-radius-big);
}

.feature-info__subtitle {
  font-size: 0.75em;
  font-weight: 500;
  display: block;
  margin: 0;
  padding: 0;
  color: var(--map-col-text-muted);
}

.feature-info__description {
  margin: 0.55rem 0;
  line-height: 1.4rem;
}

.feature-info__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--map-col-buttons-text, var(--portal-col-highlight));
}


/*****************************************************************************************
 *
 * Map Legend
 *
 * Legends for vector layers in the map
 *
 */

.map-legend--preview {
  height: 1.5rem;
  border-radius: var(--map-border-radius-small);
  width: 100%;
  margin: 0.25rem;
}

.map-legend__svg--preview {
  height: 1.5rem;
  width: auto;
}

.map-legend__img--preview {
  /* allow images previews to bleed into the padding a little, so that more detail is visible */
  height: 100%;
  max-width: 100%;
  margin-top: calc(-0.5* var(--img-overflow));
  /* imagery appears lighter on the map */
  filter: var(--map-no-brightness-or-opacity-tweaks, brightness(1.75));
}

/*****************************************************************************************
 *
 * Draw Tool
 *
 * Panel for drawing polygons in the map
 *
 */

.draw-tool {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 1rem;
}

/*****************************************************************************************
 *
 * Help panel
 *
 * Panel that shows navigation and other help information
 *
 */

.map-help-panel {
  width: 100%;

  .map-help-panel__content {
    margin: 0 1.5rem;
  }
}

.nav-help {
  color: var(--map-col-text-label, white);
}

.nav-help .map-view__button {
  background-color: var(--map-col-content-bkg-highlight, var(--map-col-bkg-lighter__deprecate));
  border-radius: var(--map-border-radius-small);
  color: var(--map-col-text-label);
  margin-right: .5rem;
  padding: 0.25rem 1rem;
}

.nav-help .map-view__button--active {
  /* TODO: https://github.com/NCEAS/metacatui/issues/2347 - Update to --map-col-buttons-bkg-highlight */
  background-color: var(--map-col-buttons-bkg-white-content-contrast, #505561);
  color: white;
}

.nav-help__img {
  /* TODO: https://github.com/NCEAS/metacatui/issues/2347 - Update to transparent */
  background: var(--map-col-buttons-bkg-hover, #505561);
  border-radius: var(--map-border-radius-big);
  height: 3rem;
  padding: .5rem;
  width: 3rem;
}

.nav-help__instructions {
  border-top: 1px solid var(--map-col-section-divider, var(--map-col-bkg-lightest__deprecate));
  display: grid;
  margin: 1rem 0;
  padding: 0;
  width: 100%;
}

.nav-help__instructions.hidden {
  display: none;
}

.cesium-navigation-help-pan,
.cesium-navigation-help-zoom,
.cesium-navigation-help-rotate,
.cesium-navigation-help-tilt {
  color: var(--map-col-text-body, #66ccff);
  font-weight: 500;
}

.nav-help__instruction {
  border-bottom: 1px solid var(--map-col-item-divider, var(--map-col-bkg-lightest__deprecate));
  display: grid;
  grid-template-columns: 3rem auto;
  gap: 1rem;
  align-items: center;
  padding: .5rem 0;
}

.map-help-panel__section:not(:first-child) {
  margin-top: 2.5rem;
}

.viewfinder {
  width: 100%;
}

.viewfinder__search-input {
  margin: 0 1.5rem;
}

.viewfinder-predictions {
  list-style: none;
  margin: -.5rem 1.5rem 0 1.5rem;

  .viewfinder-prediction__content {
    align-items: center;
    background: var(--map-col-content-bkg, var(--map-col-bkg__deprecate));
    border: 1px solid var(--map-col-border-muted, white);
    border-radius: var(--map-border-radius-small);
    box-sizing: border-box;
    color: var(--map-col-text-highlight, white);
    cursor: pointer;
    display: flex;
    gap: .5rem;
    height: 3rem;
    margin: 0 0 .5rem;
    padding: .5rem 1rem;
    transition: background-color .3s ease-in-out;

    >* {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    i {
      display: contents;
      font-size: 1.1rem;
      height: 2rem;
      width: 2rem;
      text-align: center;
    }

    &:hover,
    &.viewfinder-prediction__focused {
      border-color: var(--map-col-border-highlight);
      background-color: var(--map-col-content-bkg-highlight, var(--map-col-bkg-lighter__deprecate));
    }
  }
}

/** START - Expansion panel View. */
.expansion-panel {
  border: solid var(--map-col-item-divider, var(--map-col-bkg-lightest__deprecate));
  border-width: 1px 0;
  padding: .25rem .5rem;

  &.show-content {
    .expansion-panel__content {
      display: block;
    }

    .icon-caret-down {
      display: block;
    }

    .icon-caret-up {
    display: none;
    }
  }

  .icon-caret-down {
    display: none;
  }

  .icon-caret-up {
    display: block;
  }

  .expansion-panel__title {
    user-select: none;
  }

  .expansion-panel__content {
    display: none;
    padding: .25rem 0;
  }
 
  .expansion-panel__icon {
    align-items: center;
    display: flex;
  }

  .expansion-panel__toggle {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  } 
}
/** END - Expansion panel View. */
