/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 768px) {

	/************** Metadata View ****************/
	.form-horizontal .control-label{
		float: none;
		text-align: left;
		width: 100%;
		font-weight: bold; /*Because labels/titles become less apparent when in the mobile design*/
	}
	.form-horizontal .controls{
		margin-left: 0px;
	}
	.form-horizontal .controls-well .table td{
		display: block;
		padding: 4px;
	}
	.attributeList .span2{
		width: 40%;
		overflow: hidden;
	}
	.attributeList .tab-content{
		width: 55%;
		overflow: visible;
	}
	.entitydetails{
	    width: 100%;
	    margin: 0px;
	    box-sizing: border-box;
	}
	.entitydetails > h4 > .title{
		width: 83%;
	}
	.entitydetails > h4 > i{
		width: 10%;
	}
	.entitydetails > h4 > .btn{
		float: none;
	}
	.control-group ~ .thumbnail{
		width: 100%;
		box-sizing: border-box;
    	margin-left: 0px;
	}
	.breadcrumb{
		margin-top: 20px;
		margin-left: 10px;
		width: 95%;
		width: calc(100% - 50px);
	}

	/************** Footer ****************/
	#Footer{
		overflow-x: hidden;
		max-width: 100vw;
	}

	/************** Navbar ****************/
	#Navbar{
		width: 100%;
		position: relative;
		margin: 0px;
	}
	.navbar,
	.navbar-inner{
		padding: 0px;
		margin: 0px;
	}
	.nav{
		width: 100%;
		flex-direction: column;
    display: flex;
	}
	.navbar .home > a:after{
		content: " Home";
	}
	.navbar li{
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #FFF;
	}
	#Header{
		position: relative;
	}
	.nav .right .dropdown-menu{
		width: 100%;
	}

	.navbar .nav {
		margin-right: 0;
	}

	.navbar .nav ul.dropdown-menu {
		/* ensure the dropdown menu is covers width of viewport regardless of parent's width */
		position: absolute;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		width: 100vw;
	}

	a.dropdown-toggle.user {
    margin: 4px 0 9px 0;
	}

	.dropdown-header {
		padding: 3px 0;
	}

	/* put the drop down menu triangle in the middle  */
	.navbar .nav>li>.dropdown-menu:before {
    left: 50%;
	}
	.navbar .nav>li>.dropdown-menu:after {
    left: calc(50% + 1px);
	}

	/* edit portal button */
	.PortalView #Navbar .nav .edit-portal-link-container.minimal-nav{
		display: flex;
		justify-content: center;
	}
	#editPortal{
		margin: 10px 0;
		width: 96px;
	}


	/*************** User menu ***********/

	#Content > .nav-tabs {
		flex-direction: row;
	}

	#Content .span8.subsection {
	    width: 100%;
	}

	#Content .panel.panel-default.span3 {
	    width: 100%;
	}

	/*************** Sign In box ***********/
	#signinPopup {
    width: 100vw;
    box-sizing: border-box;
    top: 50px;
    position:fixed;
    left: 0;
		margin: 0;
	}

	/*************** Portals ***********/

	.PortalView #Navbar .nav {
		float: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.portal-view {
		width:100%;
		margin-left: 0;
	}

	.portal-view #portal-header-container {
		padding: 0px;
		marign-bottom: 10px;
	}

	#portal-header-container .row{
		margin: 0px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#portal-header-container .row .portal-logo {
		margin-top: 15px;
		max-width: 70px;
		max-height: 100%;
	}

	#portal-header-container .portal-logo{
		margin: 0px 3px 0px 3px;
	}

	#portal-header-container .portal-title{
		margin: 0px 3px 0px 3px;
	}

	.portal-view #portal-section-tabs {
		flex-direction: row;
		flex-wrap: nowrap;
		overflow-x: scroll;
		padding: 0 6px 6px 6px;
		box-sizing: border-box;
	}

	.portal-view #portal-section-tabs li.section-link-container {
    width: auto;
		border-radius: 5px;
		margin: 0 2px;
		padding: 6px;
		white-space: nowrap;
	}

	.portal-display-text {
		padding: 0 10px;
		text-align: center;
	}

	.portal-display-text h2 {
		font-size: 1.5em;
		line-height: 1.4;
		padding: 10px 2px;
	}

	.tab-pane.portal-section-view {
    width: 100vw;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.portal-section-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0;
	}

	.portal-section-content .toc .mobile {
		display: flex;
		flex-direction: row;
		width: 100vw;
		margin: 0;
		background-color: var(--portal-secondary-color);
		color: white;
	}

	.portal-section-content .toc .mobile a {
		color: white;
	}

	.portal-section-content .toc .desktop {
	  display: none;
	}

	.toc-ul li, .portal-view .toc-ul a {
		background-color: none;
	}

	.Editor.Portal .mobile .toc-ul, .portal-view .mobile  .toc-ul {
    position: sticky;
    position: -webkit-sticky;
    background-color: transparent;
    margin-left: 0;
    padding: 0px;
	}

	.Editor.Portal .mobile .toc-ul, .portal-view .mobile  .toc-ul a {
		color: #242424;
	}

	.Editor.Portal .mobile .toc-ul, .portal-view .mobile  .toc-ul li.active > a {
		color: white;
		background-color: var(--portal-secondary-color);
	}

	.toc .mobile > * {
		padding: 9px;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.toc .mobile > *.hidden {
		display: none;
	}

	.toc .mobile > * > a {
		padding-right: 7px;
	}

	.toc .mobile > .second-level-items {
		min-width: 48vw;
	}
	
	.toc .mobile > .second-level-items .dropdown-menu {
		width: 100%;
		min-width: 100%;
		margin-left: -7px;
	}
	
	.toc .mobile > .top-level-items .dropdown-menu {
		min-width: 100%;
	}

	.toc .mobile > .top-level-items {
		margin: 0;
		min-width: 48vw;
		max-width: 100vw;
		padding-left: 10px;
	}

	.toc .mobile > .mobile-toc-divider {
		width: 4vw;
	}

	.toc .mobile > .mobile-toc-divider:before{
		font-size: 21px;
	}

	.nav.mobile li > a {
		display: list-item;
	}

	/* affix the TOC to the top */
	.Editor.Portal .toc-view.affix,
	.portal-section-content .toc-view.affix {
    top: 0px;
	}

	/* make markdown content take full width */
	.portal-section-content > .markdown {
    padding: 13px 10px;
    width: 100vw;
    box-sizing: border-box;
		margin: 0;
		overflow-y: scroll; /* so that vw calculation includes space for scroll bar */
	}

	.portal-section-content .toc-view.span3.affix + .span9 {
		margin-left: 0;
	}

	.markdown code {
		white-space: pre-wrap;
	}

	#portal-sections {
    max-width: 100vw;
    overflow-x: hidden;
	}

	/*************** General Structure ***********/

	.row-fluid .span6.pagination-left {
  		width: 100%;
	}
	#Content{
		width: 100%;
		padding-left: 0;
		padding-right: 0;

	}

	/************** Search page ****************/
	#sidebar{
		width: 90%;
	}
	#results-container{
		width: 90%;
		margin-left: 10px;
	}
	.filter-contain > .filter-input-contain{
		width: 100%;
	}
	.filter-contain > label{
		font-size: 1.1em;
	}

	/***** Stats ********/
	.profile .format-charts .chart{
		width: 100%;
		float: none;
	}
	.profile .format-charts-container{
		height: auto;
	}
	#metadata-chart, #data-chart{
		width: 100%;
		float: none;
	}
	/********* Login popup **********/
	.fancybox-inline .span7 .well{
		max-width: 83%;
	}
	.fancybox-inline > .row-fluid > .span7{
		float: none;
		width: 44%;
		padding-left: 0px;
		margin-left: 0px;
	}
	.fancybox-inline h2{
		display: inline;
	}

	/******************************************
	* Metrics Styling
	********************************************/

	.charts-container .charts.row-fluid {
			display: flex;
			flex-direction: column;
			align-items: center;
	}

	.charts-container .span6.packages.badge-container {
			/* width: 100%; */
			display: flex;
			flex-direction: column;
	}

	.charts-container .row-fluid .span6 {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			margin: 0;
			box-sizing: border-box;
	}

	.charts-container .stripe.quick-stats {
			height: auto;
	}

	.charts-container svg.circle-badge {
			width: 220px;
	}

	.charts-container .temporal-coverage-chart.chart {
		margin-left: 0;
	}

	.temporal-coverage-chart.chart {
		width: 100%;
	}


}
@media only screen and (max-width : 1300px){
  /*The attribute list in the MetadataView gets difficult to read at 1300px */
  .attributeList > .row-fluid > .span2{
    min-width: 130px;
  }
  .attributeList > .row-fluid > .span10{
  	width: 76%;
  	width: calc(97% - 165px);
  }
  .attributeList .tab-pane > .control-group{
    min-width: 400px;
  }
}

@media only screen and (max-width : 1000px){
	/* Editor styles */
	.temporal-coverage .control-label span{
		display: block;
	}
	.temporal-coverage .control-label {
    	height: 4em;
	}

    /******************************************
    * Metrics Controller Styling
    ********************************************/
    /* Style for the metric button */
    a.btn.metrics {
        float:none;
        width: 150px;
        margin: 1px;
        padding-right: 0px;
    }
    .btn-group+.btn-group, .btn-toolbar>.btn+.btn,
    .btn-toolbar>.btn+.btn-group, .btn-toolbar>.btn-group+.btn {
        margin-left: 0px;
    }

    .metric-well {
        float:none;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    /* Style for the toolbars that contains buttons in the well on either side. */
    .metric-toolbar {
        float:none;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    .edit-toolbar {
        float:none;
        border-left: none;
        margin-top: none;
        justify-content: center;
        align-items: center;
    }

    .edit-toolbar >
    #metadata-controls-container >
    .metadata-controls-container {
        margin-left: 0px;
        margin-top: 5px;
        margin-right: 0px;
        height: 38px;
    }

    .edit-toolbar >
    #owner-controls-container >
    .authority-controls {
        width: auto;
        height: 38px;
        margin-top: -1px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .edit-toolbar >
    #owner-controls-container >
    .authority-controls >
    #editMetadata {
        margin-right: none;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 700px){
	/*************** General Structure ***********/
	.row-fluid .span6.pagination-left {
  		width: 100%;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 420px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
/* STYLES GO HERE */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-width : 320px)
and (max-width : 568px) {
/* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-width : 320px)
and (max-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-width : 320px)
and (max-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
}
