<article id="About">
  <div class="container">
    <div class="row-fluid">
    	<div class="text-left">
    		<h3>
    			<a name="credits">Credits</a>
    		</h3>
    		<p>
    			The photographs used in this web interface were generously provided by the following photographers:
    			<ul class="indent plain-list">
    				<li>Coyote by <a href="http://www.morguefile.com/creative/xandert" target="_blank">xandert on morgueFile</a></li>
    				<li>Wheat fields by <a href="http://www.morguefile.com/creative/Irish_Eyes" target="_blank">Irish_Eyes on morgueFile</a></li>
    				<li>Mountain and stream by <a href="http://www.trixtaphotography.co.uk" target="_blank">Trixta Photography</a></li>
    				<li>Whale Breach by <a href="http://www.morguefile.com/creative/matthew_hull" target="_blank">Matthew G. Hull</a></li>
    				<li>Starry sky by <a href="http://morguefile.com/creative/kamuelaboy" target="_blank">Samuel Cheney</a></li>
    				<li>Dragonfly by <a href="http://www.morguefile.com/creative/takekha" target="_blank">takekha on morgueFile</a></li>
    				<li>Forest with flowers by <a href="http://www.morguefile.com/creative/Schick" target="_blank">George Schick</a></li>
    				<li>Windmills by <a href="http://morguefile.com/creative/diggerdanno" target="_blank">diggerdanno on morgueFile</a></li>
    				<li>Desert landscape by <a href="http://morguefile.com/creative/digitaldundee" target="_blank">digitaldundee on morgueFile</a></li>
    				<li>Sumatran Tiger by <a href="http://www.scottliddell.net" target="_blank">Scott Liddell</a></li>
    			</ul>
    		</p>
    	</div>
   </div>
  </div>
</article>
