
<div class="view-link pointer" data-id="<%=id%>">     
        <div class="result-citation">
              <span class="result-author">
              <% var count=0; _.each(origin, function(author) {
                   count++;
                   if (count > 1) {
                       print(", ")
             }
                   if (count > 1 && count == origin.length) {
                       print("and ")
             }
                   print(author)
                   if (count == origin.length) {
                       print(". ")
             }
               }) %></span>
               <span class="result-pubdate"> 
               <%
                if(pubDate) { 
                   var pubDateFormatted = moment(pubDate).format('YYYY');
                   if(!isNaN(pubDateFormatted)) print(pubDateFormatted, '. ');
                }
                if(dateUploaded && isNaN(pubDateFormatted)){
                	var dateUploadedFormatted = moment(dateUploaded).format('YYYY');
                    if(!isNaN(dateUploadedFormatted)) print(dateUploadedFormatted, '. ');
               } 
               %></span>
               <span class="result-title"> <% if (title) { print('<a class=\"view_link\" href=\"#view/', id, '\" pid=\"', id, '\">', title, '.</a> '); } %></span>
               <span class="result-id subtle"> <%- id %></span>
        </div> 
        <div class="clear"></div>
<%
	if(typeof abstract != "undefined"){
	    var safeAbstract = abstract.replace(/\"/g, "'");
	    var classes = "abstract view-link";  
	    if(safeAbstract.length > 200) classes += " multi-line-ellipsis";
	    
		print('<div class="' + classes + '" data-doi="' + id + '"><div>');
		print('<p>' + safeAbstract + '<i></i></p>');
		print('</div>');
		print('</div>');
	}
	%>
        <div class="info-icons">        		      
        		<div class="on-map icons">
					<% 
						if (typeof southBoundCoord != "undefined"){
		               		if((typeof geohash_9 != "undefined") && (geohash_9.length > 1)){
		               			for(var i=0; i < geohash_9.length; i++){
		               				print('<i class="icon-map-marker on-map open-marker tooltip-this" data-id="'+id+'" data-geohash="' + geohash_9[i]  + '" data-toggle="tooltip" data-placement="top" title="This metadata has ' + geohash_9.length + ' geographic regions on the map"></i>');
		               			}
		               		}
		               		else
		               			print('<i class="icon-map-marker on-map open-marker tooltip-this" data-id="'+id+'" data-geohash="' + geohash_9  + '" data-toggle="tooltip" data-placement="top" title="This metadata has one geographic region on the map"></i>');
		               }
		               else{
		               		print('<i class="icon-map-marker inactive"></i>');
		               }
		            %>
	            </div>
              <div class="resource-map icons">             
	               <%
		           if (resourceMap) {
						print('<i class="icon-folder-open tooltip-this"  data-toggle="tooltip" data-placement="top" title="This result includes data files"></i>');
					}
					else{
						print('<i class="icon-folder-open inactive"></i>');
					}
	           		%>
	           
        	</div>
	       
	   </div>
</div>