body{
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
}
#main{
  float: right;
  width: 80%;
}
nav{
  width: 20%;
  background-color: #272727;
  margin-top: 0px;
  padding-top: 20px;
  border: 0px;
}
nav h2{
  font-size: 1em;
}
nav h3{
  font-size: 1.2em;
  font-weight: bold;
}
nav ul a, nav ul a:visited, nav ul a:active, nav h3, nav a{
  font-family: inherit;
  color: #FFF;
}
h1{
  font-family: inherit;
  font-size: 2em;
  letter-spacing: normal;
  border-bottom: 1px solid #DDD;
  padding-bottom: 20px;
}
h2, h3.subsection-title{
  font-weight: normal;
}
.class-description{
  font-size: 1em;
  line-height: inherit;
  padding: 20px;
  margin: 20px 0px;
  background-color: #d9e6ed;
  border: 1px solid #bdd4e0;
}
.description + h5 {
    font-weight: bold;
    font-size: 1em;
    display: inline;
    margin-right: 20px;
}
.description + h5 + ul{
  list-style: none;
    display: inline;
    padding: 0px;
}
.description + h5 + ul li{
  list-style: none;
  display: inline;
}
.name{
  padding: 10px;
background-color: #272727;
border: 1px solid #dcdcdc;
}
h4.name {
    color: #dcdcdc;
}
pre{
  background-color: #eee;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
table{
  width: 100%;
}
thead th{
  color: #fff;
  background-color: #272727;
  border-color: #000000;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  padding: .75rem;
}
.props thead th,
.params thead th {
    background-color: #CCC;
    color: #333;
    border: 0px;
    border-image-width: 0px;
    border-bottom: 1px solid hsla(202, 18%, 65%, 1);
}
table td{
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
td.name{
  background-color: #DDD;
}
.class-screenshot h3{
  text-align: center;
}
.class-screenshot img{
  margin: auto;
  display: flex;
  max-width: 600px;
}
