<header id="altHeader" class="row">
	<section id="Slides" class="carousel slide">
	  <div class="carousel-inner">
	    <div class="active item">
	      <div class="container">
	        <div class="carousel-caption center">
	          <h1>Store, share, and collaborate.</h1>
	          <p class="lead">Team up by sharing research data through the Arctica repository.</p>
             <a href="#signup" class="btn btn-primary">Sign up</a>
	        </div>
	      </div>
	    </div>
	  </div>     
	</section>
</header>
