<header class="header" role="banner" itemscope="" itemtype="http://schema.org/WPHeader">

	<div class="border-image" role="img"></div>

		<div id="inner-header" class="wrap cf">
			<a href="/" rel="nofollow" id="logo" class="h1 brand" itemscope="" itemtype="http://schema.org/Organization"><img src="js/themes/arctica/img/logo.png">NSF Arctic Data Center</a>

			<a id="nav-trigger"><i class="icon-bars icon"></i><i class="icon-close icon hidden"></i></a>
					
			<nav role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement" id="main-nav">
				<ul id="menu-main-navigation" class="nav top-nav">
					<li class="dropdown">
						<a class="show-new-dataCatalogView dropdown-toggle" data-toggle="dropdown">Data</a>
						<ul class="dropdown-menu">
			        		<li><a class="show-new-dataCatalogView">Search</a></li>
			        		<li><a href="#profile">Summary</a></li>
			        	</ul>
		        	</li>
					<li class="dropdown">
						<a href="/support">Support</a>
						<ul class="dropdown-menu">
			        		<li><a href="submit">Data Submission</a></li>
			        		<li><a href="q-and-a">Q & A</a></li>
			        		<li><a href="data-plans">Data Plans</a></li>
			        	</ul>
			        </li>
					<li class="dropdown">
						<a href="/about">About</a>
						<ul class="dropdown-menu">
			        		<li><a href="/category/news">News</a></li>
			        		<li><a href="/team">Team</a></li>
			        		<li><a href="/history">History</a></li>
			        	</ul>
					</li>
			       <li><a href="#share" class="btn btn-primary">Submit Data</a></li>
					<% if (loggedIn) { %>
        				<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon icon-user"></i><%=appUserModel.get("firstName")%><b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li class="dropdown-header"><%=formattedName%></li>
								<li><a href="#share">Submit data</a></li>
								<% if(appModel.get("userProfiles")){ %><li><a href="#profile/<%=username%>">My profile</a></li> <% } %>
								<li><a href="#data" id="myData">My data packages</a></li>
								<li class="divider"></li>
								<li><a href="#signout">Sign Out</a></li>
							</ul>
						</li>
			        <% } else { %>
			        		<li class="right login-container"></li>
			       <%  } %>
				</ul>
			</nav>
					
		</div>
				
</header>
