<header class="header" role="banner" itemscope="" itemtype="http://schema.org/WPHeader">

	<div class="border-image" role="img"></div>

		<div id="inner-header" class="wrap cf">
			<a href="/" rel="nofollow" id="logo" class="h1 brand" itemscope="" itemtype="http://schema.org/Organization" alt="NSF Arctic Data Center"></a>

			<a id="nav-trigger"><i class="icon-reorder icon"></i><i class="icon-remove icon hidden"></i></a>
					
			<nav role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement" id="main-nav">
				<ul id="menu-main-navigation" class="nav top-nav">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">Data</a>
						<ul class="dropdown-menu sub-menu">
			        		<li><a href="#data" class="show-new-search">Search</a></li>
			        		<li><a href="#profile">Summary</a></li>
			        		<li><a href="/publications">Publications</a></li>
			        	</ul>
		        	</li>
					<li class="dropdown">
						<a>Support</a>
						<ul class="dropdown-menu sub-menu">
							<li><a href="/support">Support Info</a></li>
			        		<li><a href="/submit">Data Submission</a></li>
			        		<li><a href="/q-and-a">Q & A</a></li>
			        		<li><a href="/data-plans">Data Plans</a></li>
			        	</ul>
			        </li>
					<li class="dropdown">
						<a>About</a>
						<ul class="dropdown-menu sub-menu">
							<li><a href="/about">Arctic Data Center</a></li>
			        		<li><a href="/category/news">News</a></li>
			        		<li><a href="/team">Team</a></li>
			        		<li><a href="/history">History</a></li>
			        	</ul>
					</li>
			       <li><a href="#share" class="btn btn-primary show-new-editor">Submit Data</a></li>
					<% if (loggedIn) { %>
        				<li class="dropdown">
							<a href="#" class="dropdown-toggle user" data-toggle="dropdown"><i class="icon icon-user"></i><%=formattedName%><b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#share" class="show-new-editor">Submit data</a></li>
								<li><a href="#profile/<%=username%>">My profile</a></li>
								<li><a href="#profile/<%=username%>/s=settings/s=groups">My groups</a></li>
								<li><a href="#data/my-data">My data sets</a></li>
								<li><a href="#signout">Sign out</a></li>
							</ul>
						</li>
			        <% } else { %>
			        		<li>
			        			<a href="<%=(appModel.get('signInUrlOrcid') + window.location.href)%>" class="fancybox login btn"><img src="img/orcid_64x64.png"  class="icon icon-on-left" />Sign in with Orcid</a>
			        		</li>
			       <%  } %>
				</ul>
			</nav>
					
		</div>
				
</header>
