<div class="row-fluid sign-up show-in-list-mode hide-in-map-mode">
   	<a id="footer_signup" class="btn btn-large btn-primary" href="#signup">Sign up</a>
</div>
<div class="footer-inner hide-in-map-mode">
<div class="row-fluid">
   <div class="span3 brand">
   		<a href="#"><img src="js/themes/arctica/img/logo-full.png" /></a>
   </div>
   <div class="span3 help-items">
     <h3>Getting Started</h3>
     <ul class="helpitems">
       <li><a href="#about/sharing-your-data" >Sharing Your Data</a></li>
       <li><a href="#about/understanding-metadata" >Understanding Metadata</a></li>
       <li><a href="#tools" >Downloading Tools</a></li>
     </ul>
   </div>
   <div class="span3 help-items">            
     <h3>Help</h3>
     <ul class="helpitems">
     	<li><a href="#help">Search Tips</a></li>
       <li><a href="#tools/morpho" >Morpho User Guide</a></li>
       <li><a href="#tools/eml" >Ecological Metadata Language</a></li>
       <li><a href="#api" target="_blank">Arctica API</a></li>
     </ul>
   </div>
   <div class="span3 help-items">
   	<h3>Contact</h3>
     	<ul class="helpitems">
       	<li><i class="icon-envelope-alt icon icon-on-left"></i><a href="mailto:knb-help@nceas.ucsb.edu">knb-help@nceas.ucsb.edu</a></li>
       	<li><i class="icon-comment icon icon-on-left"></i><a href="irc://irc.ecoinformatics.org:6667/kdi">irc.ecoinformatics.org #kdi</a></li>
       	<li><i class="icon-twitter icon icon-on-left"></i><a href="http://twitter.com/nceas" target="_blank">@nceas</a></li>
     	</ul>
   </div>
</div>
<div class="row-fluid center logos">
   	<a href="http://dataone.org" target="_blank"><img alt="DataONE" src="./img/dataone-logo-white.png?v=<%=window.metacatUIVersion%>" class="dataone"></a>
   	<a href="http://nceas.ucsb.edu" target="_blank"><img alt="NCEAS" src="./img/logo-nceas-white.png?v=<%=window.metacatUIVersion%>" class="nceas"></a>
</div>
<p class="footnote center">This material is based upon work supported by the National Science Foundation under NSF Proposal Number 1546024</p>
</div>
<div class="show-in-map-mode hidden">
<a href="#about" class="brand-name"><h3>Arctica: Data and Software About the Arctic</h3></a>
<a id="footer_signup" class="btn btn-large btn-primary" href="#signup">Sign up</a>
<p class="footnote center">This material is based upon work supported by the National Science Foundation under NSF Proposal Number 1546024</p>
</div>