<table class="table table-striped">
  <thead>
    <tr>
      <th>Logo</th>
      <th>ID</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="portal-list-container">
    <tr class="loading"><td></td><td></td><td class="subtle">Loading...</td><td></td></tr>
    <tr class="loading"><td></td><td></td><td></td><td></td></tr>
    <tr class="loading"><td></td><td></td><td></td><td></td></tr>
    <tr class="loading"><td></td><td></td><td></td><td></td></tr>
  </tbody>
</table>
