<div class="portal-section">
  <% if(typeof imageURL != "undefined"){ %>
    <div class="portal-display-image" style="background-image: url('<%=imageURL%>')">
  <% } else { %>
    <div>
  <% } %>
      <div class="portal-display-text">
        <% if(typeof title != "undefined") { %>
          <h2><%=title%></h2>
        <% } %>
        <% if(typeof introduction != "undefined") { %>
          <p><%=introduction%></p>
        <% } %>
      </div>
    </div>
    <div class="portal-section-content"></div>
</div>
