<div class="portal-view">
  <div id="portal-header-container" class="row-fluid"></div>

  <div class="row-fluid">
    <article class="tabbable">

      <div class="section-links-container">
        <ul id="portal-section-tabs" class="nav nav-tabs"></ul>
        <div class="show-sections-toggle">Sections <i class="icon-caret-up"></i></div>
      </div>

      <section id="portal-sections" class="row-fluid tab-content" data-section="portal">
      </section>

    </article>
  </div>

  <style type="text/css">
  :root {
    --portal-primary-color: <%=primaryColor%>;
    --portal-secondary-color: <%=secondaryColor%>;
    --portal-accent-color: <%=accentColor%>;
    --portal-primary-color-transparent: <%=primaryColorTransparent%>;
    --portal-secondary-color-transparent: <%=secondaryColorTransparent%>;
    --portal-accent-color-transparent: <%=accentColorTransparent%>;

  }
  </style>
</div>
