<div class="row">
  <% if( imageURL ){ %>
    <img class="portal-logo" src=<%=imageURL%> alt="<%=name%>" title="<%=name%>" />
  <% } %>
  <h1 class="portal-title">
      <%=name%>
  </h1>
  <div class="edit-portal-link-container"></div>
</div>
<% if( viewType == "nodeView" ){ %>
  <div class="portal-member-since">
    <span id="first-upload-container" class="subtle"></span>
  </div>
<% } %>

<% if( description ){ %>
  <div class="portal-description">
  <p>
    <%=description%>
  </p>
  </div>
<% } %>
