<div class="row">
  <% if( imageURL ){ %>
    <img class="portal-logo" src=<%=imageURL%> alt="<%=name%>" title="<%=name%>" />
  <% } %>
  <h1 class="portal-title">
      <%=name%>
  </h1>
</div>
<div class="portal-description">
  <% if( viewType == "nodeView" && description ){ %>
    <p>
      <%=description%>
    </p>
  <% } %>
</div>
<div class="portal-member-since">
  <i id="first-upload-year-container" class="icon icon-circle-badge icon-text icon-on-left"></i>
  <span id="first-upload-container" ></span>
</div>
