<div class="footer-upper">
	<div class="footer-container">
		<div class="footer-left footer-icons">
			<a href="http://vimeo.com/channels/dataone" target="_blank" id="footer_vimeo"> </a>
			<a href="http://www.youtube.com/user/DataONEorg" target="_blank" id="footer_youtube"></a>
			<a href="http://www.linkedin.com/groups?gid=1872174&amp;mostPopular=&amp;trk=tyah" target="_blank" id="footer_linkedin"></a>
			<a href="http://twitter.com/#!/Dataoneorg" target="_blank" id="footer_twitter"></a>
			<a href="http://www.facebook.com/pages/DataONE/156940701015997" target="_blank" id="footer_facebook"></a>
			<a href="https://www.dataone.org/dataone-news.xml" target="_blank" id="footer_rss"></a>
			<a href="http://www.slideshare.net/DataONEorg" target="_blank" id="footer_slideshare"></a>
			<a href="https://plus.google.com/107602550656223730556/posts" target="_blank" id="footer_gplus"></a>
		</div>
		<div class="footer-right">
			<a href="https://www.dataone.org/dug-member-form" class="contact-site"> 
				<img src="<%= MetacatUI.root %>/js/themes/dataone/img/email-icon.png" alt="Mailing List" class="icon icon-on-left">
				SIGN UP FOR THE COMMUNITY MAILING LIST
			</a> 
			<a href="https://www.dataone.org/contact" class="contact-site"> CONTACT US </a>
			<a href="https://www.dataone.org/sitemap" class="contact-site"> SITE MAP </a>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="footer-lower">            
    <div class="footer-container">
       <p class="footer-text">
       	DataONE is a collaboration among many partner organizations, and is funded by the US National Science Foundation (NSF) under a Cooperative Agreement. Acknowledgement: This material is based upon work supported by the National Science Foundation under Grant Numbers 0830944 and 1430508. Disclaimer: Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.
	   	<span class="version">(MetacatUI v<%=MetacatUI.metacatUIVersion%>)</span>
	   </p>
     </div>
</div>


