<div class="navbar">
  <div class="navbar-upper">
    <ul class="nav">
      <li class="minimal-nav">
        <a href="https://www.dataone.org" class="logo"><img alt="DataONE" class="dataone logo" src="<%= MetacatUI.root %>/js/themes/<%=MetacatUI.theme%>/img/dataone-logo-color-small.jpg?v=<%=MetacatUI.metacatUIVersion%>" height="43px"></a>
      </li>
    </ul>
  </div>
  <div class="nav-collapse collapse always-show navbar-inner clear tb-megamenu">
    <ul class="tb-megamenu-nav nav level-0 items-7">
      <li data-id="8390" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="1" data-hidesub="0" class="tb-megamenu-item level-1 mega sub-hidden-collapse dropdown">
        <a href="https://www.dataone.org/about" class="dropdown-toggle">

          About <span class="caret"></span>
        </a>
        <div data-class="" data-width="450" style="width: 450px;" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
          <div class="mega-dropdown-inner">
            <div class="tb-megamenu-row row-fluid">
              <div data-class="" data-width="7" data-hidewcol="0" id="tb-megamenu-column-2" class="tb-megamenu-column span7  mega-col-nav">
                <div class="tb-megamenu-column-inner mega-inner clearfix">
                  <ul class="tb-megamenu-subnav mega-nav level-1 items-1">
                    <li data-id="8392" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="1" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega mega-group">
                      <a href="https://www.dataone.org/organization" class="mega-group-title">

                        DataONE Organization <span class="caret"></span>
                      </a>
                      <div data-class="" data-width="" class="tb-megamenu-submenu mega-group-ct nav-child">
                        <div class="mega-dropdown-inner">
                          <div class="tb-megamenu-row row-fluid">
                            <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-1" class="tb-megamenu-column span12  mega-col-nav">
                              <div class="tb-megamenu-column-inner mega-inner clearfix">
                                <ul class="tb-megamenu-subnav mega-nav level-2 items-7">
                                  <li data-id="13530" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/organization">Org Chart</a>
                                  </li>
                                  <li data-id="8441" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/executive_team" class="">
                                      Executive Team
                                    </a>
                                  </li>
                                  <li data-id="8442" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/dataone_leadership_team" class="">
                                      Leadership Team
                                    </a>
                                  </li>
                                  <li data-id="8456" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/external-advisory-board" class="">
                                      External Advisory Board
                                    </a>
                                  </li>
                                  <li data-id="8394" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/partners" class="">
                                      Partners </a>
                                  </li>
                                  <li data-id="8393" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/working_groups" class="">
                                      Working Groups </a>
                                  </li>
                                  <li data-id="8443" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/developers" class="">
                                      Developers
                                    </a>
                                  </li>
                                  <li data-id="8444" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/postdocs" class="">
                                      Postdocs
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div data-class="" data-width="5" data-hidewcol="0" id="tb-megamenu-column-4" class="tb-megamenu-column span5  mega-col-nav">
                <div class="tb-megamenu-column-inner mega-inner clearfix">
                  <ul class="tb-megamenu-subnav mega-nav level-1 items-1">
                    <li data-id="8396" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="1" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega mega-group">
                      <a href="https://www.dataone.org/communication" class="mega-group-title">

                        Communication <span class="caret"></span>
                      </a>
                      <div data-class="" data-width="" class="tb-megamenu-submenu mega-group-ct nav-child">
                        <div class="mega-dropdown-inner">
                          <div class="tb-megamenu-row row-fluid">
                            <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-3" class="tb-megamenu-column span12  mega-col-nav">
                              <div class="tb-megamenu-column-inner mega-inner clearfix">
                                <ul class="tb-megamenu-subnav mega-nav level-2 items-2">
                                  <li data-id="13815" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/numbers">

                                      Metrics </a>
                                  </li>
                                  <li data-id="8398" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/public_relations" class="">

                                      Public Relations </a>
                                  </li>

                                  <li data-id="8400" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/contact" class="">

                                      Contact Us </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="tb-megamenu-row row-fluid">
              <div data-showblocktitle="0" data-class="" data-width="" data-hidewcol="0" id="tb-megamenu-column-5" class="tb-megamenu-column span  mega-col-nav">
                <div class="tb-megamenu-column-inner mega-inner clearfix">
                  <div data-type="block" data-block="block--62" class="tb-megamenu-block tb-block tb-megamenu-block">
                    <div class="block-inner">
                      <div class="block block-block block-62 block-block-62 odd block-without-title" id="block-block-62">
                        <div class="block-inner clearfix">

                          <div class="content clearfix">
                            <p><a href="https://www.dataone.org/what-dataone" class="mega-group-title">What is DataONE?</a><a href="https://www.dataone.org/what-dataone"><img
                                  src="<%= MetacatUI.root %>/js/themes/dataone/img/d1-logo-v3_aligned_left.jpeg" class="float-left-80">Data Observation Network for Earth (DataONE) is the foundation of new innovative environmental science through a
                                distributed framework and sustainable cyberinfrastructure that meets the needs of science and society for open, persistent, robust, and secure access to well-described and easily discovered Earth observational data.
                                Read more...</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li data-id="8606" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega dropdown">
        <a href="https://www.dataone.org/news" class="dropdown-toggle">

          News <span class="caret"></span>
        </a>
      </li>

      <li data-id="8401" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="1" data-hidesub="0" class="tb-megamenu-item level-1 mega sub-hidden-collapse dropdown">
        <a href="https://www.dataone.org/participate" class="dropdown-toggle">

          Participate <span class="caret"></span>
        </a>
        <div data-class="" data-width="420" style="width: 420px;" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
          <div class="mega-dropdown-inner">
            <div class="tb-megamenu-row row-fluid">
              <div data-class="non-clickable" data-width="6" data-hidewcol="0" id="tb-megamenu-column-9" class="tb-megamenu-column span6  mega-col-nav non-clickable">
                <div class="tb-megamenu-column-inner mega-inner clearfix">
                  <ul class="tb-megamenu-subnav mega-nav level-1 items-1">
                    <li data-id="8445" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="1" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega mega-group">
                      <a href="https://www.dataone.org/" class="mega-group-title">

                        Community <span class="caret"></span>
                      </a>
                      <div data-class="" data-width="" class="tb-megamenu-submenu mega-group-ct nav-child">
                        <div class="mega-dropdown-inner">
                          <div class="tb-megamenu-row row-fluid">
                            <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-8" class="tb-megamenu-column span12  mega-col-nav">
                              <div class="tb-megamenu-column-inner mega-inner clearfix">
                                <ul class="tb-megamenu-subnav mega-nav level-2 items-3">
                                  <li data-id="8402" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/dataone-users-group" class="">

                                      DataONE Users Group </a>
                                  </li>

                                  <li data-id="8403" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/current-member-nodes" class="">

                                      Member Nodes </a>
                                  </li>

                                  <li data-id="8455" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/events-calendar" class="">

                                      Events Calendar </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div data-class="" data-width="6" data-hidewcol="" id="tb-megamenu-column-11" class="tb-megamenu-column span6  mega-col-nav">
                <div class="tb-megamenu-column-inner mega-inner clearfix">
                  <ul class="tb-megamenu-subnav mega-nav level-1 items-1">
                    <li data-id="8446" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="1" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega mega-group">
                      <a href="https://www.dataone.org/participate" class="mega-group-title">

                        Opportunities <span class="caret"></span>
                      </a>
                      <div data-class="" data-width="" class="tb-megamenu-submenu mega-group-ct nav-child">
                        <div class="mega-dropdown-inner">
                          <div class="tb-megamenu-row row-fluid">
                            <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-10" class="tb-megamenu-column span12  mega-col-nav">
                              <div class="tb-megamenu-column-inner mega-inner clearfix">
                                <ul class="tb-megamenu-subnav mega-nav level-2 items-2">
                                  <li data-id="8404" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/internships" class="">

                                      Internships </a>
                                  </li>

                                  <li data-id="8407" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/open-positions" class="">

                                      Open Positions </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li data-id="8409" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="1" data-hidesub="0" class="tb-megamenu-item level-1 mega sub-hidden-collapse dropdown">
        <a href="https://www.dataone.org/resources" class="dropdown-toggle">

          Resources <span class="caret"></span>
        </a>
        <div data-class="" data-width="400" style="width: 400px;" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
          <div class="mega-dropdown-inner">
            <div class="tb-megamenu-row row-fluid">
              <div data-class="" data-width="5" data-hidewcol="0" id="tb-megamenu-column-13" class="tb-megamenu-column span5  mega-col-nav">
                <div class="tb-megamenu-column-inner mega-inner clearfix">
                  <ul class="tb-megamenu-subnav mega-nav level-1 items-1">
                    <li data-id="8447" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="1" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega mega-group">
                      <a href="https://www.dataone.org/resources" class="mega-group-title">

                        Tools <span class="caret"></span>
                      </a>
                      <div data-class="" data-width="" class="tb-megamenu-submenu mega-group-ct nav-child">
                        <div class="mega-dropdown-inner">
                          <div class="tb-megamenu-row row-fluid">
                            <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-12" class="tb-megamenu-column span12  mega-col-nav">
                              <div class="tb-megamenu-column-inner mega-inner clearfix">
                                <ul class="tb-megamenu-subnav mega-nav level-2 items-3">
                                  <li data-id="8411" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/investigator-toolkit" class="">

                                      Investigator Toolkit </a>
                                  </li>

                                  <li data-id="8412" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/data-management-planning" class="">

                                      Data Management Planning </a>
                                  </li>

                                  <li data-id="8416" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/software_tools_catalog" class="">

                                      Software Tools Catalog </a>
                                  </li>
                                  <li data-id="13531" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/webinars">

                                      Webinars </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div data-class="" data-width="7" data-hidewcol="" id="tb-megamenu-column-15" class="tb-megamenu-column span7  mega-col-nav">
                <div class="tb-megamenu-column-inner mega-inner clearfix">
                  <ul class="tb-megamenu-subnav mega-nav level-1 items-1">
                    <li data-id="8448" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="1" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega mega-group">
                      <a href="https://www.dataone.org/resources" class="mega-group-title">

                        Materials <span class="caret"></span>
                      </a>
                      <div data-class="" data-width="" class="tb-megamenu-submenu mega-group-ct nav-child">
                        <div class="mega-dropdown-inner">
                          <div class="tb-megamenu-row row-fluid">
                            <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-14" class="tb-megamenu-column span12  mega-col-nav">
                              <div class="tb-megamenu-column-inner mega-inner clearfix">
                                <ul class="tb-megamenu-subnav mega-nav level-2 items-9">
                                  <li data-id="8417" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://dataone.org/publications">

                                      Publications </a>
                                  </li>

                                  <li data-id="8413" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://dataone.org/best-practices">

                                      Best Practices </a>
                                  </li>

                                  <li data-id="10155" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://dataone.org/data-life-cycle">

                                      Data Life Cycle </a>
                                  </li>

                                  <li data-id="9605" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://dataone.org/user-personas">

                                      User Personas </a>
                                  </li>

                                  <li data-id="13611" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://dataone.org/researcher-guide">

                                      Researcher’s Guide </a>
                                  </li>

                                  <li data-id="8414" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://dataone.org/for-librarians">

                                      Librarian Outreach Kit </a>
                                  </li>

                                  <li data-id="8450" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://dataone.org/developer-resources">

                                      Developer Resources </a>
                                  </li>

                                  <li data-id="8428" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://notebooks.dataone.org/" title="Research Notebooks Leads to External Notebook Site" target="_blank">

                                      Research Notebooks </a>
                                  </li>

                                  <li data-id="13612" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://coffeehouse.dataone.org/">

                                      Coffeehouse </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li data-id="8600" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega dropdown">
        <a href="https://www.dataone.org/education" class="dropdown-toggle">

          Education <span class="caret"></span>
        </a>
        <div data-class="" data-width="380" style="width: 380px;" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
          <div class="mega-dropdown-inner">
            <div class="tb-megamenu-row row-fluid">
              <div data-class="" data-width="6" data-hidewcol="0" id="tb-megamenu-column-17" class="tb-megamenu-column span6  mega-col-nav">
                <div class="tb-megamenu-column-inner mega-inner clearfix">
                  <ul class="tb-megamenu-subnav mega-nav level-1 items-1">
                    <li data-id="8601" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="1" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega mega-group">
                      <a href="https://www.dataone.org/education" class="mega-group-title">

                        Online <span class="caret"></span>
                      </a>
                      <div data-class="" data-width="" class="tb-megamenu-submenu mega-group-ct nav-child">
                        <div class="mega-dropdown-inner">
                          <div class="tb-megamenu-row row-fluid">
                            <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-16" class="tb-megamenu-column span12  mega-col-nav">
                              <div class="tb-megamenu-column-inner mega-inner clearfix">
                                <ul class="tb-megamenu-subnav mega-nav level-2 items-5">
                                  <li data-id="8423" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://dataone.org/education-modules">

                                      Data Management Modules </a>
                                  </li>

                                  <li data-id="8424" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://dataone.org/webinars" title="The DataONE Webinar Series is designed to engage participants in relevant and cutting-edge topics within the Earth and environmental sciences."
                                      class="menu-node-unpublished menu-node-unpublished menu-node-unpublished menu-node-unpublished">

                                      Webinars </a>
                                  </li>

                                  <li data-id="8426" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://dataone.org/screencast-tutorials"
                                      title="To support users in working with DataONE tools we provide a series of short (~1min) 'how-to&quot; screencast tutorials detailing individual steps for various DataONE tools and services."
                                      class="menu-node-unpublished menu-node-unpublished">

                                      Screencast Tutorials </a>
                                  </li>

                                  <li data-id="8452" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://dataone.org/data-stories">

                                      Data Stories </a>
                                  </li>

                                  <li data-id="11949" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://dataone.org/education-evaluation" title="Education Evaluation">

                                      Education EVAluation </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div data-class="" data-width="6" data-hidewcol="" id="tb-megamenu-column-19" class="tb-megamenu-column span6  mega-col-nav">
                <div class="tb-megamenu-column-inner mega-inner clearfix">
                  <ul class="tb-megamenu-subnav mega-nav level-1 items-1">
                    <li data-id="8422" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="1" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega mega-group">
                      <a href="https://www.dataone.org/training-activities" class="mega-group-title">

                        Training Activities <span class="caret"></span>
                      </a>
                      <div data-class="" data-width="" class="tb-megamenu-submenu mega-group-ct nav-child">
                        <div class="mega-dropdown-inner">
                          <div class="tb-megamenu-row row-fluid">
                            <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-18" class="tb-megamenu-column span12  mega-col-nav">
                              <div class="tb-megamenu-column-inner mega-inner clearfix">
                                <ul class="tb-megamenu-subnav mega-nav level-2 items-1">
                                  <li data-id="8602" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
                                    <a href="https://www.dataone.org/training-activities" class="">

                                      In Person </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li data-id="8429" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="1" data-hidesub="0" class="tb-megamenu-item level-1 mega sub-hidden-collapse dropdown">
        <a href="https://www.dataone.org/data" class="dropdown-toggle">

          Data <span class="caret"></span>
        </a>
        <div data-class="" data-width="200" style="width: 200px;" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
          <div class="mega-dropdown-inner">
            <div class="tb-megamenu-row row-fluid">
              <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-20" class="tb-megamenu-column span12  mega-col-nav">
                <div class="tb-megamenu-column-inner mega-inner clearfix">
                  <ul class="tb-megamenu-subnav mega-nav level-1 items-4">
                    <li data-id="8430" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
                      <a href="https://www.dataone.org/find-data" class="">

                        Find </a>
                    </li>

                    <li data-id="8432" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
                      <a href="https://www.dataone.org/citing-dataone" class="">

                        Cite </a>
                    </li>

                    <li data-id="8433" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
                      <a href="https://www.dataone.org/use-data" class="">

                        Use </a>
                    </li>

                    <li data-id="8431" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
                      <a href="https://www.dataone.org/contribute-data" class="">

                        Contribute </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div><!-- /.navbar-inner -->

  <div class="navbar-lower navbar-inner minimal-nav">
    <ul class="nav">
      <li class="label">
        DataONE Search:
      </li>
      <li>
        <a href="<%= MetacatUI.root %>/data" class="show-new-search">Search</a>
      </li>
      <li>
        <a href="<%= MetacatUI.root %>/profile">Summary</a>
      </li>
      <li class="input input-append">
        <form id="direct-search" action="#">
          <label class="tooltip-this" data-title="Go directly to a dataset by pasting its full DOI or ID here.">Jump to:</label>
          <input type="text" name="direct-search" value="" placeholder="DOI or ID" class="jump-width-input direct-search subtle" form="direct-search" />
          <button class="btn direct-search" form="direct-search">Go</button>
        </form>
      </li>
      <% if (loggedIn && username) { %>
      <li class="edit-portal-link-container minimal-nav"></li>
      <li class="dropdown right minimal-nav">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%=formattedName%> <i class="icon-sort-down icon"></i></a>
        <ul class="dropdown-menu hidden">
          <li class="dropdown-header"><%=formattedName%></li>
          <li class="divider"></li>
          <li><a href="<%= MetacatUI.root %>/profile/<%=username%>">My profile</a></li>
          <li><a href="<%= MetacatUI.root %>/profile/<%=username%>/s=settings/s=groups">My groups</a></li>
          <li><a href="<%= MetacatUI.root %>/data/my-data">My data sets</a></li>
          <% if( MetacatUI.appModel.get("showMyPortals") !== false ){ %>
          <li><a href="<%= MetacatUI.root %>/profile/<%=username%>/s=settings/s=portals">My <%= MetacatUI.appModel.get("portalTermPlural") || "portals" %>
            <span class="new-icon">
              <i class="icon icon-star icon-on-right"></i>
              NEW
            </span>
          </a></li>
          <% } %>
          <li class="divider"></li>
          <li><a href="<%= MetacatUI.root %>/signout">Sign out</a></li>
        </ul>
      </li>
      <% } else { %>
      <li class="right login-container minimal-nav">
      </li>
      <% } %>
    </ul>
  </div><!-- /.navbar-lower -->
</div><!-- /.navbar -->
