<% if(memberNode && memberNode.logo){ %>
	<a href="<%= MetacatUI.root %>/profile/<%=memberNode.shortIdentifier%>"><img src="<%=memberNode.logo%>" class="logo tooltip-this <%=memberNode.shortIdentifier%>" data-title="From the <%=memberNode.name%> repository" /></a>
<% } %>
<div class="citation"></div>
<div class="clear"></div>
<div class="info-icons  stop-route">

	<% if(!isPublic){ %>
		<div class="private icons stop-route"><i class="icon icon-lock tooltip-this private stop-route" data-container="#results-container" data-toggle="tooltip" data-placement="right" title="This is private content."></i></div>
	<% } %>
	<% if(typeof abstract != "undefined"){  %>
		<div class="abstract icons stop-route"><i class="icon icon-info-sign popover-this abstract stop-route"></i></div>
	<% } %>
	<div class="resource-map icons stop-route">
		<% if (resourceMap) {
				print('<img src="' + MetacatUI.root + '/js/themes/dataone/img/data-file-icon-magenta-desat.png" class="icon tooltip-this stop-route"  data-toggle="tooltip" data-placement="top" title="This data set includes data files"></i>');
			} %>

	</div>
	<div class="on-map icons stop-route">
		<% if (typeof geohash_9 !== "undefined" && geohash_9 !== null){
	          print('<i class="icon icon-map-marker on-map open-marker tooltip-this stop-route" data-id="'+id+'" data-toggle="tooltip" data-placement="top" title="This data set has ' + geohash_9.length + ' geographic regions on the map"></i>');
	       }
	       else{
	          print('<i class="icon icon-map-marker inactive stop-route"></i>');
	       } %>
	</div>
	<% if(prov_hasSources || prov_hasDerivations){
		print('<a class="icons provenance active stop-route">');
		print('<i class="icon icon-code-fork active stop-route"></i>');
	}
	%>
	</a>
   <div class="catalog-metrics">
		<span class='catalog-stat resultItem-CitationCount'>
	    	<i class='icon icon-spinner icon-spin'></i>
	    </span>
		<span class='catalog-stat resultItem-DownloadCount'>
	    	<i class='icon icon-spinner icon-spin'></i>
	    </span>
	   	<span class='catalog-stat resultItem-ViewCount'>
	    	<i class='icon icon-spinner icon-spin'></i>
	    </span>
	</div>
</div>
