<% if(memberNode && memberNode.logo){ %>
	<a href="<%= MetacatUI.root %>/profile/<%=memberNode.shortIdentifier%>"><img src="<%=memberNode.logo%>" class="logo <%=memberNode.shortIdentifier%>" title="From the <%=memberNode.name%> repository" /></a>
<% } %>
<div class="citation"></div>
<div class="clear"></div>
<div class="info-icons  ">
	<% if(typeof abstract != "undefined"){  %>
		<div class="abstract icons "><i class="icon icon-info-sign popover-this abstract " data-delay="1500"></i></div>
	<% } %>
	<div class="resource-map icons ">
		<% if (numDataFiles > 0) {
 				print('<img src="' + MetacatUI.root + '/img/data-table.png" class="icon " title="'+ dataFilesMessage +'"></i>');
			} %>

	</div>
	<div class="on-map icons ">
		<% if (typeof geohash_9 !== "undefined" && geohash_9 !== null){
	          print('<i class="icon icon-map-marker on-map open-marker" data-id="'+id+'" title="This data set has ' + geohash_9.length + ' geographic regions on the map"></i>');
	       }
	       else{
	          print('<i class="icon icon-map-marker inactive "></i>');
	       } %>
	</div>

  <div class="icons">
	<% if(prov_hasSources || prov_hasDerivations){
		print('<i class="icon icon-code-fork active" title="This dataset contains provenance information"></i>');
	}
	%>
  </div>

	<% if (showAnnotationIndicator && hasAnnotations) { %>
		<div class="icons annotations ">
			<span class="icon-stack annotation-icon"><i class="icon icon-certificate icon-stack-base"></i><i class="icon icon-ok" title="This dataset includes annotations."></i></span>
		</div>
	<% } %>
   <div class="catalog-metrics icons">
		<span class='catalog-stat resultItem-CitationCount'>
	    	<i class='icon catalog-metric-icon'></i>
	    </span>
		<span class='catalog-stat resultItem-DownloadCount'>
	    	<i class='icon catalog-metric-icon'></i>
	    </span>
	   	<span class='catalog-stat resultItem-ViewCount'>
	    	<i class='icon catalog-metric-icon'></i>
	    </span>
	</div>
  <% if(!isPublic){ %>
    <div class="private icons "><i class="icon icon-lock private " title="This is private content."></i></div>
  <% } %>
</div>
