name: Change Dependabot branch to develop CHANGED FOR TESTING
on:
  pull_request_target:
    types:
      - opened
      - edited
jobs:
  check-branch:
    if: startsWith(github.head_ref, 'dependabot/') || startsWith(github.head_ref, 'fake-2456-test-gh-action')
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: Vankka/pr-target-branch-action@v3
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          target: fake-2456-test-gh-action
          change-to: develop
