<div class="footer-inner hide-in-map-mode">
	<nav class="footer-links">
		<ul id="menu-footer-about" class="nav footer-nav cf">
			<li class="menu-item"><a href="https://www.privacy.ucsb.edu/">UCSB Privacy Policy</a></li>
			<li class="menu-item"><a href="https://arcticdata.io/employment-opportunities/">Employment Opportunities</a></li>
			<li class="menu-item"><a href="https://arcticdata.io/history/">History</a></li>
			<li class="menu-item"><a href="https://arcticdata.io/about/">About</a></li>
			<li class="menu-item"><a href="https://arcticdata.io/team/">Team</a></li>
			<li class="menu-item"><a href="https://arcticdata.io/sign-up-to-our-newsletter/">Sign up for our newsletter!</a></li>
		</ul>
	</nav>
	<div class="footer-callout">
		<a class="btn cta" href="https://arcticdata.io/support/"
			style="color: white; background-color: #166f91; padding: 10px 20px; border-radius: 6px; text-decoration: none; border: none">
			Contact Us
		</a>
	</div>
	<div class="footer-grid center">
		<div class="left-logo">
			<a href="https://www.nsf.gov/" rel="nofollow noopener" target="_blank">
				<img src="<%= MetacatUI.root %>/js/themes/arctic/img/nsf-logo.png?v=<%=MetacatUI.metacatUIVersion%>"
					alt="National Science Foundation" width="95" />
			</a>
		</div>
		<p class="acknowledgement-text">
			This material is based upon work supported by the National Science Foundation under NSF Award Numbers
			<a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1546024" target="_blank">1546024</a>,
			<a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2042102" target="_blank">2042102</a>, and
			<a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2550586" target="_blank">2550586</a>.
		</p>
		<div class="right-logo">
			<a href="https://coretrustseal.org" rel="nofollow noopener" target="_blank">
				<img src="<%= MetacatUI.root %>/js/themes/arctic/img/coretrustseal-logo.png?v=<%=MetacatUI.metacatUIVersion%>"
					alt="A CoreTrustSeal certified repository" width="95" />
			</a>
		</div>
	</div>
	<div class="logos">
		<a href="https://www.nceas.ucsb.edu/" target="_blank">
			<img src="<%= MetacatUI.root %>/js/themes/arctic/img/nceas-logo.png?v=<%=MetacatUI.metacatUIVersion%>"
				alt="National Center for Ecological Analysis and Synthesis" />
		</a>
		<a href="https://www.ucsb.edu/" target="_blank">
			<img src="<%= MetacatUI.root %>/js/themes/arctic/img/ucsb-logo.png?v=<%=MetacatUI.metacatUIVersion%>"
				alt="University of California, Santa Barbara" />
		</a>
		<a href="https://www.dataone.org/" target="_blank">
			<img src="<%= MetacatUI.root %>/js/themes/arctic/img/dataone-logo.png?v=<%=MetacatUI.metacatUIVersion%>"
				alt="DataONE" />
		</a>
	</div>
</div>
