<div class="container">
	<% if(status == "processing"){ %>
	
		<h1>Thank you for your submission</h1>
		<p>Please wait just a moment while your data is being uploaded and processed.</p>
		
		<div class="progress">
		  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
		    <span class="sr-only">Processing...</span>
		  </div>
		</div>
		
	<% } else if(status == "complete"){ %>
	
		<h1>Thank you for your submission</h1>
		<h3>Your data set is now under review by the Arctic Data Center team.</h3>
		<p>No further action is required at this point; we will contact you by email.</p>		
		<p>Once the review and any revisions are complete, we will assign a DOI, and publicly publish the data package. Until then, it will not be publicly visible.</p>
		
		<div class="progress">
		  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		    <span class="sr-only">Under review</span>
		  </div>
		</div>

		<a class="btn btn-primary btn-large center" href="<%= MetacatUI.root %>/view/<%= encodeURIComponent(id) %>">View your data set</a>

	<% } else if(status == "error"){ %>
	
		<h1>Thank you for your submission</h1>
		
		<div class="progress">
		  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		    <span class="sr-only">Error</span>
		  </div>
		</div>
		
		<div class="alert alert-error">Your submission could not be completed. Please <a href="<%= MetacatUI.root %>/submit" id="registerAnotherPackage">try again</a> or 
		<a href="mailto:<%=MetacatUI.appModel.get('emailContact')%>"> contact us at <%=MetacatUI.appModel.get("emailContact")%></a>
		for assistance.</div>
		
	<% } %>
</div>