<header class="header" role="banner" itemscope="" itemtype="http://schema.org/WPHeader">
	
	<div class="alert alert-warning warning" id="beta-warning">
		<style type="text/css">
			#beta-warning{
			    margin-bottom: 0px;
			    background-color: #323D90;
			    color: white;
			    text-shadow: none;
			    font-size: .9em;
			    border-bottom: 0px;
			}
			#beta-warning a{ color: #acb5fb }
			#Content{
				margin-top: 100px;
			}
		</style>
		Attention: This website is in beta and includes new features that are still in development. 
		The regular, stable version of the Arctic Data Center catalog can be accessed at <a href="https://arcticdata.io/catalog">https://arcticdata.io/catalog</a>
	</div>
	
	<div class="border-image" role="img"></div>

		<div id="inner-header" class="wrap cf">
			<a href="<%= MetacatUI.root %>/" rel="nofollow" id="logo" class="h1 brand" itemscope="" itemtype="http://schema.org/Organization" alt="NSF Arctic Data Center"></a>

			<a id="nav-trigger"><i class="icon-reorder icon"></i><i class="icon-remove icon hidden"></i></a>
					
			<nav role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement" id="main-nav">
				<ul id="menu-main-navigation" class="nav top-nav">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">Data</a>
						<ul class="dropdown-menu sub-menu">
			        		<li><a href="<%= MetacatUI.root %>/data" class="show-new-search">Search</a></li>
			        		<li><a href="<%= MetacatUI.root %>/profile">Summary</a></li>
			        	</ul>
		        	</li>
			       <li><a href="<%= MetacatUI.root %>/submit" class="btn btn-primary">Submit Data</a></li>
					<% if (loggedIn) { %>
        				<li class="dropdown">
							<a href="#" class="dropdown-toggle user" data-toggle="dropdown"><i class="icon icon-user"></i><%=formattedName%><b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="<%= MetacatUI.root %>/submit">Submit data</a></li>
								<li><a href="<%= MetacatUI.root %>/profile/<%=username%>">My profile</a></li>
								<li><a href="<%= MetacatUI.root %>/profile/<%=username%>/s=settings/s=groups">My groups</a></li>
								<li><a href="<%= MetacatUI.root %>/data/my-data">My data sets</a></li>
								<li><a href="<%= MetacatUI.root %>/signout">Sign out</a></li>
							</ul>
						</li>
			        <% } else { %>
			        		<li>
			        			<a href="<%=(MetacatUI.appModel.get('signInUrlOrcid') + window.location.href)%>" class="login btn redirect"><img src="<%= MetacatUI.root %>/img/orcid_64x64.png"  class="icon icon-on-left" />Sign in with Orcid</a>
			        		</li>
			       <%  } %>
				</ul>
			</nav>
					
		</div>
				
</header>
