<header class="header" role="banner" itemscope="" itemtype="http://schema.org/WPHeader">

	<div class="border-image" role="img"></div>

		<div id="inner-header" class="wrap cf">
			<a href="<%= MetacatUI.root %>/" rel="nofollow" id="logo" class="h1 brand" itemscope="" itemtype="http://schema.org/Organization" alt="NSF Arctic Data Center"></a>

			<a id="nav-trigger"><i class="icon-reorder icon"></i><i class="icon-remove icon hidden"></i></a>

			<nav role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement" id="main-nav">
				<ul id="menu-main-navigation" class="nav top-nav">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">Data</a>
						<ul class="dropdown-menu sub-menu">
			        		<li><a href="<%= MetacatUI.root %>/data" class="show-new-search">Search</a></li>
			        		<li><a href="<%= MetacatUI.root %>/profile">Summary</a></li>
                  			<li><a href="<%= MetacatUI.root %>/portals">Portals</a></li>
							<li><a href="/preservation">Data Preservation</a></li>
			        	</ul>
		        	</li>
					<li class="dropdown">
						<a>Support</a>
						<ul class="dropdown-menu sub-menu">
							<li><a href="/support">Support Info</a></li>
							<li><a href="/working-with-data">Working with Data</a></li>
							<li><a href="/data-portals">About Data Portals</a></li>
			        		<li><a href="/q-and-a">Frequently Asked Questions</a></li>
			        	</ul>
			        </li>
					<li class="dropdown">
						<a>Community</a>
						<ul class="dropdown-menu sub-menu">
							<li><a href="/social-sciences">Social Science Resources</a></li>
							<li><a href="/category/blog">Blog</a></li>
							<li><a href="/social-scientific-data-workshop/">Arctic Social Science Data Workshop</a></li>
			        		<li><a href="/science-advisory-board">Science Advisory Board</a></li>
			       		</ul>
					</li>
					<li class="dropdown">
						<a>Learn</a>
						<ul class="dropdown-menu sub-menu">
							<li><a href="/training">Upcoming Courses</a></li>
							<li><a href="/past-courses">Past Courses</a></li>
			        	</ul>
					</li>
			    	<li><a href="<%= MetacatUI.root %>/submit">Submit Data</a></li>

					<% if (loggedIn) { %>
        		<li class="dropdown minimal-nav">
							<a href="#" class="dropdown-toggle user" data-toggle="dropdown"><i class="icon icon-user"></i><span class="user-name"><%=formattedName%></span><b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="<%= MetacatUI.root %>/submit">Submit data</a></li>
								<li><a href="<%= MetacatUI.root %>/profile/<%=username%>">My profile</a></li>
								<li><a href="<%= MetacatUI.root %>/profile/<%=username%>/s=settings/s=groups">My groups</a></li>
								<li><a href="<%= MetacatUI.root %>/data/my-data">My data sets</a></li>
                <% if(MetacatUI.appModel.get("showMyPortals") !== false){ %>
                  <li>
                    <a href="<%= MetacatUI.root %>/profile/<%=username%>/s=settings/s=portals">My <%= MetacatUI.appModel.get("portalTermPlural") %></a>
                  </li>
                <% } %>
								<li><a href="<%= MetacatUI.root %>/signout">Sign out</a></li>
							</ul>
						</li>
            </li>
			        <% } else { %>
			        		<li class="minimal-nav login-container">
			        		<!--	<a href="<%=(MetacatUI.appModel.get('signInUrlOrcid') + window.location.href)%>" class="login btn redirect"><img src="<%= MetacatUI.root %>/img/orcid_64x64.png"  class="icon icon-on-left" />Sign in with Orcid</a>-->
			        		</li>
			       <%  } %>
				</ul>
			</nav>

		</div>

</header>
